<div class="modal-wrapper grid-container">
    <!-- Modal header -->
    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Registration</span>
                <!-- <button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog"
                matTooltip="Close" style="margin-left: 1300px;">
                <mat-icon style="width: 10px;height: 10px;">close</mat-icon>
            </button> -->
            </div>
            <div class="modal-header-right">
                <!-- <button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog" matTooltip="Close">
                    <mat-icon style="width: 20px;height: 20px;">close</mat-icon>
                </button> -->
                <div class="comman-date-container">
                    <app-common-date [screenFrom]="screenFromString" (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                    <div class="close-icon">
                        <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog" matTooltip="Close">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal body -->
    <div class="modal-body" fusePerfectScrollbar>
        <div class="modal-body-container">
            
                <form [formGroup]="personalFormGroup">
                <input type="hidden" name="RegId" formControlName="RegId" [(ngModel)]="registerObj.regId">

                <div fxLayout="column" class="gap-12">
                    <div class="modal-card-container">

                        <div class="form-container mat-form-field-auto">
                           
                            <div fxLayout="row wrap" fxLayoutGap="12px grid">

                           
                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                   <airmid-dropdown label="Prefix" formControlName="PrefixId" [formGroup]="personalFormGroup" [value]="registerObj?.prefixId" [validations]="getValidationMessages().prefixId" ValueField="prefixId" TextField="prefixName" (selectionChange)="onChangePrefix($event)" ApiUrl="Prefix/get-prefixs">
                                        </airmid-dropdown>
                                    
                                </div>

                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-textbox label="First Name" formControlName="FirstName" [value]="registerObj.firstName" [formGroup]="personalFormGroup" [validations]="getValidationMessages().firstName" [maxLength]="50">
                                    </airmid-textbox>
                                </div>

                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-textbox label="Middle Name" formControlName="MiddleName" [value]="registerObj.middleName" [formGroup]="personalFormGroup" [validations]="getValidationMessages().middleName" [maxLength]="50">
                                    </airmid-textbox>
                                </div>

                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-textbox label="Last Name" formControlName="LastName" [value]="registerObj.lastName" [formGroup]="personalFormGroup" [validations]="getValidationMessages().lastName" [maxLength]="50">
                                    </airmid-textbox>
                                </div>

                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-dropdown label="Gender" formControlName="GenderId" [formGroup]="personalFormGroup" [value]="registerObj?.genderId" [validations]="getValidationMessages().genderId" #ddlGender [disabled]="true" [mode]="autocompleteModegender">
                                    </airmid-dropdown>

                                </div>

                              
                                <div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="67%">
                                    <app-airmid-dateofbirth [formGroup]="personalFormGroup" formControlName="DateOfBirth" [(value)]="registerObj.dateOfBirth"></app-airmid-dateofbirth>
                                </div>


                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-textbox label="Aadharcardno" formControlName="aadharCardNo" [value]="registerObj.aadharCardNo" [formGroup]="personalFormGroup" [maxLength]="12" [validations]="getValidationMessages().aadharCardNo">
                                    </airmid-textbox>
                                </div>

                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-textbox label="Address" formControlName="Address" [value]="registerObj.address" [formGroup]="personalFormGroup" [validations]="getValidationMessages().address">
                                    </airmid-textbox>

                                </div>

                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">


                                    <airmid-dropdown label="Area" formControlName="AreaId" [value]="registerObj?.areaId" [formGroup]="personalFormGroup" [validations]="getValidationMessages().areaId" [mode]="autocompleteModearea">
                                    </airmid-dropdown>

                                </div>

                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">

                                    <airmid-dropdown label="City" formControlName="CityId" [formGroup]="personalFormGroup" [value]="registerObj?.cityId" [validations]="getValidationMessages().cityId" ValueField="cityId" TextField="cityName" (selectionChange)="onChangecity($event)" ApiUrl="CityMaster/get-cities">
                                    </airmid-dropdown>
                                </div>

                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-dropdown label="State" formControlName="StateId" [value]="registerObj?.stateId" [formGroup]="personalFormGroup" [disabled]="true" [validations]="getValidationMessages().stateId" #ddlState [mode]="autocompleteModestate" (optionSelected)="onChangestate($event)">
                                    </airmid-dropdown>
                                </div>

                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-dropdown label="Country" formControlName="CountryId" [value]="registerObj?.countryId" [formGroup]="personalFormGroup" [disabled]="true" [validations]="getValidationMessages().countryId" #ddlCountry [mode]="autocompleteModecountry">
                                    </airmid-dropdown>
                                </div>

                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-dropdown label="MaritalStatus" formControlName="MaritalStatusId" [value]="registerObj?.maritalStatusId" [formGroup]="personalFormGroup" [validations]="getValidationMessages().maritalStatusId" [mode]="autocompleteModemstatus">
                                    </airmid-dropdown>
                                </div>

                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-dropdown label="Religion Name" formControlName="ReligionId" [value]="registerObj?.religionId" [formGroup]="personalFormGroup" [validations]="getValidationMessages().religionId" [mode]="autocompleteModereligion">
                                    </airmid-dropdown>
                                </div>
                                
                                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <div fxLayout="row" class="gap-8">

                                        <airmid-textbox fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" label="MobileNo" formControlName="MobileNo" [value]="registerObj.mobileNo" [formGroup]="personalFormGroup" [validations]="getValidationMessages().mobileNo" [maxLength]="10">
                                        </airmid-textbox>

                                        <airmid-textbox fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" label="PhoneNo" formControlName="PhoneNo" [validations]="getValidationMessages().phoneNo" [value]="registerObj.phoneNo" [formGroup]="personalFormGroup" [maxLength]="10">
                                        </airmid-textbox>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutGap="12px grid">

                                    <!-- <mat-form-field appearance="outline" fxFlex style="visibility: hidden;">
                                        <input matInput [matDatepicker]="picker2" [min]="minDate" placeholder="Choose a Date" name="Date" formControlName="appTime">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field> -->
                                    <mat-form-field appearance="outline" fxFlex style="visibility: hidden;">
                                        <input matInput [matDatepicker]="picker1" [min]="minDate" [(ngModel)]="registerObj.regDate" placeholder="Choose a Date" name="Date" formControlName="RegDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Photo capture -->

                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <div class="footer-navigation-container">
            <div class="modal-footer-buttons">
                <button type="button" class="btn btn-danger-outline" (click)="onClose()">Close</button>
                <button type="button" class="btn btn-primary" (click)="OnSubmit()">Save</button>
            </div>
        </div>
    </div>
</div>