<div class="page-layout simple inner-scroll inner-sidebar right-sidebar">
    <mat-toolbar style="height: 50px; justify-content:space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
            Template Description 
            </span>
        </div>
        <div fxLayout="row" fxLayoutALign="end start">
            <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div class="content">
        <div class="center p-2" fusePerfectScrollbar>
            <div class="content-card">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <div fxlayout="row" style=" background-color: white;
                             padding: 5px 10px 5px 10px;">
                            <form [formGroup]="templateForm">
                                <div class="dialog-content-wrapper">
                                    <div fxFlexFill fxLayout="row" fxLayout.gt-xs="column">

                                        <input type="hidden" name="templateId" formControlName="templateId">

                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Template Name</mat-label>
                                            <input matInput placeholder="Template Name" [(ngModel)]="vTemplateName"
                                                name="templateName" formControlName="templateName" required>
                                            <mat-error class="error"
                                                *ngIf="templateForm.get('templateName').invalid && templateForm.get('templateName').touched">
                                                TemplateName is required Enter only Alphabets
                                            </mat-error>
                                        </mat-form-field>

                                        <div  fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                                            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="33%">
                                            <mat-label>Template Details</mat-label>
                                            <angular-editor (blur)="onBlur($event)" [config]="editorConfig"
                                                style="height:300px;" [(ngModel)]="vTemplateDesc" required
                                                formControlName="templateDesc">
                                            </angular-editor>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                                <div fxLayout="row" fxLayoutAlign="end">

                                    <mat-radio-button value='true' [checked]="true" name="IsDeleted"
                                        style="align-items: center;"
                                        formControlName="IsDeleted">IsActive</mat-radio-button>
                                    <div class="modal-footer-buttons" fxLayoutGap="6px" style="padding: 8px;">
                                        <button class="btn btn-danger-outline" (click)="onClear()">Close</button>
                                        <button class="btn btn-primary" (click)="onSubmit()"
                                        [disabled]="templateForm.invalid">Save</button>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>