<div class="page-layout simple left-sidebar inner-sidebar inner-scroll" dynamicTableHeight>
    <mat-toolbar style="height: 50px; justify-content: space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12 " style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box</mat-icon>
            <span class="=logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
                Material Consumption List
            </span>
        </div>
        <button mat-raised-button (click)="NewMatrialCon()">
            <mat-icon>add</mat-icon> Add
        </button>
    </mat-toolbar>

    <div class="content">

        <fuse-sidebar name="app-main" position="left" lockedOpen="gt-sm" style="width:30%; border-radius:4px;
                              margin-left:12px; background-color: white;height:100%;">


            <div class="accent header p-12" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 3%">
                <span class="search-title">Search Facility</span>

            </div>

            <div>
                <div class="nav material2"> 
                    <form [formGroup]="_MaterialConsumptionService.SearchGroup" style="padding: 6px 6px 5px 5px;"
                        fusePerfectScrollbar>
                        <div fxLayout="column" fxLayoutAlign="start none">

                            <mat-form-field appearance="outline">
                                <mat-label>Enter a date range</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate formControlName="start" placeholder="Start date">
                                    <input matEndDate formControlName="end" placeholder="End date"
                                    (dateChange)="getMaterialConList()">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>From Store</mat-label>
                                <mat-select name="StoreId" formControlName="StoreId">
                                    <mat-option *ngFor="let m of StoreList" [value]="m">
                                        {{m.StoreName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div style="margin-top: 10px;">
                                <button mat-raised-button class="clearbutton" matTooltip="close">
                                    <mat-icon class="cleariconbutton">close</mat-icon>
                                </button>&nbsp;
                                <button mat-raised-button class="searchButton" (click)="getMaterialConList()"
                                    matTooltip="search">
                                    <mat-icon class="searchiconbutton">search</mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </fuse-sidebar>

        <div class="center p-12 pb-56" fxFlexAlign="start center"> 
            <div class="content-card" style="border-radius:4px; "> 
                <div fxFlexFill fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex> 
                        <div fxlayout="row">
                            <div style="width: 100%;">
                                <div class="table-header-right">
                                    <div class="export-buttons">
                                        <div fxLayout="row" fxLayoutAlign="start" class="gap-8">  
                                            <div style="color: orange" fxLayout="row" fxLayoutAlign="start center" class="gap-4">
                                                <mat-icon class="pill orange-600 s-16">circle</mat-icon>
                                                <span >: PatientWise Material Comsumption </span>
                                            </div>
                                            <div style="color: green" fxLayout="row" fxLayoutAlign="start center" class="gap-4">
                                                <mat-icon class="pill green s-16">circle</mat-icon>
                                                <span >: DepartmentWise Material Comsumption </span>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                    class="backgroundBlur">
                                    <div class="spinner-border text-danger"></div> 
                                </div>

                                <mat-table #table class="table1" matSort [dataSource]="dsMaterialConLList"
                                    [@animateStagger]="{value:'50'}" style="overflow:auto;">

                                    <!-- <ng-container matColumnDef="ConsumptionNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            Con.No </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.ConsumptionNo || '-'}}
                                        </mat-cell>
                                    </ng-container>  -->

                                    <ng-container matColumnDef="Status">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-60">
                                            </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-60"> 
                                            <mat-icon *ngIf="contact.AdmId" class="pill orange-600 s-16"
                                                matTooltip="PatientWise Material Comsumption">circle</mat-icon>
                                            <mat-icon  *ngIf="!contact.AdmId" class="pill green s-16"
                                                matTooltip="DepartmentWise Material Comsumption">circle</mat-icon>
                                        </mat-cell>
                                    </ng-container> 

                                    <ng-container matColumnDef="ConsumptionDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            DateTime</mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.ConsumptionDate}}-{{contact.ConsumptionTime | date: 'shortTime'}}
                                        </mat-cell>
                                    </ng-container>  

                                    <ng-container matColumnDef="LandedTotalAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            LandedTotalAmt </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.LandedTotalAmount | currency:'INR'}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="StoreName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            StoreName </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.StoreName}}
                                        </mat-cell>
                                    </ng-container> 

                                    <ng-container matColumnDef="Remark">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-200">
                                            Remark </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-200"
                                        matTooltip="{{contact.Remark}}">
                                            {{contact.Remark || '-'}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="AddedBy">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            Added By </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.AddedBy}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <button mat-icon-button matTooltip="print" (click)="viewgetMaterialconsumptionReportPdf(row)">
                                                <mat-icon>print</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>

                                    <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact"
                                        [@animate]="{value:'*',params:{y:'100%'}}" (click)="getMaterialConDetList(contact)"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                    </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dsMaterialConLList!=null && dsMaterialConLList.data.length==0)}">
                                    </mat-footer-row>

                                </mat-table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="16"
                                    showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div> 
                    </div>

                    <div fxFlex.gt-sm="100%" fxFlex>
                        <div fxlayout="row">
                            <div style="width: 100%;">
                    
                                <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}" class="backgroundBlur">
                                    <div class="spinner-border text-danger"></div>
                                </div>
                    
                                <mat-table #table class="table1" matSort [dataSource]="dsMaterialConDetLList"
                                    [@animateStagger]="{value:'50'}" style="overflow:auto;">
                    
                                    <ng-container matColumnDef="StartDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-100">
                                            Start Date</mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-100">
                                            {{contact.StartDate | date:'dd/MM/YYYY'}} 
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="EndDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-100">
                                            End Date</mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-100">
                                           {{contact.EndDate | date:'dd/MM/YYYY'}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="ItemName" sticky>
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            ItemName </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.ItemName}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="BatchNo" sticky>
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            BatchNo </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.BatchNo}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="BatchExpDate" sticky>
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            BatchExpDate </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.BatchExpDate | date:'dd/MM/YYYY'}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="Qty" sticky>
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-100">
                                            Qty </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-100">
                                            {{contact.Qty}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="PerUnitPurchaseRate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            PerUnitPurchaseRate </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.PerUnitPurchaseRate | currency:'INR'}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="PerUnitLandedRate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            PerUnitLandedRate </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.PerUnitLandedRate | currency:'INR'}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="PerUnitMRPRate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            PerUnitMRPRate </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.PerUnitMRPRate | currency:'INR'}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="PurTotalAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            PurTotalAmt </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.PurTotalAmount | currency:'INR'}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="LandedTotalAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            LandedTotalAmt </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.LandedTotalAmount | currency:'INR'}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="MRPTotalAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            MRPTotalAmt </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.MRPTotalAmount | currency:'INR'}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="Remark">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-150">
                                            Remark </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150" matTooltip="{{contact.Remark}}">
                                            {{contact.Remark || '-'}}
                                        </mat-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="AddedBy" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm >
                                            AddedBy </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.AddedBy}}
                                        </mat-cell>
                                    </ng-container>  
                    
                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>
                    
                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>
                    
                                    <mat-header-row class="accent min-width-1600" *matHeaderRowDef="displayedNewMaterialList; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedNewMaterialList;" class="contact min-width-1600"
                                        [@animate]="{value:'*',params:{y:'100%'}}" ></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                    </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dsMaterialConDetLList!=null && dsMaterialConDetLList.data.length==0)}">
                                    </mat-footer-row>
                    
                                </mat-table>
                    
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="16" showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



