<div fusePerfectScrollbar
    class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
    dynamicTableHeight>
    <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center ">
        <div class="top-header-info">
            <div class="top-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Company Settlement
                </span>
            </div>
        </div>
    </div>
    <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
        <div class="modal-body-container">
            <mat-card style="padding: 5px;">
                <form [formGroup]="searchFormGroup" fxLayoutAlign="space-between start">
                    <div fxLayout="column" fxLayoutAlign="start none" style="width: 100%;">

                        <div class="redio-container" style="width: 40%;padding: 10px;">

                            <airmid-autocomplete class="w-350" label="Search Reg No / Patient Name / Mobile No"
                                [formGroup]="searchFormGroup" fxFlex="40%" formControlName="RegId"
                                placeholderText="Search Reg No / Patient Name / Mobile No"
                                ApiUrl="OutPatient/auto-complete?Keyword="
                                (selectionChange)="getSelectedObj($event)"></airmid-autocomplete>

                        </div>
                    </div>
                </form>
            </mat-card>

            <div fxlayout="row" style="padding: 0px 5px 0px 5px">
                <div fxFlex.gt-sm="100%" fxFlex class="patient-info-container">
                    <mat-card style="padding: 5px;">
                        <div class="patient-info-container">
                            <div class="patient-info-box">
                                <div class="patient-info-title border-bottom pb-2">
                                    <span class="h1">Patient Information</span>
                                </div>
                                <div class="patient-info-box my-8">
                                    <div class="patient-info-row ">
                                        <div class="patient-col">
                                            <span class="patient-col-key">UHID No</span>
                                            <span>:</span>
                                            <span class="patient-col-value">{{registerObj.regId}}</span>
                                        </div>
                                        <div class="patient-col">
                                            <span class="patient-col-key ">Patient Name</span>
                                            <span>:</span>
                                            <span class="patient-col-value">{{PatientName}}</span>
                                        </div>
                                        <div class="patient-col">
                                            <span class="patient-col-key">Age | Gender</span>
                                            <span>:</span>
                                            <span class="patient-col-value">{{registerObj.ageYear}}Y
                                                {{registerObj.genderId}}</span>
                                        </div>
                                        <div class="patient-col">
                                            <span class="patient-col-key">Mobile No</span>
                                            <span>:</span>
                                            <span class="patient-col-value">{{registerObj.mobileNo}}</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

      
        <ng-template #actionsTemplate let-element>
            <div>
                <mat-icon *ngIf="element.companyId=='0'" matTooltip="Patient Category Self">account_box
                </mat-icon>

                <mat-icon *ngIf="element.companyId!='0'" matTooltip="Patient Category Company">business
                </mat-icon>
            </div>
        </ng-template>



        <ng-template #actionButtonTemplate let-element>
            <div fxLayout="row" fxLayoutAlign="center center">


                <button mat-icon-button (click)="openPaymentpopup(element)" matTooltip="Settlement"
                    *ngIf="element.balanceAmt!='0'">
                    <mat-icon title="Settlement">receipt</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Paid" *ngIf="element.balanceAmt=='0'">
                    <mat-icon title="Settlement">payment</mat-icon>
                </button>

                <button mat-icon-button matTooltip="Print" (click)="viewgetOPPayemntPdf(element)">
                    <mat-icon>print</mat-icon>
                </button>

            </div>
        </ng-template>

        
        <airmid-table [gridConfig]="gridConfig" #grid :ShowFilter="false">
            <ng-container filters>
                <form [formGroup]="myFormGroup">
                    <mat-form-field appearance="outline">
                        <mat-label>RegId</mat-label>
                        <input matInput placeholder="Search RegId" autocomplete="off" [formGroup]="myFormGroup"
                            formControlName="RegId" [(ngModel)]="gridConfig.filters[0].fieldValue" />
                        <button matSuffix mat-icon-button aria-label="Clear"
                            (click)="gridConfig.filters[0].fieldValue=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <!-- <airmid-autocomplete lbl="RgId" [formGroup]="myFormGroup" formControlName="RegId" placeholderText="Enter regID"
                 ApiUrl="OutPatient/auto-complete?Keyword=" (selectionChange)="getSelectedObj($event)"
                 [(ngModel)]="gridConfig.filters[0].fieldValue"></airmid-autocomplete> -->

                </form>

            </ng-container>
        </airmid-table>
    </div>
</div>