.template-container {
    padding: 20px;
}

.attachment-div {
    & input[type="file"] {
        display: none;
    }
}

.action-btns {
    text-align: end;
}

.action-btns {
    button {
        background: #5DA448 !important;
        color: #fff !important;
    }
    button:disabled {
        background: #e0e0e0 !important;
        color: #aaaaaa !important;
        background-color: #e0e0e0 !important;
        border-radius: 2px;
        border: 1px solid #aaaaaa;
    }
}
.header-container {
    background-color: #039be5 !important;
    height: 40px;
    padding: 0 15px;
    align-items: center !important;
}
.mat-dialog-content {
    display: block;
    margin: 0px 0px;
    // padding: 0px 5px;
    max-height: 95vh;
    overflow: auto;
    padding: 0;
}

mat-card {
    padding:10px;
    border-radius: 4px;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 50%;
}


.close-button {
    width: 100px;
    font-size: 14px;
    padding: 10px;
    border-radius:16px;
    background-color: #f3f2eb;
    color: white;
    border: 1px solid #7c7b71;
    cursor: pointer;
}
.close-button:hover{
    background-color: rgb(247, 97, 97);
}
.bill-amts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// button.save-button:disabled {
//     color: #FFFFFF !important;
//     background-color: #CCCCCC !important;
//     border-radius: 2px;
//     border: 1px solid #CCCCCC;
//     cursor: auto;
// }

.dialog-content-wrapper .mat-form-field .mat-form-field-subscript-wrapper {
    position: relative !important;
}

.mat-header-container {
    display: flex;
    justify-content: space-between;
}


.backgroundBlur{
    text-align: center;
    background-color: #818181;
    position: absolute;
    z-index: 1000;
    height: 290px;
    opacity: 0.5;
     width: 100%;  
    
}

h3{
    background: radial-gradient(70deg, blue, pink);
    // background: radial-gradient(red, yellow);
}

// h2{
//     background: radial-gradient(rgb(73, 95, 235), rgb(157, 7, 221));
//     // background: linear-gradient(red, yellow);
// }