app-area-master {
    .mat-header-row {
        width: 700px;
        max-width: 700px;
        min-width: 700px;
        font-weight: bold;
    }

    .mat-row {
        width: 700px;
        max-width: 700px;
        min-width: 700px;
    }

    .mat-column-AreaId {
        width: 20px;
        max-width: 20px;
        min-width: 20px;
    }

    .mat-column-AreaName {
        width: 300px;
        max-width: 300px;
        min-width: 300px;
    }

    // .mat-column-CityName {
    //     width: 100px;
    //     max-width: 100px;
    //     min-width: 100px;
    // }

    .mat-column-AddedBy {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-IsDeleted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        // color: white !important;
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
