.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}

@import "src/@fuse/scss/fuse";

:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    .mat-table {
        height: 400px !important;
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;

            .mat-cell {
                min-width: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.mat-column-detail-button {
                    flex: 0 1 auto;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}

.active-icon {
    border-radius: 50%;
}

app-discharge {
    .buttons {
        padding-left: 25px;
        padding-top: 5px;
        text-align: right;
    }

    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }

    .mat-dialog-content {
        display: block;
        margin: 0px 0px;
        // padding: 0px 5px;
        max-height: 95vh;
        overflow: auto;
        padding: 0;
    }

    .mat-header-row {
        width: 2530px;
        max-width: 2530px;
        min-width: 2530px;
        min-height: 25px;
    }

    .mat-row {
        width: 2530px;
        max-width: 2530px;
        min-width: 2530px;
    }

    .mat-column-checkbox {
        width: 60px;
        max-width: 60px;
        min-width: 60px;
    }

    .mat-column-RegNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
    }

    .mat-column-PatientName {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        text-align: left;
    }

    .mat-column-DOA {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        text-align: center;
    }

    .mat-column-DOT {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        text-align: center;
    }

    .mat-column-DoctorName {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: left;
    }

    .mat-column-RefDocName {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: left;
    }

    .mat-column-IPNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }

    .mat-column-PatientType {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        text-align: center;
    }

    .mat-column-WardName {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        text-align: center;
    }


    .mat-column-TariffName {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }

    .mat-column-ClassName {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }

    .mat-column-CompanyName {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-align: center;
    }

    .mat-column-RelativeName {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: center;
    }



}