app-endoscopy{
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    .mat-table {
        height: 600px !important;
        width: 98%;
        background: transparent;
        box-shadow: none;

        .mat-dialog-content {
            display: block;
            margin: 0px 0px;
            // padding: 0px 5px;
            max-height: 95vh;
            overflow: auto;
            padding: 0;
        }

        .dob {
            width: 20px;
        }

        .mat-card {
            padding: 5px;
            border-radius: 4px;
        }

        .mat-h1,
        .mat-headline,
        .mat-typography h1 {
            margin: 0 0 5px;
        }

        .mat-dialog-title {
            margin-bottom: 2px;
        }

        .error {
            color: red;
        }

        .main-content {
            display: flex;
            height: 600px;
        }


        .form-section .mat-form-field .mat-form-field-subscript-wrapper {
            position: relative !important;
        }

        .register-container {
            padding: 0 0 0 24px;
            align-items: center;
        }

        .footer-navigation-container {
            text-align: right;
            display: flex;
            justify-content: space-between;
        }


        .back-btn {
            width: 100px;
            font-size: 14px;
            padding: 10px;
            border-radius: 16px;
            background-color: #d6d4bf;
            color: white;
            border: 1px solid #7c7b71;
            cursor: pointer;
        }


        .mat-form-field {
            padding-bottom: 0px;

        }

        .example-button-toggle-label {
            display: inline-block;
            margin: 16px;
        }

    }

    h1,
    .h1 {
        font-size: 20px;
        font-weight: bold;
    }
}
app-endoscopy{

        .mat-header-row {
            width: 2500px;
            max-width: 2500px;
            min-width: 2500px;
            min-height: 25px;
        }

        .mat-row {
            width: 2500px;
            max-width: 2500px;
            min-width: 2500px;
            min-height: 25px;
        }


        .mat-column-RegNo {
            width: 110px;
            max-width:110px;
            min-width: 110px;
            text-align: left;
        }

        .mat-column-PatientName {
            width: 400px;
            max-width: 400px;
            min-width: 250px;
            text-align: center;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
            overflow: hidden !important;
            // display: inline-block;
        }

        .mat-column-OPDate {
            width: 110px;
            max-width: 110px;
            min-width: 110px;
            text-align: center;
        }

        .mat-column-Duration {
            width: 80px;
            max-width: 80px;
            min-width: 80px;
            text-align: center;
        }

        .mat-column-OTTableName {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            text-align: center;
        }

        .mat-column-SurgeonName {
            width: 250px;
            max-width: 250px;
            min-width: 250px;
            text-align: center;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
            overflow: hidden !important;
            // display: inline-block;

        }
            .mat-column-AnathesDrName {
                width: 220px;
                max-width: 220px;
                min-width: 220px;
                text-align: center;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                overflow: hidden !important;
                // display: inline-block;
            }

            .mat-column-AnathesDrName1 {
                width: 220px;
                max-width: 220px;
                min-width: 220px;
                text-align: center;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                overflow: hidden !important;
                // display: inline-block;
            }


            .mat-column-Surgeryname {
                width: 250px;
                max-width: 250px;
                min-width: 250px;
                text-align: center;
            }

            .mat-column-AnesthType {
                width: 100px;
                max-width: 100px;
                min-width: 100px;
                text-align: center;
            }

            .mat-column-UnBooking {
                width: 80px;
                max-width: 80px;
                min-width: 80px;
                text-align: center;
            }

            .mat-column-AddedBy {
                width: 160px;
                max-width: 160px;
                min-width:160px;
                text-align: center;
            }

            .mat-column-TranDate {
                width: 90px;
                max-width: 90px;
                min-width: 90px;
                text-align: center;
            }

            .mat-column-instruction {
                width: 160px;
                max-width: 160px;
                min-width: 160px;
                text-align: right;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                overflow: hidden !important;
            }
            .mat-column-action {
                // color: white !important;
                width:100px;
                max-width: 100px;
                min-width: 100px;
                min-height: 25px;     
                text-align:left;
                justify-content:left;
            }

        .next-btn {
            width: 80px;
            font-size: 16px;
            font-weight: 700px;
            padding: 10px;
            border-radius: 2px;
            margin-right: 5px;
            color: #039be5;
            border: 1px solid #039be5;
            background-color: white;
            // background-color: hsl(204, 92%, 38%);
            //border:2px solid #0430c2;

            cursor: pointer;
            border-radius: 20%;
        }

        .next-btn:hover {
            background-color: #039be5;
            // border: 1px solid rgb(247, 97, 97);
            color: white;

        }

        button:disabled {
            color: white;
            background-color: #7bd3ff !important;
            border-radius: 2px;
            border: 1px solid #b7e6fd;
        }

        }
    


    