.more-chip {
  background: #3949AB !important;
  color: #fff !important;
  cursor: pointer;
  font-weight: 600;
}

// Dropdown css

// .food-chip-trigger {
//   border-radius: 20px;
//   font-size: 12px;
//   line-height: 28px;
//   padding: 0 10px 0 14px;
//   min-width: unset;

//   mat-icon {
//     font-size: 18px;
//     width: 18px;
//     height: 18px;
//     vertical-align: middle;
//     margin-left: 2px;
//   }
// }

// .menu-details-cell {
//   .items-trigger {
//     display: inline-flex;
//     align-items: center;
//     gap: 6px;
//     border: 0.5px solid #cbd5e1;
//     border-radius: 20px;
//     padding: 5px 12px;
//     font-size: 12px;
//     font-weight: 500;
//     cursor: pointer;
//     color: #1e293b;

//     mat-icon {
//       font-size: 18px;
//       width: 18px;
//       height: 18px;
//       color: #64748b;
//     }

//     &.active {
//       background: #e6f1fb;
//       border-color: #378ADD;
//       color: #0c447c;
//       mat-icon { color: #0c447c; }
//     }
//   }

//   .items-panel {
//     margin-top: 8px;
//     background: #f8fafc;
//     border-radius: 8px;
//     padding: 4px 0;

//     .item-row {
//       display: flex;
//       align-items: center;
//       gap: 8px;
//       padding: 8px 14px;

//       mat-icon {
//         font-size: 16px;
//         width: 16px;
//         height: 16px;
//         color: #378ADD;
//       }
//       .item-name { font-size: 13px; color: #1e293b; }
//       .item-qty { margin-left: auto; font-size: 12px; color: #64748b; }
//     }
//   }
// }