@import "src/@fuse/scss/fuse";
.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}
:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    
    .mat-form-field {
        margin-right: 12px;
      }

    .sidebar-content {
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: white;    
            
        @include media-breakpoint(gt-sm) {
            //prasad
            // padding: 24px 4px 24px 24px;
            padding: 12px 0 12px 12px;
        }

        .card {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
            padding: 0;
            border-radius: 8px;

            @include media-breakpoint(gt-sm) {
                @include mat-elevation(1);
            }

            > .header {
                flex: 0 1 auto;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }

            > .content {
                flex: 0 1 auto;
            }

            // .mat-form-field-wrapper {
            //     padding-bottom: 0.34375em;
            // }
        }
    }
}


app-browse-refund-list{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    
    .mat-table {
        // height: 600px !important;
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        // .mat-column-buttons {
        //     flex: 0 1 80px;
        // }

        .mat-row {
            position: relative;
            cursor: pointer;
           
            .mat-cell {
                min-width: 0;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                overflow: hidden !important;
               // display: inline-block;
                
                &.mat-column-detail-button {
                    flex: 0 1 auto;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
.active-icon {
    border-radius: 50%;
}

app-browse-refund-list {

// .mat-table {
//     height: 700px !important  ;
// }
.active-icon {
    border-radius: 50%;
}

.mat-header-row {
    width: 100%;
    max-width: 1230px;
    min-width: 1230px;  
     min-height: 30px;     
}

.mat-row {
    width: 100%;
    max-width: 1230px;
    min-width: 1230px;
    min-height: 30px;       
}
.mat-column-RefundId {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    text-align: left;
}
.mat-column-RefundDate {
    width: 150px;
    max-width:150px;
    min-width: 150px;
}
.mat-column-BillId {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    text-align: left;
}

.mat-column-PatientName {
    width: 480px;
    max-width: 480px;
    min-width: 480px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    // display: inline-block;
    justify-content:left; 
    text-align: left;
}

.mat-column-RefundAmount {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    text-align:center;
    justify-content:center;
  
}

.mat-column-TotalAmt {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    text-align:center;
    justify-content:center;
    
}
// .mat-column-PaymentId {
//     width: 120px;
//     max-width: 120px;
//     min-width: 120px;
//     justify-content:center;
// }

.mat-column-PaymentDate {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align:center;
    justify-content:center;
}
.mat-column-CashPayAmount {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align:center;
    justify-content:center;
    
}
.mat-column-ChequePayAmount {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align:center;
    justify-content:center;
    
}
.mat-column-CardPayAmount {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align:center;
    justify-content:center;
    
}
 .mat-column-TransactionType {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
     text-align:center;
     justify-content:center;
}

 .mat-column-MobileNo {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
     justify-content:center;
}


.mat-column-buttons {
    width:200px;
    max-width: 200px;
    min-width: 200px;
    text-align: right;
    justify-content:center;
}


.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 50%;
}
.mat-menu-item {
    line-height: 25px;
    height: 25px;
    padding: 0px 5px;
    text-align: left;
    justify-content:center;
}
}
.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}

.navbar{
    justify-content: space-between;
}
.icon{
    padding-right: 1rem;
}
.red-color {
    color:red;
}

.green-color {
    color:green;
}
   

.left-icon{
    color:white;
}

h1, .h1 {
    font-size: 20px;
    color: white;
}
body.theme-default .accent{
    background-color: #0479b4 !important;
    // color: black !important;
}