<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll" dynamicTableHeight>
    <mat-toolbar class="accent" style="height:50px; justify-content: space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm (click)="toggleSidebar('app-main')" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Browse OPD Refund
            </span>

            <!-- <button mat-raised-button (click)="getPrint($event)" fxLayoutAlign="center center" style="margin-left:500%;">
                <mat-icon color="Primary" title=" Appointment Form ">how_to_reg</mat-icon>
            </button> -->

        </div>




    </mat-toolbar>
    <!-- / HEADER -->
    <!-- SELECTED BAR -->
    <app-main class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></app-main>
    <!-- / SELECTED BAR -->
    <!-- CONTENT -->
    <div class="content">
        <!-- SIDEBAR -->
        <fuse-sidebar name="app-main" position="left" lockedOpen="gt-sm" class="fuse-search-sidebar">
            <div class="sidebar-content">
                <!-- SIDEBAR HEADER -->
                <div class="accent sidebar-header p-12" fxLayout="row" fxLayoutAlign="start center">
                    <span class="search-title">Search Facility</span>
                    <!-- / USER -->
                </div>
                <!-- / SIDEBAR HEADER -->
                <!-- SIDEBAR CONTENT -->
                <div class="sidebar-body">
                    <div class="nav material2">
                        <form [formGroup]="_BrowseOPDReturnsService.myFilterform" fusePerfectScrollbar>
                            <div fxLayout="column" fxLayoutAlign="start none">
                                <mat-form-field appearance="outline">
                                    <mat-label>Enter a date range</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate formControlName="start" placeholder="Start date">
                                        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="getBrowseOPDReturnList()">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>

                                <!-- <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Bill No</mat-label>
                                        <input name="PBillNo" formControlName="PBillNo" matInput>
                                    </mat-form-field> -->

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Reg No</mat-label>
                                    <input name="RegNo" formControlName="RegNo" matInput>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>First Name</mat-label>
                                    <input name="FirstName" formControlName="FirstName" matInput>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Last Name</mat-label>
                                    <input name="LastName" formControlName="LastName" matInput>
                                </mat-form-field>

                                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                                    <button mat-raised-button (click)="getBrowseOPDReturnList()" class="searchButton" matTooltip="search">
                                        <!-- <mat-icon class="cleariconbutton">close</mat-icon> -->
                                        Search
                                    </button>
                                    <button mat-raised-button class="clearbutton" (click)="onClear()" matTooltip="close">
                                        <!-- <mat-icon class="searchiconbutton">search</mat-icon> -->
                                        Clear
                                    </button>
                                </div>

                                <!-- <span *ngIf="SpinLoading" style="width:60px;height: 60px;margin-left:10px;">
                                        Processing..... <i class="fa-solid fa-spinner fa-spin loading-spinner"></i>
                                    </span> -->
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </fuse-sidebar>
        <!-- / SIDEBAR -->
        <!-- CENTER -->
        <!-- CENTER -->

        <div class="center p-12 pb-56" fxFlexAlign="start center">

            <div class="content-card" style="border-radius:4px; ">


                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="30px">
                    <div fxFlex.gt-sm="100%" fxFlex>

                        <div fxlayout="row">
                            <div style="width: 100%;">
                                <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}" class="backgroundBlur" style="height: 100%;">
                                    <div class="spinner-border text-danger"></div>
                                </div>
                                <!-- sppinner -->
                                <mat-table #table matSort table="table1" [dataSource]="dataSource" [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">


                                    <ng-container matColumnDef="RefundDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            RefundDate </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                            <!-- {{todayDate | date:'shortDate'}} -->
                                            {{element.RefundDate | date:'shortDate'}}
                                        </mat-cell>
                                    </ng-container>
                                    RefundNo

                                    <ng-container matColumnDef="RefundNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm
                                            style="margin-top: 8px;">
                                            RefundNo </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                            {{element.RefundNo}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="RegId">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm
                                            style="margin-top: 8px;">
                                            RegNo </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                            {{element.RegId}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="PatientName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm style="margin-top: 8px;">
                                            PatientName </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                            {{element.PatientName}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="PaymentDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm style="margin-top: 8px;">
                                            PaymentDate </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                            {{element.PaymentDate | date:'shortDate'}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="RefundAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            RefundAmount </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-md>
                                            {{element.RefundAmount | currency:'INR'}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="TotalAmt">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            TotalAmount </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-md>
                                            {{element.TotalAmt | currency:'INR'}} </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="MobileNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            MobileNo </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-md>
                                            {{element.MobileNo }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="BillId">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                            BillId </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                            <!-- {{todayDate | date:'shortDate'}} -->
                                            {{element.BillId}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="buttons" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef style="color: white;">Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">

                                            <button mat-icon-button (click)="getViewbill(contact)" matTooltip="how_to_reg"><mat-icon>how_to_reg</mat-icon></button>
                                            <button mat-icon-button class="material-icons" (click)="viewgetOPRefundofBillPdf(contact)" matTooltip="print">
                                                <mat-icon>print</mat-icon>
                                            </button>
                                            <!-- <button mat-icon-button class="material-icons"
                                                (click)="getRecord(contact,'EMAIL')" matTooltip="email">
                                                <mat-icon>email</mat-icon>
                                            </button> -->

                                            <button mat-icon-button class="material-icons" (click)="getRecord(contact,'SMS')" matTooltip="message">
                                                <mat-icon> message </mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>

                                    <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact" [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                    </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
                                </mat-table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CENTER -->
    </div>

</div>