.mat-row,
.mat-footer-row {
    min-height: 28px;
    height: 30px;
}

.content-div {
    display: flex;
    padding: 0 16px;
}

.example-container {
    width: 100%;
}

.mat-drawer {
    width: 300px;
}

.header-row {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    align-items: center;
    // background-color: #e1e2e2;
    // margin-bottom: 20px;
}

.heading-container {
    // display: flex;
    // flex-direction: row;
    // font-size: 15px;
    // align-items: center;
    width: 100%;
    // justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    // justify-content: space-between;
}

.register,
.register2,
.register3,
.register4 {
    margin: 0 20px;
}

.label-value {
    margin-left: 10px;
}

.bill-info {
    padding: 9px;
    background-color: #4f505030;
    height: 40px;
    width: fit-content;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.mat-expansion-panel {
    margin: 0 5px 0px 5px !important;
    background-color: #e1e2e2 !important;
    margin: 0 !important;
}

.mat-expansion-panel-body {
    // padding: 0 24px 16px;
    padding: 20px 24px !important;
    margin: 0 5px 20px 5px;
    // height: 200px;
}

.tables-contianer {
    display: flex;
    flex-direction: row;
    padding: 0 15px;

    @media (min-width: 100px) and (max-width: 768px) {
        flex-direction: column;
    }
}

.header-labels {
    font-size: 16px;
    font-weight: 500;
}

.body-content {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    margin: 3px 0;
}

.top-heading {
    display: flex;
    padding: 10px;
    align-items: center;
    // background-color: ;
}

.ip-billing {
    font-size: 25px;
    font-weight: 500;
    color: #48a348;
}

.mat-card {
    padding: 5px 5px !important;
    width: 50%;
    overflow: auto;
}

.body-content .mat-form-field-wrapper,
.header-content .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.header-content .mat-form-field-flex {
    height: 35px !important;
}

.matdate-picker .mat-form-field-flex {
    height: 35px !important;
}

.reg-field .mat-form-field-flex {
    width: 110px;
    margin-right: 10px;
}

.admsn-field .mat-form-field-flex {
    width: 110px;
    margin-right: 10px;
}

.patient-field .mat-form-field-flex {
    width: 230px;
    margin-right: 10px;
}

.date-field .mat-form-field-infix {
    width: 180px !important;
}

.filter-date-field .mat-form-field-infix {
    width: 180px !important;
}

.filter-date-field .mat-form-field-flex {
    height: 42px;
}

.panel-body {
    margin-top: 20px;
    // padding: 0 15px;
}

// .panel-body-maxwidth {
//     // width: 75%;
// }

// .panel-body-minwidth {
//     // width: 55%;
// }

.body-heading span {
    font-size: 20px;
    color: #48a348;
    font-weight: 600;
}

.body-heading {
    margin-bottom: 5px;
}

.bill-amt {
    width: 50%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.panel-labels {
    width: 150px;
}

.label-box1 {
    width: 22%;
    height: 27px;
    border: 1px solid gray;
    padding: 4px;
    background-color: white;
    margin-right: 3px;
}

.label-box2 {
    width: 41%;
    height: 27px;
    border: 1px solid gray;
    padding: 4px;
    background-color: white;
    margin-right: 5px;
}

.admini-section {
    width: 40%;
    // padding: 0 10px 0 25px;
}

.concession-section {
    display: flex;
    align-items: center;
}

.concession-remark {
    width: 37%;
    text-align: right;
    margin-right: 6px;
}

.concession-value,
.remark-value {
    width: 63%;
}

.phar-ip {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.phar-label,
.ip-label {
    width: 30%;
    text-align: right;
    margin-right: 6px;
}

.phar-ip .labels-value,
.ip-label .labels-value {
    width: 70%;
}

.labels-style {
    font-size: 12px;
    font-weight: 500;
}

.mat-checkbox-label {
    font-size: 12px;
    // font-weight: bold;
}

.sidenav-save.mat-raised-button {
    width: 92%;
    background-color: #48a348 !important;
    color: white !important;
    font-size: 16px;
}

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    // height: 100vh;
}
.ip-billing-section {
    .billing-header-content{
        display: grid;
        gap: 8px 4px;
        grid-template-columns: repeat(3, 1fr);
    }
}
