<div class="modal-wrapper grid-container ">
  <!-- Modal header -->
  <div class="modal-header accent">
    <div class="modal-header-content">
      <div class="modal-header-title">
        <span [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">MLC Update</span>
      </div>
      <div class="modal-header-right">
        <div class="comman-date-container">
          <div class="comman-date">
            <app-common-date [screenFrom]="screenFromString"
              (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
          </div>
          <div class="close-icon">
            <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog"
              matTooltip="Close">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal body -->
  <div class="modal-body" fusePerfectScrollbar>
    <div class="modal-body-container">
      <div fxLayout="column" class="gap-12">
        <div class="modal-card-container mt-0" style="margin-top: -4px;">

          <mat-card fxFlex.gt-sm="100%" fxFlex style="padding: 2px 10px;">
            <div class="patient-info-sales">
              <div class="patient-info-title border-bottom pb-1 mb-1">
                <span class="h1 m-0" style="line-height: normal;">Patient Information</span>
              </div>
              <div class="Ipd-patient-info w-100-p">
                <app-patient-information [uhidNo]="data?.regNo" [patientName]=" (data?.firstName || '') +
                                        (data?.middleName ? ' ' + data.middleName : '') +
                                        (data?.lastName ? ' ' + data.lastName : '')
                                        || data?.patientName
                                        " [doctorName]="data?.doctorname" [departmentName]="data?.departmentName"
                  [doa]="data.admissionDate" [ipdNo]="data?.ipdno || data?.ipdno"
                  [ageString]="(data?.ageYear  !== undefined ? data?.ageYear  + 'Y|' + data?.ageMonth + 'M|' + data?.ageDay + 'D | ' + data?.genderName : '')"
                  [refDocName]="data?.refDocName" [wardBedName]="data?.roomName" [patientType]="data?.patientType"
                  [tariffName]="data?.tariffName" [companyName]="data?.companyName"></app-patient-information>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="modal-card-container">
          <mat-card>
            <div fxLayout="column" class="gap-8">
              <div class="form-title mb-2 border-bottom pb-2">
                <span class="h3 font-weight-600">Medico Legal Case Information</span>
              </div>
              <form [formGroup]="MlcInfoFormGroup" style="border: blue">
                <!-- <h3 style="font-weight: bold">Medico Legal Case Information</h3> -->
                <div fxLayout="row wrap" fxLayoutGap="8px 0px grid" class="resize-form-fields padding-fix">
                  <input type="hidden" name="mlcid" formControlName="mlcid" [(ngModel)]="registerObj.mlcid" />
                  <input type="hidden" name="admissionId" formControlName="admissionId"
                    [(ngModel)]="Personaldata.admissionId" />


                  <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="33">
                    <mat-form-field appearance="outline" class="dateField" fxFlex>
                      <mat-label>MLC Date</mat-label>
                      <input matInput [matDatepicker]="picker1" [min]="minDate" formControlName="reportingDate"
                        (dateChange)="onChangeDate($event.value)" />
                      <mat-datepicker-toggle matSuffix [for]="picker1"
                        [disabled]="isDatePckrDisabled"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="33">
                    <mat-form-field appearance="outline" class="timeField" fxFlex>
                      <mat-label>MLC Time</mat-label>
                      <input matTimepicker #t="matTimepicker" mode="12h" formControlName="reportingTime"
                        (timeChange)="onChangeTime($event)" [disableDialogOpenOnClick]="isDatePckrDisabled" />
                      <mat-icon matSuffix (click)="!isDatePckrDisabled ? t.showDialog() : ''">access_time</mat-icon>
                    </mat-form-field>
                  </div>

                </div>
                <div fxLayout="row wrap" fxLayoutGap="8px 0px grid" class="resize-form-fields padding-fix">

                  <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="33">
                    <airmid-textbox label="Mlcno" formControlName="mlcno" [value]="registerObj.mlcno"
                      [formGroup]="MlcInfoFormGroup" [validations]="getValidationMessages().mlcno"
                      [maxLength]="15"></airmid-textbox>
                  </div>

                  <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="33">
                    <airmid-textbox label="buckleNo" formControlName="buckleNo" [value]="registerObj.buckleNo"
                      [formGroup]="MlcInfoFormGroup" [validations]="getValidationMessages().buckleNo"
                      [maxLength]="7"></airmid-textbox>
                  </div>

                  <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="33">
                    <airmid-textbox label="authorityName" formControlName="authorityName"
                      [value]="registerObj.authorityName" [formGroup]="MlcInfoFormGroup"
                      [validations]="getValidationMessages().authorityName" [maxLength]="50"></airmid-textbox>
                  </div>


                  <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="33">
                    <airmid-textbox label="policeStation" formControlName="policeStation"
                      [value]="registerObj.policeStation" [formGroup]="MlcInfoFormGroup"
                      [validations]="getValidationMessages().policeStation" [maxLength]="50"></airmid-textbox>
                  </div>
                </div>

                <div fxLayoutGap="5px" fxlayout="column">
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Detail Given</mat-label>
                    <textarea matInput name="Given" formControlName="detailGiven" cols="200" rows="5"
                      [(ngModel)]="DetailGiven"></textarea>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Remark</mat-label>
                    <textarea matInput name="Remark" formControlName="remark" cols="200" rows="5"
                      [(ngModel)]="Remark"></textarea>
                  </mat-form-field>
                </div>
              </form>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="footer-navigation-container">
      <div class="modal-footer-buttons">
        <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
      </div>
    </div>
  </div>
</div>