.table1{
  
  .mat-column-action{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    align-items: left;
    justify-content:left; 
  }
  .mat-column-IssueDate{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    align-items: left;
    justify-content:left; 
  }
  .mat-column-IssueNo{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    align-items: left;
    justify-content:left; 
  }
 
  .mat-column-FromStoreName{
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    align-items: left;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    justify-content:left; 
  }
  .mat-column-NetAmount{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    align-items: left;
    justify-content:left; 
  }
  .mat-column-ToStoreName{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    align-items: left;
    justify-content:left;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap; 
  }
  .mat-column-Receivedby{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    align-items: left;
    justify-content:left;
  }
  .mat-column-Remark{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    align-items: left;
    justify-content:left; 
  }
  
  height: 300px;
  max-height: 300px;
  min-height: 300px;
}
.table2{
  .mat-column-BatchExpDate{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    align-items: left;
    justify-content:left; 
  }
  .mat-column-BatchNo{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    align-items: left;
    justify-content:left;
  }
  .mat-column-ItemName{
    width: 280px;
    max-width: 280px;
    min-width: 280px;
    align-items: left;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap; 
    justify-content:left; 
  }
  .mat-column-Qty{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    align-items: left;
    justify-content:left; 
  }
  .mat-column-PerUnitLandedRate{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    align-items: left;
    justify-content:left; 
  }
  .mat-column-LandedTotalAmount{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    align-items: left;
    justify-content:left;
    
  }
  .mat-column-VatPercentage{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    align-items: left;
    justify-content:left;
  }

  height: 300px;
  max-height: 300px;
  min-height: 300px;
}
.tab1{
  height: 240px;
  max-height: 240px;
  min-height: 240px;
  width: 470px;
  margin-bottom: 10px;
  

}
.tab2{
  height: 240px;
  max-height: 240px;
  min-height: 240px;
  width: 470px;
  
  

}
.tab3{
  height: 420px;
  max-height: 430px;
  min-height: 420px;
  width: 100%;
  margin-left: 0px;


}
.footer-navigation-container {
  text-align: right;
  display: flex;
  justify-content: space-between;
  float: right;
}
.footer-btn {
  width: 80px;
  font-size: 16px;
  font-weight: 700px;
  padding: 10px;
  color:  rgb(247, 97, 97);
  border-radius: 16px;
  background-color:white;
  border: 1px solid rgb(247, 97, 97);
  cursor: pointer;
}
.footer-btn:hover{
  background-color: rgb(247, 97, 97);
  color: white;
 
}
