<div fxFlexFill fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="10px" style="width: 100%; background:#F5F5F5; ">
  <!-- <div class="col-md-12" style="padding:10px;" *ngIf="selectedView == 'Dropdown'"> -->
  <div class="container" style="width: 100%;">
    <div style="width: 100%;">
      <!-- <div fxFlex> -->
      <div fxLayout="row" fxLayoutAlign="start center" class="accent" style="width:100% ; height:37px;color: white;">

        <div class="logo" fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
          <button mat-icon-button class="sidebar-toggle mr-12">
            <mat-icon>menu</mat-icon>
          </button>

          <span class="logo-text h2" [@animate]="{value:'*',params:{delay:'100ms',x:'-16px'}}"
            style="width: 80%;font-size: 16px;">
            Appointment
          </span>

          <div fxLayout="row" fxLayoutAlign="start center" style="float: right; margin-right: 5px;  ">
            <diV style="margin-top:21px;">
              <span style="margin-right: 40px;color: black;font-weight: bold;">
                <app-common-date [screenFrom]="screenFromString"
                  (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
              </span>
            </diV>&nbsp;&nbsp;
            <span class="material-icons" style="cursor: pointer;" (click)="onClose()">
              close
            </span>
          </div>
        </div>
      </div>
      <div>

        <mat-tab-group style="background-color: white;">

          <mat-tab>
            <ng-template mat-tab-label style="color: black; font-size: 17px bold; height: 100px; ">
              Appointment List
            </ng-template>
            <mat-card-content style="width: 100%;margin-right: 5px;">
              <div fxLayout="column">


                <div fxLayout="row" style="width: 100%;">


                  <div fxFlex="100" fxFlex.gt-sm="25" class="content py-16 pl-10 p-12" fxLayout="row"
                    fxLayout.gt-xs="column" fusePerfectScrollbar
                    style=" width:100%; float: right;  border-radius:4px; background-color: white;
                            border:rgba(0,0,0,0.12) 1px solid; float: right;  padding: 1em; height: 915px !important; margin-top: 10px;">
                    <div class="nav material2">
                      <form [formGroup]="searchFormGroup" fxLayoutAlign="space-between start">
                        <div fxLayout="column" fxLayoutAlign="start none"
                          style="border-style: groove;color: grey;width: 100%;">

                          <div class="redio-container">
                            <mat-radio-group aria-label="Select an option" formControlName="regRadio" name="regRadio"
                              (change)="onChangeReg($event)">
                              <mat-radio-button value="registration" style="margin-bottom: 7px;">New Registration
                              </mat-radio-button>
                              <mat-radio-button value="registrered">Registered</mat-radio-button>
                            </mat-radio-group>

                          </div>


                        </div>
                      </form>

                      <div *ngIf="showtable">
                        <form [formGroup]="_opappointmentService.myFilterform">
                          <div class="dialog-content-wrapper" fxFlex fxLayoutAlign="space-between-center"
                            style="padding-top: 10px;">


                            <mat-form-field appearance="outline" style="width:100px;padding-right: 10px;">
                              <!-- <mat-label>Reg No</mat-label> -->
                              <input name="RegNo" formControlName="RegNo" placeholder="Reg No" matInput
                                (keyup)="getOPIPPatientList()">
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width:130px;padding-right:5px;">
                              <mat-label>FirstName</mat-label>
                              <input name="FirstName" formControlName="FirstName" placeholder="FirstName" matInput
                                (keyup)="getOPIPPatientList()">
                            </mat-form-field> &nbsp;

                            <mat-form-field appearance="outline" style="width:130px;">
                              <mat-label>LastName</mat-label>
                              <input name="LastName" formControlName="LastName" placeholder="LastName" matInput
                                (keyup)="getOPIPPatientList()">
                            </mat-form-field> &nbsp;
                          </div>
                        </form>
                        <div fxlayout="row" fusePerfectScrollbar>
                          <!-- style="width: 100%;" -->
                          <div fxFlex.gt-sm="100%" fxFlex>
                            <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                              class="backgroundBlur">
                              <div class="spinner-border text-danger"></div>

                            </div>
                            <mat-table #table matSort [dataSource]="dataSource" [@animateStagger]="{value:'50'}"
                              style="overflow:auto" class="table1">

                              <ng-container matColumnDef="RegNo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> RegNo </mat-header-cell>
                                <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                  {{element.RegNo}}
                                </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="PatientName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> PatientName </mat-header-cell>
                                <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.PatientName}}
                                </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="AgeYear">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
                                <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.AgeYear}} </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="GenderName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Gender</mat-header-cell>
                                <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.GenderName}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="PhoneNo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> PhoneNo
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.PhoneNo}}
                                </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="MobileNo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> MobileNo </mat-header-cell>
                                <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.MobileNo}}
                                </mat-cell>
                              </ng-container>


                              <ng-container matColumnDef="noData">
                                <mat-footer-cell *matFooterCellDef colspan="6">
                                  no data found...
                                </mat-footer-cell>
                              </ng-container>
                              <ng-container matColumnDef="loading">
                                <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                </mat-header-cell>
                              </ng-container>
                              <mat-header-row class="accent"
                                *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                              <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact"
                                [@animate]="{value:'*',params:{y:'100%'}}" (click)="onEdit(contact)"></mat-row>
                              <mat-footer-row *matFooterRowDef="['loading']"
                                [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                              </mat-footer-row>
                              <mat-footer-row *matFooterRowDef="['noData']"
                                [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
                            </mat-table>
                            <!-- 
                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                        showFirstLastButtons></mat-paginator> -->
                          </div>
                        </div>

                      </div>

                    </div>

                  </div>
                  <div fxFlex="100" fxFlex.gt-sm="80" fxLayout="row" fxLayout.gt-xs="column"
                    style="width:100%; ;margin-left: 1px; margin-right: 5px; margin-top: 7px;margin-left: 7px;overflow: auto ;background-color:white !important; "
                    fusePerfectScrollbar>
                    <form [formGroup]="personalFormGroup">
                      <div>

                        <mat-form-field appearance="outline" style="width:60%;margin-left:15px;">
                          <!-- <lable>Enter RegNo for Search<lable> -->
                          <input type="text" name="RegId" formControlName="RegId" placeholder="RegNo / Name" matInput
                            [matAutocomplete]="auto" (input)="getSearchList()">
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText"
                            (optionSelected)='getSelectedObj($event.option.value)'>
                            <mat-option *ngFor="let option of filteredOptions" [value]="option">
                              {{option.FirstName}} {{option.LastName}} ({{option.RegId}})
                            </mat-option>
                          </mat-autocomplete>
                          <mat-hint>
                            <span *ngIf="!noOptionFound">Select one of the name from auto suggestions.</span>
                            <span *ngIf="noOptionFound" style="color: #f44336;">No data Found</span>
                          </mat-hint>
                          <mat-error *ngIf="personalFormGroup.get('RegId').hasError('required')">
                            Required field cannot be left blank
                          </mat-error>
                        </mat-form-field>

                      </div>
                    </form>
                    <div>
                      <form [formGroup]="personalFormGroup">

                        <!-- <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"  >
                          <span style="font-size: 16px; font-weight: 500; color: black;">Personal:</span>
                      </div> -->
                        <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px" fxLayoutAlign="space-between"
                          style=" height: 35px;background-color:#4863A0">
                          <span style="font-size:18px; font-weight: 500; color:white;padding:7px;">Personal </span>

                        </div>
                        <div style="padding: 7px;">
                          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
                            style="padding-bottom: 10px;">

                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Prefix</mat-label>
                              <mat-select formControlName="PrefixID" placeholder="Bank" #singleSelect
                                (selectionChange)="onChangeGenderList($event.value)" required>
                                <mat-option>
                                  <ngx-mat-select-search [formControl]="bankFilterCtrl" [placeholderLabel]="'Search'"
                                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let element of filteredPrefix | async" [value]="element">
                                  {{element.PrefixName}}
                                </mat-option>
                              </mat-select>
                              <mat-error
                                *ngIf="personalFormGroup.get('PrefixID').invalid && personalFormGroup.get('PrefixID').touched">
                                Prefix is required</mat-error>
                            </mat-form-field>

                            <!-- [formControl]="name" -->
                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>First Name</mat-label>
                              <input name="FirstName" formControlName="FirstName" placeholder="First Name" matInput
                                required [(ngModel)]="registerObj.FirstName" onkeypress=" (event.charCode > 64 && 
                            event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
                              <mat-error
                                *ngIf="personalFormGroup.get('FirstName').invalid && personalFormGroup.get('FirstName').touched">
                                First Name is required Enter only
                                Alphabets</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Middle Name</mat-label>
                              <input name="MiddleName" formControlName="MiddleName" placeholder="Middle Name"
                                [ngClass]="{ 'is-invalid': submitted && personalFormGroup.get('MiddleName').errors }"
                                matInput [(ngModel)]="registerObj.MiddleName" onkeypress=" (event.charCode > 64 && 
                            event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
                              <mat-error class="error"
                                *ngIf="personalFormGroup.get('MiddleName').invalid && personalFormGroup.get('MiddleName').touched">
                                Middle Name is required
                                Enter
                                only Alphabets</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Last Name</mat-label>
                              <input name="LastName" formControlName="LastName" placeholder="Last Name"
                                [ngClass]="{ 'is-invalid': submitted && personalFormGroup.get('LastName').errors }"
                                matInput required [(ngModel)]="registerObj.LastName" onkeypress=" (event.charCode > 64 && 
                            event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
                              <mat-error class="error"
                                *ngIf="personalFormGroup.get('LastName').invalid && personalFormGroup.get('LastName').touched">Last
                                Name is required Enter
                                only
                                Alphabets</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Gender</mat-label>
                              <mat-select formControlName="GenderId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let m of GenderList" [value]="m">
                                  {{m.GenderName}}
                                </mat-option>
                              </mat-select>
                              <mat-error
                                *ngIf="personalFormGroup.get('GenderId').invalid && personalFormGroup.get('GenderId').touched">
                                <span *ngIf="personalFormGroup.get('GenderId').hasError('required')">
                                  Gender is required</span>
                              </mat-error>
                            </mat-form-field>
                          </div>

                          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
                            style="padding-bottom: 10px;">
                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Birth date</mat-label>
                              <input name="DateOfBirth" matInput [matDatepicker]="picker" formControllName="DateOfBirth"
                                (dateChange)="onChangeDateofBirth($event.value)" [value]="registerObj.DateofBirth"
                                [readonly]="true">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                              <!-- <mat-error
                            *ngIf="personalFormGroup.get('DateOfBirth').invalid && personalFormGroup.get('DateOfBirth').touched">
                            <span *ngIf="personalFormGroup.get('DateOfBirth').hasError('required')">
                              Required field cannot be left blank </span>
                          </mat-error> -->
                            </mat-form-field>


                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Age (Y)</mat-label>
                              <input name="AgeYear" formControlName="AgeYear" placeholder="Age (Y)" matInput
                                [ngModel]="registerObj.AgeYear" (ngModelChange)="registerObj.AgeYear = $event" required
                                type="number" maxlength="4">
                              <mat-error
                                *ngIf="personalFormGroup.get('AgeYear').invalid && personalFormGroup.get('AgeYear').touched">Please
                                enter Age Year </mat-error>
                            </mat-form-field>


                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Age (M)</mat-label>
                              <input name="AgeMonth" formControlName="AgeMonth" placeholder="Age (M)" matInput
                                [ngModel]="registerObj.AgeMonth" (ngModelChange)="registerObj.AgeMonth = $event"
                                type="number" maxlength="2">
                              <mat-error
                                *ngIf="personalFormGroup.get('AgeMonth').invalid && personalFormGroup.get('AgeMonth').touched">
                                Please enter Age Month </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Age (D)</mat-label>
                              <input name="AgeDay" formControlName="AgeDay" placeholder="Age (D)" matInput
                                [ngModel]="registerObj.AgeDay" (ngModelChange)="registerObj.AgeDay = $event"
                                type="number" maxlength="2">
                              <mat-error
                                *ngIf="personalFormGroup.get('AgeDay').invalid && personalFormGroup.get('AgeDay').touched">
                                Please enter Age Day </mat-error>
                            </mat-form-field>


                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Marital Status</mat-label>
                              <mat-select formControlName="MaritalStatusId" placeholder="Bank" #singleSelect>
                                <mat-option>
                                  <ngx-mat-select-search [formControl]="maritalstatusFilterCtrl"
                                    [placeholderLabel]="'Search'"
                                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let element of filteredMaritalstatus | async" [value]="element">
                                  {{element.MaritalStatusName}}
                                </mat-option>
                              </mat-select>

                            </mat-form-field>


                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Religion Name</mat-label>
                              <mat-select formControlName="ReligionId" placeholder="Bank" #singleSelect>
                                <mat-option>
                                  <ngx-mat-select-search [formControl]="religionFilterCtrl"
                                    [placeholderLabel]="'Search'"
                                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let element of filteredReligion | async" [value]="element">
                                  {{element.ReligionName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                          </div>

                          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
                            style="padding-bottom: 10px;">





                          </div>

                          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
                            style="padding-bottom: 10px;">
                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Address</mat-label>
                              <input name="Address" formControlName="Address" placeholder="Address" matInput
                                [(ngModel)]="registerObj.Address">
                              <mat-error
                                *ngIf="personalFormGroup.get('Address').invalid && personalFormGroup.get('Address').touched">Please
                                enter Address </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Area Name</mat-label>
                              <mat-select formControlName="AreaId" placeholder="Bank" #singleSelect>
                                <mat-option>
                                  <ngx-mat-select-search [formControl]="areaFilterCtrl" [placeholderLabel]="'Search'"
                                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let element of filteredArea | async" [value]="element">
                                  {{element.AreaName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>



                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>City</mat-label>
                              <input matAutocompletePosition="below" type="text" placeholder="Select City" matInput
                                formControlName="CityId" [matAutocomplete]="autoCity" required>
                              <!-- <mat-option>
                        <ngx-mat-select-search [formControl]="cityFilterCtrl" [placeholderLabel]="'Search'"
                          [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                      </mat-option>
                    -->
                              <span matSuffix style="display: flex;">
                                <mat-icon class="mat-icon-close"
                                  (click)="personalFormGroup.get('CityId').setValue(''); isCitySelected = false;">close</mat-icon>
                                <mat-icon class="mat-icon-close"
                                  (click)="personalFormGroup.get('CityId').setValue(''); isCitySelected = false;">search</mat-icon>
                              </span>
                              <mat-autocomplete #autoCity="matAutocomplete" [displayWith]="getOptionTextCity">
                                <mat-option *ngFor="let option of filteredCity | async" [value]="option"
                                  (onSelectionChange)="onChangeCityList($event.value.CityId)">
                                  {{option.CityName}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>



                            <!-- <mat-form-field appearance="outline" fxFlex>
                    <mat-label>City</mat-label>
                    <mat-select formControlName="CityId" placeholder="Bank" #singleSelect required
                      (selectionChange)="onChangeCityList($event.value.CityId)">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="cityFilterCtrl" [placeholderLabel]="'Search'"
                          [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let element of filteredCity | async" [value]="element">
                        {{element.CityName}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="personalFormGroup.get('CityId').invalid && personalFormGroup.get('CityId').touched">
                      City Name is required</mat-error>
                  </mat-form-field> -->




                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>State Name</mat-label>
                              <mat-select formControlName="StateId" name="StateId"
                                (selectionChange)="onChangeCountryList($event.value)">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let m of stateList" [value]="m">
                                  {{m.StateName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Country Name</mat-label>
                              <mat-select formControlName="CountryId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let g of countryList" [value]="g">
                                  {{g.CountryName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>


                          </div>

                          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
                            style="padding-bottom: 10px;">


                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Pan Card No</mat-label>
                              <input name="PanCardNo" formControlName="PanCardNo" placeholder="PanCardNo Number"
                                matInput [(ngModel)]="registerObj.PanCardNo" value="987665868800" maxlength="12">
                              <mat-error class="error"
                                *ngIf="personalFormGroup.get('PanCardNo').invalid && personalFormGroup.get('PanCardNo').touched">12
                                digits Pan Card No is required</mat-error>
                            </mat-form-field>


                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Phone Number</mat-label>
                              <input name="PhoneNo" formControlName="PhoneNo" placeholder="Phone Number" matInput
                                [(ngModel)]="registerObj.PhoneNo" minlength="10" maxlength="10" type="number"
                                value="9876658688">
                              <!-- <mat-error class="error"
                            *ngIf="personalFormGroup.get('PhoneNo').invalid && personalFormGroup.get('PhoneNo').touched">Phone
                            number is required
                          </mat-error> -->
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Mobile Number</mat-label>
                              <input name="MobileNo" formControlName="MobileNo" placeholder="Mobile Number" matInput
                                required [(ngModel)]="registerObj.MobileNo" minlength="10" maxlength="10"
                                required="required" type="number" value="MobileNo.length">
                              <mat-error class="error"
                                *ngIf="personalFormGroup.get('MobileNo').invalid && personalFormGroup.get('MobileNo').touched">10
                                digits Mobile number is
                                required</mat-error>
                            </mat-form-field>


                          </div>
                        </div>

                      </form>

                      <form [formGroup]="VisitFormGroup">

                        <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px" fxLayoutAlign="space-between"
                          style=" height: 35px;background-color: #4863A0">
                          <span style="font-size:18px; font-weight: 500; color:white;padding:5px;">Visit Details </span>

                        </div>

                        <div style="padding: 7px;">
                          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between"
                            style="padding-bottom: 10px;">



                            <mat-form-field appearance="outline" fxFlex=40%>
                              <mat-label>Hospital Name </mat-label>
                              <mat-select formControlName="HospitalId" required>
                                <mat-option *ngFor="let Doc of HospitalList1" [value]="Doc">
                                  {{Doc.HospitalName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex=30% style="margin-right: 5px;">
                              <mat-label>Patient Type</mat-label>
                              <mat-select formControlName="PatientTypeID"
                                (selectionChange)="onChangePatient($event.value)" required>
                                <mat-option *ngFor="let Doc of PatientTypeList" [value]="Doc">
                                  {{Doc.PatientType}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex=30% style="margin-right: 5px;">
                              <mat-label>Tariff Name</mat-label>
                              <mat-select formControlName="TariffId" required>
                                <mat-option *ngFor="let Doc of TariffList" [value]="Doc">
                                  {{Doc.TariffName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                          </div>


                          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
                            *ngIf="isCompanySelected" style="padding-bottom: 10px;">

                            <mat-form-field appearance="outline" fxFlex style="margin-right: 5px;">
                              <mat-label>Company Name </mat-label>
                              <mat-select formControlName="CompanyId" placeholder="Bank" #singleSelect>
                                <mat-option>
                                  <ngx-mat-select-search [formControl]="companyFilterCtrl" [placeholderLabel]="'Search'"
                                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let element of filteredCompany | async" [value]="element">
                                  {{element.CompanyName}}
                                </mat-option>
                              </mat-select>

                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex style="margin-right: 5px;">
                              <mat-label>Sub Company Name</mat-label>
                              <mat-select name="SubCompanyId" formControlName="SubCompanyId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let group of SubTPACompList" [value]="group">
                                  {{group.CompanyName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" style="padding-bottom: 10px;">


                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Department</mat-label>
                              <input matAutocompletePosition="below" type="text" placeholder="Select Department"
                                matInput formControlName="Departmentid" [matAutocomplete]="autoDep" required>
                              <span matSuffix style="display: flex;">
                                <mat-icon class="mat-icon-close"
                                  (click)="VisitFormGroup.get('Departmentid').setValue(''); isDepartmentSelected = false;">close</mat-icon>
                                <mat-icon class="mat-icon-close"
                                  (click)="VisitFormGroup.get('Departmentid').setValue(''); isDepartmentSelected = false;">search</mat-icon>
                              </span>

                              <mat-autocomplete #autoDep="matAutocomplete" [displayWith]="getOptionTextDep">
                                <mat-option *ngFor="let option of filteredOptionsDep | async" [value]="option"
                                  (onSelectionChange)="OnChangeDoctorList(option)">
                                  {{option.departmentName}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>


                            <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Doctor Name</mat-label>
                              <input matAutocompletePosition="below" type="text" placeholder="Pick one" matInput
                                formControlName="DoctorID" [matAutocomplete]="autoDoctor" required>
                              <span matSuffix style="display: flex;">
                                <mat-icon class="mat-icon-close"
                                  (click)="VisitFormGroup.get('DoctorID').setValue(''); isDoctorSelected = false;">close</mat-icon>
                                <mat-icon class="mat-icon-close"
                                  (click)="VisitFormGroup.get('DoctorID').setValue(''); isDoctorSelected = false;">search</mat-icon>
                              </span>

                              <mat-autocomplete #autoDoctor="matAutocomplete" [displayWith]="getOptionTextDoc">
                                <mat-option *ngFor="let option of filteredOptionsDoc | async" [value]="option"
                                  (onSelectionChange)="isDoctorSelected = true;">
                                  {{option.Doctorname }} <b>|</b> {{option.DepartmentName }} <b>|</b> {{option.DoctorId
                                  }}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>


                            <mat-form-field appearance="outline" fxFlex style="margin-right: 5px;">
                              <mat-label>Ref Doctor Name</mat-label>
                              <mat-select formControlName="RefDocId" placeholder="Bank" #singleSelect
                                (selectionChange)="onDoctorOneChange($event.value)">
                                <mat-option>
                                  <ngx-mat-select-search [formControl]="doctoroneFilterCtrl"
                                    [placeholderLabel]="'Search'"
                                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                </mat-option>

                                <mat-option *ngFor="let element of filteredDoctorone | async" [value]="element">
                                  {{element.DoctorName}}
                                </mat-option>
                              </mat-select>
                              <!-- <mat-icon matSuffix (click)="DocSelectdelete()">cancel</mat-icon> -->
                              <!-- <button mat-button><mat-icon matSuffix (click)="DocSelectdelete()">cancel</mat-icon></button> -->
                            </mat-form-field>


                            <mat-form-field appearance="outline" fxFlex style="margin-right: 5px;">
                              <mat-label>Purpose</mat-label>
                              <mat-select formControlName="PurposeId" placeholder="Bank" #singleSelect>
                                <mat-option>
                                  <ngx-mat-select-search [formControl]="purposeFilterCtrl" [placeholderLabel]="'Search'"
                                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let element of filteredPurpose | async" [value]="element">
                                  {{element.PurposeName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                            <!-- <label for="name">Name: </label>
                          <input id="name" type="text" [formControl]="name"> -->

                            <br>
                          </div>

                        </div>


                        <div style="float: right;">

                          <button class="next-btn" color="accent" (click)="nextClicked(VisitFormGroup)"
                            [disabled]="personalFormGroup.invalid || VisitFormGroup.invalid"
                            style="border-radius: 16px;">
                            <span style="display: flex;justify-content: center;">
                              <!-- <mat-spinner *ngIf="isLoading=='submit'" [color]="white" [diameter]="20"></mat-spinner> -->
                              <span style="margin-left: 6px;">Save</span>
                            </span>
                          </button>



                          <button class="footer-btn" (click)="onClose()">Cancel</button>
                          &nbsp;
                        </div>

                      </form>

                    </div>
                  </div>

                </div>



              </div>
            </mat-card-content>
            <!-- Final bill calculation -->
          </mat-tab>



          <mat-tab>
            <ng-template mat-tab-label style="color: black; font-size: 17px bold; height: 100px; ">
              Document Upload
            </ng-template>
            <mat-card-content style="width: 100%;margin-right: 5px;">
              <div fxLayout="column">
                
                  <form [formGroup]="personalFormGroup">
                    <div fxLayout="row" style="width: 100%;">
                    <!-- <div fxLayout="row" style="width: 100%;"> -->

                      <mat-form-field appearance="outline" style="width:60%;margin-left:15px;margin-right: 20px;">
                        <!-- <lable>Enter RegNo for Search<lable> -->
                        <input type="text" name="RegId" formControlName="RegId" placeholder="RegNo / Name" matInput
                          [matAutocomplete]="auto" (input)="getSearchList()">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText"
                          (optionSelected)='getSelectedObj($event.option.value)'>
                          <mat-option *ngFor="let option of filteredOptions" [value]="option">
                            {{option.FirstName}} {{option.LastName}} ({{option.RegId}})
                          </mat-option>
                        </mat-autocomplete>
                        <mat-hint>
                          <span *ngIf="!noOptionFound">Select one of the name from auto suggestions.</span>
                          <span *ngIf="noOptionFound" style="color: #f44336;">No data Found</span>
                        </mat-hint>
                        <mat-error *ngIf="personalFormGroup.get('RegId').hasError('required')">
                          Required field cannot be left blank
                        </mat-error>
                      </mat-form-field>
                    <!-- </div> -->
                  </div>
                  </form>

                  <div fxLayout="row" style="width: 100%;padding-top: 10px;">
                   <span style="margin-left: 20px;"> RegId : {{RegId}}</span> 
                   <span style="margin-left: 20px;">  Patient Name : {{PatientName}}</span> 
                    
                  </div>
               

                <div fxLayout="row" style="width: 100%;">


                  <div fxFlex="100" fxFlex.gt-sm="52" class="content py-16 pl-10 p-12" fxLayout="row"
                    fxLayout.gt-xs="column" fusePerfectScrollbar
                    style=" width:100%; float: right;  border-radius:4px; background-color: white;
                        border:rgba(0,0,0,0.12) 1px solid; float: right;  padding: 1em; height: 915px !important; margin-top: 10px;">
                    <div>
                      <form [formGroup]="imageForm">
                        <div class="upload-container">
                          <label class="file-lable" (click)="showOptions = true;">Upload Image</label>
                          <button style="margin-left: 450px;background-color: rgb(14, 64, 105);" class="submit-btn1"
                          (click)="onSubmitImgFiles()">Submit</button>
                          <div class="upload-option-div" *ngIf="showOptions">
                            <div class="img-container">
                              <input formControlName="imageFile" type="file" #attachments accept="image/*" multiple
                                name="file" id="file" class="inputfile" (change)="onImageFileChange($event)" style="margin-right: 10px;"/>
                              <label class="file-lable1" for="file"><mat-icon style="width: 10%;">open_in_browser</mat-icon></label>

                              <input formControlName="imageFile" type="file" #attachments accept="image/*" multiple
                              name="file" id="file" class="inputfile" (change)="onImageFileChange($event)" style="margin-right: 10px;"/>
                            <label class="file-lable1" for="file"><mat-icon style="width: 10%;">open_in_browser</mat-icon></label>


                            <input formControlName="imageFile" type="file" #attachments accept="image/*" multiple
                            name="file" id="file" class="inputfile" (change)="onImageFileChange($event)" />
                          <label class="file-lable1" for="file"><mat-icon style="width: 10%;">open_in_browser</mat-icon></label>

                            </div>
                            <div class="img-container">
                              <input formControlName="imageFile" type="file" #attachments accept="image/*" multiple
                                name="file" id="file" class="inputfile" (change)="onImageFileChange($event)" />
                              <label class="file-lable1" for="file"><mat-icon>open_in_browser</mat-icon></label>
                            </div>
                            <div class="img-container">
                              <input formControlName="imageFile" type="file" #attachments accept="image/*" multiple
                                name="file" id="file" class="inputfile" (change)="onImageFileChange($event)" />
                              <label class="file-lable1" for="file"><mat-icon>open_in_browser</mat-icon></label>
                            </div>
                            <!-- <div class="img-container">
                              <input formControlName="imageFile" type="file" #attachments accept="image/*" multiple
                                name="file" id="file" class="inputfile" (change)="onImageFileChange($event)" />
                              <label class="file-lable1" for="file"><mat-icon>open_in_browser</mat-icon></label>
                            </div> -->
                            <div>
                              <mat-icon (click)="openCamera('camera')">camera_enhance</mat-icon>
                            </div>
                          </div>
                          <div *ngFor='let url of images' class="img-div">
                            <img [src]="url" height="100" width="100px" class="view-image"
                              (click)="onViewImage(url, 'img')">
                            <br />
                            <mat-icon aria-hidden="false" style="color: red;margin-right: 20px;"
                              (click)="removeImage(url)">delete</mat-icon>

                          </div>
                         
                        </div>
                        <div>
                       
                      </div>
                      </form>
                    </div>

                  </div>

                  <div fxFlex="100" fxFlex.gt-sm="45" class="content py-16 pl-10 p-12" fxLayout="row"
                    fxLayout.gt-xs="column" fusePerfectScrollbar
                    style=" width:100%; float: right;  border-radius:4px; background-color: white;
                        border:rgba(0,0,0,0.12) 1px solid; float: right;  padding: 1em; height: 915px !important; margin-top: 10px;">

                    <div>
                      <form [formGroup]="docsForm">
                        <div class="upload-container">
                          <div class="img-container">
                            <input formControlName="docFile" type="file" accept="application/pdf" multiple
                              name="docFile" id="docFile" class="inputfile" (change)="onDocFileChange($event)" />
                            <label class="file-lable" for="docFile" style="height:40px;width: fit-content;">Upload Pdf</label>
                            <button style="margin-left:450px;background-color: rgb(14, 64, 105);" class="submit-btn1"
                            (click)="onSubmitDocFiles()">Submit</button>
                            <br />
                            <!-- <div style="margin-top: 10px;">  <label style="margin-left: 40px;">Selected Files  :</label></div> -->
                          
                         
                          </div>
                          
                        </div>
                        <div *ngFor='let element of docsArray' class="img-div">
                          <img src="assets/images/doc.jpg" height="70" width="200px" class="view-image"
                            (click)="onViewImage(element, 'pdf')">{{}} <br />
                          <mat-icon aria-hidden="false" style="color: red;"
                            (click)="removeDoc(element)">delete</mat-icon>

                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</div>

//