.Tab1 {
    .mat-column-RegNo {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
    }

    .mat-column-PatientName {
        width: 350px;
        max-width: 350px;
        min-width: 350px;
        align-items: left;
    }

    .mat-column-WardName {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        align-items: left;
    }

    .mat-column-Vst_Adm_Date {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        align-items: left;
    }
    .mat-column-action{
        width:100px;
        max-width:100px;
        min-width:100px;
        align-items: left;
    }

    height: 320px;
    max-height: 320px;
    min-height: 320px;

}

.Tab2 {
    .mat-column-ServiceName {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        align-items: left;
    }

    .mat-column-ReqDate {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        align-items: left;
    }

    .mat-column-ReqTime {
        width: 130px;
        max-width: 130px;
        min-width: 130px;
        align-items: left;
    }
    .mat-column-AddedByName {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        align-items: left;
    }
    .mat-column-AddBilingUser {
        width: 150px;
        max-width: 200px;
        min-width: 150px;
        align-items: left;
    }
    .mat-column-BillDateTime {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        align-items: left;
    }
    .mat-column-IsStatus {
        width: 150px;
        max-width: 200px;
        min-width: 150px;
        align-items: left;
    }
    
    height: 320px;
    max-height: 320px;
    min-height: 320px;


}
