.mat-header-row {
    width: 100%;
    min-width: 1900px;  
    min-height: 30px; 
      
}

.mat-row {
    width: 100%;
    min-width: 1900px;      
    min-height: 30px;  
   
}

.Tab1 {

    .mat-column-RequestId {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        align-items: left;
    }
    .mat-column-RegNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        align-items: left;
    }

    .mat-column-PatientName {
        width: 310px;
        max-width: 310px;
        min-width: 310px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
       
      
    }
    .mat-column-Age {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        align-items: left;
    }

    .mat-column-WardName {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        align-items: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
    }
    .mat-column-RequestType {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
    }

    .mat-column-Vst_Adm_Date {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
    }
    .mat-column-TariffName {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
    }
    .mat-column-ReqTime {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
        align-items: left;
    }
    .mat-column-AddedBy {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
    }
    .mat-column-CompanyName {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: left;
         justify-content: left;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         overflow: hidden !important;
       
    }
    .mat-column-action{
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        align-items: left;
    }

    height: 320px;
    max-height: 320px;
    min-height: 320px;


}

.Tab2 {
    .mat-column-ServiceName {
        width: 300px;
        max-width: 300px;
        min-width: 300px;
        text-align: left;
         justify-content: left;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         overflow: hidden !important;
                
    }

    .mat-column-ReqDate {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
       
    }

    .mat-column-ReqTime {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        align-items: left;
        
    }
    .mat-column-AddedByName {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
        align-items: left;
        
    }
    .mat-column-BillingUser {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        align-items: left;
         
    }
    .mat-column-AddedByDate {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        align-items: left;
       
    }
    .mat-column-IsStatus {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        align-items: left;
        
    }
    .mat-column-PBillNo{
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        align-items: left;
        
    }
    .mat-column-IsComplted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        align-items: left;
        
    }
    
    height: 320px;
    max-height: 320px;
    min-height: 320px;
    


}
 
.new-request-dialog mat-dialog-container{
    background-color: #f0f0f0 !important;
}