.mat-accent m-0 {
    padding: 15px !important;
    padding: 10 10px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 40px;
}

.mat-toolbar-multiple-rows {
    min-height: 40px;
}

.mat-dialog-content {
    display: block;
    margin: 0 -10px;
    padding: 0 5px;
    max-height: 80%;
    overflow: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.mat-dialog-content {
    display: block;
    margin: 0px 0px;
    max-height: 95vh;
    overflow: auto;
    padding: 0;
}


.main-content {
    display: flex;
    height: 500%;
}

.footer-navigation-container {
    text-align: right;
    display: flex;
    justify-content: space-between;
    float: right;
    margin-top: 20px;
    padding: 100 100 100 100px;
}

.mat-radio-button {
    margin-left: 45px;
    font-size: 20px;
    font-weight: 700px;
    padding: 6px;
}
.page-layout simple right-sidebar {
    height: 800px !important;
    border-radius: 16px;
    border: 1px solid #039be5;
}
.p {
    line-height: 1.8;
    text-indent: 50px;
    font-size: 25px;
    font-weight: 200px;
    padding-left: 20px;
}

.Emoji{
    font-size: 25px;
    float: right;
}