<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <mat-toolbar class="accent" style="height:50px; justify-content: space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{_radiologytemplateService.myform.controls.TemplateId.value?"Modify Radiology Template Master":"New
                Radiology Template Master"}}
            </span>
            <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog"
            style="margin-left: 960px;">
                <mat-icon>close</mat-icon>
              </button>

        </div>
    </mat-toolbar>

    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content-card">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <div fxlayout="row" style=" background-color: white;
                             padding: 5px 10px 5px 10px;">
                            <form [formGroup]="_radiologytemplateService.myform">
                                <div class="dialog-content-wrapper">
                                    <div fxFlexFill fxLayout="row" fxLayout.gt-xs="column">

                                        <input type="hidden" name="TemplateId" formControlName="TemplateId" [(ngModel)]="vTemplateId">
                                       
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Template Name</mat-label>
                                            <input matInput placeholder="Template Name"
                                                [(ngModel)]="vTemplateName" name="TemplateName"
                                                formControlName="TemplateName" required>
                                            <mat-error>Please enter TestName </mat-error>
                                        </mat-form-field>

                                        <div>
                                            <mat-label>Template Details</mat-label>
                                            <angular-editor (blur)="onBlur($event)" [config]="editorConfig" style="height:200px;" [(ngModel)]="vTemplateDesc" required
                                            formControlName="TemplateDesc"></angular-editor>
                                              
                                        </div>
                                    </div>
                                </div>
                                <div fxLayoutAlign="end ">

                                    <mat-radio-button value='true' class="p-12" name="IsDeleted" [checked]="true"
                                        formControlName="IsDeleted">IsActive</mat-radio-button>

                                </div>
                                <div mat-dialog-actions class="m-0 p-16" fxLayout="row"
                                    fxLayoutAlign="end center">
                                    <div class="button-row">
                                        <button mat-raised-button color="accent" type="submit"
                                            (click)="onSubmit()"
                                            style="border-radius: 16px;width: 80px; height:40px;"
                                            [disabled]="_radiologytemplateService.myform.invalid">Save</button>
                                        <button mat-raised-button color="warn" (click)="onClear()"
                                            style="border-radius: 16px;width: 80px; height:40px;">Clear</button>
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    