.Table1 {

  .mat-column-action{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
  }
  .mat-column-Date{
    width: 90px;
    max-width: 90px;
    min-width: 90px;
  }
  .mat-column-SalesNo{
    width: 120px;
    max-width: 120px;
    min-width: 120px;
  }
  .mat-column-RegNo{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
  }
  .mat-column-PatientName{
    width: 290px;
    max-width: 290px;
    min-width: 290px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left;
  }
  .mat-column-NetAmt{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
  }
  .mat-column-BalAmt{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
  }
  .mat-column-PaidAmt{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
  }
  .mat-column-PaidType{
    
    width: 120px;
    max-width: 120px;
    min-width: 120px;
  }
  .mat-column-IPNo{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
  }
  
  height: 300px;
  max-height: 300px;
  min-height: 300px;
}

.Table2 {

  .mat-column-ItemName{
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left;
  }
  .mat-column-BatchNo{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
  }

  height: 300px;
  max-height: 300px;
  min-height: 300px;
}
.mat-icon-buttons {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 20px;
  flex-shrink: 0;
  line-height: 20px;
  border-radius: 50%;
}