
<div class=" simple page-layout inner-scroll inner-sidebar left-sidebar">

    <mat-toolbar class="accent" style="width: 100%;justify-content: space-between;height: 50px;">
      <div fxLayout="row" fxLayoutAlign="start center">
          
          <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
              New OT Booking Request
          </span>
      </div>
      <!-- <app-common-date [screenFrom]="screenFromString" (dateTimeEventEmitter)="getDateTime($event)">
      </app-common-date> -->
      <div class="close-icon">
          <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </div>
  </mat-toolbar>

  <div class="content">

    <div class="center p-12 pb-56" fxFlexAlign="start center">

      <div class="content-card" style="border-radius:4px;">

        <div class="nav material2">

          <div fxLayout="column" fxLayoutAlign="start none">

            <form [formGroup]="_OtManagementService.otreservationFormGroup" fxLayout="column" style="padding: 0 20px;">
                <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px"
                    class="top-header accent heading-container h-40 border-radius-4">
                    <span style="font-size:15px; font-weight: bolder; color:white;padding:7px;">
                        Personal Details
                    </span>
                </div>
                <mat-card>           
                  <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="12px grid" style="padding: 10px 0;">
                  <!-- search box -->
                    <form [formGroup]="searchFormGroup" class="gap-8">
                      
                      <mat-form-field appearance="outline"  fxFlex="100%"
                          disabled="isRegSearchDisabled">
                          <input type="text" name="RegID" formControlName="RegID"
                              placeholder="RegNo / First Name / Last Name / Mobile No" matInput
                              [matAutocomplete]="auto1" (input)="getSearchList()">
                          <span matSuffix style="display: flex;">
                              <mat-icon class="mat-icon-close"
                                  (click)="searchFormGroup.get('RegID').setValue(''); isRegIdSelected = false;">close</mat-icon>
                              <mat-icon class="mat-icon-close"
                                  (click)="searchFormGroup.get('RegID').setValue(''); isRegIdSelected = false;">search</mat-icon>
                          </span>
                          <mat-autocomplete #auto1="matAutocomplete" [displayWith]="getOptionText"
                              (optionSelected)='getSelectedObj($event.option.value)'>
                              <mat-option *ngFor="let option of PatientListfilteredOptions"
                                  [value]="option">
                                  {{option.FirstName}} {{option.MiddleName}} {{option.LastName}} |
                                  {{option.RegNo}} |
                                  {{option.MobileNo}}
                              </mat-option>
                          </mat-autocomplete>
                          
                      </mat-form-field>
                      <mat-radio-button value="1" [checked]="true"> IPD </mat-radio-button>
                          
                    </form>
                  <!--  search end -->
                      <!-- <mat-radio-button value="1" [checked]="true"> IPD </mat-radio-button> -->

                      <mat-form-field appearance="outline" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="33%">
                        <mat-label>Ward Name</mat-label>
                        <input name="WardName" formControlName="WardName"
                            placeholder="Ward Name" matInput type="text"
                            [(ngModel)]="vWardName" #wname
                            (keydown)="onEnterwname($event)"
                            oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '');">
                        <mat-error
                            *ngIf="personalFormGroup.get('WardName').invalid && personalFormGroup.get('WardName').touched">
                            Ward Name is required Enter only
                            Alphabets</mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="33%">
                          <mat-label>Bed No</mat-label>
                          <input name="BedNo" formControlName="BedNo"
                              placeholder="Bed No" matInput type="text"
                              [(ngModel)]="vBedNo" #bedno
                              (keydown)="onEnterbedno($event)"
                              oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1').slice(0,10);">
                          <mat-error
                              *ngIf="personalFormGroup.get('BedNo').invalid && personalFormGroup.get('BedNo').touched">
                              BedNo is required</mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="33%">
                          <mat-label>Patient Name</mat-label>
                          <input name="PatientName" formControlName="PatientName"
                              placeholder="Patient Name" matInput type="text"
                              [(ngModel)]="vPatientName" #pName
                              (keydown)="onEnterPname($event)"
                              oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '');">
                          <mat-error
                              *ngIf="personalFormGroup.get('PatientName').invalid && personalFormGroup.get('PatientName').touched">
                              PatientName is required Enter only Alphabet</mat-error>
                      </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="33.33%" fxFlex.xs="100%">
                      <mat-label>Gender Name</mat-label>
                      <input matAutocompletePosition="below" type="text" placeholder="Select Gender" matInput #GName
                        (keydown)="onEnterGname($event)" formControlName="GenderId" [matAutocomplete]="autoGender">
                      <span matSuffix style="display: flex;">
                        <mat-icon class="mat-icon-close"
                          (click)="_OtManagementService.otreservationFormGroup.get('GenderId').setValue(''); isSurgerySelected = false;">close</mat-icon>
                        <mat-icon class="mat-icon-close"
                          (click)="_OtManagementService.otreservationFormGroup.get('GenderId').setValue(''); isSurgerySelected = false;">search</mat-icon>
                      </span>
                      <mat-autocomplete #autoGender="matAutocomplete" [displayWith]="getOptionTextGender">
                        <mat-option *ngFor="let option of filteredOptionsGender | async" [value]="option">
                          {{option.GenderName}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <mat-label>Age</mat-label>
                      <input name="Age" formControlName="Age"
                          placeholder="Age" matInput type="number"
                          [(ngModel)]="vAge" #age
                          (keydown)="onEnterage($event)"
                          oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1').slice(0,3);">
                      <mat-error
                          *ngIf="personalFormGroup.get('Age').invalid && personalFormGroup.get('Age').touched">
                          Age is required Enter only Digits</mat-error>
                  </mat-form-field>

                  </div>
                </mat-card>
            </form>

          <br>
     
            <form [formGroup]="_OtManagementService.otreservationFormGroup" fxLayout="column" style="padding: 0 20px;">

                <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px"
                    class="top-header accent heading-container h-40 border-radius-4">
                    <span style="font-size:15px;font-weight: bolder; color:white;padding:7px;">
                      Surgery Details
                    </span>
                </div>
            
                <mat-card>
                  <div fxFlex="100" fxLayout="column" fxLayoutGap="12px grid" style="padding: 10px 0;">

                    <div  fxLayout="column" fxLayout.gt-xs="row" class="gap-8">
                    
                      <mat-form-field appearance="outline" fxFlex="100%">
                      <mat-label>Department Name</mat-label>
                      <input matAutocompletePosition="below" type="text" placeholder="Select DepartmentId" matInput
                        (keydown)="onEnterDepartmentId($event)" formControlName="DepartmentId" [matAutocomplete]="autoDepartment" required>
                      <span matSuffix style="display: flex;">
                        <mat-icon class="mat-icon-close"
                          (click)="_OtManagementService.otreservationFormGroup.get('DepartmentId').setValue(''); isSurgerySelected = false;">close</mat-icon>
                        <mat-icon class="mat-icon-close"
                          (click)="_OtManagementService.otreservationFormGroup.get('DepartmentId').setValue(''); isSurgerySelected = false;">search</mat-icon>
                      </span>
                      <mat-autocomplete #autoDepartment="matAutocomplete" [displayWith]="getOptionTextautoDepartment">
                        <mat-option *ngFor="let option of filteredOptionautoDepartment | async" [value]="option">
                          {{option.DepartmentName}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="5%">
                      <input name="" matInput type="number"
                          oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1').slice(0,3);">
                  </mat-form-field>
                  </div>
                    
                  <div  fxLayout="column" fxLayout.gt-xs="row" class="gap-8">
                        <mat-form-field appearance="outline" fxFlex="100%">
                          <mat-label>System</mat-label>
                          <input matAutocompletePosition="below" type="text" placeholder="Select SurgeonId1" matInput #SurgeonId1
                            (keydown)="onEnterSystem($event)" formControlName="SurgeonId1" [matAutocomplete]="autoSurgeonId1" required>
                          <span matSuffix style="display: flex;">
                            <mat-icon class="mat-icon-close"
                              (click)="_OtManagementService.otreservationFormGroup.get('SurgeonId1').setValue(''); isSurgerySelected = false;">close</mat-icon>
                            <mat-icon class="mat-icon-close"
                              (click)="_OtManagementService.otreservationFormGroup.get('SurgeonId1').setValue(''); isSurgerySelected = false;">search</mat-icon>
                          </span>
                          <mat-autocomplete #autoSurgeonId1="matAutocomplete" [displayWith]="getOptionTextSurgeonId1">
                            <mat-option *ngFor="let option of filteredOptionsSurgeon | async" [value]="option">
                              {{option.Doctorname}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="5%">
                          <input name="" matInput type="number"
                              oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1').slice(0,3);">
                      </mat-form-field>

                    </div>

                    <div  fxLayout="column" fxLayout.gt-xs="row" class="gap-8">
                      <mat-form-field appearance="outline" fxFlex="100%">
                        <mat-label>Site</mat-label>
                        <input matAutocompletePosition="below" type="text" placeholder="Select Site" matInput #Site
                          (keydown)="onEnterSite($event)" formControlName="SiteDescId" [matAutocomplete]="autoSite" required>
                        <span matSuffix style="display: flex;">
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SiteDescId').setValue(''); isSurgerySelected = false;">close</mat-icon>
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SiteDescId').setValue(''); isSurgerySelected = false;">search</mat-icon>
                        </span>
                        <mat-autocomplete #autoSite="matAutocomplete" [displayWith]="getOptionTextautoSiteDesc">
                          <mat-option *ngFor="let option of filteredOptionsSite | async" [value]="option">
                            {{option.SiteDescriptionName}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                      <mat-form-field appearance="outline" fxFlex="5%">
                        <input name="" matInput type="number"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1').slice(0,3);">
                      </mat-form-field>
                    </div>

                    <div  fxLayout="column" fxLayout.gt-xs="row" class="gap-8">
                      <mat-form-field appearance="outline" fxFlex="94%">
                        <mat-label>Procedure Name (category)</mat-label>
                        <input matAutocompletePosition="below" type="text" placeholder="Select SurgeryCategoryId" matInput #SurgeryCategory
                          (keydown)="onEnterSurgeryCategory($event)" formControlName="SurgeryCategoryId" [matAutocomplete]="autoSurgeryCategory" required>
                        <span matSuffix style="display: flex;">
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SurgeryCategoryId').setValue(''); isSurgerySelected = false;">close</mat-icon>
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SurgeryCategoryId').setValue(''); isSurgerySelected = false;">search</mat-icon>
                        </span>
                        <mat-autocomplete #autoSurgeryCategory="matAutocomplete" [displayWith]="getOptionTextautoSurgeryCategory">
                          <mat-option *ngFor="let option of filteredOptionsSurgeryCategory | async" [value]="option">
                            {{option.SurgeryCategoryName}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>                      
                    </div>

                    <div  fxLayout="column" fxLayout.gt-xs="row" class="gap-8">
                      <mat-form-field appearance="outline" fxFlex="94%">
                        <mat-label>Surgery Name </mat-label>
                        <input matAutocompletePosition="below" type="text" placeholder="Select Surgeon Name" matInput #SurgeryId
                          (keydown)="onEnterSurgery($event)" formControlName="SurgeryId" [matAutocomplete]="autoSurgeryId" required>
                        <span matSuffix style="display: flex;">
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SurgeryId').setValue(''); isSurgerySelected = false;">close</mat-icon>
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SurgeryId').setValue(''); isSurgerySelected = false;">search</mat-icon>
                        </span>
                        <mat-autocomplete #autoSurgeryId="matAutocomplete" [displayWith]="getOptionTextautoSurgery">
                          <mat-option *ngFor="let option of filteredOptionsSurgery | async" [value]="option">
                            {{option.SurgeryName }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>                    
                    </div>

                    <div  fxLayout="column" fxLayout.gt-xs="row" class="gap-8">
                      <mat-radio-group aria-label="Select an option"
                        formControlName="SurgeryType">Surgery Type
                        <mat-radio-button value="1" [checked]="true"> Normal </mat-radio-button>
                        <mat-radio-button value="0" > Emargency</mat-radio-button>
                    </mat-radio-group>                  
                    </div>

                  </div>
                </mat-card>
            </form>
      
  

            <div class="modal-footer-buttons gap-8 mt-12" fxLayout="row" fxLayoutAlign="end" style="margin-right: 15px;"> 
                <button class="btn btn-danger-outline" (click)="closeDialog()">Close</button>
                <button class="btn btn-primary " (click)="onSubmit()" [disabled]="personalFormGroup.invalid">Save</button>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>