

app-ip-advance{
    .mat-table {
        height:300px !important ;
        width:95%;
    }
    
    .buttons {
        // padding-left: 25px;
        padding-top: 5px;
        text-align: right;
    }
    
    .mat-header-row {
        width: 100%;
        //max-width: 1490px;
        min-width: 1340px;   
        min-height: 55px;
    }
    .mat-row {
        width: 100%;
      //  max-width: 1470px;
        min-width: 1340px;   
        min-height: 25px;
        // text-align:center;
    }
    .mat-column-Date {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align:left;
    }
    .mat-column-AdvanceNo {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        justify-content:center;
    }
    .mat-column-AdvanceAmount {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align: center;
    }
    .mat-column-UsedAmount {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }
    .mat-column-BalanceAmount {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align: center;
    }
    .mat-column-RefundAmount {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
        text-align: center;
    }
    .mat-column-CashPay {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }   
    .mat-column-ChequePay {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
        text-align: center;
    }   
    .mat-column-CardPay {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }   
    .mat-column-NeftPay {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }   
    .mat-column-PayTMPay {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }   
    .mat-column-UserName {
        width: 160px;
        max-width: 160px;
        min-width: 160px;
        text-align: right;
    }    
    
    // .mat-column-action {
    //     // color: white !important;
    //     width:70px;
    //     max-width: 70px;
    //     min-width: 70px;
    //     text-align: right;
    //     justify-content:right;
    // }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }

  
    .close-button {
        width: 100px;
        font-size: 14px;
        padding: 10px;
        border-radius:16px;
        background-color: #f3f2eb;
        color: white;
        border: 1px solid #7c7b71;
        cursor: pointer;
    }
    .close-button:hover{
        background-color: rgb(247, 97, 97);
    }
    .bill-amts {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // button.save-button:disabled {
    //     color: #FFFFFF !important;
    //     background-color: #CCCCCC !important;
    //     border-radius: 2px;
    //     border: 1px solid #CCCCCC;
    //     cursor: auto;
    // }

    
     
}