

app-ip-advance{
    .mat-table {
        height:375px !important ;
        width:95%;
    }
    
    .buttons {
        // padding-left: 25px;
        padding-top: 5px;
        text-align: right;
    }
    
    .mat-header-row {
        width: 100%;
        //max-width: 1490px;
        min-width: 1340px;   
        min-height: 55px;
    }
    .mat-row {
        width: 100%;
      //  max-width: 1470px;
        min-width: 1340px;   
        min-height: 25px;
        // text-align:center;
    }
    .mat-column-Date {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align:left;
    }
    .mat-column-AdvanceNo {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        justify-content:center;
    }
    .mat-column-AdvanceAmount {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align: center;
    }
    .mat-column-UsedAmount {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }
    .mat-column-BalanceAmount {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align: center;
    }
    .mat-column-RefundAmount {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
        text-align: center;
    }
    .mat-column-CashPay {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }   
    .mat-column-ChequePay {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
        text-align: center;
    }   
    .mat-column-CardPay {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }   
    .mat-column-NeftPay {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }   
    .mat-column-PayTMPay {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }   
    .mat-column-UserName {
        width: 160px;
        max-width: 160px;
        min-width: 160px;
        text-align: right;
    }    
    
    // .mat-column-action {
    //     // color: white !important;
    //     width:70px;
    //     max-width: 70px;
    //     min-width: 70px;
    //     text-align: right;
    //     justify-content:right;
    // }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }

  
    .close-button {
        width: 100px;
        font-size: 14px;
        padding: 10px;
        border-radius:16px;
        background-color: #f3f2eb;
        color: white;
        border: 1px solid #7c7b71;
        cursor: pointer;
    }
    .close-button:hover{
        background-color: rgb(247, 97, 97);
    }
    .bill-amts {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // button.save-button:disabled {
    //     color: #FFFFFF !important;
    //     background-color: #CCCCCC !important;
    //     border-radius: 2px;
    //     border: 1px solid #CCCCCC;
    //     cursor: auto;
    // }

    .dialog-content-wrapper .mat-form-field .mat-form-field-subscript-wrapper {
        position: relative !important;
    }

    .mat-header-container {
        display: flex;
        justify-content: space-between;
    }

    
    .backgroundBlur{
        text-align: center;
        background-color: #818181;
        position: absolute;
        z-index: 1000;
        height: 290px;
        opacity: 0.5;
         width: 100%;  
        
    }
    fieldset {
        border-color: #039be5;// #fff9f9;
    }
    .fieldset-div {
        background-color: #191a1c21;
    }
    legend {
        padding: 10px;
        font-size: 20px;
    }
    
    // .payment-container {
    //     width: 50% !important;
    //     min-width: 50% !important;
    //     max-width: 50% !important;
    // }
    
    .flex-item, .patient-sub {
        flex-basis: 100%;
    }
    .flex-item-middle{
        width: 5px;
        margin-right: 8px;
    }
    .item-header {
        width: 200px;
    }
    .field-row {
        align-items: center;
    }
    .add-icon {
        width: 30px;
        height: 30px;
        border: 4px solid #3f94a6;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }
    .enable-1-add {
        cursor: pointer;
        pointer-events: visible;
    }
    .disable-1-add {
        pointer-events: none;
        // cursor: ar;
    }
    .remove-icon {
        width: 30px;
        height: 30px;
        font-size: 40px;
        border: 4px solid #a64f3f;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    
    .footer-div {
        float: right;
        margin-top: 20px;
    }
    
    .next-btn {
        width: 80px;
        font-size: 16px;
        font-weight: 700px;
        padding: 10px;
        margin-right: 5px;
        color: #039be5 ;
        border-radius: 16px;
         border: 1px solid #039be5 ;
          background-color: white;
       // background-color: hsl(204, 92%, 38%);
        //border:2px solid #0430c2;
       
        cursor: pointer;
        border-radius: 16%;
    }
    .next-btn:hover{
        background-color: #039be5 ;
       // border: 1px solid rgb(247, 97, 97);
        color:  white;
       
    }
    
    button:disabled {
        color: white;
       background-color: #7bd3ff  !important;
       //background-color: #b7e6fd ;
        border-radius: 2px;
       // border: 1px solid #CCCCCC;
       border: 1px solid  #b7e6fd ;
    }
    
    .footer-btn {
        width: 80px;
        font-size: 16px;
        font-weight: 700px;
        padding: 10px;
        color:  rgb(247, 97, 97);
        border-radius: 16px;
        background-color:white;
        border-color: rgb(247, 97, 97);
        cursor: pointer;
    }
    .footer-btn:hover{
        background-color: rgb(247, 97, 97);
        color: white;
       
    }
    
    .patient-details mat-error {
        margin-top: 10px;
        font-size: 14px;
    }
    
    .patient-bill-info {
        display: flex;
    }
    .labels-h3 {
        font-size: 18px;
        font-weight: bold;
    }
    .labels-h6 {
        font-size: 18px;
    }
    .form-field-labels {
        font-size: 16px;
    }
     
}