@import "src/@fuse/scss/fuse";
app-appointment{
:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    width: 100%;
    
    .mat-form-field {
        margin-right: 12px;
      } 

    .sidebar-content {
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: white;    
            
        @include media-breakpoint(gt-sm) {
            //prasad
            // padding: 24px 4px 24px 24px;
            padding: 12px 0 12px 12px;
        }

        .card {
            display: flex;
            width: 100%;
            flex-direction: column;
            flex: 0 1 auto;
            padding: 0;
            border-radius: 8px;

            @include media-breakpoint(gt-sm) {
                @include mat-elevation(1);
            }

            > .header {
                flex: 0 1 auto;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }

            > .content {
                flex: 0 1 auto;
            }

            .example-chip-list {
                width: 100%;
                font-size: small;
                display:inline
               }

            // .mat-form-field-wrapper {
            //     padding-bottom: 0.34375em;
            // }
        }
    }

}


.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}

:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    
    .mat-table {
      
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
           
            .mat-cell {
                

               min-width:0px;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                overflow: hidden !important;
                display: inline-block;
               
                
                &.mat-column-detail-button {
                    flex: 0 1 auto;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
.active-icon {
    border-radius: 50%;
}

}

app-appointment{
// .table1{
//         height:600px !important;
// }
.mat-header-row {
    width: 100%;
    //max-width: 1600px;
    min-width: 1500px;  
    min-height: 30px; 
      
}

.mat-row {
    width: 100%;
    //max-width: 1600px;
    min-width: 1500px;      
    min-height: 30px;  
   
}


.mat-column-PatientOldNew {
    width:70px;
    max-width: 70px;
    min-width: 70px;
    text-align: center;
}
.mat-column-MPbillNo {
    width:50px;
    max-width: 50px;
    min-width: 50px;
    text-align: center;
}

.mat-column-RegNoWithPrefix {
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align: center;
}

.mat-column-Bill {
    width:50px;
    max-width: 50px;
    min-width:50px;
    text-align: center;
}

.mat-column-PatientName {
   
    width: 300px;
    max-width:300px;
    min-width:300px;
    text-align: left;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
}

.mat-column-DVisitDate {
    width:90px;
    max-width:90px;
    min-width:90px;
   text-align: right;
   justify-content:left; 
}
.mat-column-VisitTime {
    width:80px;
    max-width:80px;
    min-width:80px;
   text-align: right;
   justify-content:left; 
}

.mat-column-OPDNo {
    width:100px;
    max-width:100px;
    min-width:100px;
   text-align: right;
   justify-content:left; 
}

.mat-column-Doctorname {
    width: 250px;
    max-width:250px;
    min-width:250px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    // display: inline-block;
    // margin-top: 7px;
    
    justify-content:left; 
}

.mat-column-RefDocName {
    width: 200px;
    max-width:200px;
    min-width:200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    // display: inline-block;
    // margin-top: 7px;
    
    justify-content:left; 
}

.mat-column-PatientType {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: left;
    justify-content:left;
}


.mat-icon-button {
    padding: 2px 2px 2px 2px;
    min-width: 0;
    width: 30px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    align-items: left;
}

.clearbutton{
    padding-right: 5px;
    padding-left: 5px;
    float:right;
    color: blue;
    width: 27%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 5px;  
    font-size:17px;  
    border:1px solid #808080; 
    height: 40px;

}


.cleariconbutton{
    font-size: 40px; 
    text-align: center;
    margin-bottom: 35px;
    margin-right: 13px;
   
    color:blue;
}

.searchButton{
    padding-right: 5px;
    padding-left: 5px; 
    float:right; 
     color: blue;
    width: 27%; 
    margin-top: 20px; 
    margin-bottom: 20px;
     margin: 5px;   
     font-size:17px;  
      border:1px solid #808080;  
       height: 40px; 
}

.searchiconbutton{
    font-size: 40px; 
    text-align: center;
    margin-bottom: 35px;
    margin-right: 10px;
    color:blue;
   
}
.red-color {
    color:red;
}

.green-color {
    color:green;
}
   

}
.mat-menu-item {
    line-height: 20px;
    height: 20px;
    padding: 0px 5px;
    text-align: center;
    justify-content:center;
}

.table-actions{
    color: white !important;
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
    justify-content:left; 
    // background:#039be5 !important; 
}

.mat-header-cell{
  // background-color:#039be5 !important ;
    width: 100%;
    height: 100%;
   
 
} 



@media screen and (max-width: 50%) {
    .mat-table {
     border: 0;
       vertical-align: middle;
      
     }
  
  }

.active-icon {
    border-radius: 50%;
}



.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}

.logo {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.navbar{
    justify-content: space-between;
}
.icon{
    padding-right: 1rem;
}

.left-icon{
    color:white;
}

.heading{
   font-family: Roboto, "Helvetica Neue", sans-serif !important;;
    font-weight: normal;
    font-size: 14px;
}

h1, .h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}



//Document upload
.upload-container {
    background-color: white;
    padding:5px;
    // height: 200px;
}
.img-div {
    position: relative;
    margin-top:5px;
}
.img-div img {
    display: block;
}
.img-div mat-icon {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.img-container {
    display: flex;
    flex-direction: row;
    // width: 100px;
    // height: 100px;
    // align-items: center;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.file-lable {
    cursor: pointer;
    background-color: #6e91f0;
    padding: 10px;
    color: white;
    // border-radius: 5px;
    height: 38px;
}

.submit-btn1 {
    width: 80px;
    height: 40px;
    background-color: #444848;
    color: white;
    cursor: pointer;
}

.upload-option-div {
    margin-top:4px;
    display: flex;
    justify-content: space-between;
    width:150px;
}

.table2{
    height:380px !important;


    .mat-header-row {
        width: 100%;
        max-width: 1100px;
        min-width: 1100px;   
        font-weight: bold;   
        min-height: 25px;        
    }
    
    .mat-row {
        width: 100%;
        max-width: 1100px;
        min-width: 1100px;   
        min-height: 25px;                 
    }    
    
    
    .mat-column-DocumentName {
        width: 300px;
        max-width: 300px;
        min-width: 300px;
        text-align: left;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
       justify-content:left; 
    }
    .mat-column-DocumentPath {
        width: 400px;
        max-width: 400px;
        min-width: 400px;
        text-align: left;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
       justify-content:left; 
    }

    .mat-column-buttons{
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        text-align: left;
        justify-content:left;
    }

}
// Image
/* Container Flex */
.gallery {
    display: grid;
    flex-wrap: wrap;
    /* Flex-wrap: quebrar a linha quando um item não puder mais compactar o seu conteúdo */
    padding: 20px 20px 0 20px;
    max-width: 499px;
  }
  
  /* Flex Item */
  .gallery__item {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
  }
  
  .gallery__item > img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: .25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .75);
  }
  
  .gallery__item > img:hover {
    cursor: pointer;
  }
  
  /* Responsive */
  @media only screen and (min-width: 500px) {
    .gallery {
      max-width: 100%;
      padding: 20px 20px 0 0;
      /* Agora sem padding-left */
    }
  
    .gallery__item {
      width: calc((100% / 3) - 20px);
      /* Agora que o container .gallery não possui
      mais padding-left, e os item ímpares serão os
      que ficaram na lateral esquerda, retiro 20px
      de cada item, e adiciono como margin-left
      nos ímpares abaixo */
    }
  
    .gallery__item:nth-child(odd) {
      margin-left: 20px;
      /* Cada item ímpar, terá uma
      margem esquerda de 20px */
    }
  }
  
  @media only screen and (min-width: 720px) {
    .gallery {
      max-width: 100%;
      padding: 20px 20px 0 0;
      /* Agora sem padding-left */
    }
  
    .gallery__item {
      width: calc((100% / 3) - 20px);
      /* Agora que o container .gallery não possui
      mais padding-left, e os item ímpares serão os
      que ficaram na lateral esquerda, retiro 20px
      de cada item, e adiciono como margin-left
      nos ímpares abaixo */
    }
  
    .gallery__item:nth-child(odd) {
      margin-left: 20px;
      /* Cada item ímpar, terá uma
      margem esquerda de 20px */
    }
  }
  
  @media (max-width: 500px) and (min-width: 0px) {
    .gallery {
      display: block;
      flex-wrap: wrap;
    }
  
  
    .gallery__item {
      width: 100%;
      margin-bottom: 20px;
      display: block!important;
    }
  }

  .file-lable1 {
    margin-right: 10px;
  }

.file-name {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}
 
.self-row {
    background-color: lightgreen !important;
}
//   https://stackoverflow.com/questions/68504360/show-images-as-grid-ngfor-in-angular

body.theme-default .accent{
    background-color: #0479b4 !important;
    // color: black !important;
}