<div class="modal-wrapper grid-container">
    <!-- Modal header -->
    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Material Consumption</span>
            </div>
            <div class="modal-header-right">
                <div class="comman-date-container">
                    <div class="comman-date">
                        <app-common-date [screenFrom]="screenFromString" (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                    </div>
                    <div class="close-icon">
                        <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal body -->
    <div class="modal-body" fusePerfectScrollbar>
    <div class="modal-body-container">
            <form [formGroup]="registeredForm">
                <div fxLayout="column" class="gap-12">
                    <div class="modal-card-container">
                        <mat-card>
                            <div fxLayout="row" fxLayout.sm="column" class="gap-16" fxLayoutAlign="space-between">
                                <div class="input-container" fxLayout="row" fxFlex="100%" fxFlex.gt-sm="70%" class="gap-8" fxLayoutAlign="start center">
                                    <mat-form-field appearance="outline" fxFlex="20%">
                                        <input type="text" name="SrvcName" formControlName="SrvcName" placeholder="Service Name" matInput [matAutocomplete]="auto" (input)="getServiceListCombobox()" required #itemid (keydown)="onEnterItem($event)">

                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText" showPanel="true" (optionsScroll)="onScroll()" (optionSelected)='getSelectedObj($event.option.value)'>
                                            <mat-option *ngFor="let option of filteredOptions" [value]="option">
                                                {{option.ServiceName}} {{option.Price}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-hint>
                                            <!-- <span *ngIf="!noOptionFound">Select Service Name</span> -->
                                            <span *ngIf="noOptionFound" style="color: #f44336;"> No data Found</span>
                                        </mat-hint>
                                        <mat-error *ngIf="registeredForm.get('SrvcName').hasError('required')">
                                            Required field cannot be left blank
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Qty</mat-label>
                                        <input matInput name="Qty" (keyup)="calculateTotalAmt()" formControlName="Qty" required (keydown)="onEnterqty($event)" #qty>
                                        <mat-error *ngIf="registeredForm.get('Qty').invalid && registeredForm.get('Qty').touched">
                                            Qty is required</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="60%">
                                        <mat-label>Remark</mat-label>
                                        <input matInput name="Remark" formControlName="Remark" (keydown)="onEnterremark($event)" #remark>
                                    </mat-form-field>

                                    <div class="input-add-button">
                                        <button class="btn btn-primary" (click)="onSaveEntry()" [disabled]="!add" addbutton> Add </button>
                                        <!-- [disabled]="_salesService.IndentSearchGroup.invalid" -->
                                    </div>
                                </div>
                                <div class="input-container" fxLayout="row" fxFlex="100%" fxFlex.gt-sm="30%" class="gap-8" fxLayoutAlign="start center">
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Department</mat-label>
                                        <mat-select formControlName="Departmentid" placeholder="Bank" #singleSelect required>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="departmentFilterCtrl" [placeholderLabel]="'Search'" [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let element of filteredDepartment | async" [value]="element">
                                                {{element.departmentName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                    <div class="modal-card-container table-container">
                        <div class="table-row gap-12" fxLayout="column" fxLayout.gt-md="row">
                            <!-- Table 1 -->
                            <div class="table-left" fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="70%">
                                <mat-card fxFlexFill>
                                    <div class="table-wrapper">
                                        <mat-table #table matSort [dataSource]="dataSource" [@animateStagger]="{value:'50'}" class="h-280">

                                            <ng-container matColumnDef="SrvcName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header  class="w-150">ItemName</mat-header-cell>
                                                <mat-cell *matCellDef="let contact" class="w-150" [matTooltip]="contact.SrvcName">
                                                    <span> {{contact.SrvcName}}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="BatchNo">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                    Batch No
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    <span> {{contact.BatchNo}}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="ExpDate">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                    Exp.Date
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    <span> {{contact.ExpDate }}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- <ng-container matColumnDef="Qty">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Qty
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                <span> {{contact.Qty }}</span>
                                            </mat-cell>
                                        </ng-container> -->

                                            <ng-container matColumnDef="BalanceQty">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                    Bal. Qty
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    <span> {{contact.BalanceQty }}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="Used">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Used
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    <span> {{contact.Used }}</span>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="Rate">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                    Rate
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    <span> {{contact.Rate | currency:'INR' }}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="TotalAmount">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                    TotalAmount
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    <span> {{contact.TotalAmount}}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="Remark">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                    Remark
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    <span> {{contact.Remark}}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="loading">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    loading data...
                                                </mat-footer-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="noData">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    <!-- <mat-spinner class="spinner" [diameter]="35" [color]="blue"></mat-spinner> -->
                                                    <span>No Data Found</span>
                                                </mat-footer-cell>
                                            </ng-container>

                                            <mat-header-row class="accent min-width-1000" *matHeaderRowDef="displayedColumns; sticky: true">
                                            </mat-header-row>
                                            <mat-row *matRowDef="let contact; columns: displayedColumns;" class=" min-width-1000" [ngClass]="{'row-yellow': contact.ServiceName == 'CBC'}" [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}">
                                            </mat-footer-row>
                                            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                            </mat-footer-row>

                                        </mat-table>
                                        <div class="net-amt-section">
                                            <div class="net-amt">
                                                <div class="net-amt-box">
                                                    <span class="net-amt-label">Net Amount : </span>
                                                    <span class="net-amt-value">{{getNetAmtSum(dataSource.data)}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <!-- Table 2 -->
                            <div class="table-right" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%">
                                <mat-card fxFlexFill>
                                    <div class="table-wrapper">
                                        <mat-table #table matSort [dataSource]="dataSource1" class="h-280" [@animateStagger]="{value:'50'}">
                                            <ng-container matColumnDef="PatientName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-right:1px;">PatientName</mat-header-cell>
                                                <mat-cell *matCellDef="let contact">
                                                    {{contact.PatientName}}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="IPDNo">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                    IPDNO
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    {{contact.IPDNo}}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="loading">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    loading data...
                                                </mat-footer-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="noData">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    <!-- <mat-spinner class="spinner" [diameter]="35" [color]="blue"></mat-spinner> -->
                                                    <span>No Data Found</span>
                                                </mat-footer-cell>
                                            </ng-container>

                                            <mat-header-row class="accent" *matHeaderRowDef="tableColumns; sticky: true">
                                            </mat-header-row>
                                            <mat-row *matRowDef="let contact; columns: tableColumns;" [ngClass]="{'row-yellow': contact.ServiceName == 'CBC'}" [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource1!=null}">
                                            </mat-footer-row>
                                            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource1!=null && dataSource1.data.length==0)}">
                                            </mat-footer-row>
                                        </mat-table>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <div class="footer-navigation-container">
            <div class="modal-footer-buttons">
                <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
                <button class="btn btn-primary" (click)="OnSave()">Save</button>
            </div>
            <!-- [disabled]="registeredForm.invalid" -->
        </div>
    </div>
</div>