<div class="dialog-content-wrapper modal-wrapper grid-container">

    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">New Template </span>
            </div>
            <div class="modal-header-right">
                <div class="close-icon">
                    <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body" fusePerfectScrollbar>
        <div class="modal-body-container">

            <div fxLayout="column" class="gap-12">
                <form [formGroup]="Templateform">
                    <div fxLayout="row wrap" fxLayoutGap="12px grid">
                        <div fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutGap="8px" fxLayoutAlign="center">

                            <airmid-textbox 
                            label="TemplateName" fxFlex
                            formControlName="docsTempName" 
                            [value]="data?.docsTempName"
                            [formGroup]="Templateform"
                            [validations]="getValidationMessages().docsTempName"
                            [maxLength]="50">
                        </airmid-textbox>                        

                            <form [formGroup]="myform">
                                <div fxFlex="20%" fxLayout="row">
                                    <mat-radio-group name="Category" formControlName="Category" fxLayout="row"
                                        value="NursNote" class="gap-4">
                                        <mat-label><b>Category:</b></mat-label>
                                        <div fxLayout="row">
                                            <mat-radio-button value="NursNote">NursingNote</mat-radio-button>
                                            <mat-radio-button value='DoctorNote'>DoctorNote</mat-radio-button>
                                        </div>
                                    </mat-radio-group>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="33%">
                            <!-- <airmid-editor label="Template Details" formControlName="templateDesc"
                                [(value)]="vTemplateDesc" [formGroup]="myform"></airmid-editor> -->

                                <mat-label>Template Details</mat-label>
                                <angular-editor (blur)="onBlur($event)" [config]="editorConfig"
                                    style="height:400px;" [(ngModel)]="vTemplateDesc" required
                                    formControlName="templateDesc">
                                </angular-editor>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>

    <div class="modal-footer" style="margin-top: 10px;">
            <div class="footer-navigation-container" fxLayout="row" fxLayoutAlign="space-between">
        <form [formGroup]="myform">
                <div>
                    <app-airmid-slider label="IsActive/Deactive" formControlName="isActive" [formGroup]="myform"
                        [(ngModel)]="isActive"></app-airmid-slider>
                </div>
                </form>
        <form [formGroup]="Templateform">
                <div class="modal-footer-buttons">
                    <button class="btn btn-danger-outline" (click)="onClear(false)">Close</button>
                    <button class="btn btn-primary" (click)="onSubmit()">
                        Save
                    </button>
                    <!-- [disabled]="myForm.invalid || dsItemList.data.length == 0" -->
                </div>
        </form>

            </div>
    </div>

</div>