<div class="page-layout simple left-sidebar inner-sidebar inner-scroll" dynamicTableHeight>
    <mat-toolbar class="accent" style="height:50px; justify-content: space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">

            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
                Previous List
            </span>
        </div>

        <div fxLayout="row" fxLayoutALign="end start">
            <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="content">

        <div class="center p-12" fxFlexAlign="start center">

            <div class="content-card" style="border-radius:4px; height: 220px;">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="column" fxLayoutGap="5px" fxLayoutAlign="stretch">
                    <div class="detail-header" style="font-size: 16px; font-weight: bold;">
                        Credit Billing List
                    </div>
                    <div style="flex: 1 1 auto; overflow: auto;">
                        <mat-table #table1 matSort [dataSource]="dsPrevCreditHistory" [@animateStagger]="{value:'50'}"
                            style="width: 100%;">

                            <ng-container matColumnDef="patientType">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-120">
                                    -
                                </mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-120">
                                    <span>{{ contact.PatientType ? 'Company' : 'Self' }}</span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="billDate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                    Date
                                </mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                    <span>{{ contact.BillTime ? (contact.BillTime | date:'dd/MM/yyyy hh:mm a') : '-'
                                        }}</span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="billNo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                    BillNo
                                </mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                    <span> {{contact.PBillNo || '-'}}</span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="netAmt">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>NetAmt
                                </mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                    <span> {{contact.NetPayableAmt || '-'}}</span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="discAmt">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>DiscAmt
                                </mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                    <span> {{contact.ConcessionAmt || '-'}}</span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="paidAmt">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>PaidAmt
                                </mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                    <span> {{contact.PaidAmt || '-'}}</span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="balAmt">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>BalAmt
                                </mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                    <span> {{contact.BalanceAmt || '-'}}</span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="loading">
                                <mat-footer-cell *matFooterCellDef colspan="6">
                                    loading data...
                                </mat-footer-cell>
                            </ng-container>

                            <ng-container matColumnDef="noData">
                                <mat-footer-cell *matFooterCellDef colspan="6">
                                    <span>No Data Found</span>
                                </mat-footer-cell>
                            </ng-container>

                            <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                            </mat-header-row>
                            <mat-row *matRowDef="let contact; columns: displayedColumns;"
                                [@animate]="{value:'*',params:{y:'100%'}}" (click)="getDoctor(contact)"></mat-row>
                            <mat-footer-row *matFooterRowDef="['loading']"
                                [ngClass]="{'hide':dsPrevCreditHistory!=null}">
                            </mat-footer-row>
                            <mat-footer-row *matFooterRowDef="['noData']"
                                [ngClass]="{'hide':!(dsPrevCreditHistory!=null && dsPrevCreditHistory.data.length==0)}">
                            </mat-footer-row>
                        </mat-table>
                    </div>
                </div>
            </div>

            <duv class="simple page-layout inner-scroll inner-sidebar left-sidebar">
                <mat-toolbar class="accent" style="width: 100%;height: 40px;justify-content: space-between;">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                            style="color: white;">
                            Previous History List
                        </span>
                    </div>
                </mat-toolbar>
                <div class="content">
                    <div class="center p-12 pb-56" style="border-radius: 4px;">
                        <div class="content-card">
                            <div fxlayout="row" fxLayout="column" fxFlexFill fxLayoutGap="10px">

                                <div *ngFor="let data of uniqueBillNo">
                                    <mat-card style="padding: 6px;">
                                        <div fxLayout="column" fxLayoutGap="6px">
                                            <div fxFlex.gt-sm="100%" fxlayout="column">
                                                <div class="visit-info-title" fxLayoutAlign="space-between">
                                                    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
                                                        <span>
                                                            <strong>Bill No :</strong> {{ data.billNo }}
                                                        </span><br>

                                                        <span>
                                                            <strong>Date & Time :</strong> {{ data.dateTime | date:'dd-MM-yyyy HH:mm' }}
                                                        </span><br>

                                                        <span>
                                                            <strong>Patient Type :</strong> {{ data.patientType ? 'Company' : 'Self'}}
                                                        </span>
                                                    </div>

                                                    <mat-icon matTooltip="Copy" style="cursor: pointer;"
                                                        (click)="getCopyPreviouseList(data.billNo)">
                                                        file_copy
                                                    </mat-icon>
                                                </div>
                                                <!-- <div class="visit-info-title" fxLayoutAlign="space-between center">
                                                    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">

                                                        <span style="font-weight: 900;">
                                                            Bill No : {{ data.billNo }}
                                                        </span>

                                                        <span fxLayout="row" fxLayoutGap="4px"
                                                            fxLayoutAlign="start center">
                                                            <mat-icon>access_time</mat-icon>
                                                            {{ data.dateTime | date:'dd-MM-yyyy HH:mm' }}
                                                        </span>

                                                        <mat-icon matTooltip="Patient Type" color="primary">
                                                            {{ data.patientType ? 'business' : 'person' }}
                                                        </mat-icon>

                                                    </div>

                                                    <mat-icon matTooltip="Copy" style="cursor: pointer;"
                                                        (click)="getCopyPreviouseList(data.billNo)">
                                                        file_copy
                                                    </mat-icon>
                                                </div> -->

                                                <hr>
                                                <table mat-table [dataSource]="getFirstPatientForDate(data.billNo)"
                                                    [@animateStagger]="{value:'50'}" style="width: 100%;overflow: auto">

                                                    <ng-container matColumnDef="ServiceName">
                                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                                            class="w-550">ServiceName
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-550">
                                                            <span> {{contact.ServiceName || '-'}}</span>
                                                        </mat-cell>
                                                    </ng-container>

                                                    <ng-container matColumnDef="Price">
                                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                                            class="w-150">Price
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                                            <span> {{contact.Price || '-'}}</span>
                                                        </mat-cell>
                                                    </ng-container>

                                                    <ng-container matColumnDef="total">
                                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                                            class="w-150">TotalAmt
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                                            <span> {{contact.ChargesTotalAmount || '-'}}</span>
                                                        </mat-cell>
                                                    </ng-container>

                                                    <ng-container matColumnDef="dicPer">
                                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                                            class="w-150">DicPer
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                                            <span> {{contact.ConcessionPercentage || '-'}}</span>
                                                        </mat-cell>
                                                    </ng-container>

                                                    <ng-container matColumnDef="dicAmt">
                                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                                            class="w-150">DicAmt
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                                            <span> {{contact.ConcessionAmount || '-'}}</span>
                                                        </mat-cell>
                                                    </ng-container>

                                                    <ng-container matColumnDef="netAmt">
                                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                                            class="w-150">NetAmt
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                                            <span> {{contact.NetAmount || '-'}}</span>
                                                        </mat-cell>
                                                    </ng-container>

                                                    <ng-container matColumnDef="loading">
                                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                                            loading data...
                                                        </mat-footer-cell>
                                                    </ng-container>

                                                    <ng-container matColumnDef="noData">
                                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                                            <span>No Data Found</span>
                                                        </mat-footer-cell>
                                                    </ng-container>

                                                    <mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"
                                                        style="height: 32px; min-height: 32px;" class="accent">
                                                    </mat-header-row>

                                                    <mat-row *matRowDef="let row; columns: displayedColumns1;"
                                                        style="height: 28px; min-height: 28px;"
                                                        [@animate]="{value:'*',params:{y:'100%'}}">
                                                    </mat-row>

                                                </table>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </duv>
        </div>
    </div>
</div>