 .Tab1 {
     .mat-column-RegNo {
         width: 150px;
         max-width: 150px;
         min-width: 100px;
         align-items: left;
     }

     .mat-column-Date {
         width: 150px;
         max-width: 150px;
         min-width: 100px;
         align-items: left;
     }

     .mat-column-IPMedID {
         width: 150px;
         max-width: 150px;
         min-width: 100px;
         align-items: left;
     }

     .mat-column-PatientName {
         width: 300px;
         max-width: 400px;
         min-width: 300px;
         align-items: left;
     }

     .mat-column-StoreName {
         width: 300px;
         max-width: 400px;
         min-width: 300px;
         align-items: left;
     }

     .mat-column-Vst_Adm_Date {
         width: 150px;
         max-width: 200px;
         min-width: 150px;
         align-items: left;
     }

     height: 320px;
     max-height: 320px;
     min-height: 320px;

 }

 .Tab2 {
     .mat-column-ItemName {
         width: 500px;
         max-width: 500px;
         min-width: 500px;
         align-items: left;
     }

     .mat-column-BatchNo {
         width: 150px;
         max-width: 200px;
         min-width: 150px;
         align-items: left;
     }

     .mat-column-Qty {
         width: 150px;
         max-width: 200px;
         min-width: 150px;
         align-items: left;
     }
     
     height: 320px;
     max-height: 320px;
     min-height: 320px;


 }