 .Tab1 {

    .mat-column-action {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
    }
     .mat-column-RegNo {
         width: 80px;
         max-width: 80px;
         min-width: 80px;
         align-items: left;
     }

     .mat-column-Date {
         width:100px;
         max-width:100px;
         min-width: 100px;
         align-items: left;
     }

     .mat-column-IPMedID {
         width: 110px;
         max-width: 110px;
         min-width: 110px;
         align-items: left;
     }

     .mat-column-PatientName {
         width: 300px;
         max-width: 300px;
         min-width: 300px;
         align-items: left;
         justify-content: left;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         overflow: hidden !important;
     }

     .mat-column-StoreName {
         width: 300px;
         max-width: 300px;
         min-width: 300px;
         align-items: left;
         justify-content: left;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         overflow: hidden !important;
     }

     .mat-column-Vst_Adm_Date {
         width: 110px;
         max-width: 110px;
         min-width: 110px;
         align-items: left;
     }

     height: 320px;
     max-height: 320px;
     min-height: 320px;

 }

 .Tab2 {
     .mat-column-ItemName {
         width: 700px;
         max-width: 700px;
         min-width: 700px;
         align-items: left;
     }

     .mat-column-BatchNo {
         width: 150px;
         max-width: 200px;
         min-width: 150px;
         align-items: left;
     }

     .mat-column-Qty {
         width: 150px;
         max-width: 200px;
         min-width: 150px;
         align-items: left;
     }
     
     height: 320px;
     max-height: 320px;
     min-height: 320px;


 }