@font-face {
    font-family: "Lato";
    src: url("./inter-regular.ttf");
}
@font-face {
    font-family: "Lato-medium";
    src: url("./inter-medium.ttf");
}
@font-face {
    font-family: "Lato-bold";
    src: url("./inter-bold.ttf");
}
@font-face {
    font-family: "Lato-semibold";
    src: url("./inter-semibold.ttf");
}
@font-face {
    font-family: "Lato-light";
    src: url("./inter-light.ttf");
}

$inter: "Lato", Lato;
$inter-medium: "Lato-medium", Lato;
$inter-bold: "Lato-bold", Lato;
$inter-semibold: "Lato-semibold", Lato;
$inter-light: "Lato-light", Lato;

$roboto: Roboto, "Helvetica Neue", Lato;
$muli: Muli, Helvetica Neue, Arial, Lato;
$calibri: calibri, $roboto;
