.table1{
    height: 380px;
    max-height: 380px;
    min-height: 380px;
    overflow: auto;

    .mat-column-ServiceName{
        width: 350px;
        max-width: 350px;
        min-width: 350px;
        align-items: left; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
        justify-content:left; 

    }
    .mat-column-Price{
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        align-items: left; 
        justify-content:left; 

    }

    .mat-column-buttons {
        // color: white !important;
        width:70px;
        max-width:70px;
        min-width:70px;
       
        text-align: right;
        justify-content:right; 
        
    }

}
.table2{
    .mat-column-ServiceName{
        width: 300px;
        max-width: 300px;
        min-width: 300px;
        align-items: left; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
        justify-content:left; 

    }
    .mat-column-Price{
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        align-items: left; 
        justify-content:left; 

    }
    height: 380px;
    max-height: 380px;
    min-height: 380px;
    overflow:  auto;
     
}

.footer-navigation-container {
    text-align: right;
    display: flex;
    justify-content: space-between;
    float: right;
}
.footer-btn {
    width: 80px;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px;
    color:  rgb(247, 97, 97);
    border-radius: 16px;
    background-color:white;
    border: 1px solid rgb(247, 97, 97);
    cursor: pointer;
}
.footer-btn:hover{
    background-color: rgb(247, 97, 97);
    color: white;
   
}
 

.patient-details mat-error {
    margin-top: 10px;
    font-size: 14px;
}

.patient-bill-info {
    display: flex;
}
.labels-h3 {
    font-size: 15px;
    font-weight: bold;
}
.labels-h6 {
    font-size: 15px;
}
.form-field-labels {
    font-size: 13px;
}

fieldset {
    border-color: #039be5;// #fff9f9;
}
.fieldset-div {
    background-color: #191a1c21;
}
legend {
    padding: 10px;
    font-size: 20px;
}


.flex-item, .patient-sub {
    flex-basis: 100%;
}
.flex-item-middle{
    width: 5px;
    margin-right:5px;
}
.item-header {
    width: 200px;
}
.field-row {
    align-items: center;
}