<div class="modal-wrapper grid-container">
    <!-- Modal Header -->
    <div class="modal-header accent">
        <mat-toolbar class="accent" style="height:50px; justify-content: space-between; width: 100%;">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
                    Request New Test
                </span>
            </div>
            <div class="close-icon">
                <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-toolbar>  
    </div>

    <!-- Modal Body -->
    <div class="modal-body" fusePerfectScrollbar>
        <div fxLayout="column" class="gap-10 p-10">

            <!-- IP Radio & Autocomplete -->
            <mat-card>
                <form [formGroup]="myFormGroup">
                    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                        <mat-radio-group formControlName="radioIp">
                            <mat-radio-button value="1">IP</mat-radio-button>
                        </mat-radio-group>

                        <airmid-autocomplete lbl="RgId" [formGroup]="myFormGroup" formControlName="RegID"
                            placeholderText="IP-RegNo/FirstName/LastName" fxFlex="50%" label="Search Reg No / Patient Name / Mobile No"
                            ApiUrl="Admission/search-patient?Keyword="
                            (selectionChange)="getSelectedObjIP($event)"
                            ValueField="admissionID" TextField="formattedText">
                        </airmid-autocomplete>
                    </div>
                </form>
            </mat-card>

            <!-- Patient Info -->
            <mat-card>
                <div fxLayout="row wrap" fxLayoutGap="32px">
                    <div fxFlex="30%">
                        <div class="patient-col"><b>UHID No:</b> {{vRegNo}}</div>
                        <div class="patient-col"><b>Patient Name:</b> {{vPatientName}}</div>
                        <div class="patient-col"><b>Doctor Name:</b> {{vDoctorName}}</div>
                        <div class="patient-col"><b>Department:</b> {{vDepartment}}</div>
                    </div>
                    <div fxFlex="30%">
                        <div class="patient-col"><b>DOA | Time:</b> {{ vDOA | date:'dd/MM/yyyy' }}</div>
                        <div class="patient-col"><b>IPD No:</b> {{vIPDNo}}</div>
                        <div class="patient-col"><b>Age | Sex:</b> {{vAge}}Y | {{vAgeMonth}}M | {{vAgeDay}}D | {{vGenderName}}</div>
                        <div class="patient-col"><b>Ref-Doctor:</b> {{vRefDocName}}</div>
                    </div>
                    <div fxFlex="30%">
                        <div class="patient-col"><b>Ward | Bed:</b> {{vRoomName}} | {{vBedName}}</div>
                        <div class="patient-col"><b>Patient Type:</b> {{vPatientType}}</div>
                        <div class="patient-col"><b>Tariff Name:</b> {{vTariffName}}</div>
                        <div class="patient-col"><b>Company Name:</b> <span style="color: orange;">{{vCompanyName}}</span></div>
                    </div>
                </div>
            </mat-card>

            <!-- Service Selection -->
            <mat-card>
                <form [formGroup]="myFormGroup">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                            <mat-radio-group formControlName="IsPathRad" (change)="getServiceList()">
                                <mat-radio-button value="1">Pathology</mat-radio-button>
                                <mat-radio-button value="2">Radiology</mat-radio-button>
                                <mat-radio-button value="3">Other Services</mat-radio-button>
                            </mat-radio-group>
                            <mat-checkbox formControlName="isOnFileTest" style="margin-right: 20px;">IsOnFile Test</mat-checkbox>
                        </div>

                        <div fxLayout="row" fxLayoutGap="16px">
                            <mat-form-field appearance="outline" fxFlex="60%">
                                <input matInput type="text" formControlName="ServiceId" placeholder="Service Name" (keyup)="getServiceList()">
                                <span matSuffix style="display: flex;">
                                    <mat-icon (click)="myFormGroup.get('ServiceId').setValue(''); isServiceIdSelected = false;">close</mat-icon>
                                    <mat-icon (click)="getServiceList()">search</mat-icon>
                                </span>
                                <mat-error *ngIf="myFormGroup.get('ServiceId').invalid && myFormGroup.get('ServiceId').touched">
                                    Service Name is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>

                <!-- Service Tables -->
                <div fxLayout="row wrap" fxLayoutGap="16px">
                    <!-- Left Table -->
                    <div fxFlex.gt-sm="40%">
                        <mat-card>
                            <mat-table #table matSort [dataSource]="dsLabRequest2" class="h-280 fix-first-col" [@animateStagger]="{value:'50'}">
                                <ng-container matColumnDef="ServiceName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Service Name</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">{{contact.serviceName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef class="w-80">Action</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" class="w-80">
                                        <button mat-icon-button color="warn" (click)="onSaveEntry(contact)"><mat-icon>add</mat-icon></button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedServiceColumns" class="accent" sticky></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedServiceColumns"></mat-row>
                            </mat-table>
                        </mat-card>
                    </div>

                    <!-- Right Table -->
                    <div fxFlex.gt-sm="58%">
                        <mat-card>
                            <mat-table #table matSort [dataSource]="dstable1" class="h-280" [@animateStagger]="{value:'50'}">
                                <ng-container matColumnDef="ServiceName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Service Name</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">{{contact.ServiceName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Price">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">{{contact.Price | currency:'INR'}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="buttons">
                                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-icon-button (click)="deleteTableRow(row)" color="warn">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedServiceselected" class="accent" sticky></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedServiceselected"></mat-row>
                            </mat-table>
                        </mat-card>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <div class="footer-navigation-container">
            <div class="modal-footer-buttons">
                <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
                <button class="btn btn-primary" (click)="OnSave()">Save</button>
            </div>
        </div>
    </div>
</div>
