.table1{
    height: 435px;
    max-height: 435px;
    min-height: 400px;
    overflow: scroll;

}
.table2{
    .mat-column-ServiceName2{
        width: 350px;
        max-width: 350px;
        min-width: 350px;
        align-items: left; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
        justify-content:left; 

    }
    .mat-column-Price2{
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        align-items: left; 
        justify-content:left; 

    }
    height: 300px;
    max-height: 300px;
    min-height: 300px;
    overflow:  scroll;
     
}