.table1{
    height: 380px;
    max-height: 380px;
    min-height: 380px;
    overflow: auto;

    .mat-column-ServiceName{
        width: 350px;
        max-width: 350px;
        min-width: 350px;
        align-items: left; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
        justify-content:left; 

    }
    .mat-column-Price{
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        align-items: left; 
        justify-content:left; 

    }

    .mat-column-buttons {
        // color: white !important;
        width:70px;
        max-width:70px;
        min-width:70px;
       
        text-align: right;
        justify-content:right; 
        
    }

}
.table2{
    .mat-column-ServiceName{
        width: 300px;
        max-width: 300px;
        min-width: 300px;
        align-items: left; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
        justify-content:left; 

    }
    .mat-column-Price{
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        align-items: left; 
        justify-content:left; 

    }
    height: 380px;
    max-height: 380px;
    min-height: 380px;
    overflow:  auto;
     
}

.footer-navigation-container {
    text-align: right;
    display: flex;
    justify-content: space-between;
    float: right;
}
.footer-btn {
    width: 80px;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px;
    color:  rgb(247, 97, 97);
    border-radius: 16px;
    background-color:white;
    border: 1px solid rgb(247, 97, 97);
    cursor: pointer;
}
.footer-btn:hover{
    background-color: rgb(247, 97, 97);
    color: white;
   
}
 