.painmeasurement {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  } 
  .vertical-line {
    width: 1px;
    height: 20px;
    background-color: black;
    margin: 0;
    position: relative;
  }
  mat-slider {
  height: 20px;
  }
 
  
 

 
  