@import "src/@fuse/scss/fuse";
.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}


app-op-billing {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    
    .mat-table {
        height: 460px !important;
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
           
            .mat-cell {
                min-width: 0;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                overflow: hidden !important;
              //  display: inline-block;
                
                &.mat-column-detail-button {
                    flex: 0 1 auto;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
.active-icon {
    border-radius: 50%;
}


app-op-billing{

    // .tables-contianer {
    //     padding: 0 15px;
    // }
    
   
    
//     .mat-header-row {
//         width: 100%;
//         max-width: 460px;
//         min-width: 460px;  
//         min-height: 25px;     
//     }
//    .mat-row {
//         width: 100%;
//         max-width: 460px;
//         min-width: 460px;         
//     }
//     .mat-column-checkbox {
//         width:60px;
//         max-width: 60px;
//         min-width: 60px;
//     }
 
//     .mat-column-ServiceName {
//         width: 150px;
//         max-width: 150px;
//         min-width: 150px;
//         justify-content:left;
//     }
   
//     .mat-column-Qty {
//         width:40px;
//         max-width:40px;
//         min-width:40px;
//         justify-content:center;
//     }
    
    // .mat-column-ChargeDoctorName {
    //     width: 180px;
    //     max-width: 180px;
    //     min-width: 180px;
    // }
    

//     .mat-column-buttons {
//         width: 60px;
//         max-width: 60px;
//         min-width: 60px;
//     }
    
    
    // .data-table .mat-form-field {
    //     width: 54px !important;
    // }
    
    .mat-data-table.mat-form-field-appearance-legacy .mat-form-field-infix{
        padding: 0.4375em 0px 0.4375em 5px !important;
    }
    
    .matdate-picker .mat-form-field-appearance-fill .mat-form-field-infix {
        padding: 0.25em 0 0px 0 !important;
        position: relative;
        top: -5px;
    }
    
    .matdate-picker .mat-form-field-underline {
        display: none;
    }
    
    .matdate-picker1 .mat-form-field-appearance-fill .mat-form-field-infix {
        padding: 0.25em 0 0px 0 !important;
        position: relative;
        top: -5px;
    }
    
    .matdate-picker1 .mat-form-field-underline {
        display: none;
    }
    
    .matdate-picker1 .mat-form-field-suffix {
        position: relative;
        top: -5px;
    }
    
    .matdate-picker .mat-form-field-suffix {
        padding: 0.25em 0 0px 0 !important;
        position: relative;
        top: -5px;
    }
    
    .matdate-picker .mat-form-field-label-wrapper {
        top: -17px !important;
    }
    
    .matdate-picker1 .mat-form-field-label-wrapper {
        top: -15px !important;
    }
    
    .matdate-picker .mat-input-element, .matdate-picker1 .mat-input-element  {
        position: relative;
        top: -5px;
    }
    
    
    .data-table.mat-form-field-underline:hover {
        display: none;
    }
    
 
    .op-bill {
        position: relative;
        bottom: 3px;
        left: 3px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .content-div {
        display: flex;
        padding: 0 16px;
    }
    
    .example-container {
        width: 100%;
    }
    
    .mat-drawer {
        width: 275px;
    }
    
    // .mat-form-field {
    //     width: 99%;
    // }
    
    .header-row {
        display: flex;
        flex-direction: row;
        padding: 10px 15px;
        align-items: center;
        background-color: #e1e2e2;
        margin-bottom: 20px;
        width: 100%;
    }
    
    
    .header-content {
        display: flex;
        align-items: center;
        // justify-content: space-between;
    }
    
    .register, .register2, .register3, .register4 {
        margin: 0 20px;
    }
    
    .label-value {
        margin-left: 10px;
    }
    
    .bill-info {
        padding: 9px;
       // background-color: #4f505030;
        height: 40px;
        width: fit-content;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    .mat-expansion-panel {
        margin: 0 5px 0px 5px !important;
        background-color: #e1e2e2 !important;
        margin: 0 !important;
    }
    
    .mat-expansion-panel-body {
        // padding: 0 24px 16px;
        padding: 20px 24px !important;
        margin: 0 5px 20px 5px;
        // height: 200px;
    }
    
    // .tables-contianer {
    //     display: flex;
    //     flex-direction: row;
    //     padding: 0 15px;
    //     @media (min-width: 100px) and (max-width: 700px) {
    //         flex-direction: column;
    //     }
    // }
    .header-labels {
        font-size: 16px;
        font-weight: 500;
    }
    .body-content {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        margin: 3px 0;
    }
    
    // .top-heading {
    //     display: flex;
    //     padding: 2px;
    //     align-items: center;
    //     background-color: #3c9ce5;
    //     color: white;
    //     padding: 10px;
    //     display: flex;
    //     justify-content: space-between;
    // }
    
    .ip-billing {
        font-size: 20px;
        font-weight: 400;
        color: #48a348;
    }
    .mat-card {
        padding: 5px 5px !important;
        // width: 50%;
        overflow: auto;
    }

    
// .label{
//     padding: 15px 2px 5px 2px; font-variant-caps: all-petite-caps; font-weight: 600; font-size: 17px;
// }
 

    
    // .body-content .mat-form-field-wrapper, .header-content .mat-form-field-wrapper {
    //     padding-bottom: 0 !important;
    // }
    
    .header-content .mat-form-field-flex {
        height: 28px !important;
    }
    
    .matdate-picker .mat-form-field-flex {
        height: 28px !important;
    }
    
    .reg-field .mat-form-field-flex {
        width: 110px;
        margin-right: 10px;
    }
    
    .admsn-field .mat-form-field-flex {
        width: 110px;
        margin-right: 10px;
    }
    
    .patient-field .mat-form-field-flex {
        width: 230px;
        margin-right: 10px;
    }
    
    .date-field .mat-form-field-infix {
        width: 180px !important;
    }
    
    .filter-date-field .mat-form-field-infix {
        width: 180px !important;
    }
    
    .filter-date-field .mat-form-field-flex {
        height: 42px;
    }
    
    .panel-body {
        margin-top: 20px;
        // padding: 0 15px;
    }
    
    // .panel-body-maxwidth {
    //     // width: 75%;
    // }
    
   .mat-autocomplete-panel-ng-star-inserted-mat-autocomplete-visible{
       width: 70%;
   }
    
    
    .body-heading span {
        font-size: 20px;
        color: #48a348;
        font-weight: 600;
    }
    
    .body-heading {
        margin-bottom: 5px;
    }
    
    .bill-amt {
        width: 50%;
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }
    
    .panel-labels {
        width: 150px;
    }
    
    .amount-section-values .labels-value {
        border: 1px solid gray;
        padding: 4px;
        background-color: white;
        text-align: right;
        width: 110px;
    }
    
    .label-box1 {
        width: 22%;
        height: 27px;
        border: 1px solid gray;
        padding: 4px;
        background-color: white;
        margin-right: 3px;
    }
    
    .label-box2 {
        width: 41%;
        height: 27px;
        border: 1px solid gray;
        padding: 4px;
        background-color: white;
        margin-right: 5px;
    }
    
    .row-container {
        display: flex;
        // align-items: center;
        // justify-content: space-between;
    }
    
    .amount-section {
        width: 25%;
    }
    
    .amount-section-values {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    
    .admini-section {
        width: 40%;
        padding: 0 10px 0 25px;
    }
    
    .concession-section {
        display: flex;
        align-items: center;
    }
    
    .concession-remark {
        width: 37%;
        text-align: right;
        margin-right: 6px;
    }
    
    .concession-value, .remark-value {
        width: 63%;
    }
    
    .phar-ip {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    
    .phar-label, .ip-label {
        width: 30%;
        text-align: right;
        margin-right: 6px;
    }
    
    .phar-ip .labels-value, .ip-label .labels-value {
        width: 90%;
    }
    
    .redio-checkbox {
        display: flex;
    }
    
    // .redio-container {
    //     width: 175px;
    // }
    
    .buttons {
        // padding-left: 25px;
        padding-top: 5px;
        text-align: right;
    }
    
    .interim-button, .save-button, .close-button {
        width: 30%;
        height: 32px;
        cursor: pointer;
        color: white !important;
        font-size: 15px;
        border: 2px;
        border-radius: 3px;
    }
    
    .interim-button, .save-button {
        margin-right: 18px;
    }
    
    .interim-button {
        background-color: #039BE5 !important;
        
    }
    
    .save-button {
        background-color: #48a348 !important;
    }
    
    .close-button {
        background-color: grey !important;
    }
    
    .labels-style {
        font-size: 12px;
        font-weight: 500;
    }
    
    .mat-checkbox-label {
        font-size: 12px;
        // font-weight: bold;
    }
    
    .sidenav-save.mat-raised-button {
        // width: 92%;
        background-color: #48a348 !important;
        color: white !important;
        font-size: 16px;
    }
    
    .mat-drawer-inner-container {
        padding: 10px !important;
    }
    
    ::ng-deep .mat-tab-label-active {
     // background-color: #bec4be!important;
        opacity: 1!important;
        color: white;
    }
    
    .mat-tab-header {
        margin: 5px 15px;
        width: fit-content;
        
        border-radius: 5px;
    }
    .table-actions{
        color:white;
    }
    
    .mat-ink-bar {
        display: none;
    }
    
    // .mat-tab-label-active {
    //     background-color: #9ea59e !important;
    //     border-radius: 5px;
    // }
    
    .mat-tab-label {
        height: 20px !important;
        min-width: 128px !important;
        color: black !important;
        // font-size: 14px;
        font-weight: 600;
    }
    
    .mat-paginator-container {
        justify-content: flex-start !important;
    }
    
    .table-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: royalblue;
        // background-color: white;
    }
    
    .net-amt {
        position: relative;
        right: 140px;
    }
    
    .net-amt-label {
        font-size: 16px;
        font-weight: 700;
    }
    
    .net-amt-value {
        font-size: 16px;
        font-weight: 500;
        color: royalblue;
    }
    
    .Consession-field {
        font-size: 14px;
        font-weight: 400;
        color: royalblue;
    }

    // .row-yellow {
    //     background-color: yellow !important;
    // }
    
    // .register-no {
    //     flex-direction: column;
    //     display: flex;
    //     border: 1px solid #96a19a;
    //     border-radius: 4px;
    //     padding: 5px;
    // }
    
    // .values-label{
    //     font-size: 16px;
    //     text-align: right;
    //     color: #2e772e;
    //     font-weight: 700;
    // }
    
    .mat-radio-outer-circle, .mat-radio-inner-circle, .mat-radio-container {
        height: 15px;
        width: 15px;
    }
    
    .concs-rsn .mat-form-field-underline {
        display: none;
    }

    .disable-amt-div .mat-form-field-infix {
        height: 35px;
        padding: 3px 0 0 0;
    }

    .discount-div .mat-form-field-infix {
        height: 35px;
        padding: 5px 0 0 0;
    }


// new css

.label{
    margin-right: 5px;
    margin-left: 5px;
     font-weight: bold;
     font-size: 18px;
 
  font-weight: 500;
 }

 .data_input1{
     margin-left: 5px;
     margin-right: 25px;
    // font-size: 14px
 
     font-size: 19px;
     font-variant-caps: all-petite-caps; 
     font-weight: 350;
   
 }


.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.mat-header-cell{
    background-color: #039BE5;
    margin-top:10px;
    color: white;
    height: 10px;
}

.mat-card-content {
  color:white;
}
.table-actions{
  background-color:#039BE5 ;
 
}
.tr.mat-header-row{
  background-color: #039BE5;
 
}

mat-cell, mat-header-cell, mat-footer-cell {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: 10px;
    /* min-height: inherit; */
}

.mat-form-field appearance{
padding-bottom: 2px;
}

.mat-header-row {
    width: 100%;
    max-width:1095px;
    min-width:1095px; 
    min-height: 20px;     
}

.mat-row {
    width: 100%;
    max-width:1095px;
    min-width:1095px; 
    min-height: 30px;            
}
// PatientData
.mat-column-checkbox {
    width:80px;
    max-width:80px;
    min-width:80px;
    text-align:left;
    justify-content: left;
}

.mat-column-ChargesDate {
    width:120px;
    max-width:120px;
    min-width:120px;
    text-align: right;
    // justify-content: left;
    
}

.mat-column-ServiceName {
    width:250px;
    max-width:250px;
    min-width:250px;
    // justify-content:left;
    text-align:left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    //display: inline-block;

}
.mat-column-Price {
    width:90px;
    max-width:90px;
    min-width:90px;
    
    // white-space: nowrap; 
    // overflow: hidden;
    // text-overflow: ellipsis; 
    // overflow: hidden !important;
    // justify-content:right;
    text-align:center;
}

.mat-column-Qty {
    width:60px;
    max-width:60px;
    min-width:60px;
    
    // white-space: nowrap; 
    // overflow: hidden;
    // text-overflow: ellipsis; 
    // overflow: hidden !important;
    // justify-content:center;
    text-align:center;
}

.mat-column-TotalAmt {
    width:100px;
    max-width:100px;
    min-width:100px;
    // white-space: nowrap; 
    // overflow: hidden;
    // text-overflow: ellipsis; 
    // overflow: hidden !important;
    // justify-content:right;
    text-align:center;
}

.mat-column-DiscPer {
    width:60px;
    max-width:60px;
    min-width:60px;

    // justify-content:center;
    text-align:center;
}
.mat-column-DiscAmt {
    width:70px;
    max-width:70px;
    min-width:70px;
    // justify-content:right;
    text-align:center;
}
.mat-column-NetAmount {
    width:80px;
    max-width:80px;
    min-width:80px;
    // white-space: nowrap; 
    // overflow: hidden;
    // text-overflow: ellipsis; 
    // overflow: hidden !important;
    // // justify-content:right;
    text-align:center;
}
.mat-column-ChargeDoctorName {
    width:140px;
    max-width:140px;
    min-width:140px;
    // justify-content:center;
    text-align:center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
}

// .mat-column-ClassId {
//     width:100px;
//     max-width:100px;
//     min-width:100px;
//     // justify-content:center;
//     text-align:center;
//     white-space: nowrap; 
//     overflow: hidden;
//     text-overflow: ellipsis; 
//     overflow: hidden !important;
// }
.mat-column-ClassName {
    width:90px;
    max-width:90px;
    min-width:90px;
    // justify-content:left;
    text-align:center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
}

.mat-column-ChargesAddedName {
    width:100px;
    max-width:100px;
    min-width:100px;
    // justify-content:left;
    text-align:center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
}
.mat-column-action {
    // color: white !important;
    width:70px;
    max-width:70px;
    min-width:70px;
   
    text-align: right;
    justify-content:right; 
    
}
.showPanel{
    width:500px;
}
.next-btn {
    width: 80px;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px;
    margin-right: 5px;
    color: #039be5 ;
    border-radius: 16px;
     border: 1px solid #039be5 ;
      background-color: white;
   // background-color: hsl(204, 92%, 38%);
    //border:2px solid #0430c2;
   
    cursor: pointer;
    border-radius: 16%;
}
.next-btn:hover{
    background-color: #039be5 ;
   // border: 1px solid rgb(247, 97, 97);
    color:  white;
   
}

button:disabled {
    color: white;
   background-color: #7bd3ff  !important;
   //background-color: #b7e6fd ;
    border-radius: 2px;
   // border: 1px solid #CCCCCC;
   border: 1px solid  #b7e6fd ;
}

.footer-btn {
    width: 80px;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px;
    color:  rgb(247, 97, 97);
    border-radius: 16px;
    background-color:white;
    border-color: rgb(247, 97, 97);
    cursor: pointer;
}
.footer-btn:hover{
    background-color: rgb(247, 97, 97);
    color: white;
   
}



}









