.header {
    display: flex;
    justify-content: space-between;
    background-color: #3C9CE5;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.case-paper-body {
    padding: 8px 20px;
}

::ng-deep .mat-tab-label-active {
    background-color: #bec4be!important;
    opacity: 1!important;
    color: white;
}

::ng-deep .mat-tab-header {
    // margin: 5px 15px;
    width: fit-content;
    border: 1px solid #aeb0b1 !important;
    border-radius: 5px;
}

::ng-deep .mat-ink-bar {
    display: none;
}

::ng-deep .mat-tab-label-active {
    background-color: #9ea59e !important;
    border-radius: 5px;
}

::ng-deep .mat-tab-label {
    height: 25px !important;
    min-width: 128px !important;
    color: black !important;
    // font-size: 14px;
    font-weight: 600;
}


.clinical-info-1 {
 
     width:100%;
   
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    margin-top: 5px;
}

.history-div-field ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    height: 40px !important;
    padding: 0.5em 0 !important;
}

.visit-btns-div {
    position: absolute;
    bottom: 7px;
    align-items: revert;
    
}

.prescription-header {
    display: flex;
    align-items: center;
    
}

.select-div {
    width: 30%;
}

.select-div ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    height: 40px !important;
    align-items: center !important;
}

.presc-label {
    font-size: 17px;
    color: #bf3131;
    font-weight: 500;
}
.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
   // height: 100vh;
}

.mat-drawer {
    width: 300px;
}
.select-field {
    // width: 100px;
    width: 84%;
    margin-right: 5px;
    position: relative;
    top: 5px;
}


.prescription-body ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    height: 40px !important;
    align-items: center !important;
}

.prescription-body button {
    position: relative;
    top: -3px;
}

.footer-container {
    margin-top: 10px;
}

.mat-column-drugName, .mat-column-doseName, .mat-column-doseOptional, .mat-column-days1, .mat-column-days2, .mat-column-days3, .mat-column-doseOptional3, .mat-column-instruction { 
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
        height: 30px !important;
        padding: 0 !important;
    }
}


.mat-row {
    
    margin: 7px 0 5px 0px;
}

.mat-column-drugName {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
}

.mat-column-action {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

app-case-paper {
    ::ng-deep.mat-select-panel-wrap {
        position: relative !important;
        top: 35px !important;
        left: 30px !important;
    }

    
}

.footer-btn {
    width: 80px;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px;
    color:  rgb(247, 97, 97);
    border-radius: 16px;
    background-color:white;
    border-color: rgb(247, 97, 97);
    cursor: pointer;
}
.footer-btn:hover{
    background-color: rgb(247, 97, 97);
    color: white;
   
}



#table1{

    width: 100%;
  

    .mat-column-VisitId {
        width:30px;
        max-width:70px;
        min-width:70px;
        text-align: left;
       
    }
    .mat-column-VisitDate {
        width:80px;
        max-width:80px;
        min-width:80px;
       
    }
    .mat-column-DocName{
        width:80px;
        max-width:80px;
        min-width:80px;
       
    }
}
    .service-table1{
       
        .mat-column-DrugName {
            width:300px;
            max-width:300px;
            min-width:300px;
            text-align: left;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
            overflow: hidden !important;
            display: inline-block;
            justify-content:left;
            margin-right: 10px; 
            
        }
        .mat-column-DoseName {
            width: 40px;
            max-width:40px;
            min-width:40px;
            justify-content:left;
            text-align: left;
        }
        .mat-column-QtyPerDay {
            width:40px;
            max-width:40px;
            min-width:40px;
            justify-content:center;
        }
        .mat-column-TotalQty {
            width: 40px;
            max-width:40px;
            min-width:40px;
            justify-content:center;
        }

        .mat-header-row {
            width:600px;
            max-width:600px;
            min-width:600px;  
            min-height:30px;     
        }
        .mat-row {
            width:600px;
            max-width:600px;
            min-width:600px;            
        }
    }


