.p-sm-24 {
    padding: 10px !important;
}

app-bed-master {
    .mat-header-row {
        width: 850px;
        max-width: 850px;
        min-width: 850px;
        font-weight: bold;
    }

    .mat-row {
        width: 850px;
        max-width: 850px;
        min-width: 850px;
    }

    .mat-column-BedId {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-BedName {
        width: 130px;
        max-width: 130px;
        min-width: 130px;
    }
    .mat-column-RoomId {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-RoomName {
        width: 130px;
        max-width: 130px;
        min-width: 130px;
    }

    .mat-column-IsAvailable {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-IsActive {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
    }
    .mat-column-Active {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        // color: white !important;
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
