@import "src/@fuse/scss/fuse";
.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}
app-radiology-template-master {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    
    .mat-table {
        height: 550px !important;
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
           
            .mat-cell {
                min-width: 0;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                overflow: hidden !important;
              //  display: inline-block;
                
                &.mat-column-detail-button {
                    flex: 0 1 auto;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
.active-icon {
    border-radius: 50%;
}

.p-sm-24 {
    padding: 10px !important;
}

app-radiology-template-master{

    button:disabled {
        color: #FFFFFF !important;
        background-color: #CCCCCC !important;
        border-radius: 2px;
        border: 1px solid #CCCCCC;
    }
    
    .header-container {
        background-color: #039be5 !important;
        height: 40px;
        padding: 0 5px;
        align-items: center !important;
    }
    .mat-header-row {
        width: 1685px;
        max-width: 1685px;
        min-width: 1685px;  
        min-height:35px;     
    }
    
    .mat-row {
        width: 1685px;
        max-width:1685px;
        min-width:1685px;   
        min-height: 35px;             
    }
    // PatientData'TemplateId',
   
    .mat-column-TemplateId {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align:left;
    }
    
    .mat-column-TemplateName {
        width:210px;
        max-width:210px;
        min-width:210px;
        text-align: left;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }
    
    .mat-column-TemplateDesc {
        width:750px;
        max-width:750px;
        min-width:750px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 30px;
        margin-top: 20px;
    }
    .mat-column-IsDeleted {
        width:140px;
        max-width:140px;
        min-width:140px;
        justify-content:left;
    }
 
    
    .mat-column-action {
        // color: white !important;
        width:140px;
        max-width:140px;
        min-width:140px;
        min-height: 25px;     
        text-align:right;
        // justify-content:left;
    }
        // Sample
    
        .mat-column-VADate {
            width:120px;
            max-width:120px;
            min-width:120px;
            justify-content:left;
        }
      
        .mat-column-PathTestID {
            width: 150px;
            max-width:150px;
            min-width:150px;
            justify-content:left;
        }
    
        .mat-column-ServiceName {
            width: 200px;
            max-width: 290px;
            min-width: 290px;
            justify-content:left;
        }
        
    
        .mat-column-IsSampleCollection {
        width: 200px;
        max-width:200px;
        min-width:320px;
        }
    
        .mat-column-SampleCollectionTime {
                width: 200px;
                max-width: 200px;
                min-width: 200px;
                justify-content:left;
            }
            .mat-column-PathReportID {
                width: 100px;
                max-width:100px;
                min-width:100px;
                justify-content:left;
            }
    
    
    
            .menu-btn .mat-icon-button {
                padding: 0;
                min-width: 0;
                width: 40px;
                height: 20px;
                flex-shrink: 0;
                line-height: 20px;
                border-radius: 50%;
            }
            
            .mat-icon-button {
                padding: 0;
                min-width: 0;
                width: 28px;
                height: 21px;
                flex-shrink: 0;
                line-height: 20px;
                border-radius: 50%;
            }
            
            .mat-column-buttons {
                color: white !important;
                width:70px;
                max-width: 70px;
                min-width: 70px;
                text-align:left;
                justify-content:left;
            }
            
            // .mat-column-action {
            //     // color: white !important;
            //     width:250px;
            //     max-width: 250px;
            //     min-width: 250px;
            //     min-height: 25px;     
            //     text-align:left;
            //     justify-content:left;
            // }
   
}


  
    // .button-row button{
    //     margin: 5px;
    // }
    // .mat-radio-group{
    //     margin: 7px;
    //     margin-bottom: 10px;
    // }
    
  
