@import "src/@fuse/scss/fuse";


app-ip-browse-refundof-bill {

.active-icon {
    border-radius: 50%;
}

.mat-header-row {
    width: 100%;
    max-width: 1490px;
    min-width:1490px;
     min-height: 30px;     
}

.mat-row {
    width: 100%;
    max-width: 1490px;
    min-width: 1490px; 
    min-height: 30px;           
}

.mat-column-RegNo {
    width:70px;
    max-width:70px;
    min-width:70px;
}
.mat-column-RefundId {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
}
.mat-column-RefundDate {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: center;
    justify-content: center;
}
.mat-column-BillId {
    width: 80px;
    max-width:80px;
    min-width: 80px;
    text-align: center;
    justify-content: center;
}
.mat-column-PatientName {
    width: 400px;
    max-width:400px;
    min-width:400px;
    text-align: left;
    justify-content: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    
}

.mat-column-RefundAmount {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    text-align: center;
    justify-content: center;
}

.mat-column-TotalAmt {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
}


.mat-column-PaymentDate {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: center;
    justify-content: center;
}
.mat-column-CashPayAmount {
    width: 90px;
    max-width: 90px;
    min-width:  90px;
    text-align: center;
    justify-content: center;
}
.mat-column-ChequePayAmount {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    text-align: center;
    justify-content: center;
}
.mat-column-CardPayAmount {
    width:  90px;
    max-width: 90px;
    min-width: 90px;
    text-align: center;
    justify-content: center;
    margin-right: 15px;
}
.mat-column-TransactionType {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    text-align: center;
    justify-content: center;
}
.mat-column-Remark {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    text-align: left;
    justify-content: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    // display: inline-block;
    
}


.mat-column-buttons {
    width:170px;
    max-width: 170px;
    min-width: 170px;
    text-align: right;
    justify-content:center;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 50%;
}
}