<div fxlayout="row" fxFlex.gt-sm="100%" fxFlex fxLayoutGap="5px">
    <div class="header-container" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
        fxLayoutAlign="space-between">
        <span style="font-size: 22px; font-weight: 500; color: #fff;">Referance Doctor Update</span>
        <span class="material-icons" style="cursor: pointer; margin-left: 24px; color: #fff;" (click)="onClose()">
            close
        </span>
    </div>

    <div style="padding:5px;">
        <div class="content-card">
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="5px">
                <!-- <form [formGroup]="_AdmissionService.mySaveForm" style="width: 100%;"> -->
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <div fxlayout="row" style="background-color: white; padding: 5px 5px 5px 5px;">
                            <!-- ================================ LABEL HEADER  -->
                            <mat-card fxFlex.gt-sm="100%" fxFlex style="padding: 0 9px; height: fit-content;">
                                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between">
                                    <h3 style="font-weight: bold; font-size: 13px; margin: 0 0 0px;">Patient Information
                                    </h3>
                                </div>
                                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between"
                                    style="align-items: baseline;">

                                    <span class="label">Visit Id :</span>
                                    <!-- <span class="data_input">{{_AdmissionService.mySaveForm.get("AdmissionID").value}}</span> -->
                                    <span class="data_input">{{PatientHeaderObj.VisitId}}</span>

                                    <span class="label"> Patient Name : </span>
                                    <span class="data_input">{{PatientHeaderObj.PatientName}}</span>

                                    <!-- <span class="label">Admission ON : </span>
                                    <span class="data_input">{{AdmissionDate}} -->

                                    <!-- </span> -->

                                    <app-common-date [screenFrom]="screenFromString"
                                        (dateTimeEventEmitter)="getDateTime($event)">
                                    </app-common-date>
                                    <!-- <button class="back-btn" id="auto_trigger" (click)="setDropdownObjs()"
                                        style="border-radius: 16px;display: none;">
                                        Show
                                    </button> -->
                                </div>
                            </mat-card>
                            <!-- ================================ LABEL HEADER  -->
                        </div>

                    </div>
                <!-- </form> -->
            </div>
        </div>

        <mat-card class="example-card" name="m1">
            <div fxFlexFill fxLayout="column">
                <form [formGroup]="searchFormGroup" style="border: blue;" aria-disabled="true">
                    <h3 style="font-weight:bold ;">Referance Doctor Detail</h3>
                    <div>
                        
                            <div>
                                <span class="label" style="font-weight:bold;"> Present Refrance Dr.Name : </span>
                                <span class="data_input" style="font-weight:bold;font-size:x-large;">{{PatientHeaderObj.RefDocName}}</span>
    
                            </div>
                        <br>
                        <div>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Refrance Doctor Name</mat-label>
                                <mat-select formControlName="DoctorId" placeholder="Bank" #singleSelect>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="doctoroneFilterCtrl"
                                            [placeholderLabel]="'Search'" [noEntriesFoundLabel]="'No matching found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let element of filteredDoctorone | async" [value]="element">
                                        {{element.DoctorName}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>

                        <div class="footer-navigation-container" style=" float: right;">

                            <div class="next-div">

                                <button class="next-btn" (click)="onSubmit()" style="border-radius: 16px;"> Edit
                                </button>

                                <button class="footer-btn" (click)="onClose()"
                                    style="border-radius: 16px;">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>