@import "src/@fuse/scss/fuse";


app-registration {
  
  .mat-header-row {
    width: 100%;
    min-width: 1680px;
    min-height: 30px;
  }

  .mat-row {
    width: 100%;
    min-width: 1680px;
    min-height: 40px;
  }

  .mat-column-RegNo {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;

  }

  .mat-column-RegDate {
    width: 140px;
    max-width: 140px;
    min-width: 140px;
    text-align: left;
  }

  .mat-column-PatientName {
    width:400px;
    max-width: 400px;
    min-width: 400px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }

  .mat-column-Address {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    overflow: hidden !important;
      }

  .mat-column-AgeYear {
    width: 100px;
    max-width: 100px;
    min-width:100px;
    text-align: left;
    
  }

  .mat-column-GenderName {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;

  }

  .mat-column-PhoneNo {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    text-align: left;

  }

  .mat-column-MobileNo {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    text-align: left;

  }

  .mat-column-action {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: center;
    justify-content: center;
  }

  .table-actions {
    color: white !important;
    width: 112px;
    max-width: 112px;
    min-width: 112px;
    text-align: center;
    justify-content: center;
    
  }
}
