
    app-ip-refundof-bill {
        height: 100%;
        max-height: 100%;
        .buttons {
            // padding-left: 25px;
            padding-top: 5px;
            text-align: right;
        }
        .table1{
            .mat-header-row {
               width: 80%;
               min-width:400px;  
               min-height: 25px;     
            }
            .mat-row {
                width: 80%;
                min-width: 400px;  
                min-height: 25px;         
            }
            // PatientData
         
            .mat-column-RefundDate {
                width:150px;
                max-width:150px;
                min-width:150px;
                align-items: left;
            }
            
            .mat-column-RefundAmount {
                width:10px;
                max-width:150px;
                min-width:150px;
                align-items: left;
            }
            
            
            
            .mat-column-action {
               
                width:40px;
                max-width:40px;
                min-width:40px;
                min-height: 25px;     
                text-align:right;
                
            }
            }
        .mat-header-row {
            width:900px;
            max-width:900px;
            min-width:900px;   
            min-height: 25px;
        }
        .mat-row {
            width:900px;
            max-width:900px;
            min-width:900px;   
            min-height: 25px;
            // text-align:center;
        }
       
       
         .mat-column-BillNo {
            width: 100px;
            max-width:100px;
            min-width: 100px;
            text-align:left;
        }
        .mat-column-BillDate {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            justify-content:center;
        }
        .mat-column-NetPayableAmt {
            width: 300px;
            max-width: 300px;
            min-width: 300px;
            justify-content:center;
        }
       
        .mat-column-RefundAmount {
            width: 300px;
            max-width: 300px;
            min-width: 300px;
            justify-content:center;
        }
        .mat-column-ChargesId {
            width: 90px;
            max-width: 90px;
            min-width: 90px;
            text-align:left;
        }
        .mat-column-ChargesDate {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            justify-content:center;
        }
        .mat-column-ServiceId {
            width: 120px;
            max-width: 120px;
            min-width: 120px;
            justify-content:center;
        }
       
        .mat-column-ServiceName {
            width: 350px;
            max-width: 350px;
            min-width: 350px;
            // justify-content:center;
        }
        .mat-column-Price {
            width: 50px;
            max-width: 50px;
            min-width: 50px;
            justify-content:center;
        }
        .mat-column-Qty {
            width: 50px;
            max-width: 50px;
            min-width: 50px;
            justify-content:center;
        }
       
        .mat-column-TotalAmt {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            justify-content:center;
        }
    
        .mat-column-NetAmount {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            justify-content:center;
        }
        .mat-column-ChargesDocName {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            justify-content:center;
        }
    
        .mat-column-IsPathology {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            justify-content:center;
        }
        .mat-column-IsRadiology {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            justify-content:center;
        }
        .mat-column-RefundDate {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            justify-content:center;
        }
        .mat-column-RefundAmount {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            justify-content:center;
        }
        .mat-column-action {
            // color: white !important;
            width:60px;
            max-width: 60px;
            min-width: 60px;
            text-align: right;
            justify-content:right;
        }
       
        .services-table{
    
            .mat-header-row {
                width:1400px;
                max-width:1400px;
                min-width:1400px;   
                min-height: 30px;
            }
            .mat-row {
                width:1400px;
                max-width:14000px;
                min-width:1400px;    
                min-height: 25px;
                // text-align:center;
            }
           
           
          
            .mat-column-ChargesDate {
                width: 150px;
                max-width: 150px;
                min-width: 150px;
                justify-content:center;
            }
            .mat-column-TotalAmt {
                width: 120px;
                max-width: 120px;
                min-width: 120px;
                justify-content:center;
            }
           
            .mat-column-RefundAmount {
                width: 150px;
                max-width: 150px;
                min-width: 150px;
                justify-content:center;
            }
            .mat-column-ChargesId {
                width: 130px;
                max-width: 130px;
                min-width: 130px;
                text-align:left;
            }
            .mat-column-ChargesDate {
                width: 150px;
                max-width: 150px;
                min-width: 150px;
                justify-content:center;
            }
            .mat-column-ServiceId {
                width: 100px;
                max-width: 100px;
                min-width: 100px;
                justify-content:center;
            }
           
            .mat-column-ServiceName {
                width: 400px;
                max-width: 400px;
                min-width: 400px;
                justify-content:center;
            }
            .mat-column-Price {
                width: 70px;
                max-width: 70px;
                min-width: 70px;
                justify-content:center;
            }
            .mat-column-Qty {
                width: 70px;
                max-width: 70px;
                min-width: 70px;
                justify-content:center;
            }
           
            .mat-column-TotalAmt {
                width: 150px;
                max-width: 150px;
                min-width: 150px;
                justify-content:center;
            }
        
            .mat-column-NetAmount {
                width: 150px;
                max-width: 150px;
                min-width: 150px;
                justify-content:center;
            }
            .mat-column-ChargesDocName {
                width: 180px;
                max-width: 180px;
                min-width: 180px;
                justify-content:center;
            }
            .mat-column-RefundAmount {
                width: 150px;
                max-width: 150px;
                min-width: 150px;
                justify-content:center;
            }
            .mat-column-action {
                // color: white !important;
                width:60px;
                max-width: 60px;
                min-width: 60px;
                text-align: right;
                justify-content:right;
            }
           
        }
        
    
        
    }
  