.toggle-group-cion {
  width: 100%;
}

.toggle-group-cion .mat-button-toggle-group {
  display: flex;
  width: 100%;
}

.toggle-group-cion .mat-button-toggle {
  flex: 1;
  min-width: 0;
}

.toggle-group-cion .mat-button-toggle-button {
  width: 100%;
}

.toggle-group-cion .mat-button-toggle-label-content {
  padding: 0 8px;
  white-space: nowrap;
}