<div class="modal-wrapper grid-container">

  <!-- Modal header -->
  <div class="modal-header accent">
    <div class="modal-header-content">
      <div class="modal-header-title">
        <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">New Company</span>
      </div>
      <div class="modal-header-right">
        <div class="comman-date-container">
          <!-- <div class="comman-date">
                        <app-common-date [screenFrom]="screenFromString"
                            (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                    </div> -->
          <div class="close-icon">
            <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog"
              matTooltip="Close">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal body -->
  <div class="modal-body" fusePerfectScrollbar>
    <div class="modal-body-container detail-wrapper">
      <form [formGroup]="companyFormDemo">
        <div fxLayout="column" fxLayoutGap="8px">

          <div class="detail-container">

            <input type="hidden" name="CompanyId" formControlName="companyId" [value]="registerObj?.companyId">
            <mat-card-content>
              <div class="detail-header">
                Company Details
              </div>
              <div fxLayout="row wrap" fxLayoutGap="12px 0px grid">

                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <airmid-textbox label="Company / Payer / Sponsor Name" formControlName="companyName"
                    [value]="registerObj?.companyName" [formGroup]="companyFormDemo" fxFlex
                    [validations]="getValidationMessages().companyName" [maxLength]="150">
                  </airmid-textbox>
                </div>

                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <airmid-textbox label="Short Name" formControlName="companyShortName" fxFlex
                    [value]="registerObj?.companyShortName" [formGroup]="companyFormDemo"
                    [validations]="getValidationMessages().shortName" [maxLength]="100">
                  </airmid-textbox>

                </div>

                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <airmid-dropdown label="Company Type" formControlName="compTypeId" [value]="registerObj?.compTypeId"
                    [formGroup]="companyFormDemo" [validations]="getValidationMessages().compTypeId"
                    [mode]="autocompleteModetypeName">
                  </airmid-dropdown>
                </div>

                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <airmid-textbox label="Address" formControlName="address" [value]="registerObj?.address"
                    [formGroup]="companyFormDemo" fxFlex [validations]="getValidationMessages().address"
                    [maxLength]="100">
                  </airmid-textbox>
                </div>
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <airmid-textbox label="PinCode" formControlName="pinNo" [value]="registerObj?.pinNo"
                    (keypress)="keyPressAlphanumeric($event)" [formGroup]="companyFormDemo"
                    [validations]="getValidationMessages().pinNo" fxFlex [maxLength]="6">
                  </airmid-textbox>

                </div>
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <airmid-textbox label="Phone Number" formControlName="phoneNo" fxFlex [value]="registerObj?.phoneNo"
                    [formGroup]="companyFormDemo" (keypress)="keyPressAlphanumeric($event)"
                    [validations]="getValidationMessages().phoneNo" [maxLength]="10">
                  </airmid-textbox>
                </div>
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <airmid-textbox label="Fax No" formControlName="faxNo" fxFlex [value]="registerObj?.faxNo"
                    [formGroup]="companyFormDemo" [maxLength]="10">
                  </airmid-textbox>
                </div>

                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <airmid-textbox label="Website" formControlName="website" fxFlex [formGroup]="companyFormDemo"
                    [value]="registerObj?.website">
                  </airmid-textbox>
                </div>

                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <airmid-dropdown label="City" formControlName="cityId" [formGroup]="companyFormDemo"
                    [validations]="getValidationMessages().city" [value]="registerObj?.cityId"
                    (selectionChange)="onChangecity($event)" ApiUrl="CityMaster/get-cities" ValueField="cityId"
                    TextField="cityName">
                  </airmid-dropdown>

                </div>
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <airmid-dropdown label="State" formControlName="stateId" [value]="registerObj?.stateId"
                    [formGroup]="companyFormDemo" [disabled]="true" [validations]="getValidationMessages().stateId"
                    #ddlState [mode]="autocompleteModestate" (optionSelected)="onChangestate($event)" [readonly]="true">
                  </airmid-dropdown>

                </div>
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <airmid-dropdown label="Country" formControlName="countryId" [value]="registerObj?.countryId"
                    [formGroup]="companyFormDemo" [disabled]="true" #ddlCountry [mode]="autocompleteModecountry"
                    [readonly]="true">
                  </airmid-dropdown>
                </div>



              </div>

            </mat-card-content>


          </div>
          <div class="detail-container">
            <form [formGroup]="companyFormDemo">
              <mat-card>
                <mat-card-content>
                  <div class="detail-header">
                    Contact Details
                  </div>
                  <div fxLayout="row wrap" fxLayoutGap="12px grid">

                    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <airmid-textbox label="Contact Person" formControlName="contactPerson" fxFlex
                        [formGroup]="companyFormDemo" [maxLength]="50" [value]="registerObj?.contactPerson">
                      </airmid-textbox>
                    </div>
                    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <airmid-textbox label="Contact Number" formControlName="contactNumber"
                        (keypress)="keyPressAlphanumeric($event)" [value]="registerObj?.contactNumber"
                        [formGroup]="companyFormDemo" fxFlex [validations]="getValidationMessages().phoneNo"
                        [maxLength]="10">
                      </airmid-textbox>
                    </div>
                    <!-- <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">

                                            <airmid-textbox label="Landline / Other Number" fxFlex
                                                formControlName="contactNumber" [formGroup]="companyFormDemo"
                                                [maxLength]="6">
                                            </airmid-textbox>
                                        </div> -->

                    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">

                      <airmid-textbox label="Email ID" formControlName="emailId" fxFlex [formGroup]="companyFormDemo"
                        [value]="registerObj?.emailId" [validations]="getValidationMessages().phoneNo">
                      </airmid-textbox>

                    </div>

                    <!-- <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                                            <airmid-textbox label="Email ID" formControlName="emailId"
                                                [formGroup]="companyFormDemo"
                                                [validations]="getValidationMessages().phoneNo">
                                            </airmid-textbox>
                                        </div>

                                        <div fxFlex="25%" fxFlex.x="100%" fxFlex.sm="33%">
                                            <airmid-textbox label="Website" formControlName="website"
                                                [formGroup]="companyFormDemo">
                                            </airmid-textbox>
                                        </div> -->

                  </div>

                </mat-card-content>
              </mat-card>
            </form>
          </div>
          <!-- Login Details -->
          <div class="detail-container">
            <form [formGroup]="companyFormDemo">
              <mat-card>
                <mat-card-content>
                  <div class="detail-header">
                    Login Credentials
                  </div>
                  <div fxLayout="row wrap" fxLayoutGap="12px grid">
                    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <airmid-textbox label="Login Website User" [value]="registerObj?.loginWebsiteUser"
                        formControlName="loginWebsiteUser" [formGroup]="companyFormDemo">
                      </airmid-textbox>
                    </div>

                    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <airmid-textbox label="Login Password" [value]="registerObj?.loginWebsitePassword"
                        formControlName="loginWebsitePassword" [formGroup]="companyFormDemo" [maxLength]="10">
                      </airmid-textbox>
                    </div>

                  </div>
                </mat-card-content>
              </mat-card>
            </form>
          </div>

          <!-- Financial Information Details -->
          <div class="detail-container">
            <form [formGroup]="companyFormDemo">
              <mat-card>
                <mat-card-content>
                  <div class="detail-header">
                    Financial Information Details
                  </div>
                  <div fxLayout="row wrap" fxLayoutGap="12px 0px grid">





                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <airmid-textbox label="GSTIN" formControlName="gstin" [value]="registerObj?.gstin"
                        [formGroup]="companyFormDemo" [maxLength]="10">
                      </airmid-textbox>
                    </div>



                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <airmid-textbox label="PAN No" formControlName="panNo" [value]="registerObj?.panNo"
                        [formGroup]="companyFormDemo" [maxLength]="10">
                      </airmid-textbox>
                    </div>
                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <airmid-textbox label="TAN No" formControlName="tanno" [value]="registerObj?.tanno"
                        [formGroup]="companyFormDemo" [maxLength]="13">
                      </airmid-textbox>
                    </div>

                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <airmid-textbox label="Credit Days" formControlName="creditDays" fxFlex
                        [formGroup]="companyFormDemo" [maxLength]="3" [value]="registerObj?.creditDays"
                        (keypress)="keyPressAlphanumeric($event)">
                      </airmid-textbox>
                    </div>
                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <airmid-textbox label="FAdministrative Charges %" fxFlex [value]="registerObj?.adminCharges"  (keypress)="keyPressAlphanumeric($event)"
                        formControlName="adminCharges" [formGroup]="companyFormDemo" [maxLength]="5">
                      </airmid-textbox>
                    </div>


                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <airmid-dropdown label="Payment Mode" formControlName="paymodeOfPayId"
                        [value]="registerObj?.paymodeOfPayId" [formGroup]="companyFormDemo"
                        [mode]="autocompleteModeofpayment">
                      </airmid-dropdown>
                    </div>

                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                      <airmid-dropdown label="Tariff" formControlName="traiffId" [formGroup]="companyFormDemo"
                        [value]="registerObj?.traiffId" [validations]="getValidationMessages().traiffId"
                        [mode]="autocompleteModetariff">
                      </airmid-dropdown>
                    </div>


                  </div>

               
                </mat-card-content>
              </mat-card>
            </form>
          </div>


          <div class="new-appointment-actions gap-8 mt-12" fxLayout="row" fxLayoutAlign="space-between">

            <div fxLayout="row" style="padding-left: 10px;">
              <app-airmid-slider label="Sub Company" formControlName="isSubCompany" [formGroup]="companyFormDemo" [value]="registerObj?.isSubCompany">
              </app-airmid-slider>

            </div>

            <div class="new-appointment-actions gap-4" fxLayoutAlign="end center">
              <!-- <app-airmid-slider label="IsActive/Deactive" formControlName="isActive"
                                [formGroup]="companyFormDemo" [(ngModel)]="isActive"></app-airmid-slider> -->

              <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
              <button class="btn btn-primary " color="accent" (click)="onSubmit()">
                <span>Save</span>
              </button>
            </div>

          </div>

        </div>
      </form>
    </div>
  </div>


</div>