<div fusePerfectScrollbar class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
    dynamicTableHeight>
    <!-- <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center ">
        <div class="top-header-info">
            <div class="top-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Payment Mode Change
                </span>
            </div>
        </div>
    </div> -->

    <mat-toolbar style="height: 50px; justify-content: space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box</mat-icon>
            <span class="=logo-text h2" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
                Payment Mode Change
            </span>
        </div>
    </mat-toolbar>

    <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
        <!-- <div class="info-badge-top pb-2 border-bottom"> 
            <div fxLayout="row" fxLayoutAlign="start center" class="gap-8"> 
                <div fxLayout="row" fxLayoutAlign="start center" class="gap-4">
                    <mat-icon class="pill green-600 s-16">circle</mat-icon>
                    <span>: Sales</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="gap-4">
                    <mat-icon class="pill orange-600 s-16">circle</mat-icon>
                    <span>: IP Pharmacy Advance</span>
                </div>  
            </div>
        </div> 
        <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
            class="backgroundBlur">
            <div class="spinner-border text-danger"></div>
        </div> -->

        <airmid-table [gridConfig]="gridConfig"  class="content">
        <!-- <form [formGroup]="_PaymentmodechangesService.UseFormGroup" fxLayout="row" > -->

            <ng-container filters>

                <mat-form-field appearance="outline" style="margin-left: 2%;">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="startdate" placeholder="Start date">
                        <input matEndDate formControlName="enddate" placeholder="End date" (dateChange)="getsearchList()">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <!-- <airmid-datepicker [formGroup]="_PaymentmodechangesService.UseFormGroup" [isRangePicker]="true"
                                formStartControlName="startdate" formEndControlName="enddate" [(fromValue)]="gridConfig.filters[0].fieldValue"
                                [(toValue)]="gridConfig.filters[0].fieldValue">
                            </airmid-datepicker> -->

                <mat-form-field appearance="outline">
                    <mat-label>RegNo</mat-label>
                    <input name="RegNo" formControlName="RegNo" matInput (keyup)="getsearchList()">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input name="FirstName" formControlName="FirstName" matInput (keyup)="getsearchList()">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input name="LastName" formControlName="LastName" matInput (keyup)="getsearchList()">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Sales No</mat-label>
                    <input name="SalesNo" formControlName="SalesNo" matInput (keyup)="getsearchList()">
                </mat-form-field>

                <form [formGroup]="_PaymentmodechangesService.UseFormGroup" fxLayout="row" > 
                <mat-radio-group formControlName="Radio" name="Radio">
                    <mat-label>Type : </mat-label>

                        <mat-radio-button value="0" (click)="getOPReceiptList()">
                            OP Receipt</mat-radio-button>
                        <mat-radio-button value="1" (click)="getIPReceiptList()">
                            IP Receipt</mat-radio-button>
                        <mat-radio-button value="2" (click)="getIPAdvanceList()">
                            IP Advance</mat-radio-button>
                </mat-radio-group>
                </form>
                
            </ng-container> 
        <!-- </form> -->
        </airmid-table>
    </div>
</div>
