<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <mat-toolbar class="top-header accent">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box</mat-icon>
            <span class="=logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                style="color: white;">Delivery Challan List
            </span>

        </div>
        <div fxLayout="row" fxLayoutGap="5px" style="margin-left:2% !important; ">
            <button mat-raised-button (click)="newDelivery()"
                style="background-color: aliceblue;color: brown;margin-left:2% !important">New Delivery

            </button>
        </div>

    </mat-toolbar>

    <div style="width: 100%;">
        <div style="width: 100%;">
            <mat-tab-group>

                <mat-tab label="Delivery Challan List">
                    <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

                        <div class="content">
                            <!-- SIDEBAR -->
                            <fuse-sidebar name="app-main" position="left" lockedOpen="gt-sm" style="width:30%; border-radius:4px;
                             margin-left:12px; background-color: white;height:100%;">
                                <div>
                                    <!-- SIDEBAR HEADER -->
                                    <div class="accent header p-12" fxLayout="row" fxLayoutAlign="start center"
                                        style="margin-top: 3%">
                                        <span class="h5" style="font-size: 17px;">Search Facility</span>
                                        <!-- / USER -->
                                    </div>
                                    <!-- / SIDEBAR HEADER -->
                                    <!-- SIDEBAR CONTENT -->
                                    <div>
                                        <div class="nav material2">

                                            <form [formGroup]="_DeliveryService.GRNSearchGroup"
                                                style="padding: 6px 6px 5px 5px;">
                                                <div fxLayout="column" fxLayoutAlign="start none">
                                                    <br />

                                                   
                                                    <mat-form-field appearance="outline" style="margin-left: 2%;">
                                                        <mat-label>Enter a date range</mat-label>
                                                        <mat-date-range-input [rangePicker]="picker">
                                                            <input matStartDate formControlName="start" placeholder="Start date">
                                                            <input matEndDate formControlName="end" placeholder="End date"
                                                                (dateChange)="getGRNList()">
                                                        </mat-date-range-input>
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-date-range-picker #picker></mat-date-range-picker>
                                                    </mat-form-field>

                                                    <mat-form-field appearance="outline" fxFlex="25%">
                                                        <mat-label>To Store</mat-label>
                                                        <input matAutocompletePosition="below"  (keyup)="getGRNList()"
                                                            placeholder="Select Payment" matInput
                                                            formControlName="ToStoreId"
                                                            [matAutocomplete]="autoTostore">
                                                        <span matSuffix style="display: flex;">
                                                            <mat-icon class="mat-icon-close"
                                                                (click)="_DeliveryService.GRNSearchGroup.get('ToStoreId').setValue(''); isPaymentSelected = false;">close</mat-icon>
                                                            <mat-icon class="mat-icon-close"
                                                                (click)="_DeliveryService.GRNSearchGroup.get('ToStoreId').setValue(''); isPaymentSelected = false;">search</mat-icon>
                                                        </span>
                                                        <mat-autocomplete #autoTostore="matAutocomplete"
                                                            [displayWith]="getOptionTextPayment">
                                                            <mat-option
                                                                *ngFor="let option of filteredoptionsToStore | async"
                                                                [value]="option">
                                                                {{option.StoreName}}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>          

                                                    <mat-form-field appearance="outline" fxFlex="25%">
                                                        <mat-label>Supplier Name</mat-label>
                                                        <input matAutocompletePosition="below" type="text" (keyup)="getGRNList()"
                                                            placeholder="Select Supplier" matInput
                                                            formControlName="SupplierId"
                                                            [matAutocomplete]="autoSupllier">
                                                        <span matSuffix style="display: flex;">
                                                            <mat-icon class="mat-icon-close"
                                                                (click)="_DeliveryService.GRNSearchGroup.get('SupplierId').setValue(''); isSupplierSelected = false;">close</mat-icon>
                                                            <mat-icon class="mat-icon-close"
                                                                (click)="_DeliveryService.GRNSearchGroup.get('SupplierId').setValue(''); isSupplierSelected = false;">search</mat-icon>
                                                        </span>
                                                        <mat-autocomplete #autoSupllier="matAutocomplete"
                                                            [displayWith]="getOptionTextSupplier">
                                                            <mat-option
                                                                *ngFor="let option of filteredoptionsSupplier | async"
                                                                [value]="option">
                                                                {{option.SupplierName}}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>

                                                    <mat-radio-group name="Status1" formControlName="Status1" fxFlex="30%" value="0" 
                                                    style="padding-top: 12px;">
                                                    <mat-label >Status:</mat-label>&nbsp;
                                                        <mat-radio-button value="1" class="mr-sm-12" (keyup)=" getGRNList()">Verified
                                                          </mat-radio-button>
                                                        <mat-radio-button value="0" class="mr-sm-12" (keyup)=" getGRNList()">Pending
                                                            </mat-radio-button>
                                                    </mat-radio-group>

                                                    <div style="margin-top: 10px;">
                                                        <button mat-raised-button (click)="onClear()"
                                                            class="clearbutton" matTooltip="close">
                                                            <mat-icon class="cleariconbutton">close</mat-icon>
                                                        </button>&nbsp;
                                                        <button mat-raised-button class="searchButton"
                                                            (click)="getGRNList()" matTooltip="search">
                                                            <mat-icon class="searchiconbutton">search</mat-icon>
                                                        </button>
                                                    </div>

                                                </div>

                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            </fuse-sidebar>


                            <div class="center p-12 pb-56" fxFlexAlign="start center">
                                <div class="content-card" style="border-radius:4px; ">
                                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="30px">
                                        <div fxFlex.gt-sm="100%" fxFlex>

                                            <div fxlayout="row">
                                                <div style="width: 100%;">

                                                    <mat-table #table matSort class="table1"
                                                        [dataSource]="dsGRNList" [@animateStagger]="{value:'50'}"
                                                        style="overflow: auto;width:100%;">

                                                        <ng-container matColumnDef="Status">
                                                            <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                                            style="color: white;">Verify</mat-header-cell>
                                                        <mat-cell *matCellDef="let contact">
                                                            <mat-icon
                                                                style="font-size: 70px;width: 25px !important; height:25px !important;border-radius:100% ;"
                                                                *ngIf="contact.IsVerified"  
                                                                matTooltip="Verified" class=" green-600 s-16">circle</mat-icon>
                                                            <mat-icon
                                                                style="font-size: 70px;width: 25px !important; height:25px !important;border-radius:100% ;"
                                                                *ngIf="!contact.IsVerified" matTooltip="Pending"
                                                                class=" red-600 s-16">circle</mat-icon>
                                                        </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="DeliveryNo">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                DeliveryNo</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.GrnNumber}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="DeliveryDate">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                DeliveryDate</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.GRNDate}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="InvoiceNo">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                InvoiceNo</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.InvoiceNo}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="SupplierName">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                SupplierName</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.SupplierName}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="TotalAmount">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                TotalAmt</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.TotalAmount | number:'1.2-2'}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="TotalDiscAmount">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                DiscAmt</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.TotalDiscAmount | number:'1.2-2'}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="TotalVATAmount">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                GSTAmt</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.TotalVATAmount | number:'1.2-2'}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="NetAmount">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                NetAmt</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.NetAmount | number:'1.2-2'}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="RoundingAmt">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                RoundAmt</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.RoundingAmt}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="DebitNote">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                DebitNote</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.DebitNote}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="CreditNote">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                CreditNote</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.CreditNote}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="Cash_CreditType">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                CashCreditType</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.Cash_CreditType}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="ReceivedBy">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                ReceivedBy</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.ReceivedBy}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="IsClosed">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                IsClosed</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.Cash_CreditType}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="Action1" stickyEnd>
                                                            <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                                                style="color: white;">Action
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let row">
                                                                <button mat-icon-button matTooltip="print"
                                                                    (click)="getPrint(row)">
                                                                    <mat-icon>print</mat-icon>
                                                                </button>
                                                                <button mat-icon-button (click)="onEdit(row)" matTooltip="Edit">
                                                                    <mat-icon title="Edit Menu"    *ngIf="row.IsVerified==1"  
                                                                    [disabled]="row.disabled"  class="disabled-icon"> edit</mat-icon>
                                                                    <mat-icon title="Edit Menu"    *ngIf="row.IsVerified==0"  > edit</mat-icon>
                                                                </button>
                                                                <button mat-icon-button (click)="onVerify(row)" matTooltip="Verify">
                                                                    <mat-icon   *ngIf="row.IsVerified==1"   [disabled]="row.disabled"  class="disabled-icon"
                                                                    title="verify Menu">verified_user</mat-icon>
                                                                    <mat-icon title="verify Menu"  *ngIf="row.IsVerified==0"> verified_user</mat-icon>
                                                                </button>
                                                                <button mat-icon-button>
                                                                    <mat-icon  *ngIf="row.IsVerified==0" [disabled]="row.disabled"  class="disabled-icon"
                                                                        title="Email Menu">mail</mat-icon>
                                                                        <mat-icon *ngIf="row.IsVerified==1" title="Email Menu">mail</mat-icon>
                                                                </button>
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="loading">
                                                            <mat-header-cell *matFooterCellDef colspan="6"
                                                                style="display: none;">
                                                            </mat-header-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="noData">
                                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                                no data found...
                                                            </mat-footer-cell>
                                                        </ng-container>

                                                        <mat-header-row class="accent"
                                                            *matHeaderRowDef="displayedColumns; sticky: true">
                                                        </mat-header-row>

                                                        <mat-row
                                                            *matRowDef="let contact; columns: displayedColumns;"
                                                            class="contact"
                                                            [@animate]="{value:'*',params:{y:'100%'}}"
                                                            (click)="getGrnItemDetailList(contact)"></mat-row>
                                                        <mat-footer-row *matFooterRowDef="['loading']"
                                                            [ngClass]="{'hide':!(sIsLoading == 'loading-data')}"></mat-footer-row>
                                                        <mat-footer-row *matFooterRowDef="['noData']"
                                                            [ngClass]="{'hide':!(dsGRNList!=null && dsGRNList.data.length==0)}"></mat-footer-row>
                                                    </mat-table>
                                               
                                                    <mat-paginator [pageSizeOptions]="[12, 24, 35, 100]"
                                                        [pageSize]="12" showFirstLastButtons>
                                                    </mat-paginator>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="content-card" style="border-radius:4px; ">
                                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="30px">
                                        <div fxFlex.gt-sm="100%" fxFlex>
                                            <div fxlayout="row">
                                                <div style="width: 100%;">

                                                      <mat-table #table matSort class="table2"
                                                        [dataSource]="dsGrnItemList"
                                                        [@animateStagger]="{value:'50'}"
                                                        style="overflow: auto;width:100%;">

                                                        <ng-container matColumnDef="ItemName">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxHide fxShow.gt-sm>
                                                                ItemName
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.ItemName}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="BatchNo">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                BatchNo</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.BatchNo}}
                                                            </mat-cell>
                                                        </ng-container>


                                                        <ng-container matColumnDef="BatchExpDate">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                BatchExpDate</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.BatchExpDate | date: 'dd/mm/yyyy'}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="ReceiveQty">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                ReceiveQty</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.ReceiveQty}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="FreeQty">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                FreeQty</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.FreeQty}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="MRP">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                MRP</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.MRP}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="Rate">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                Rate</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.Rate}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="TotalAmount">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                TotalAmt</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.TotalAmount}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="ConversionFactor">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                Packing</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.ConversionFactor}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="VatPercentage">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                Vat%</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.VatPercentage}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="DiscPercentage">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                Disc%</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.DiscPercentage}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="NetAmount">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                NetAmt</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.NetAmount.toFixed(2)}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="TotalQty">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxShow.gt-sm>
                                                                TotalQty</mat-header-cell>
                                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                                {{contact.TotalQty}}
                                                            </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="loading">
                                                            <mat-header-cell *matFooterCellDef colspan="6"
                                                                style="display: none;">
                                                            </mat-header-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="noData">
                                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                                no data found...
                                                            </mat-footer-cell>
                                                        </ng-container>

                                                        <mat-header-row class="accent"
                                                            *matHeaderRowDef="displayedColumns1; sticky: true">
                                                        </mat-header-row>
                                                        <mat-row
                                                            *matRowDef="let contact; columns: displayedColumns1;"
                                                            [@animate]="{value:'*',params:{y:'100%'}}">
                                                        </mat-row>
                                                        <mat-footer-row *matFooterRowDef="['loading']"
                                                            [ngClass]="{'hide':dsGrnItemList!=null}"></mat-footer-row>
                                                        <mat-footer-row *matFooterRowDef="['noData']"
                                                            [ngClass]="{'hide':!(dsGrnItemList!=null && dsGrnItemList.data.length==0)}"></mat-footer-row>
                                                    </mat-table> 
                                                    <mat-paginator [pageSizeOptions]="[12, 24, 35, 100]"
                                                        [pageSize]="12" showFirstLastButtons>
                                                    </mat-paginator>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

             
            </mat-tab-group>
        </div>
    </div>
</div>

<div hidden class="bill-template-wrapper" style="font-size: 30.25%;" #DeliveryListTemplate>

    <div style=" align-items: center; margin-bottom: 10px;text-align: center; ">
        <div style="border: 1px solid black;width: 1000px;height: 50px; background-color: red;border-top-right-radius: 110px;
        margin-top: 0px;border-top-left-radius: 110px;padding: 6px ;">
            <h2
                style="text-transform: uppercase;font-weight: 1000;margin:0;text-align: center;color: white;padding-top: 6px;">
                jnanayogi shri siddeshwar
                super speciality hospital
            </h2>
        </div>
        <div style="display: flex;">
            <div
                style="border: 1px solid transparent;width: 700px;height: 50px; background-color: black;border-bottom-right-radius: 110px;">
                <span
                    style="text-transform: uppercase;font-size: 11px;font-weight: 500;text-align: center;color: white;">(A
                    Unit of Shri
                    Siddeshwar Loka Kalyana Charitable
                    Trust)</span><br>
                <span style="font-size:11px;font-weight: 500;text-align: center;color: white;">Survey No.10/4, Near
                    S-Hyper Mart, Vijayapur
                    586 101 </span><br>
                <span style="font-size: 11px;font-weight: 500;text-align: center;color: white;">Call :-08352-249399 |
                    info@ jsshospitals.com
                    | www.jsshospitals.com
                    | Reg.No :-BIJ00467ALSSh </span>

            </div>
            <span
                style="font-size: 20px; text-transform: uppercase;font-weight: 500;margin-top: 20px;margin-left: 60px;
                color:black">Delivery Challan </span>
        </div>
        <hr>

    </div>
    <table>
        <tr>
            <td> <span style="font-weight: 500;margin-right: 70px;">Delivery No.</span>
                <span style="font-size:11px; ">{{reportPrintObjList[0]?.DeliveryNo}} </span>
            </td>
            <td><span style="font-weight: 500;margin-right:34px;margin-left: 300px;">Delivery Date</span>
                <span style="font-size:11px;"> {{reportPrintObjList[0]?.DeliveryDate | date: 'dd/MM/yyyy'}} </span>
            </td>
        </tr>

        <tr>
            <td><span style="font-weight: 500;margin-right: 25px;">Supplier Name</span>
                <span style="font-size:11px;">{{reportPrintObjList[0]?.SupplierName}}</span>
            </td>
            <td><span style="font-weight: 500;margin-right: 73px;margin-left: 300px;">Fax</span>
                <span style="font-size:11px;"> </span>
            </td>
        </tr>

        <tr>
            <td><span style="font-weight: 500;margin-right: 75px;">Address</span>
                <span style="font-size:11px;"> </span>
            </td>
            <td><span style="font-weight: 500;margin-right: 38px;margin-left: 300px;">Email Id</span>
                <span style="font-size:11px;"> </span>
            </td>
        </tr>

        <tr>
            <td><span style="font-weight: 500;margin-right: 75px;">GST No.</span>
                <span style="font-size:11px;">{{reportPrintObjList[0]?.GSTNo}}</span>'
            </td>
            <td><span style="font-weight: 500;margin-right: 25px;margin-left: 300px;">Phone No</span>
                <span style="font-size:11px;">  </span>
            </td>
        </tr>
    </table>


    <hr>

    <table class="table6"
        style="width: 100%;  text-align: right;border-spacing: 1px;border-collapse: separate;border-color: gray;">
        <tr style="font-size:15px;">

            <td style="border: 1px solid gray;font-weight:bold;text-align:center;vertical-align: middle;padding:5px 5px; 
                 background-color: red; border-top-left-radius: 20px;color: white;">
                Sr.No</td>
            <td style="border: 1px solid gray;font-weight:bold;text-align:center;vertical-align: middle;padding:5px 5px;
                background-color: red;color: white;">

                Item Name</td>
            <td style="border: 1px solid gray;font-weight:bold;text-align:center;vertical-align: middle;padding:10px 5px;
                background-color: red;color: white;">
                Unit</td>
            <td style="border: 1px solid gray;font-weight:bold;text-align:center;vertical-align: middle;padding:10px 5px;
                background-color: red;color: white;">
                Qty</td>
            <td style="border: 1px solid gray;font-weight:bold;text-align:center;vertical-align: middle;padding:10px 5px;
                background-color: red;color: white;">
                Rate</td>
            <td style="border: 1px solid gray;font-weight:bold;text-align:center;vertical-align: middle;padding:10px 5px;
                background-color: red;color: white;">
                Total Amount</td>
            <td style="border: 1px solid gray;font-weight:bold;text-align:center;vertical-align: middle;padding:10px 5px;
                background-color: red;color: white;">
                Disc</td>
            <td style="border: 1px solid gray;font-weight:bold;text-align:center;vertical-align: middle;padding:10px 5px;
                background-color: red;color: white;">
                GST </td>
          
            <td style="border: 1px solid gray;font-weight:bold;text-align:center;vertical-align: middle;padding:10px 5px;
               background-color: red; border-top-right-radius: 20px;color: white;">
                Net Amount</td>
        </tr>
        <tr *ngFor="let item of reportPrintObjList; let indx = index;" style="font-size:11px;">
            <td style="border: 1px solid gray;vertical-align: top;
            padding: 15px;height: 20px;">{{indx + 1}}</td>
            <td style="border: 1px solid gray;vertical-align: top;text-align:left;
            padding: 15px;height: 20px;">{{item?.ItemName}}</td>
            <td style="border: 1px solid gray;vertical-align: top;
            padding: 15px;height: 20px;">{{item?.UnitofMeasurementName}}</td>
            <td style="border: 1px solid gray;vertical-align: top;
            padding: 15px;height: 20px;">{{item?.TotalQty}}</td>
            <td style="border: 1px solid gray;vertical-align: top;
            padding: 15px;height: 20px;">{{item?.Rate.toFixed(2)}}</td>
            <td style="border: 1px solid gray;vertical-align: top;
            padding: 15px;height: 20px;">{{item?.TotalAmount.toFixed(2)}}</td>
            <td style="border: 1px solid gray;vertical-align: top;
            padding: 15px;height: 20px;">{{item?.TotalDiscAmount.toFixed(2)}}</td>
            <td style="border: 1px solid gray;vertical-align: top;
            padding: 15px;height: 20px;">{{item?.TotalVATAmount}}</td>
            
            <td style="border: 1px solid gray;vertical-align: top;
            padding: 15px;height: 20px;">{{item?.NetPayble.toFixed(2)}}</td>

        </tr>
        <tr style="height:20px;">
            
            <td colspan="3" style="border: 1px solid gray;vertical-align: top;
            padding: 15px;background-color: red;color: white;font-weight:bold;">Total</td>
            
            <td style="border: 1px solid gray;vertical-align: top;font-weight:bold;
            padding: 15px;height: 20px;background-color: red;color: white;">{{TotalQty}}</td>
            <td style="border: 1px solid gray;vertical-align: top;font-weight:bold;
            padding: 15px;height: 20px;background-color: red;color: white;">{{TotalRate.toFixed(2)}}</td>
            <td style="border: 1px solid gray;vertical-align: top;font-weight:bold;
            padding: 15px;height: 20px;background-color: red;color: white;">{{TotalAmt.toFixed(2)}}</td>
            <td style="border: 1px solid gray;vertical-align: top;font-weight:bold;
            padding: 15px;height: 20px;background-color: red;color: white;">{{TOtalDiscPer.toFixed(2)}}</td>
            <td style="border: 1px solid gray;vertical-align: top;font-weight:bold;
            padding: 15px;height: 20px;background-color: red;color: white;">{{TotalGSTAmt.toFixed(2)}}</td>
            <td style="border: 1px solid gray;vertical-align: top;font-weight:bold;
            padding: 15px;height: 20px;background-color: red;color: white;">{{TotalNetAmt.toFixed(2)}}</td>

        </tr>
        <tr style="height: 5px;">
            <td colspan="5" rowspan="2" style="border: 1px solid gray;
           padding: 15px;text-align: left;vertical-align: top;">
                <div style="font-weight: 400;margin-right: 20px;">Terms & Conditions </div>
                <ul style="margin: 5px 0 0 0; font-size: 11px; padding-left: 17px; font-weight: 400;">
                    <li>
                        Exchange NOT accepted after 72 hrs. of Purchase, Bill is
                        required for Exchange
                    </li>
                    <li>
                        Insulin’s & Vaccines will not be taken back. Fridge Items
                        will not be taken Back
                    </li>
                    <li>
                        All disputes are subject to Vijayapura jurisdiction only
                    </li>
                    <li>
                        Please check the medicines before leaving the medical
                    </li>
                    <li>
                        Consult your Doctor before consuming the medicines.
                    </li>
                </ul>
            </td>

            <td colspan="2" style="border: 1px solid gray;vertical-align: top;
            padding: 15px;text-align: left;">Sub Total</td>
            <td colspan="2" style="border: 1px solid gray;vertical-align: top;
            padding: 15px;height: 20px;text-align: right;">{{TotalNetAmt.toFixed(2)}}</td>
        </tr>
        <tr> 
            <td colspan="2" style="border: 1px solid gray;vertical-align: top;
             padding: 15px;text-align: left;">Discount</td>
            <td colspan="2" style="border: 1px solid gray;vertical-align: top;
             padding: 15px;height: 20px;text-align: right;">{{TOtalDiscPer.toFixed(2)}}</td>
        </tr>
        <tr>
            <td colspan="5" style="border: 1px solid gray;vertical-align: top;
            padding: 15px;text-align: left;font-weight: 500;">Remark</td>
            <td colspan="2" style="border: 1px solid gray;vertical-align: top;
             padding: 15px;text-align: left;">GST</td>
            <td colspan="2" style="border: 1px solid gray;vertical-align: top;
             padding: 15px;height: 20px;text-align: right;">{{TotalGSTAmt.toFixed(2)}}</td>
        </tr>
       
        <tr>
            <td colspan="5" style="font-weight: 500;border: 1px solid gray;vertical-align: top;
            padding: 15px;text-align: left; border-bottom-left-radius: 20px;">Total Amount in words :-</td>
            <td colspan="2" style="border: 1px solid gray;vertical-align: top;text-align: left;font-weight:bold;
             padding: 15px;background-color: red;color: white; ">Total</td>
            <td colspan="2" style="border: 1px solid gray;vertical-align: top;text-align: right;font-weight:bold;
             padding: 15px;height: 20px;background-color: red;color: white;border-bottom-right-radius: 20px;">
                {{TotalNetAmt.toFixed(2)}}</td>
        </tr>

    </table>
    <hr><br>

    <div style="display: flex;">
        <span style="font-weight: 500;">ADMIN ADMIN</span>
        <span style="margin-left: 650px; font-weight: 500;">Authorized Signature</span>
    </div><br>


    <div style="border: 1px solid black;width: 1000px;height: 30px; background-color: red;border-bottom-right-radius: 110px;
    margin-top: 0px;border-bottom-left-radius: 110px;padding: 6px ;">
        <div style="font-style: italic; opacity:1;text-align: center;font-size: 15px; margin-top: 8px; color: white;">
            This is Computer generated invoice hence doesn’t require signature
        </div>
    </div>






</div> 