<div class="page-layout simple inner-sidebar inner-scroll right-sidebar" style="height: 100%;" fusePerfectScrollbar
    dynamicTableHeight>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

        <!-- 1st -->
        <mat-tab label="IP Pharmacy Settlement">
            <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
                <mat-toolbar style="height: 50px; justify-content:space-between;width: 100%;">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                            style="color: white;">
                            IP Pharmacy Settlement
                        </span>
                    </div>
                </mat-toolbar>

                <div class="modal-body-container">
                    <div fxLayout="column" class="gap-8 h-100-p">
                        <div class="modal-card-container search-container p-12">
                            <div class="patient-search-container input-error-hidden">
                                <mat-card fxFlex.gt-sm="100%" fxFlex>
                                    <mat-card-content>
                                        <form [formGroup]="userFormGroup" class="pt-0">
                                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"
                                                fxLayoutAlign="space-between" class="gap-8">
                                                <div class="radio-group-left gap-8" fxLayout="row"
                                                    fxLayoutAlign="start center" fxFlex>
                                                    <mat-radio-group aria-label="Select an option"
                                                        formControlName="PatientType" [formGroup]="userFormGroup"
                                                        (change)="onChangePatientType($event)"
                                                        (blur)="onChangePatientType($event)" fxLayout="row">
                                                        <mat-radio-button value="0">OP</mat-radio-button>
                                                        <mat-radio-button value="1">IP</mat-radio-button>
                                                        <mat-radio-button value="2">External</mat-radio-button>
                                                    </mat-radio-group>

                                                    <div fxFlex="30%" fxFlex.sm="100%"
                                                        *ngIf="userFormGroup.get('PatientType').value != '1' && userFormGroup.get('PatientType').value != '2'">
                                                        <airmid-autocomplete
                                                            label="Search Reg No / Patient Name / Mobile No"
                                                            [formGroup]="userFormGroup" fxFlex formControlName="RegID"
                                                            placeholderText="Search Reg No / Patient Name / Mobile No"
                                                            ApiUrl="VisitDetail/search-patient?Keyword="
                                                            ValueField="regId" TextField="formattedText"
                                                            (selectionChange)="getSelectedObjOp($event)"></airmid-autocomplete>
                                                    </div>

                                                    <div fxFlex="30%" fxFlex.sm="100%"
                                                        *ngIf="userFormGroup.get('PatientType').value != '0' && userFormGroup.get('PatientType').value != '2'">
                                                        <airmid-autocomplete
                                                            label="IP RegNo / First Name / Last Name / Mobile No"
                                                            [formGroup]="userFormGroup" formControlName="RegID"
                                                            placeholderText="IP RegNo / First Name / Last Name / Mobile No"
                                                            fxFlex ApiUrl="Admission/search-patient?Keyword="
                                                            (selectionChange)="getSelectedObjRegIP($event)"
                                                            ValueField="admissionID"
                                                            TextField="formattedText"></airmid-autocomplete>
                                                    </div>

                                                    <div fxFlex="100%" fxFlex.sm="100%"
                                                        *ngIf="userFormGroup.get('PatientType').value == '2'">
                                                        <airmid-textbox label="MobileNo" [(ngModel)]="MobileNo"
                                                            fxFlex="30%" formControlName="MobileNo"
                                                            [formGroup]="userFormGroup"
                                                            [validations]="getValidationMessages().mobileNo"
                                                            [type]="'text'" maxLength="10"></airmid-textbox>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="userFormGroup.get('PatientType').value != '2' && RegId != ''">
                                                <div class="content-card">
                                                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"
                                                        fxLayoutGap="5px">
                                                        <div fxFlex.gt-sm="100%" fxFlex>
                                                            <div fxlayout="row" style="background-color: white">
                                                                <div class="patient-info-sales my-8">
                                                                    <div class="sales-patient-info-title">
                                                                        <span style="font-weight: 700">Patient
                                                                            Information</span>
                                                                    </div>
                                                                    <div class="sales-patient-info" fxFlexFill
                                                                        fxLayout="row"
                                                                        fxLayoutAlign="space-between center"
                                                                        class="patient-info">
                                                                        <div class="patient-sub">
                                                                            <div class="patient-info-row patient-info-1-111 pt-8"
                                                                                fxLayout="row"
                                                                                fxLayoutAlign="space-between center">
                                                                                <div class="patient-col">
                                                                                    <span
                                                                                        class="patient-col-key">Patient
                                                                                        Name</span>
                                                                                    <span>:</span>
                                                                                    <span class="patient-col-value">{{
                                                                                        RegNo }}-{{
                                                                                        PatientName
                                                                                        }}</span>
                                                                                </div>
                                                                                <div class="patient-col"
                                                                                    *ngIf="IPDNocheck">
                                                                                    <span
                                                                                        class="patient-col-key">IPDNo</span>
                                                                                    <span>:</span>
                                                                                    <span class="patient-col-value">{{
                                                                                        IPDNo }}</span>
                                                                                </div>
                                                                                <div class="patient-col"
                                                                                    *ngIf="OPDNoCheck">
                                                                                    <span
                                                                                        class="patient-col-key">OPDNo</span>
                                                                                    <span>:</span>
                                                                                    <span class="patient-col-value">{{
                                                                                        OPDNo }}</span>
                                                                                </div>
                                                                                <div class="patient-col"
                                                                                    *ngIf="DoctorNamecheck">
                                                                                    <span class="patient-col-key">Doctor
                                                                                        Name</span>
                                                                                    <span>:</span>
                                                                                    <span
                                                                                        class="patient-col-value">Dr.{{
                                                                                        DoctorName }}</span>
                                                                                </div>

                                                                                <div class="patient-col">
                                                                                    <span class="patient-col-key">Ward
                                                                                        |
                                                                                        Bed Name</span>
                                                                                    <span>:</span>
                                                                                    <span class="patient-col-value">{{
                                                                                        WardName }} |
                                                                                        {{BedName}}</span>
                                                                                </div>

                                                                                <div class="patient-col">
                                                                                    <span class="patient-col-key">Tariff
                                                                                        Name</span>
                                                                                    <span>:</span>
                                                                                    <span class="patient-col-value">{{
                                                                                        TariffName }}</span>
                                                                                </div>
                                                                                <!-- <div class="patient-col">
                                                                                                                                                <span class="patient-col-key">Company Name</span>
                                                                                                                                                <span>:</span>
                                                                                                                                                <span class="patient-col-value" style="color: #e26d14">{{ CompanyName }}</span>
                                                                                                                                              </div> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-template #actionsTemplateCompany let-element>
                    <div>
                        <mat-icon *ngIf="element.patientType=='Self'" matTooltip="Patient Category Self">account_box
                        </mat-icon>
                        <mat-icon *ngIf="element.patientType!='Self'" matTooltip="Patient Category Company">business
                        </mat-icon>
                    </div>
                </ng-template>
                <ng-template #actionButtonTemplatePay let-element>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-icon-button (click)="getDiscFinalBill(element)" matTooltip="Final Discount"
                            *ngIf="element.balanceAmount!='0'">
                            <mat-icon title="Settlement">gradient</mat-icon>
                        </button>
                        <button mat-icon-button (click)="openPaymentpopup(element)" matTooltip="Settlement"
                            *ngIf="element.balanceAmount!='0'">
                            <mat-icon title="Settlement">payment</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Print Payment Receipt" *ngIf="element.balanceAmount =='0'"
                            (click)="viewgetOPPayemntPdf(element,false)">
                            <mat-icon> print</mat-icon>
                        </button>
                    </div>
                </ng-template>

                <airmid-table [gridConfig]="gridConfig" #grid :ShowFilter="false">
                </airmid-table>
            </div>
        </mat-tab>

        <!-- 2nd -->
        <mat-tab label="IP Pharmacy Settlement Multiple">
            <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

                <mat-toolbar class="accent" style="height: 50px; justify-content:space-between;width: 100%;">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                            style="color: white;">
                            IP Pharmacy Multiple Settlement
                        </span>
                    </div>
                </mat-toolbar> 

                <div class="modal-body-container">
                    <div fxLayout="column" class="gap-8 h-100-p">
                        <div class="modal-card-container search-container p-12">
                            <div class="patient-search-container input-error-hidden">
                                <mat-card fxFlex.gt-sm="100%" fxFlex>
                                    <mat-card-content>
                                        <form [formGroup]="MutliSettlemForm" class="pt-0">
                                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"
                                                fxLayoutAlign="space-between" class="gap-8">
                                                <div class="radio-group-left gap-8" fxLayout="row"
                                                    fxLayoutAlign="start center" fxFlex>
                                                    <mat-radio-group aria-label="Select an option"
                                                        formControlName="PatientType" [formGroup]="MutliSettlemForm"
                                                        (change)="onChangePatientType($event)"
                                                        (blur)="onChangePatientType($event)" fxLayout="row">
                                                        <mat-radio-button value="0">OP</mat-radio-button>
                                                        <mat-radio-button value="1">IP</mat-radio-button>
                                                        <mat-radio-button value="2">External</mat-radio-button>
                                                    </mat-radio-group>

                                                    <div fxFlex="30%" fxFlex.sm="100%"
                                                        *ngIf="MutliSettlemForm.get('PatientType').value != '1' && MutliSettlemForm.get('PatientType').value != '2'">
                                                        <airmid-autocomplete
                                                            label="Search Reg No / Patient Name / Mobile No"
                                                            [formGroup]="MutliSettlemForm" fxFlex
                                                            formControlName="RegID"
                                                            placeholderText="Search Reg No / Patient Name / Mobile No"
                                                            ApiUrl="VisitDetail/search-patient?Keyword="
                                                            ValueField="regId" TextField="formattedText"
                                                            (selectionChange)="getSelectedObjOpMultiple($event)"></airmid-autocomplete>
                                                    </div>

                                                    <div fxFlex="30%" fxFlex.sm="100%"
                                                        *ngIf="MutliSettlemForm.get('PatientType').value != '0' && MutliSettlemForm.get('PatientType').value != '2'">
                                                        <airmid-autocomplete
                                                            label="IP RegNo / First Name / Last Name / Mobile No"
                                                            [formGroup]="MutliSettlemForm" formControlName="RegID"
                                                            placeholderText="IP RegNo / First Name / Last Name / Mobile No"
                                                            fxFlex ApiUrl="Admission/search-patient?Keyword="
                                                            (selectionChange)="getSelectedObjIPMultiple($event)"
                                                            ValueField="admissionID"
                                                            TextField="formattedText"></airmid-autocomplete>
                                                    </div>

                                                    <div fxFlex="100%" fxFlex.sm="100%"
                                                        *ngIf="MutliSettlemForm.get('PatientType').value == '2'">
                                                        <airmid-textbox label="MobileNo" [(ngModel)]="MobileNo"
                                                            fxFlex="30%" formControlName="MobileNo"
                                                            [formGroup]="MutliSettlemForm"
                                                            [validations]="getValidationMessages().mobileNo"
                                                            [type]="'text'" maxLength="10"></airmid-textbox>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                *ngIf="MutliSettlemForm.get('PatientType').value != '2' && mRegId != ''">
                                                <div class="content-card">
                                                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"
                                                        fxLayoutGap="5px">
                                                        <div fxFlex.gt-sm="100%" fxFlex>
                                                            <div fxlayout="row" style="background-color: white">
                                                                <div class="patient-info-sales my-8">
                                                                    <div class="sales-patient-info-title">
                                                                        <span style="font-weight: 700">Patient
                                                                            Information</span>
                                                                    </div>
                                                                    <div class="sales-patient-info" fxFlexFill
                                                                        fxLayout="row"
                                                                        fxLayoutAlign="space-between center"
                                                                        class="patient-info">
                                                                        <div class="patient-sub">
                                                                            <div class="patient-info-row patient-info-1-111 pt-8"
                                                                                fxLayout="row"
                                                                                fxLayoutAlign="space-between center">
                                                                                <div class="patient-col">
                                                                                    <span
                                                                                        class="patient-col-key">Patient
                                                                                        Name</span>
                                                                                    <span>:</span>
                                                                                    <span class="patient-col-value">{{
                                                                                        mRegNo }}-{{
                                                                                        mPatientName
                                                                                        }}</span>
                                                                                </div>
                                                                                <div class="patient-col"
                                                                                    *ngIf="IPDNocheck">
                                                                                    <span
                                                                                        class="patient-col-key">IPDNo</span>
                                                                                    <span>:</span>
                                                                                    <span class="patient-col-value">{{
                                                                                        mIPDNo }}</span>
                                                                                </div>
                                                                                <div class="patient-col"
                                                                                    *ngIf="OPDNoCheck">
                                                                                    <span
                                                                                        class="patient-col-key">OPDNo</span>
                                                                                    <span>:</span>
                                                                                    <span class="patient-col-value">{{
                                                                                        mOPDNo }}</span>
                                                                                </div>
                                                                                <div class="patient-col"
                                                                                    *ngIf="DoctorNamecheck">
                                                                                    <span class="patient-col-key">Doctor
                                                                                        Name</span>
                                                                                    <span>:</span>
                                                                                    <span
                                                                                        class="patient-col-value">Dr.{{
                                                                                        mDoctorName
                                                                                        }}</span>
                                                                                </div>

                                                                                <div class="patient-col">
                                                                                    <span class="patient-col-key">Ward
                                                                                        |
                                                                                        Bed Name</span>
                                                                                    <span>:</span>
                                                                                    <span class="patient-col-value">{{
                                                                                        mWardName }} |
                                                                                        {{mBedName}}</span>
                                                                                </div>

                                                                                <div class="patient-col">
                                                                                    <span class="patient-col-key">Tariff
                                                                                        Name</span>
                                                                                    <span>:</span>
                                                                                    <span class="patient-col-value">{{
                                                                                        mTariffName
                                                                                        }}</span>
                                                                                </div>
                                                                                <!-- <div class="patient-col">
                                                                                                                                                        <span class="patient-col-key">Company Name</span>
                                                                                                                                                        <span>:</span>
                                                                                                                                                        <span class="patient-col-value" style="color: #e26d14">{{ CompanyName }}</span>
                                                                                                                                                      </div> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div> 

                <ng-template #actionsTemplateCompanyMulti let-element>
                    <div>
                        <mat-checkbox aria-label="Checked" (change)="tableElementChecked($event, element)">
                        </mat-checkbox>

                        <mat-icon *ngIf="element.patientType=='Self'" matTooltip="Patient Category Self">account_box
                        </mat-icon>
                        <mat-icon *ngIf="element.patientType!='Self'" matTooltip="Patient Category Company">business
                        </mat-icon>
                    </div>
                </ng-template>
                <ng-template #actionButtonTemplatePayMulti let-element>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-icon-button (click)="getDiscFinalBill(element)" matTooltip="Final Discount"
                            *ngIf="element.balanceAmount!='0'">
                            <mat-icon title="Settlement">gradient</mat-icon>
                        </button>
                        <!-- <button mat-icon-button (click)="openPaymentpopup(element)" matTooltip="Settlement"
                                    *ngIf="element.balanceAmount!='0'">
                                    <mat-icon title="Settlement">payment</mat-icon>
                                </button> -->
                        <button mat-icon-button matTooltip="Print Payment Receipt" *ngIf="element.balanceAmount =='0'"
                            (click)="viewgetOPPayemntPdf(element,false)">
                            <mat-icon> print</mat-icon>
                        </button>
                    </div>
                </ng-template>

                <airmid-table [gridConfig]="gridConfig1" #grid1 :ShowFilter="false">
                </airmid-table> 

                <div class="modal-body-container">
                    <div fxLayout="row" class="gap-8" fxLayoutAlign="space-between center" style="padding: 2px 15px 0px 15px;">
                        <form [formGroup]="MutliSettlemForm">
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between"
                                class="gap-8">

                                <airmid-textbox fxFlex label="Net Amt" formControlName="FinalNetAmt"
                                    [formGroup]="MutliSettlemForm" [readonly]="true"
                                    [validations]="getValidationMessages().FinalNetAmt"></airmid-textbox>

                                <airmid-textbox fxFlex label="Paid Amt" formControlName="FinalPaidAmt"
                                    [formGroup]="MutliSettlemForm" [readonly]="true"
                                    [validations]="getValidationMessages().FinalPaidAmt"></airmid-textbox>

                                <airmid-textbox fxFlex label="Balance Amt" formControlName="FinalBalanceAmt"
                                    [formGroup]="MutliSettlemForm" [readonly]="true"
                                    [validations]="getValidationMessages().FinalBalanceAmt"></airmid-textbox>

                            </div>
                        </form>
                        <div class="footer-navigation-container">
                            <div class="modal-footer-buttons" fxLayoutGap="6px">
                                <button class="btn btn-danger-outline" (click)="OnReset()">Close</button>
                                <button class="btn btn-primary" (click)="MultiplePaySave()">Save</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>