@mixin button-variant(
  $color,
  $background,
  $focus-background,
  $active-background,
  $border,
  $focus-border,
  $active-border
) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus,
  &:hover {
    color: $color;
    background-color: $focus-background;
    border-color: $focus-border;
    opacity: 0.8;
    @include button-shadow($background);
  }

  &:active,
  &.active {
    color: $color;
    background-color: $focus-background;
    border-color: $focus-border;
    @include button-shadow($background);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: $active-background;
      border-color: $active-border;
      box-shadow: none;
      opacity: 1;
      @include button-shadow($background);
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }
}
@mixin undo-bs-tab-focus() {
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 0;
      box-shadow: none;
    }
  }
}

