@use "sass:math";
@import "./animation";
@import "./form";
@import "./button";

$base-size: 16px;
@mixin line-height($value) {
    line-height: $value;
}

@mixin nugget-grid($xl, $lg, $md, $sm) {
  display: grid;
  grid-template-columns: repeat($xl, 1fr);
  // @include media-breakpoint-down(xl) {
  //   grid-template-columns: repeat($xl, 1fr);
  // }
  @include media-breakpoint('lg') {
    grid-template-columns: repeat($lg, 1fr);
  }
  @include media-breakpoint('md') {
    grid-template-columns: repeat($md, 1fr);
  }
  @include media-breakpoint-down('xs') {
    grid-template-columns: repeat($sm, 1fr);
  }
}
