.mat-column-OutGoingCode{
    width: 140px;
    max-width: 140px;
    min-width: 140px;
    text-align: left;
}
.mat-column-MobileNo{
    width: 130px;
    max-width: 130px;
    min-width: 130px;
    text-align: left;
}
.mat-column-Date{
    width: 130px;
    max-width: 130px;
    min-width: 130px;
    text-align: left;
}
.mat-column-IsSent{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
}
