<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <mat-toolbar class="accent" style="height:50px; justify-content: space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{_ParameterService.myform.controls.ParameterID.value?"Modify Parameter Master":"New
                Parameter Master"}}
            </span>
            <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog"
                style="margin-left: 760px;">
                <mat-icon>close</mat-icon>
            </button>

        </div>
    </mat-toolbar>
    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content-card">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="2px">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <div fxlayout="row" style=" background-color: white;
                             padding: 5px 10px 5px 10px;">
                            <form [formGroup]="_ParameterService.myform">

                                <div fxlayout="row" style=" padding: 1px 1px 1px 1px;">
                                    <input type="hidden" name="ParameterID" formControlName="ParameterID">

                                    <div>
                                        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex="65%">
                                            <mat-label>Parameter ShortName</mat-label>
                                            <input name="ParameterShortName" placeholder="Select ParameterShort Name"
                                                formControlName="ParameterShortName" required
                                                [ngClass]="{ 'is-invalid': submitted && f.ParameterShortName.errors }"
                                                matInput>
                                            <span class="error"
                                                *ngIf="f.ParameterShortName.invalid && f.ParameterShortName.touched">ParameterShortName
                                                Enter only Alphabets</span>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex="65%">
                                            <mat-label>Parameter Name</mat-label>
                                            <input name="ParameterName" placeholder="Select Parameter Name"
                                                formControlName="ParameterName"
                                                [ngClass]="{ 'is-invalid': submitted && f.ParameterName.errors }"
                                                matInput required>
                                            <span class="error"
                                                *ngIf="f.ParameterName.invalid && f.ParameterName.touched">ParameterName
                                                Enter only Alphabets</span>
                                        </mat-form-field>

                                    </div>
                                    <div>
                                        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex="65%">
                                            <mat-label>PrintParameter Name</mat-label>
                                            <input name="PrintParameterName" placeholder="Select PrintParameterName"
                                                formControlName="PrintParameterName" matInput required
                                                [ngClass]="{ 'is-invalid': submitted && f.PrintParameterName.errors }">
                                            <span class="error"
                                                *ngIf="f.PrintParameterName.invalid && f.PrintParameterName.touched">PrintParameterName
                                                required Enter only alphabets</span>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex="65%">
                                            <mat-label>Method Name</mat-label>
                                            <input name="MethodName" placeholder="Select MethodName"
                                                formControlName="MethodName" matInput required
                                                [ngClass]="{ 'is-invalid': submitted && f.MethodName.errors }">
                                            <span class="error"
                                                *ngIf="f.MethodName.invalid && f.MethodName.touched">MethodName Enter
                                                Only Alphabets
                                            </span>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayoutAlign="space-between">
                                        <mat-radio-group name="IsNumeric" formControlName="IsNumeric"
                                            aria-label="Select an option" style="margin-top: 20px; margin-left: 20px;">
                                            <mat-radio-button fxFlex (click)="toggle(1)"  value="1" [checked]='_ParameterService.is_numeric'>IsNumeric</mat-radio-button>
                                            <mat-radio-button fxFlex (click)="toggle(2)"  value="2" [checked]='!_ParameterService.is_numeric' style="margin-left: 20px;">IsDescriptive</mat-radio-button>
                                        </mat-radio-group>

                                         <!-- <mat-radio-group name="IsDeleted" formControlName="IsDeleted" value='true'
                                        style="margin-top: 20px; margin-left: 20px;">
                                        <mat-radio-button value='true' class="mr-sm-12" fxFlex>IsActive</mat-radio-button>
                                        </mat-radio-group>
                                         -->
                                        <div style="margin-top: 20px; margin-left: 20px;">
                                            <section class="example-section">
                                                <mat-checkbox class="example-margin"                                                   
                                                    formControlName="IsPrintDisSummary" 
                                                    name="IsPrintDisSummary">IsPrintDisSummary</mat-checkbox>
                                            </section>
                                        </div>

                                        <mat-form-field appearance="outline" fxFlex="35%" style="padding-right: 10px;">
                                            <mat-select placeholder="Select unitName " name="UnitId"
                                                formControlName="UnitId" required>
                                                <mat-option>-select-</mat-option>
                                                <mat-option *ngFor="let M of UnitcmbList" [value]="M.UnitId">
                                                    {{ M.UnitName }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>Please Select Unit Name </mat-error>
                                        </mat-form-field>
                                    </div>


                                    <hr>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <form [formGroup]="_ParameterService.myform">

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="column" fxLayoutGap="2px">

                        <div fxFlex.gt-sm="100%" fxFlex>

                            <div fxFlexFill fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="5px">

                                <div fxFlex.gt-sm="100%" fxFlex *ngIf="numeric_data">
                                    <ng-container *ngIf="numeric_data">
                                        <mat-card class="example-card" name="m1" style="padding: 0%;">
                                            <mat-card-content fxLayout="row" fxLayoutAlign="center center"
                                                style="margin-bottom:5px !important;">
                                                <mat-card-title>Numeric Info</mat-card-title>
                                            </mat-card-content>

                                            <mat-card-content>
                                                <div>
                                                    <div fxLayoutAlign="space-between" style="padding:10px">
                                                        <mat-form-field appearance="outline" class="mr-sm-12"
                                                            fxFlex="20%">
                                                            <mat-label>Gender</mat-label>
                                                            <mat-select placeholder="Select Gender Name" name="SexID"
                                                                formControlName="SexID">
                                                                <mat-option *ngFor="let M of GendercmbList" [value]="M">
                                                                    {{ M.GenderName }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>

                                                        <mat-form-field appearance="outline" class="mr-sm-12"
                                                            fxFlex="10%">
                                                            <mat-label>Min Age</mat-label>
                                                            <input name="MinAge" placeholder="MinAge" maxlength="3" 
                                                                [(ngModel)]="vMinAge" formControlName="MinAge" matInput
                                                                >
                                                        </mat-form-field>

                                                        <mat-form-field appearance="outline" class="mr-sm-12"
                                                            fxFlex="10%">
                                                            <mat-label>Max Age</mat-label>
                                                            <input name="MaxAge" placeholder="MaxAge" maxlength="3" 
                                                                [(ngModel)]="vMaxAge" formControlName="MaxAge" matInput
                                                                >
                                                        </mat-form-field>

                                                        <mat-form-field appearance="outline" class="mr-sm-12"
                                                            fxFlex="20%">
                                                            <mat-label>Age Type</mat-label>
                                                            <mat-select placeholder="Select Age Type"
                                                                formControlName="AgeType" name="AgeType" >
                                                                <mat-option *ngFor="let i of ageType" [value]="i">{{ i
                                                                    }}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>

                                                        <mat-form-field appearance="outline" class="mr-sm-12"
                                                            fxFlex="10%">
                                                            <mat-label>Min Value</mat-label>
                                                            <input name="MinValue" placeholder="MinValue" maxlength="3" 
                                                                [(ngModel)]="vMinValue" formControlName="MinValue"
                                                                matInput >
                                                        </mat-form-field>

                                                        <mat-form-field appearance="outline" class="mr-sm-12"
                                                            fxFlex="10%">
                                                            <mat-label>Max value</mat-label>
                                                            <input name="Maxvalue" placeholder="Maxvalue" maxlength="3" 
                                                                [(ngModel)]="vMaxvalue" formControlName="Maxvalue"
                                                                matInput >
                                                        </mat-form-field>

                                                        <div matTooltip="Select All Value to enable this button!!">
                                                            <button mat-raised-button class="custom_add_button"
                                                                (click)="checkFields($event)"
                                                                >
                                                                Add <mat-icon> add_to_photos </mat-icon>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <mat-table class="table" matSort
                                                            [dataSource]="dsParameterAgeList"
                                                            [@animateStagger]="{value:'50'}" style="overflow:auto">

                                                            <ng-container matColumnDef="GenderName">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                    fxHide fxShow.gt-sm>Gender Name
                                                                </mat-header-cell>
                                                                <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                                                    {{element.GenderName}}
                                                                </mat-cell>
                                                            </ng-container>

                                                            <ng-container matColumnDef="MinAge">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                    MinAge
                                                                </mat-header-cell>
                                                                <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                                                    {{element.MinAge}}
                                                                </mat-cell>
                                                            </ng-container>

                                                            <ng-container matColumnDef="MaxAge">
                                                                <mat-header-cell *matHeaderCellDef
                                                                    mat-sort-header>MaxAge </mat-header-cell>
                                                                <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                                                    {{element.MaxAge}}
                                                                </mat-cell>
                                                            </ng-container>



                                                            <!--                                                                                                       
                                                            <ng-container matColumnDef="MinValue">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                fxHide fxShow.gt-sm>Age Type
                                                                </mat-header-cell>
                                                                <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                                                    {{element.AgeType}} </mat-cell>
                                                            </ng-container>
                                                             -->
                                                            <ng-container matColumnDef="MinValue">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                    fxHide fxShow.gt-sm>Min Value
                                                                </mat-header-cell>
                                                                <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                                                    {{element.MinValue}} </mat-cell>
                                                            </ng-container>

                                                            <ng-container matColumnDef="Maxvalue">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                    Maxvalue </mat-header-cell>
                                                                <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                                                    {{element.Maxvalue}}
                                                                </mat-cell>
                                                            </ng-container>
                                                            <ng-container matColumnDef="AgeType">
                                                                <mat-header-cell *matHeaderCellDef>Age
                                                                    Type</mat-header-cell>
                                                                <mat-cell *matCellDef="let element" fxShow.gt-sm>{{
                                                                    element.AgeType }}</mat-cell>
                                                            </ng-container>


                                                            <ng-container matColumnDef="Action">
                                                                <mat-header-cell
                                                                    *matHeaderCellDef>Action</mat-header-cell>
                                                                <mat-cell *matCellDef="let element">
                                                                    <button mat-icon-button color="warn"
                                                                        (click)="onDeleteRow(element)">
                                                                        <mat-icon>delete</mat-icon>
                                                                    </button>
                                                                </mat-cell>
                                                            </ng-container>


                                                            <ng-container matColumnDef="loading">
                                                                <mat-header-cell *matFooterCellDef colspan="6"
                                                                    style="display: none;">
                                                                </mat-header-cell>
                                                            </ng-container>

                                                            <ng-container matColumnDef="noData">
                                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                                    no data found...
                                                                </mat-footer-cell>
                                                            </ng-container>


                                                            <mat-header-row class="accent"
                                                                *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                                class="element"
                                                                [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                                            <mat-footer-row *matFooterRowDef="['loading']"
                                                                [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                                                            <mat-footer-row *matFooterRowDef="['noData']"
                                                                [ngClass]="{'hide':!(dsParameterAgeList!=null && dsParameterAgeList.data.length==0)}"></mat-footer-row>

                                                        </mat-table>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>

                                    </ng-container>
                                </div>

                                <div fxFlex.gt-sm="100%" fxFlex *ngIf="!numeric_data">
                                    <ng-container *ngIf="!numeric_data">
                                        <div fxFlex.gt-sm="100%" fxFlex>

                                            <mat-card class="example-card" name="m1" style="padding: 0%;">
                                                <mat-card-content fxLayout="row" fxLayoutAlign="center center">
                                                    <mat-card-title>Descriptive Info</mat-card-title>
                                                </mat-card-content>

                                                <mat-card-content>

                                                    <div fxFlexFill fxLayout="row" fxLayout.gt-xs="row">
                                                        <div flex="100%">
                                                            <input type="text" #txt style="border-radius: 5px;
                                                        border: 1px solid #bfbfbf;
                                                        height: 65px;
                                                        " name="ParaId" placeholder="Enter value to add"
                                                                formControlName="ParaId" name="text1" multiple matinput>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <div matTooltip="Select All Value to enable this button!!">
                                                                <button mat-raised-button class="custom_add_button"
                                                                    [disabled]="!txt.value"
                                                                    (click)="AddData(txt.value)"> Add <mat-icon>
                                                                        add_to_photos </mat-icon>
                                                                </button>
                                                            </div>


                                                            <mat-form-field appearance="outline" class="mr-sm-12"
                                                                style="margin-left: 10px; width: 50rem;" fxFlex>
                                                                <textarea name="DefaultValue" matInput rows="2"
                                                                    cols="15" placeholder="Enter Default Value"
                                                                    formControlName="DefaultValue" matInput
                                                                    [ngClass]="{ 'is-invalid': submitted && f.DefaultValue.errors }">
                                                        </textarea>
                                                                <span class="error"
                                                                    *ngIf="f.DefaultValue.invalid && f.DefaultValue.touched">DefaultValue
                                                                    required Enter only Alphabets</span>
                                                            </mat-form-field>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </div>


                                                    </div>
                                                                                                    <div style="display:block !important; width:100%;">
                                                        <div flex="100%" style="overflow: auto; max-height: 24vh;">
                                                            <mat-list style="background: cornflowerblue;" formControlName="parameterValues">
                                                                <div mat-subheader style="font-weight: bold; background: #5e35b1; padding: 8px; color: #fff; border-top-left-radius: 4px; border-top-right-radius: 4px;">
                                                                    Parameter Values List
                                                                </div>
                                                                <mat-list-item placeholder="" #txt *ngFor="let item of selectedItems; let i = index" [ngValue]="parameterValue" style="background-color: rgb(245, 237, 237); width: 100% !important; text-align: left;">
                                                                    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                                                        <div style="border-bottom: 1px solid #c3c7d2; padding: 7px;" mat-line>{{ item }}</div>
                                                                        <button mat-icon-button color="warn"
                                                                        (click)="removeItem(i)">
                                                                        <mat-icon>delete</mat-icon>
                                                                    </button>
                                                                    </div>
                                                                </mat-list-item>
                                                            </mat-list>
                                                            
                                                            

                                                            <!-- <mat-table class="table" matSort
                                                            [dataSource]="selectedItems"
                                                            [@animateStagger]="{value:'50'}" style="overflow:auto">

                                                            <ng-container matColumnDef="ParameterValues">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                                                    fxHide fxShow.gt-sm>Parameter Values
                                                                </mat-header-cell>
                                                                <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                                                    {{element}}
                                                                </mat-cell>
                                                            </ng-container>

                                                            <mat-header-row class="accent"
                                                                *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                                class="element"
                                                                [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                                            <mat-footer-row *matFooterRowDef="['loading']"
                                                                [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                                                            <mat-footer-row *matFooterRowDef="['noData']"
                                                                [ngClass]="{'hide':!(dsParameterAgeList!=null && dsParameterAgeList.data.length==0)}"></mat-footer-row>

                                                        </mat-table> -->


                                                         </div>
                                                    </div>

                                                </mat-card-content>

                                            </mat-card>

                                        </div>
                                    </ng-container>
                                </div>

                            </div>


                        </div>

                    </div>

                    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

                        <div class="button-row">
                            <!-- <section class="example-section"> -->
                            <mat-checkbox class="example-margin" formControlName="IsDeleted" [checked]="true"
                                value="true" style="padding:10px" name="IsDeleted">IsActive </mat-checkbox>
                            <!-- </section> -->
                            <button mat-raised-button color="accent" type="submit" (click)="onSubmit()"
                                style="border-radius: 16px;color: aliceblue;"
                                [disabled]="_ParameterService.myform.invalid">Save</button>
                            <button mat-raised-button color="warn" (click)="onClear()"
                                style="border-radius: 16px;">Clear</button>
                        </div>
                    </div>



                </form>
            </div>
        </div>
    </div>
</div>
