<!-- <div fxFlex.gt-sm="35%" fxFlex style="background-color: white;">
    <div class="dialog-content-wrapper">
        <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
            <form [formGroup]="_PrescriptionclassService.myForm">
                <h3>{{_PrescriptionclassService.myForm.controls.TemplateId.value?"Modify
                    Prescription class Master":"New Prescription class Master"}}</h3>


                <input type="hidden" name="TemplateId" formControlName="TemplateId">

                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                    <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                        <mat-label>Template Name</mat-label>
                        <input name="TemplateName" formControlName="TemplateName" matInput required>
                        <mat-error>Please enter Template Name </mat-error>
                    </mat-form-field>
                </div>

                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                    <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                        <mat-label>TemplateDesc </mat-label>
                        <input name="TemplateDesc" formControlName="TemplateDesc" matInput required>
                        <mat-error>Please enter TemplateDesc </mat-error>
                    </mat-form-field>
                </div>


                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                    <mat-radio-group name="IsDeleted" formControlName="IsDeleted" value='false'>
                        <mat-radio-button value='false' class="mr-sm-12"
                            fxFlex>IsActive</mat-radio-button>
                        <mat-radio-button value='true' class="mr-sm-12"
                            fxFlex>IsDeactive</mat-radio-button>
                    </mat-radio-group>
                </div>
            </form>
        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
            <div class="button-row">
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
                    [disabled]="_PrescriptionclassService.myForm.invalid">Save</button>
                <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
        </div>
    </div>
</div> -->