<div fxLayout="row" fxLayoutGap="16px">
  <div fxFlex>
    <label>From Time <span style="color:red">*</span></label>
    <airmid-time-picker
      [formControl]="formGroup.controls[formStartControlName]"
      label=""
      placeholder="HH:MM"
      [isDisabled]="disabled"
      (timeChange)="onStartTimeChange($event)">
    </airmid-time-picker>
    <mat-error *ngIf="formGroup.controls[formStartControlName].hasError('required')">
      From Time is required
    </mat-error>
    <mat-error *ngIf="formGroup.hasError('timeOrder')">
      From Time cannot be after To Time
    </mat-error>
  </div>
  <div fxFlex>
    <label>To Time <span style="color:red">*</span></label>
    <airmid-time-picker
      [formControl]="formGroup.controls[formEndControlName]"
      label=""
      placeholder="HH:MM"
      [isDisabled]="disabled"
      (timeChange)="onEndTimeChange($event)">
    </airmid-time-picker>
    <mat-error *ngIf="formGroup.controls[formEndControlName].hasError('required')">
      To Time is required
    </mat-error>
    <mat-error *ngIf="formGroup.hasError('timeOrder')">
      To Time cannot be before From Time
    </mat-error>
  </div>
</div>

<!----------------------- Example-------------------------------- -->

<!-- <airmid-full-timepicker [formGroup]="formGroupName" [formStartControlName]="'FromTime'" [formEndControlName]="'ToTime'" >
</airmid-full-timepicker>  -->
