<div class="modal-page page-layout inner-scroll"   >
    <div class="modal-wrapper grid-container">
    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"> Purchase Requisition
                    List</span>
            </div>
            <div class="modal-header-right">
                <div class="comman-date-container">

                    <div class="close-icon">
                        <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <div class="modal-body" fusePerfectScrollbar>
            <div class="modal-body-container">
                <div fxLayout="row" class="gap-8 h-100-p">
                    <div fxFlex="65%" fxFlex.sm="60%" fxFlex.xs="100%" class="table-left">
                        
                        <div fxLayout="column" class="gap-8 h-100-p">
                            <mat-card fxLayout="column" class="gap-8 h-100-p">
                                <div class="modal-card-container">
                                    <form [formGroup]="userFormGroup" fxLayout="row" fxLayoutGap="4px">
                                    
                                        <airmid-datepicker [formGroup]="userFormGroup" [isRangePicker]="true" formStartControlName="startdate"
                                            formEndControlName="enddate">
                                        </airmid-datepicker>
                                    
                                        <!-- <airmid-dropdown label="From Store Name" formControlName="FromStoreId" (selectionChange)="fromStoreView($event)"
                                                                                                                            [formGroup]="userFormGroup" [mode]="autocompletestore">
                                                                                                                        </airmid-dropdown> -->
                                    
                                        <airmid-dropdown label="To Store Name" formControlName="ToStoreId" (selectionChange)="toStoreView($event)"
                                            [formGroup]="userFormGroup" [mode]="autocompletestore">
                                        </airmid-dropdown>
                                    
                                        <!-- <mat-slide-toggle name="IsClosed" formControlName="status" style="padding: 15px;">
                                                                                Pending / Close
                                                                            </mat-slide-toggle> -->

                                                                            <div fxLayout="column" fxLayoutGap="6px" style="padding:0 15px 0 15px;">
                                                                                <div fxLayout="row" class="gap-4 ">
                                                                                    <span style="font-weight: bold;color: rgb(4, 44, 84);padding: 5;font-size: large;">Status :</span>
                                                                                    <mat-slide-toggle name="Status" formControlName="status" [formGroup]="userFormGroup">
                                                                                        Pending / Close
                                                                                    </mat-slide-toggle>
                                                                                </div>
                                                                            
                                                                                <div fxLayout="row" class="gap-4 ">
                                                                                    <span style="font-weight: bold;color: rgb(4, 44, 84);padding: 5;font-size: large;">Verify :</span>
                                                                                    <mat-slide-toggle name="Verify" formControlName="Verify" [formGroup]="userFormGroup" >
                                                                                        Verify
                                                                                    </mat-slide-toggle>
                                                                                </div>
                                                                            </div>
                                       
                                    
                                        <div style="padding: 10px;">
                                            <button class="btn btn-primary btn-with-icon btn-xs" (click)="GetReqisitionlist()">
                                                <span>Search</span>
                                            </button>
                                        </div>
                                    
                                    </form>
                                </div>
                            
                                <div class="modal-card-container dynamic-table-wrapper" fxFlex>
                                    <div class="airmid-table-container">
                                        <mat-table #table matSort [dataSource]="dsPORequisitionHeader" [@animateStagger]="{ value: '50' }"
                                            class="airmid-table table3" style="overflow: auto;">

                                             <ng-container matColumnDef="isVerify">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-100">
                                                 
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-100">
                                                    <mat-icon *ngIf="contact.isclosed=='1';" matTooltip="Is Closed" style="color: rgb(41, 129, 12);">close</mat-icon>
                                                    <mat-icon *ngIf="!contact.isclosed=='1';" matTooltip="Pending" style="color: brown;">Pending</mat-icon> 
                                                
                                                    <mat-icon *ngIf="contact.isverify=='1';" matTooltip="Is Verify" style="color: green;">check_circle</mat-icon>
                                                    <mat-icon *ngIf="!contact.isverify=='1';" matTooltip="Is Verify Pending"
                                                        style="color: rgb(128, 0, 30);">hourglass_empty</mat-icon>
                                                </mat-cell>
                                            </ng-container> 

                                            <ng-container matColumnDef="Date">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-160">
                                                    Date
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-160">
                                                    <span> {{contact.purchaseRequisitionDate | date:'yyyy-MM-dd'}}-{{contact.purchaseRequisitionTime | date:'hh:mm a'}}</span>
                                                </mat-cell>
                                            </ng-container>

                                              <ng-container matColumnDef="purchaseRequisitionNo">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-100">
                                                  PO Req.No
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-100">
                                                    <span> {{contact.purchaseRequisitionNo}}</span>
                                                </mat-cell>
                                            </ng-container>
                            
                                            <ng-container matColumnDef="fromStore">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-150">
                                                   From Store
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150"
                                                matTooltip="{{contact.fromStore}}">
                                                    <span> {{contact.fromStore}}</span>
                                                </mat-cell>
                                            </ng-container>
                            
                                            <ng-container matColumnDef="toStore">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-180">
                                                    To Store
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-180"
                                                  matTooltip="{{contact.toStore}}">
                                                    <span> {{contact.toStore}}</span>
                                                </mat-cell>
                                            </ng-container>

                                            
                                            <ng-container matColumnDef="comments">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-230">
                                                   Comments
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-230"
                                                  matTooltip="{{contact.comments}}">
                                                    <span> {{contact.comments}}</span>
                                                </mat-cell>
                                            </ng-container>
                            
                                            <ng-container matColumnDef="addedby">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-160">
                                                   Added by
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-160"
                                                  matTooltip="{{contact.addedby}}">
                                                    <span> {{contact.addedby}}</span>
                                                </mat-cell>
                                            </ng-container> 

                                            <ng-container matColumnDef="isInchargeVerifyDate" StickyEnd>
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-120">
                                                IsVerify Date
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-120">
                                                    <span> {{contact.isInchargeVerifyDate | date:'yyyy-MM-dd'}}</span>
                                                </mat-cell>
                                            </ng-container> 
                            
                                            <ng-container matColumnDef="loading">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    loading data...
                                                </mat-footer-cell>
                                            </ng-container>
                            
                                            <ng-container matColumnDef="noData">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    <span>No Data Found</span>
                                                </mat-footer-cell>
                                            </ng-container> 
                            
                                            <mat-header-row class="accent min-width-1400" *matHeaderRowDef="displayedColumnsPOReqHeader; sticky: true"></mat-header-row>
                                            <mat-row *matRowDef="let contact; columns: displayedColumnsPOReqHeader; let i = index" (click)="getPOReqDetList(contact)"
                                                class="contact min-width-1400" [@animate]="{ value: '*', params: { y: '100%' } }" appHighlight tabindex="999"></mat-row>
                                            <mat-footer-row *matFooterRowDef="['loading']"
                                                [ngClass]="{ hide: !(sIsLoading == 'loading-data') }"></mat-footer-row>
                                            <mat-footer-row *matFooterRowDef="['noData']"
                                                [ngClass]="{ hide: !(dsPORequisitionHeader != null && dsPORequisitionHeader.data.length == 0) }"></mat-footer-row>
                                        </mat-table>
                                    </div> 
                                </div>
                                <mat-paginator #paginator [pageSizeOptions]="[25,35, 50, 100]" [pageSize]="25" showFirstLastButtons>
                                </mat-paginator>

                                <div class="modal-card-container dynamic-table-wrapper" fxFlex>
                                    <div class="airmid-table-container">
                                        <mat-table #table matSort [dataSource]="dsPORequisitiondet" [@animateStagger]="{ value: '50' }"
                                            class="airmid-table table3" style="overflow: auto;">
                                            <ng-container matColumnDef="itemName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                    Item Name
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    <span> {{contact.itemName}}</span>
                                                </mat-cell>
                                            </ng-container>
                            
                                            <!-- <ng-container matColumnDef="Price">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                    Price
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    <span> {{contact.price}}</span>
                                                </mat-cell>
                                            </ng-container> -->
                            
                                            <ng-container matColumnDef="Qty">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Qty
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    <span> {{contact.qty || '-'}}</span>
                                                </mat-cell>
                                            </ng-container>
                            
                                            <!-- <ng-container matColumnDef="BalQty">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                   Bal Qty
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    <span> {{contact.balqty}}</span>
                                                </mat-cell>
                                            </ng-container>  -->
                                            
                                            <ng-container matColumnDef="loading">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    loading data...
                                                </mat-footer-cell>
                                            </ng-container>
                            
                                            <ng-container matColumnDef="noData">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    <span>No Data Found</span>
                                                </mat-footer-cell>
                                            </ng-container> 
                            
                                            <mat-header-row class="accent" *matHeaderRowDef="displayedColumnsPoReqDet; sticky: true"></mat-header-row>
                                            <mat-row *matRowDef="let contact; columns: displayedColumnsPoReqDet; let i = index" tabindex="999"
                                                class="contact" [@animate]="{ value: '*', params: { y: '100%' } }" appHighlight 
                                                (click)="AddPOItem(contact)"></mat-row>
                                            <mat-footer-row *matFooterRowDef="['loading']"
                                                [ngClass]="{ hide: !(sIsLoading == 'loading-data') }"></mat-footer-row>
                                            <mat-footer-row *matFooterRowDef="['noData']"
                                                [ngClass]="{ hide: !(dsPORequisitiondet != null && dsPORequisitiondet.data.length == 0) }"></mat-footer-row>
                                        </mat-table>
                                    </div>
                                </div>
                                <mat-paginator #paginator [pageSizeOptions]="[25,35, 50, 100]" [pageSize]="25" showFirstLastButtons>
                                </mat-paginator>
                            </mat-card>
                        </div> 
                    </div> 

                    <div fxFlex="35%" fxFlex.sm="25%" fxFlex.xs="100%" class="table-left">
                        <mat-card fxLayout="column" class="gap-8 h-100-p">
                            <div class="modal-card-container dynamic-table-wrapper" fxFlex>
                                <div class="airmid-table-container">
                                    <mat-table #table matSort [dataSource]="dsPoReqitemlist" [@animateStagger]="{ value: '50' }"
                                        class="airmid-table table3" style="overflow: auto;">
                                        <ng-container matColumnDef="IemName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                Item Name
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                <span> {{contact.itemName}}</span>
                                            </mat-cell>
                                        </ng-container>
                        
                                        <!-- <ng-container matColumnDef="Price">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                Price
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                <span> {{contact.price}}</span>
                                            </mat-cell>
                                        </ng-container> -->
                        
                                        <ng-container matColumnDef="Qty">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Qty
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                <span> {{contact.qty || '-'}}</span>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="Action">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Action
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                <button mat-icon-button (click)="deleteTableRow(row)" color="warn">
                                                 <mat-icon>delete_outline</mat-icon>
                                                 </button> 
                                            </mat-cell>
                                        </ng-container>
                         
                                        <ng-container matColumnDef="loading">
                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                loading data...
                                            </mat-footer-cell>
                                        </ng-container>
                        
                                        <ng-container matColumnDef="noData">
                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                <span>No Data Found</span>
                                            </mat-footer-cell>
                                        </ng-container>
                        
                        
                                        <mat-header-row class="accent" *matHeaderRowDef="displayedColumnspo; sticky: true"></mat-header-row>
                                        <mat-row *matRowDef="let contact; columns: displayedColumnspo; let i = index" tabindex="999"
                                            class="contact" [@animate]="{ value: '*', params: { y: '100%' } }" appHighlight></mat-row>
                                        <mat-footer-row *matFooterRowDef="['loading']"
                                            [ngClass]="{ hide: !(sIsLoading == 'loading-data') }"></mat-footer-row>
                                        <mat-footer-row *matFooterRowDef="['noData']"
                                            [ngClass]="{ hide: !(dsPoReqitemlist != null && dsPoReqitemlist.data.length == 0) }"></mat-footer-row>
                                    </mat-table>
                                </div>
                            </div>
                            <mat-paginator #paginator [pageSizeOptions]="[25,35, 50, 100]" [pageSize]="25" showFirstLastButtons>
                            </mat-paginator>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
            <!-- Footer -->
    <div class="modal-footer">
        <div class="footer-navigation-container">

            <div class="modal-footer-buttons">
                <!-- <button type="button" class="btn btn-primary" (click)="calculateshare()">Calculate Share
                </button> -->
                <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
                <button class="btn btn-primary" (click)="Save()">Save</button>
            </div>
        </div>
    </div>
    </div>
</div>

 