@import "src/@fuse/scss/fuse";
.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}
app-op-advance {
  
      
    .mat-header-row {
        width: 100%;
        max-width: 1770px;
        min-width: 1770px;   
        min-height: 25px;
    }
    .mat-row {
        width: 100%;
        max-width: 1770px;
        min-width: 1770px;  
        min-height: 25px;
        
    }

    .mat-column-Date {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align:left;
    }
    .mat-column-AdvanceNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        justify-content:center;
    }
    .mat-column-AdvanceAmount {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        justify-content:right;
    }
    .mat-column-UsedAmount {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        justify-content:flex-end;
    }
    .mat-column-BalanceAmount {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        justify-content:flex-end;
    }
    .mat-column-RefundAmount {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        justify-content:flex-end;
    }
    .mat-column-CashPay {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        justify-content:flex-end;
    }   
    .mat-column-ChequePay {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        justify-content:flex-end;
    }   
    .mat-column-CardPay {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        justify-content:flex-end;
    }   
    .mat-column-NeftPay {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        justify-content:flex-end;
    }   
    .mat-column-PayTMPay {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        justify-content:flex-end;
    }   
    .mat-column-UserName {
        width: 190px;
        max-width: 190px;
        min-width: 190px;
        justify-content:center;
    }    
   
    
    .mat-table {
        height: 300px !important;
    }
     


}





