// .sale-table{
//     height: 300px!important;
// }

app-sale-popup{
    .mat-header-row {
    width:200;
    min-width: 700px;
    min-height: 30px;
  }

  .mat-row {
    width: 100%;
    //max-width: 1600px;
    min-width: 700px;
    min-height: 30px;
   
  }

 .mat-column-itemGenericName {
    width:150px;
    max-width: 150px;
    min-width: 150px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }
  .mat-column-BatchNo {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: left;
  }

  .mat-column-batchExpDate {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    text-align: left;
  }
  
  .mat-column-balanceQty {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    text-align: left;
  }
 
  .mat-column-MRP {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }

  .mat-column-PurPrice {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }

  .mat-column-LandedRate {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }

  .mat-column-converFacto {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: left;
  }
 
.ellipsis-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  vertical-align: bottom; 
}
  .mat-header-cell {
    color: white !important;
  }

// .table-row:selected {

//   background-color: rebeccapurple;
// }

}

::ng-deep .sale-table .mat-mdc-contact:hover {
  background-color: rgb(171, 171, 171);
}
 
 
