.sale-table{
    height: 400px!important;
}

.highlight{
    background: #e1f5fe;
}

.mat-table {
    .mat-row {
        cursor: pointer;
        &:hover {
            background: white !important;
        }
    }
    .mat-header-cell {
        color: white !important;
    }
}