app-subtpa-company-master {
    .mat-header-row {
        width: 2000px;
        max-width: 2000px;
        min-width: 2000px;
        font-weight: bold;
    }

    .mat-row {
        width: 2000px;
        max-width: 2000px;
        min-width: 2000px;
    }

    .mat-column-SubCompanyId {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }

    .mat-column-TypeName {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
    }
    .mat-column-CompanyName {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
    }
    .mat-column-Address {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
    }
    .mat-column-City {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-PinNo {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }
    .mat-column-PhoneNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-MobileNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-FaxNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-AddedByName {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
    }

    .mat-column-IsCancelledBy {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-IsCancelled {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
    }

    .mat-column-IsCancelledDate {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
    }

    .mat-column-IsDeleted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        // color: white !important;
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
