app-subtpa-company-master {
    .mat-header-row {
        width: 1450px;
        max-width: 1450px;
        min-width: 1450px;
        font-weight: bold;
    }

    .mat-row {
        width: 1450px;
        max-width: 1450px;
        min-width: 1450px;
    }

    .mat-column-SubCompanyId {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }

    .mat-column-TypeName {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
    }
    .mat-column-CompanyName {
        width: 320px;
        max-width: 320px;
        min-width: 320px;
    }
    .mat-column-Address {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
    }
    .mat-column-City {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-PinNo {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }
    .mat-column-PhoneNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-MobileNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-FaxNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-AddedBy {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }

    // .mat-column-IsCancelledBy {
    //     width: 100px;
    //     max-width: 100px;
    //     min-width: 100px;
    // }
    // .mat-column-IsCancelled {
    //     width: 100px;
    //     max-width: 100px;
    //     min-width: 100px;
    // }

    // .mat-column-IsCancelledDate {
    //     width: 100px;
    //     max-width: 100px;
    //     min-width: 100px;
    // }

    .mat-column-IsDeleted {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        // color: white !important;
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
