app-dosemaster {
    .mat-header-row {
        width: 800px;
        max-width: 800px;
        min-width: 800px;
        font-weight: bold;
    }

    .mat-row {
        width: 800px;
        max-width: 800px;
        min-width: 800px;
    }

    .mat-column-DoseId {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        text-align: left;
    }

    .mat-column-DoseName {
        width: 140px;
        max-width: 140px;
        min-width: 140px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 16px;
    }
    .mat-column-DoseNameInEnglish {
        width: 160px;
        max-width: 160px;
        min-width: 160px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 16px;
    }
    .mat-column-DoseQtyPerDay {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align: left;
    }

    // .mat-column-AddedByName {
    //     width: 150px;
    //     max-width: 150px;
    //     min-width: 150px;
    // }
    .mat-column-IsDeleted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        // color: white !important;
        width: 110px;
        max-width: 110px;
        min-width: 110px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
