$table-row-width: 2000px;
$table-row-width-small: 600px;

.sales-return-section {
    .mat-table {
        .mat-header-row,
        .mat-row {
            &.table-left-row {
                min-width: $table-row-width;
            }
            &.table-right-row {
                min-width: $table-row-width-small;
            }
            &.table-row-lg {
                min-width: $table-row-width;
            }
        }
    }
    .searchButton {
        .mat-icon {
            margin: 0;
            color: $primary-600;
        }
    }
}