$table-row-width: 1300px;
.sales-section {
    .mat-table {
        overflow: auto;
        &.sales-table {
            height: calc(100vh - 535px);
            min-height: 220px;
            .mat-header-row,
            .mat-row {
                min-width: $table-row-width;
            }
        }
    }
    .sale-detail-box{
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-flow: column;
        gap: 8px;
        padding: 8px 0;
        .sale-detail{
            display: flex;
            flex-flow: column;
            gap: 12px;
            .sale-no{
                .key{
                    @include font-size(13px);
                    font-weight: 600;
                }
            }
            .sale-info{

            }
        }
    }
}
