app-indent {

  .table1 {
    height: 270px !important;
    width: 100%
  }

  .table2 {
    height: 270px !important;
    width: 2000px;

    .mat-column-Action {
      width: 80px;
      max-width: 80px;
      min-width: 80px;
      text-align: left;

    }

    .mat-column-ItemID {
      width: 150px;
      max-width: 150px;
      min-width: 150px;
      text-align: left;

    }

    .mat-column-ItemName {
      width: 410px;
      max-width: 410px;
      min-width: 410px;
      text-align: left;

    }

    .mat-column-HospitalBalance {
      width: 150px;
      max-width: 150px;
      min-width: 150px;
      text-align: left;

    }

    .mat-column-IndentQuantity {
      width: 150px;
      max-width: 150px;
      min-width: 150px;
      text-align: left;

    }

    .mat-column-CurrentBalance {
      width: 150px;
      max-width: 150px;
      min-width: 150px;
      text-align: left;

    }

  }
  .table3 {
    height: 400px !important;
    width: 100%;

    .mat-column-Action {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }
    .mat-column-ItemID {
      width: 160px;
      max-width: 160px;
      min-width: 160px;
      text-align: left;
    }
    .mat-column-ItemName {
      width: 250px;
      max-width: 250px;
      min-width: 250px;
      text-align: left;
      justify-content: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden !important;
      display: inline-flex;
      display: inline;
      margin-right: 10px;
      margin-top: 20px;
    }
    .mat-column-IndentQuantity {
      width: 180px;
      max-width: 180px;
      min-width: 180px;
      text-align: left;
    }
  }
.fuse-sidebar{
  width: 200%;
}
  // .mat-header-row {
  //   width: 200;
  //   //max-width: 1600px;
  //   min-width: 1000px;
  //   min-height: 30px;
  //   background-color: blue;
  // }

  // .mat-row {
  //   width: 100%;
  //   //max-width: 1600px;
  //   min-width: 1400px;
  //   min-height: 30px;

  // }

  .mat-column-FromStoreId {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    text-align: left;

  }

  .mat-column-IndentNo {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    text-align: left;

  }

  .mat-column-IndentDate {
    width: 180px;
    max-width: 180px;
    min-width: 180px;
    text-align: left;
  }

  .mat-column-FromStoreName {
    width: 200PX;
    max-width: 200PX;
    min-width: 200PX;
    text-align: left;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }

  .mat-column-ToStoreName {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    
    text-align: left;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }


  .mat-column-Addedby {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    text-align: left;
  }

  .mat-column-IsInchargeVerify {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    text-align: left;
  }

  .mat-column-ItemName {
    width: 330px;
    max-width: 330px;
    min-width: 330px;
    text-align: left;
  }

  .mat-column-Qty {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    text-align: left;
  }

  .mat-column-IssQty {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    text-align: left;
  }

  .mat-column-Bal {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    text-align: left;
  }

  .mat-column-action {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: center;
    justify-content: center;

  }

  .mat-tab-group {
    margin-bottom: 48px;

  }

  .vertical {
    border-left: 1px solid rgb(177, 172, 172);
    height: 40px;
    position: absolute;
    left: 38%;
  }
  .footer-navigation-container {
    text-align: right;
    display: flex;
    justify-content: space-between;
    float: right;
  }
  .footer-btn {
    width: 80px;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px;
    color:  rgb(247, 97, 97);
    border-radius: 16px;
    background-color:white;
    border: 1px solid rgb(247, 97, 97);
    cursor: pointer;
  }
  .footer-btn:hover{
    background-color: rgb(247, 97, 97);
    color: white;
   
  }
  .next-btn:hover{
    background-color: #039be5 ;
   // border: 1px solid rgb(247, 97, 97);
    color:  white;
   
  }
  
  button:disabled {
    color: white;
   background-color: #7bd3ff  !important;
   //background-color: #b7e6fd ;
    border-radius: 2px;
   // border: 1px solid #CCCCCC;
   border: 1px solid  #b7e6fd ;
  }

}