@import "src/@fuse/scss/fuse";

app-browse-ipadvance{

.active-icon {
    border-radius: 50%;
}

.mat-header-row {
    width: 1400px;
    max-width: 1400px;
    min-width: 1400px;  
    // min-height: 30px;     
}

.mat-row {
    width: 1400px;
    max-width: 1400px;
    min-width: 1400px;           
}

.mat-column-RegNo {
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
}
.mat-column-PatientName {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    justify-content:flex-start;
    margin-right: 12px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    padding-top: 7px; 
    justify-content:left; 
}
.mat-column-Date {
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
}

.mat-column-AdvanceNo {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    justify-content:flex-start;
}
.mat-column-AdvanceAmount {
    width: 140px;
    max-width: 140px;
    min-width: 140px;
    justify-content:left;
}
.mat-column-CashPayAmount{
    width: 140px;
    max-width:140px;
    min-width:140px;
    // text-align: center;
    justify-content:left;
}
.mat-column-ChequePayAmount{
    width: 150px;
    max-width:150px;
    min-width:150px;
    // text-align: center;
    justify-content:left;
}
.mat-column-CardPayAmount{
    width: 140px;
    max-width:140px;
    min-width:140px;
    justify-content:left;
}

.mat-column-UserName{
    width: 160px;
    max-width:160px;
    min-width:160px;
    justify-content:flex-start;
    margin-right: 12px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    padding-top: 7px; 
    justify-content:left; 
}
.mat-column-buttons {
    width:120px;
    max-width: 120px;
    min-width: 120px;
    text-align: left;
    justify-content:left;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 50%;
}
.mat-menu-item {
    line-height: 25px;
    height: 25px;
    padding: 0px 5px;
    text-align: left;
    justify-content:center;
}

.table-actions{
    color: white;
}

}
