$modal-gap: 16px;
$modalHeader: 60px;
.mat-typography {
    mat-dialog-container,.modal-page {
        height: 100%;
        .modal-wrapper {
            overflow: auto;
            &.grid-container {
                display: grid;
                grid-template-rows: auto 1fr;
                height: 100%;
                width: 100%;
            }
            .modal-header {
                background-color: $primary-600;
                color: $primary-25;
                .modal-header-content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 12px $modal-gap;
                    max-height: $modalHeader;
                    .modal-header-title {
                        @include font-size(18px);
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 8px;
                        .title {
                        }
                        .title-icon {
                        }
                    }
                    .modal-header-icon,
                    .c {
                        .modal-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    .close-icon {
                        cursor: pointer;
                    }
                    .comman-date-container {
                        display: flex;
                        flex-flow: row;
                        gap: 4px;
                        align-items: center;
                        mat-form-field {
                            @include font-size(12px);
                            max-height: 40px;
                            .mat-form-field-wrapper {
                                margin: 0;
                                padding: 0;
                                .mat-form-field-flex {
                                    .mat-form-field-infix {
                                        padding: 0.7em 0;
                                    }
                                }
                            }
                            svg {
                                path {
                                    fill: $gray-200;
                                }
                            }
                            .material-icons {
                                color: $gray-200;
                            }
                        }
                        .padding-div {
                            padding: 0;
                        }
                    }
                }
            }
            .modal-body {
                padding: $modal-gap;
                overflow: auto;
                .modal-body-container{
                    height: 100%;
                }
                .card-header-container {
                    padding-bottom: 12px;
                    margin-bottom: 12px;
                    border-bottom: 1px solid $gray-200;
                    .card-title {
                        @include font-size(18px);
                        font-weight: 600;
                    }
                }
                .detail-wrapper{
                    mat-card{
                        mat-card-content{
                            padding-top: 4px;
                            padding-bottom: 4px;
                        }
                    }
                }
                .detail-container {
                    .detail-header {
                        display: flex;
                        align-items: center;
                        padding: 8px 16px;
                        margin-bottom: 8px;
                        border-radius: 4px;
                        background-color: $primary-600;
                        color: $primary-25;
                        @include font-size(15px);
                        font-weight: 600;
                        .title {
                        }
                    }
                }
            }
            .modal-footer {
                padding: 0 $modal-gap $modal-gap $modal-gap;
                .modal-footer-container {
                    display: flex;
                    justify-content: space-between;
                }
                .modal-footer-buttons {
                    display: flex;
                    justify-content: flex-end;
                    gap: 8px;
                }
            }
        }
        @include themed() {
            // background-color: t($bg-color-light);
            color: t($text-color);
            .modal-wrapper {
                &.grid-container {
                }
                .modal-header {
                    background-color: t(ngt-primary);
                    color: t(ngt-primary-text);
                    .modal-header-content {
                        .modal-header-title {
                            .title {
                            }
                            .title-icon {
                            }
                        }
                        .modal-header-icon {
                            .modal-icon {
                            }
                        }
                        .comman-date-container {
                            .mat-form-field {
                                .mat-form-field-wrapper {
                                    .mat-form-field-flex {
                                        .mat-form-field-infix {
                                        }
                                    }
                                }
                                svg {
                                    path {
                                        fill: $gray-200;
                                    }
                                }
                                .material-icons {
                                    color: $gray-200;
                                }
                            }
                            .padding-div {
                            }
                        }
                    }
                }
                .modal-body {
                }
                .modal-footer {
                    .modal-footer-buttons {
                    }
                }
            }
            .mat-icon {
            }
        }
    }
}
