.mat-dialog-container {
    .modal-header {
        background-color: $primary-600;
        color: $primary-25;
        .modal-header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 16px;
            .modal-header-title {
                @include font-size(15px);
            }
            .modal-header-icon {
                .modal-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .modal-body {
        padding: 0 16px ;
    }
    .modal-footer {
        padding: 0 16px 16px 16px ;
        .modal-footer-buttons{
            display: flex;
            justify-content: flex-end;
            gap: 8px;
        }
    }
}
