$sidebar-gap: 12px;

fuse-sidebar {
    .search-title {
        @include font-size(16px);
    }
    .clearbutton {
        // margin-right: 10px;
    }
}
.fuse-search-sidebar,
.fuse-search-sidebar.mat-drawer {
    margin: $sidebar-gap 0 0 $sidebar-gap;
    border-radius: 4px;
    font-family: inherit;
    height: 100%;
    @include box-shadow-small();
    .sidebar-content {
        .sidebar-header {
            padding: 12px;
            .search-title {
                font-size: 1.1rem;
            }
        }
        .sidebar-body {
            .sidebar-form {
                > form {
                    padding: $sidebar-gap;
                }
            }
        }
        mat-form-field {
            width: 100%;
            .mat-form-field-wrapper {
                padding-bottom: 10px;
            }
        }
        .action-buttons {
            display: flex;
            justify-content: flex-start;
            gap: 12px;
            margin-top: 10px;
            .mat-icon {
                margin: 0;
                color: $primary-600;
            }
        }
    }
    .nav {
        // &.material2 {
        //     form {
        //         padding: $sidebar-gap;
        //     }
        // }
    }
    .mat-mdc-radio-group {
        display: flex !important;
        flex-flow: column !important;
        align-items: start !important;
    }
    .mat-mdc-raised-button {
        .mat-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    }
    @include themed() {
        background-color: t($bg-color);
        .sidebar-content {
            .sidebar-header {
                .search-title {
                }
            }
            .sidebar-body {
                .sidebar-form {
                    form {
                    }
                }
            }
            .mat-form-field {
                .mat-form-field-wrapper {
                }
            }
            .action-buttons {
                .mat-icon {
                    color: t($text-color);
                }
            }
        }
    }
}
