.mat-table {
    border-radius: 4px;
    overflow: auto;
    font-family: inherit;
    .mat-header-row,
    .mat-row {
        min-height: auto;
        height: auto;
    }

    .mat-header-row {
        .mat-header-cell {
            @include font-size(13px);
            color: inherit;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: $font-primary;
            font-weight: normal;
            &:not(:first-of-type) {
                padding: 10px 10px;
            }
            &:first-of-type {
                border-radius: 4px 0 0 4px;
            }
            &:last-of-type {
                border-radius: 0 4px 4px 0;
            }
            .mat-sort-header-button,
            .mat-sort-header-arrow {
                color: inherit;
            }
        }
    }
    .mat-row {
        .mat-cell {
            @include font-size(12px);
            font-family: $roboto;
            word-break: break-word;
            line-height: 20px;
            font-family: $font-primary;
            &:not(:first-of-type) {
                padding: 5px 10px;
            }
            .mat-icon-button {
                height: 25px;
                width: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 25px;
                .material-icons {
                    @include font-size(16px);
                }
            }
            > span {
                @include line-clamp(1);
            }
            .text-overflow{
                @include line-clamp(1);
            }
        }
        &:hover {
            background: #d7d7d7;
        }
        &:active {
            background: #d7d7d7;
        }
        &.self-row {
            background-color: $primary-50;
        }
    }
    .mat-footer-row{
        .mat-footer-cell{
            @include font-size(14px);
        }
    }
    .mat-form-field {
        &.mat-form-field-appearance-legacy {
            .mat-form-field-wrapper {
                padding: 0;
                .mat-form-field-flex {
                    .mat-form-field-infix {
                        width: auto;
                        border: 0;
                    }
                }
                .mat-form-field-underline {
                    bottom: 0;
                }
            }
        }
    }
    .mat-checkbox {
        .mat-checkbox-ripple{
            height: 0;
            width: 0;
        }
    }
}
.table-wrapper {
    position: relative;
}
