@import "./mat-components/index.scss";
@import "./card";
@import "./input";
@import "./button";
@import "./dropdown";
@import "./checkbox";
@import "./switch";
@import "./table";
@import "./utils";
@import "./radio";
@import "./webcam-model";
@import "./modal";
@import "./footer";