.actionBtn {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 1.2em;
    background-color: #bbb8b8 !important;
  }
  
  .snapshot {
    text-align: center;
    img {
      max-width: 800px;
      max-height: 800px;
    }
    padding-bottom: 20px;
  }
  
  ul.links {
    padding-bottom: 20px;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  