<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->

    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center ">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="space-between center " style="width: 100%;">
            <!-- <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
            </mat-icon> -->

            <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                style="font-size: 20px;width: 70%; font-weight: 400;">
                Payment Transaction
            </span>

            <div fxLayout="column" fxLayout.gt-xs="row">
                <app-common-date [screenFrom]="screenFromString" (dateTimeEventEmitter)="getDateTime($event)"
                    style="border-color: red;"></app-common-date>
                <span class="material-icons" style="cursor: pointer; margin-top: 18px; color: #fff;"
                    (click)="onClose1()">
                    close
                </span>
            </div>
        </div>

    </div>


    
    <hr />

    <div class="payment-container">
        <form [formGroup]="paymentForm">
            <div class="chips-container" style="margin-bottom: 20px;">
                <mat-chip-listbox aria-label="Fish selection" selectable multiple>
                    <mat-chip *ngFor="let chip of chipsElements" [selected]="chip.state"
                        (click)="chipsSelectionChanged(chip)">
                        <span class="chips-name">{{chip.name}}</span>
                    </mat-chip>
                </mat-chip-listbox>
            </div>
            <hr size="50">
            <div style="padding: 20px 20px 100px 20px; height: 250px !important;  overflow: auto !important;">
                <div *ngIf="chipsElements[0].state">
                    <div>
                        <span>Cash Payment</span>
                    </div>
                    <mat-form-field appearance="outline" style="width: 180px;">
                        <mat-label>Enter Cash</mat-label>
                        <input type="number" min="1" required matInput formControlName="cashAmountController"
                            [(ngModel)]="cashAmt" (keyup)="calculatePaidAmt('cashAmountController')"
                            (change)="chkPaidAmt($event,'cashAmountController')">
                        <mat-error
                            *ngIf="paymentForm.controls.cashAmountController.touched && paymentForm.controls.cashAmountController.invalid">
                            <span *ngIf="paymentForm.controls.cashAmountController.errors.required">This field is
                                mandatory.</span>
                            <span *ngIf="paymentForm.get('cashAmountController').invalid">This field is
                                invalid.</span>
                        </mat-error>
                        <!-- <mat-error class="error"
                        *ngIf="paymentForm.get('cashAmountController').invalid && paymentForm.get('cashAmountController').touched">
                         Amount is   required</mat-error>
                        <mat-error *ngIf="paymentForm.get('cashAmountController').hasError('invalidRange')">
                            Entered Amount must not be greater than Net Amount
                        </mat-error> -->

                    </mat-form-field>
                </div>

                <div *ngIf="chipsElements[1].state">
                    <div>
                        <span>Card Payment</span>
                    </div>
                    <div class="cards-div" fxLayout.gt-xs="row" fxLayoutAlign="start">
                        <div style="margin-right: 10px;">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter Amount</mat-label>
                                <input matInput formControlName="cardAmountController" [(ngModel)]="cardAmt"
                                    type="number" min="0" (keyup)="calculatePaidAmt('cardAmountController')">
                                <mat-error class="error"
                                    *ngIf="paymentForm.get('cardAmountController').invalid && paymentForm.get('cardAmountController').touched">
                                    Entered Amount must not be greater than Net Amount</mat-error>
                                <!-- <mat-error
                                    *ngIf="paymentForm.get('cardAmountController').hasError('invalidRange')">
                                    Entered Amount must not be greater than Net Amount
                                </mat-error> -->

                            </mat-form-field>
                        </div>
                        <div style="margin-right: 10px;">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter Card No</mat-label>
                                <input matInput [(ngModel)]="cardNo" formControlName="cardNumberController">
                                <mat-error class="error"
                                    *ngIf="paymentForm.get('cardNumberController').invalid && paymentForm.get('cardNumberController').touched"></mat-error>
                            </mat-form-field>
                        </div>
                        <div style="margin-right: 10px;width:200px;">

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Select Bank Name</mat-label>
                                <mat-select formControlName="cardBankNameController" placeholder="Bank" #singleSelect
                                    [(ngModel)]="bankNameData">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="cardbankFilterCtrl"
                                            [placeholderLabel]="'Search'" [noEntriesFoundLabel]="'No matching found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let element of filteredCardbank | async" [value]="element">
                                        {{element.BankName}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>


                            <!-- <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Select Bank Name</mat-label>
                                <input matAutocompletePosition="below" type="text" placeholder="Select Prefix" matInput
                                  formControlName="cardbankFilterCtrl" [matAutocomplete]="autoPrefix" required>
                                <span matSuffix style="display: flex;">
                                  <mat-icon class="mat-icon-close"
                                    (click)="personalFormGroup.get('cardbankFilterCtrl').setValue(''); isBankSelected = false;">close</mat-icon>
                                  <mat-icon class="mat-icon-close"
                                    (click)="personalFormGroup.get('cardbankFilterCtrl').setValue(''); isBankSelected = false;">search</mat-icon>
                                </span>
                                <mat-autocomplete #autoPrefix="matAutocomplete" [displayWith]="getOptionTextBank">
                                  <mat-option *ngFor="let option of filteredOptionsBank | async" [value]="option"
                                    (onSelectionChange)="onChangeGenderList(option)">
                                    {{option.BankName}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field> -->

                        </div>
                        <div style="margin-right: 10px;">
                            <!-- <mat-form-field appearance="outline">
                                <mat-label>Enter Date</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="cardDate"
                                    placeholder="Choose a DateofBirth" name="cardDateController"
                                    formControlName="cardDateController">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field> -->

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Enter date</mat-label>
                                <input matInput [matDatepicker]="picker" name="cardDateController"
                                    formControlName="cardDateController">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>

                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div *ngIf="chipsElements[2].state">
                    <div>
                        <span>Cheque Payment</span>
                    </div>
                    <div class="cards-div" fxLayout.gt-xs="row" fxLayoutAlign="start">
                        <div style="margin-right: 10px;">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter Amount</mat-label>
                                <input matInput formControlName="chequeAmountController" [(ngModel)]="chequeAmt"
                                    type="number" min="0" (keyup)="calculatePaidAmt('chequeAmountController')">
                                <mat-error class="error"
                                    *ngIf="paymentForm.get('chequeAmountController').invalid && paymentForm.get('chequeAmountController').touched">
                                    digits is required</mat-error>
                                <!-- <mat-error class="error"
                                    *ngIf="paymentForm.get('chequeAmountController').invalid">
                                    digits  required</mat-error> -->


                                <!-- <mat-error class="error"
                                    *ngIf="paymentForm.get('chequeAmountController').invalid && paymentForm.get('chequeAmountController').touched">
                                    Only Digits</mat-error>    -->
                            </mat-form-field>
                        </div>
                        <div style="margin-right:10px;">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter Cheque No</mat-label>
                                <input matInput [(ngModel)]="chequeNo" formControlName="chequeNumberController">
                            </mat-form-field>
                        </div>
                        <div style="margin-right: 10px; width:200px;">

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Select Bank Name</mat-label>
                                <mat-select formControlName="chequeBankNameController" placeholder="Bank" #singleSelect>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="chequebankFilterCtrl"
                                            [placeholderLabel]="'Search'" [noEntriesFoundLabel]="'No matching found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let element of filteredChequebank | async" [value]="element">
                                        {{element.BankName}}
                                    </mat-option>
                                </mat-select>
                                <!-- <mat-error class="error"
                                *ngIf="paymentForm.get('chequeBankNameController').invalid && paymentForm.get('chequeBankNameController').touched">
                                Bank Name is required</mat-error> -->
                            </mat-form-field>

                        </div>
                        <div style="margin-right: 10px;">
                            <!-- <mat-form-field appearance="outline">
                                <mat-label>Enter Date</mat-label>
                                <input name="ChequeDate" [(ngModel)]="chequeDate" matInput [matDatepicker]="picker2"
                                    formControlName="chequeDateController"  required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field> -->


                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>ChequeDate </mat-label>
                                <input matInput [matDatepicker]="picker" name="chequeDateController"
                                    formControlName="chequeDateController" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>

                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div *ngIf="chipsElements[3].state">
                    <div>
                        <span>NEFT Payment</span>
                    </div>
                    <div class="cards-div" fxLayout.gt-xs="row" fxLayoutAlign="start">
                        <div style="margin-right: 10px;">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter Amount</mat-label>
                                <input matInput formControlName="neftAmountController" [(ngModel)]="neftAmt"
                                    type="number" min="0" (keyup)="calculatePaidAmt('neftAmountController')">
                                <mat-error
                                    *ngIf="paymentForm.get('neftAmountController').hasError('invalidRange') || paymentForm.get('neftAmountController').invalid">
                                    Entered Amount must not be greater than Net Amount
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div style="margin-right: 10px;">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter NEFT No</mat-label>
                                <input matInput [(ngModel)]="neftNo" formControlName="neftNumberController">
                            </mat-form-field>
                        </div>
                        <div style="margin-right: 10px;width:200px;">

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Select Bank Name</mat-label>
                                <mat-select formControlName="neftBankNameController" placeholder="Bank" #singleSelect>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="bankFilterCtrl"
                                            [placeholderLabel]="'Search'" [noEntriesFoundLabel]="'No matching found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let element of filteredBank | async" [value]="element">
                                        {{element.BankName}}
                                    </mat-option>
                                </mat-select>
                                <!-- <mat-error class="error"
                                *ngIf="paymentForm.get('neftBankNameController').invalid && paymentForm.get('neftBankNameController').touched">
                                Bank Name is required</mat-error> -->
                            </mat-form-field>

                        </div>
                        <div style="margin-right: 10px;">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter Date</mat-label>
                                <input name="NEFTDate" matInput [matDatepicker]="picker"
                                    formControlName="neftDateController" [readonly]="true" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!-- <div style="margin-right: 10px;">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter Date</mat-label>
                                <input name="NEFTDate" matInput [matDatepicker]="picker"
                                    formControllName="neftDateController" [readonly]="true" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div> -->
                    </div>
                </div>
                <div *ngIf="chipsElements[4].state">
                    <div>
                        <span>PayTM Payment</span>
                    </div>
                    <div class="cards-div" fxLayout.gt-xs="row" fxLayoutAlign="start">
                        <div style="margin-right: 10px;">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter Amount</mat-label>
                                <input matInput formControlName="paytmAmountController" [(ngModel)]="paytmAmt"
                                    type="number" min="0" (keyup)="calculatePaidAmt('paytmAmountController')">
                                <mat-error *ngIf="paymentForm.get('paytmAmountController').hasError('invalidRange')">
                                    Entered Amount must not be greater than Net Amount
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div style="margin-right: 10px;">
                            <!-- <mat-form-field appearance="outline">
                                <mat-label>Trans ID/Mobile No</mat-label>
                                <input matInput [(ngModel)]="paytmTransNo" formControlName="paytmMobileNoController">
                                <mat-error class="error"
                                    *ngIf="paymentForm.get('paytmMobileNoController').invalid && paymentForm.get('paytmMobileNoController').touched">
                                    Please enter valid 10 Digit</mat-error>
                            </mat-form-field> -->

                            <mat-form-field appearance="outline">
                                <mat-label>Trans ID/Mobile No</mat-label>
                                <input name="UPI No" formControlName="paytmMobileNoController" #mobile
                                    placeholder="UPI Number" matInput required [(ngModel)]="paytmTransNo"
                                    max="9999999999" min="1000000000" autocomplete="off" maxlength="10"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1').slice(0, 10);"
                                    required="required" value="9876658688">
                                <mat-error class="error"
                                    *ngIf="paymentForm.get('paytmMobileNoController').invalid && paymentForm.get('paytmMobileNoController').touched">10
                                    digits Mobile number is
                                    required</mat-error>
                            </mat-form-field>
                        </div>
                        <div style="margin-right: 10px;">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter Date</mat-label>
                                <input name="PayTMDate" matInput [matDatepicker]="picker"
                                    formControlName="paytmDateController" [readonly]="true" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div *ngIf="chipsElements[5].state">
                    <div>
                        <span>Wrf Payment</span>
                    </div>
                    <div class="cards-div" fxLayout.gt-xs="row" fxLayoutAlign="start">
                        <div style="margin-right: 10px;">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter Amount</mat-label>
                                <input matInput formControlName="wrfAmountController" [(ngModel)]="wrfAmt" type="number"
                                    min="0" (keyup)="calculatePaidAmt('wrfAmountController')">
                                <mat-error *ngIf="paymentForm.get('wrfAmountController').hasError('invalidRange')">
                                    Entered Amount must not be greater than Net Amount
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>


            <hr size="50">
            <div>
                <div>
                    <span>Paid Amount</span>
                </div>
                <div class="cards-div" fxLayout.gt-xs="row" fxLayout="row" style="width: 100%;"
                    fxLayoutAlign="space-between center ">
                    <div style="margin-right: 10px; width: 68%;">
                        <mat-form-field appearance="outline" style="width: 180px;">
                            <mat-label>Paid Amount</mat-label>
                            <input matInput formControlName="paidAmountController" [(ngModel)]="paidAmt" readonly>
                        </mat-form-field> &nbsp;


                        <mat-form-field appearance="outline" style="width: 180px;">
                            <mat-label>Balance Amount</mat-label>
                            <input matInput #balanceAmnt formControlName="balanceAmountController"
                                [(ngModel)]="balanceAmt" readonly>
                        </mat-form-field> &nbsp;
                        <!-- <app-refund-of-advance [BalanceData]="balanceAmnt.value"> </app-refund-of-advance> -->




                        <mat-form-field appearance="outline" style="width: 180px;">
                            <mat-label>Comments</mat-label>
                            <input matInput formControlName="commentsController">
                        </mat-form-field> &nbsp;
                    </div>
                    <!-- <div class="admini-checkbox" style="margin-top: 10px;">
                        <mat-checkbox class="labels-style" formControlName="Iscredited"
                            (change)='Adminchargeselect($event)' aria-label="Administrative Charges"
                            style="font-weight: bold;">
                            Is credited
                        </mat-checkbox>
                    </div>&nbsp; -->
                    <!-- <div class="save-payment">
                      
                        <button type="submit" class="next-btn" (click)="saveClicked()"
                            [disabled]="isLoading=='submit' || paymentForm.invalid || checkAmt(netPayAmt,cashAmt,cardAmt,neftAmt,paytmAmt,wrfAmt)"
                            style="border-radius: 16px;">
                            <span style="display: flex;justify-content: center;">
                                <mat-spinner *ngIf="isLoading=='submit'" [color]="white" [diameter]="20">
                                </mat-spinner>
                                <span style="margin-left: 5px;">Save</span>
                            </span>
                        </button>
                        &nbsp;
                        <button class="footer-btn" (click)="onClose()" style="border-radius: 16px;">Close</button>


                    </div> -->


                    <div class="action-btns gap-8" fxLayout="row">
                        <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
                        <button class="btn btn-primary" (click)="saveClicked()"
                            [disabled]="isLoading=='submit' || paymentForm.invalid || checkAmt(netPayAmt,cashAmt,cardAmt,neftAmt,paytmAmt,wrfAmt)">Save</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>