<div class="content-card" style="width:100%;height:100%">
    <div class="dialog-content-wrapper">
        <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center " style="height: 40px;width: 100%;">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="space-between center " style="width: 100%;">
                <!-- <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                </mat-icon> -->

                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                    style="font-size: 20px;width: 70%; font-weight: 400;">
                    OT Notes
                </span>

                <div fxLayout="column" fxLayout.gt-xs="row">
                    <app-common-date [screenFrom]="screenFromString" (dateTimeEventEmitter)="getDateTime($event)"
                        style="border-color: red;"></app-common-date>
                    <span class="material-icons" style="cursor: pointer; margin-top: 18px; color: #fff;"
                        (click)="onClose()">
                        close
                    </span>
                </div>
            </div>
           
        </div>

        <br />
        <div>
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="5px">
                <!-- <form [formGroup]="myRefundBillForm" style="width: 100%;"> -->
                <div fxFlex.gt-sm="100%" fxFlex>
                    <div fxlayout="row" style="background-color: white; padding: 5px 5px 5px 5px;">
                        <!-- ================================ LABEL HEADER  -->
                        <mat-card fxFlex.gt-sm="100%" fxFlex style="padding: 0 9px; height: fit-content;">
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between">
                                <h3 style="font-weight: bold; font-size: 23px; margin: 0 0 0px;">Patient Information
                                </h3>
                            </div><br />
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between"
                                style="align-items: baseline;">

                                <button class="search-btn" mat-raised-button style="border-radius: 16px;"
                                    (click)="searchPatientList()">Search
                                    <mat-icon>search</mat-icon>
                                </button>

                                <span class="label"> Patient Name : </span>
                                <span class="data_input">{{PatientName}}</span>

                                <span class="label">Age(Y) :</span>
                                <span class="data_input">{{AgeYear}}
                                </span>

                                <span class="label">OPIPNo :</span>
                                <span class="data_input">{{OPIP}}</span>


                                <span class="label">Class Name : </span>
                                <span class="data_input">{{classname}}</span>

                                <span class="label">Tariff Name : </span>
                                <span class="data_input">{{tariffname}}
                                </span>


                                <span class="label">Bed Name : </span>
                                <span class="data_input">{{Bedname}}</span>

                                <span class="label">Ward Name : </span>
                                <span class="data_input">{{wardname}}
                                </span>
                                <!-- <app-common-date [screenFrom]="screenFromString"
                                    (dateTimeEventEmitter)="getDateTime($event)">
                                </app-common-date> -->
                            </div>
                        </mat-card>
                        <!-- ================================ LABEL HEADER  -->
                    </div>

                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
    <br />
    <!--Middle Data-->
    <div class="content">
        <!-- CENTER -->
        <div class="center p-24 pb-56">
            <!-- CONTENT -->
            <div class="content-card">
                <div fxFlexFill fxLayout="column" fxLayoutGap="10px">

                    <div fxFlex.gt-sm="100%" fxFlex fxLayoutGap="10px">

                        <form [formGroup]="_OtManagementService.otreservationFormGroup" style="padding:20px;">

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
                            style="margin-left:20px;margin-right:20px ;">

                            <ejs-datetimepicker #ejDateTimePicker formControlName="OPDate"
                            placeholder="Select OPDate" name="datetimepicker" floatLabelType='Auto'
                            style="width:25%;height:60px;margin-bottom:30px ;" [(ngModel)]="Today">
                         </ejs-datetimepicker>

                        </div>
                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
                                style="margin-left:20px;margin-right:20px ;">
                                <mat-form-field appearance="outline" style="width:50%;">
                                    <mat-label>Procedure Name (category)</mat-label>
                                    <mat-select formControlName="SurgeryCategoryId" placeholder="Bank" #singleSelect>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="CategoryFilterCtrl1"
                                                [placeholderLabel]="'Search'"
                                                [noEntriesFoundLabel]="'No matching found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let element of filteredCategory | async" [value]="element">
                                            {{element.SurgeryCategoryName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" style="width:50% ;">
                                    <mat-label>Surgery Name </mat-label>
                                    <mat-select formControlName="SurgeryId" required>
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let m of SurgeryList" [value]="m">
                                            {{m.SurgeryName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>



                                <mat-form-field appearance="outline" style="width:50% ;">
                                    <mat-label>AnesthestishDoctor Name</mat-label>
                                    <mat-select formControlName="AnestheticsDr" placeholder="Bank" #singleSelect>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="AnesthDoctFilterCtrl1"
                                                [placeholderLabel]="'Search'"
                                                [noEntriesFoundLabel]="'No matching found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let element of filteredAnesthDoctor1 | async"
                                            [value]="element">
                                            {{element.DoctorName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
                                style="margin-left:20px;margin-right:20px ;">

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Assistance Scrub</mat-label>
                                    <mat-select formControlName="AnestheticsDr1" placeholder="Bank" #singleSelect>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="AnesthDoctFilterCtrl2"
                                                [placeholderLabel]="'Search'"
                                                [noEntriesFoundLabel]="'No matching found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let element of filteredAnesthDoctor2 | async"
                                            [value]="element">
                                            {{element.DoctorName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                                <mat-form-field appearance="outline"
                                    style="margin-left:20px;margin-right:20px ;width:50%;">
                                    <mat-label>AnesthType</mat-label>
                                    <input name="AnesthType" formControlName="AnesthType" placeholder="AnesthType"
                                        matInput>
                                </mat-form-field>
                            </div>
                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
                                style="margin-left:20px;margin-right:20px ;">

                                <h3 style="padding:5px;font-weight:bold;">Circulating Staff</h3>
                                <mat-form-field appearance="outline" class="mr-sm-12" style="width:40%;">
                                    <textarea name="Circulatingstaff" matInput rows="2" cols="4"
                                        placeholder="Enter Circulatingstaff" formControlName="Circulatingstaff">
                                </textarea>
                                </mat-form-field>

                                <h3 style="font-weight:bold;"> Anesthatist Name</h3>
                                <mat-form-field appearance="outline" class="mr-sm-12" style="width:40%;">
                                    <textarea name="AnathesticNAme" matInput rows="2" cols="4"
                                        placeholder="Enter AnathesticNAme" formControlName="AnathesticNAme">
                                </textarea>
                                </mat-form-field>


                            </div>

                            <div class="editor" fxLayoutGap="4px"  style="margin-left:20px;margin-right:20px ;">

                                <h3 style="font-weight:bold;">OT Note</h3>
                                <mat-form-field appearance="outline" class="mr-sm-12" style="width:100%;">
                                    <textarea name="OtNote" matInput rows="2" cols="7" placeholder="Enter OtNote"
                                        formControlName="OtNote">
                                              </textarea>
                                </mat-form-field>


                                <h3 style="font-weight:bold;">Extra</h3>
                                <mat-form-field appearance="outline" class="mr-sm-12" style="width:100%;">
                                    <textarea name="Extra" matInput rows="2" cols="5" placeholder="Enter Extra"
                                        formControlName="Extra">
                                              </textarea>
                                </mat-form-field>

                                <h3 style="font-weight:bold;">Post Oprative Note To Post Oprative Area</h3>
                                <mat-form-field appearance="outline" class="mr-sm-12" style="width:100%;">
                                    <textarea name="Pre" matInput rows="2" cols="5" placeholder="Enter Pre"
                                        formControlName="Pre">
                                        </textarea>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" style=" float: right;">
                                <!-- [disabled]="this._OtManagementService.otreservationFormGroup.invalid" -->
                                <button class="next-btn" color="accent" style="border-radius: 16px;"
                                    (click)="onSubmit()">Save</button>
                                <button class="footer-btn" id="btncancel" (click)="onClose()">Cancel</button>

                            </div>
                            </form>

                    </div>
                </div>
            </div>


            <!-- / CENTER -->
        </div>
        <!--End of Middle Data-->

    </div>



</div>