.mat-column-HeadName {
    width:200px;
    max-width: 200px;
    min-width: 200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }
  .mat-column-Narration {
    width:250px;
    max-width: 250px;
    min-width: 250px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }
  .red-row {
    background-color: lightcoral !important; /* Use !important to override default styles */
    //color: white; /* Optional: Change text color for better visibility */
    }