app-discharge {
    .buttons {
        padding-left: 25px;
        padding-top: 5px;
        text-align: right;
    }

    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
body.theme-default .accent{
    background-color: #0479b4 !important;
    // color: black !important;
}