.status-completed {
    padding: 2px 12px;
    border-radius: 12px;
    background-color: #d4edda;
    color: #155724;
    font-weight: 500;
    font-size: 12px;
}

.status-pending {
    padding: 2px 12px;
    border-radius: 12px;
    background-color: #fff3cd;
    color: #856404;
    font-weight: 500;
    font-size: 12px;
}

.status-box {
    padding: 2px 0;
    /* top & bottom */
}

.Patienttype-urgent {
    padding: 2px 12px;
    border-radius: 12px;
    background-color: #fdecea;
    color: #c62828;
    font-weight: 500;
    font-size: 12px;
}

.Patienttype-vip {
    padding: 2px 12px;
    border-radius: 12px;
    background-color: #f3e5f5;
    color: #6a1b9a;
    font-weight: 500;
    font-size: 12px;
}

.Patienttype-normal {
    padding: 2px 12px;
    border-radius: 12px;
    background-color: #e8f5e9;
    color: #2e7d32;
    font-weight: 500;
    font-size: 12px;
}