.p-sm-24 {
    padding: 10px !important;
}

app-ward-master {
    .mat-header-row {
        width: 850px;
        max-width: 850px;
        min-width: 850px;
        font-weight: bold;
    }

    .mat-row {
        width: 850px;
        max-width: 850px;
        min-width: 850px;
    }

    .mat-column-RoomId {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-RoomName {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }
    .mat-column-LocationName {
        width: 140px;
        max-width: 140px;
        min-width: 140px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }

    .mat-column-ClassName {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }
    // .mat-column-AddedByName {
    //     width: 100px;
    //     max-width: 100px;
    //     min-width: 100px;
    // }

    .mat-column-IsAvailable {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-IsDeleted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        // color: white !important;
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
