.status-completed {
    padding: 2px 12px;
    border-radius: 12px;
    background-color: #d4edda;
    color: #155724;
    font-weight: 500;
    font-size: 12px;
}

.status-pending {
    padding: 2px 12px;
    border-radius: 12px;
    background-color: #fff3cd;
    color: #856404;
    font-weight: 500;
    font-size: 12px;
}

.status-box {
    padding: 2px 0;
    /* top & bottom */
}

.gridtitle {
    font-weight: bold;
    font-size: 20px;
    padding: 2px;
    height: 30px;
    width: 99%;
    margin-left: 10px;
    // background-color: #3a3aa0 ;
    color: black;
}