app-pharmacy-clearence {
    .table1 {
      height: 700px;
      min-height: 700px;
      max-height: 700px;
      width: 100%;
      // max-width: 1400px;
      // min-width: 1400px;
       
    .mat-column-IssueTrackerId {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }
    .mat-column-IssueRaisedDate {
      width: 180px;
      max-width: 180px;
      min-width: 180px;
      text-align: left;
      justify-content: left;
  
    }
    .mat-column-IssueRaisedTime {
      width: 155px;
      max-width: 155px;
      min-width: 155px;
      text-align: left;
      justify-content: left;
  
    }
    .mat-column-IssueSummary {
       width: 230px;
        max-width: 230px;
        min-width: 230px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-block;
        margin-top: 20px;
        margin-right: 10px;
        justify-content: left;
  
    }
    .mat-column-IssueDescription {
      width: 280px;
      max-width: 280px;
      min-width: 280px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden !important;
      display: inline-block;
      margin-top: 20px;
      margin-right: 10px;
      justify-content: left;
  
    }
    .mat-column-UploadImagePath {
      width: 300px;
        max-width: 300px;
        min-width: 300px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-block;
        margin-top: 20px;
        margin-right: 10px;
        justify-content: left;
  
    }
    .mat-column-ImageName {
      width: 140px;
        max-width: 140px;
        min-width: 140px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-block;
        margin-top: 20px;
        justify-content: left;
  
    }
    .mat-column-IssueStatus {
      width: 110px;
      max-width: 110px;
      min-width: 110px;
      text-align: left;
      justify-content: left;
  
    }
    .mat-column-IssueAssigned {
      width: 140px;
      max-width: 140px;
      min-width: 140px;
      text-align: left;
      justify-content: left;
  
    }
    .mat-column-AddedBy {
      width: 80px;
      max-width: 80px;
      min-width: 80px;
      text-align: left;
      justify-content: left;
  
    }
    .mat-column-AddedDatetime {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
      justify-content: left;
  
    }
    }

  
   
  
    
}
 

  