<div class="page-layout simple inner-scroll inner-sidebar right-sidebar">
    <mat-toolbar style="height: 50px; justify-content:space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                style="color: white;">
                <mat-icon>account_box</mat-icon>
            </button>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
              Pharmacy Clearance
            </span> 
        </div>
    </mat-toolbar>
    
    
    <div class="content">
    
        <div class="center p-12 pb-56" fxFlexAlign="start center">
    
            <div class="content-card" style="border-radius:4px; ">
                <div class="nav material2">
                    <div fxFlexFill fxLayout="column" fxLayoutGap="9px">
    
                        <form [formGroup]="_PharmacyClearenceService.userFormGroup" style="padding: 6px 6px 5px 5px;">
                            <div fxLayout="column" fxLayoutGap="10px">
    
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <div class="radio-container">
                                        <mat-radio-group formControlName="Op_ip_id" fxFlex="5%">
                                            <mat-radio-button value="1">IP</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
    
                                    <mat-form-field appearance="outline" fxFlex="50%">
                                        <mat-label>PatientName</mat-label>
                                        <input type="text" name="RegID" formControlName="RegID" matInput required
                                            placeholder="RegNo / First Name / Last Name / Mobile No"
                                            [matAutocomplete]="auto" #RegID (input)="getRefSearchList()">
                                        <span matSuffix style="display: flex;">
                                            <mat-icon class="mat-icon-close"
                                                (click)="_PharmacyClearenceService.userFormGroup.get('RegID').setValue(''); isRegIdSelected = false;">close</mat-icon>
                                            <mat-icon class="mat-icon-close"
                                                (click)="_PharmacyClearenceService.userFormGroup.get('RegID').setValue(''); isRegIdSelected = false;">search</mat-icon>
                                        </span>
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionTextref"
                                            (optionSelected)='getSelectedObj($event.option.value)'>
                                            <mat-option *ngFor="let option of PatientListfilteredOptionsref"
                                                [value]="option">
                                                {{option.FirstName}} {{option.MiddleName}} {{option.LastName}} |
                                                {{option.RegNo}} |
                                                {{option.MobileNo}}
                                            </mat-option>
                                            <mat-error
                                                *ngIf="_PharmacyClearenceService.userFormGroup.get('RegID').hasError('required')">
                                                Required field cannot be left blank
                                            </mat-error>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div
                                *ngIf="CheckPatienInfo">
                                <div class="content-card">
                                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"
                                        fxLayoutGap="5px"  >
                                        <div fxFlex.gt-sm="100%" fxFlex>
                                            <div fxlayout="row" style="background-color: #191a1c21;padding: 5px;"> 
                                                <div class="patient-info-sales my-8"> 
                                                    <div class="sales-patient-info-title">
                                                        <span style="font-weight: 700;">
                                                            Patient Information
                                                        </span>
                                                    </div>
                                                    <div class="sales-patient-info" fxFlexFill
                                                        fxLayout="row"
                                                        fxLayoutAlign="space-between center"
                                                        class="patient-info">
                                                        <div class="patient-sub">
                                                            <div class="patient-info-row patient-info-1-111 pt-8"
                                                                fxLayout="row"
                                                                fxLayoutAlign="space-between center">
                                                                <div class="patient-col">
                                                                    <span
                                                                        class="patient-col-key">PatientName/Reg
                                                                        No</span>
                                                                    <span>:</span>
                                                                    <span
                                                                        class="patient-col-value">{{vPatienName}}/{{vRegNo}}</span>
                                                                </div>
                                                                <div class="patient-col" >
                                                                    <span
                                                                        class="patient-col-key">IPDNo</span>
                                                                    <span>:</span>
                                                                    <span
                                                                        class="patient-col-value">{{vIPDNo}}</span>
                                                                </div>
                                                               
                                                                <div class="patient-col"  >
                                                                    <span
                                                                        class="patient-col-key">DoctorName
                                                                        </span>
                                                                    <span>:</span>
                                                                    <span
                                                                        class="patient-col-value">Dr.{{vDoctorName}}</span>
                                                                </div>
                                                                <div class="patient-col">
                                                                    <span
                                                                        class="patient-col-key">TariffName
                                                                      </span>
                                                                    <span>:</span>
                                                                    <span
                                                                        class="patient-col-value">{{vTariffName}}</span>
                                                                </div>
                                                                <div class="patient-col">
                                                                    <span
                                                                        class="patient-col-key">CompanyName
                                                                      </span>
                                                                    <span>:</span>
                                                                    <span
                                                                        class="patient-col-value">{{vCompanyName}}</span>
                                                                </div>
                                                                
                                                            </div> 
                                                        </div> 
                                                    </div> 
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                                <!-- <div>
                                    <div fxFlex.gt-sm="100%" fxFlex class="patient-info-container">
                                        <div class="patient-info-container">
                                            <div class="patient-info-box">
                                                <div class="patient-info-title border-bottom pb-2">
                                                    <span class="h1">Patient Information</span>
                                                </div>
                                                <div class="patient-info-box my-8">
                                                    <div class="patient-info-row ">
                                                        <div class="patient-col">
                                                            <span class="patient-col-key">RegNo</span>
                                                            <span>:</span>
                                                            <span class="patient-col-value">{{vRegNo}}</span>
                                                        </div>
                                                        <div class="patient-col">
                                                            <span class="patient-col-key ">Patient Name</span>
                                                            <span>:</span>
                                                            <span class="patient-col-value">{{vPatienName}}</span>
                                                        </div> 
                                                        <div class="patient-col">
                                                            <span class="patient-col-key">AdmissionID</span>
                                                            <span>:</span>
                                                            <span class="patient-col-value">{{vAdmissionID}}</span>
                                                        </div> 
                                                        <div class="patient-col">
                                                            <span class="patient-col-key">IPDNo</span>
                                                            <span>:</span>
                                                            <span class="patient-col-value">{{vIPDNo}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </form>
    
    
    
                        <div fxFlex.gt-sm="100%" fxFlex>
    
                            <div fxlayout="column">
                                <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                    class="backgroundBlur" style="height: 100%;">
                                    <div class="spinner-border text-danger"></div>
                                </div>
                                <mat-table matSort [dataSource]="dsTable1IpItemList" [@animateStagger]="{value:'50'}"
                                class="h-150"> 
                                <ng-container matColumnDef="SalesDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>SalesDate
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.SalesDate | date}}
                                    </mat-cell>
                                </ng-container> 

                                <ng-container matColumnDef="SalseNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                        SalseNo</mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <span> {{element.SalseNo}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="NetPayAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                        NetPayAmt </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <span> {{element.NetPayAmt}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="PaidAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                        PaidAmt </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <span> {{element.PaidAmt}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="BalAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                        Balance Amount </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <span> {{element.BalAmount}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="RefundAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>RefundAmt
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <span> {{element.RefundAmt}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="CashPay">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm> 
                                        CashPay
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <span> {{element.CashPay}}</span>
                                    </mat-cell>
                                </ng-container>  

                                <ng-container matColumnDef="ChequePay">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>ChequePay
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <span> {{element.ChequePay}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="CardPay">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm> 
                                        CardPay
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <span> {{element.CardPay}}</span>
                                    </mat-cell>
                                </ng-container>  

                                <ng-container matColumnDef="AdvPay">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm> 
                                        AdvPay
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <span> {{element.AdvPay}}</span>
                                    </mat-cell>
                                </ng-container>  
    
                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>
                        
                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>
    
    
                                    <mat-header-row class="accent"
                                        *matHeaderRowDef="displayedColumnsRef; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumnsRef;" 
                                    (click)="getAdvanceList(contact)"
                                        [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide':dsTable1IpItemList!=null}"></mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dsTable1IpItemList!=null && dsTable1IpItemList.data.length==0)}"></mat-footer-row>
                                </mat-table>
                                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="16"
                                    showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
    
                        <div fxFlex.gt-sm="100%" fxFlex>
    
                            <div fxlayout="column">
                                <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                    class="backgroundBlur" style="height: 100%;">
                                    <div class="spinner-border text-danger"></div>
                                </div>
                                <mat-table matSort [dataSource]="dsIpItemList" [@animateStagger]="{value:'50'}"
                               class="h-150">
    
                                    <ng-container matColumnDef="SalesDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>SalesDate
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.SalesDate | date}}
                                        </mat-cell>
                                    </ng-container> 
    
                                    <ng-container matColumnDef="SalseNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                            SalseNo</mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                            <span> {{element.SalseNo}}</span>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="NetPayAmt">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                            NetPayAmt </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                            <span> {{element.NetPayAmt}}</span>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="PaidAmt">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                            PaidAmt </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                            <span> {{element.PaidAmt}}</span>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="BalAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                            Balance Amount </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                            <span> {{element.BalAmount}}</span>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="RefundAmt">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>RefundAmt
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                            <span> {{element.RefundAmt}}</span>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="CashPay">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm> 
                                            CashPay
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                            <span> {{element.CashPay}}</span>
                                        </mat-cell>
                                    </ng-container>  

                                    <ng-container matColumnDef="ChequePay">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>ChequePay
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                            <span> {{element.ChequePay}}</span>
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="CardPay">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm> 
                                            CardPay
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                            <span> {{element.CardPay}}</span>
                                        </mat-cell>
                                    </ng-container>  
    
                                    <ng-container matColumnDef="AdvPay">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm> 
                                            AdvPay
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                            <span> {{element.AdvPay}}</span>
                                        </mat-cell>
                                    </ng-container>  
    
                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>
                        
                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>
    
    
                                    <mat-header-row class="accent min-width-1300"
                                        *matHeaderRowDef="displayedColumns; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumns;"
                                        class="contact min-width-1300"
                                        [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide':dsIpItemList!=null}"></mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dsIpItemList!=null && dsIpItemList.data.length==0)}"></mat-footer-row>
                                </mat-table>
                                <mat-paginator #Secondpaginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="16"
                                    showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
                        
                        <div class="table-footer mt-8">
    
                            <!-- <form [formGroup]="_PharmacyClearenceService.userFormGroup" style="padding: 10px 10px 5px 10px;">
    
                                <div fxlayout="row" fxLayoutGap="8px" fxLayoutAlign="start">
    
                                    <mat-form-field appearance="outline" fxFlex="35%">
                                        <mat-label>Remark</mat-label>
                                        <input matInput formControlName="comment" name="comment"> 
                                    </mat-form-field> 
    
                                    <div fxLayout="row" class="gap-4" style="padding-top: 15px;">
                                        <span class="net-amt-mat-label" style="font-weight:bold;padding-bottom: 8px;">Total
                                            Refund Amount :
                                        </span>&nbsp;
                                        <span class="net-amt-value"
                                            style="margin-left:10px;font-weight:bolder;color: blue;margin-right: 100px;">{{getAdvancetotal(dsIpItemList.data)
                                            | currency:'INR'}}</span>&nbsp;&nbsp;&nbsp;
            
                                        <span class="net-amt-mat-label" style="font-weight:bold;margin-left:20px;"> 
                                            Balance amount :
                                        </span>&nbsp;
                                        <span class="net-amt-value text-primary"
                                            style="margin-left:10px;font-weight:bolder;color: blue;margin-right: 100px;">{{getAdvavilable(dsIpItemList.data)
                                            | currency:'INR'}}</span>
                                    </div> 
    
                                   
                                    <div class="sales-footer-buttons gap-8 " fxLayout="row"
                                        style="padding: 0px 30px 0px 30px;">
                                        <button class="btn btn-danger-outline" (click)="OnReset()">Reset</button>
                                        <button class="btn btn-primary " (click)="onSave()">Save</button>
                                    </div> 
                                </div>
                            </form> -->
                        </div>  
                    </div>
                </div> 
            </div>
        </div>
    </div>
    </div>