.mat-column-IssueDescription {
    width:300px;
    max-width: 300px;
    min-width: 300px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }
  .mat-column-CustomerName {
    width:200px;
    max-width: 200px;
    min-width: 200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }
  .mat-column-Address {
    width:200px;
    max-width: 200px;
    min-width: 200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }
  .mat-column-ContactPersonName {
    width:200px;
    max-width: 200px;
    min-width: 200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }