<div class="dialog-content-wrapper modal-wrapper grid-container">
    <!-- Modal Header -->
    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Lab Bill Detail List <span style="margin-left: 20px;font-weight: bold;"> Doctor:- {{doctorName}} |
                        {{BillNo}}</span>
                </span>
            </div>
            <div class="modal-header-right">
                <div class="comman-date-container">
                    <div class="close-icon">
                        <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info-badge-top overflow-auto" fxLayout="row" fxLayoutAlign="space-between" flex>

        <div fusePerfectScrollbar
            class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
            dynamicTableHeight>

            <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">


                <!-- <ng-template #iconisCompleted let-element>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon *ngIf="element.isCompleted==true" matTooltip="IsCompleted"
                            class="active-icon green-500 s-16">check_circle</mat-icon>
                        <mat-icon *ngIf="!element.isCompleted" matTooltip="Not Completed"
                            class="active-icon red-500 s-16">hourglass_empty</mat-icon>
                    </div>
                </ng-template> -->

                <!-- <ng-template #actionButtonTemplate let-element>
                    <div fxLayout="row" fxLayoutAlign="center center">

                        <mat-icon *ngIf="element.isCompleted==true" title="Print Bill" (click)="viewgetPathologyTestReportPdf()">print
                        </mat-icon>
                    
                    </div>
                </ng-template> -->

                <ng-template #icons let-element>
                    <div fxLayout="row" fxLayoutAlign="center center">

                        <mat-icon *ngIf="element.isPathology==1" matTooltip="Pathology Service" class="s-20 mr-4"
                            style="color: #9c27b0;">
                            <img width="50px" height="50px" src="assets/images/logos/pathology.png">
                        </mat-icon>

                        <mat-icon *ngIf="element.isRadiology==1" matTooltip="Radiology Service" class="s-20 mr-4"
                            style="color: #4a6be6;">
                            <img width="50px" height="50px" src="assets/images/logos/pathology.png">
                        </mat-icon>
                    </div>
                </ng-template>

                <ng-template #actionButtonTemplate let-element>
                    <div fxLayout="row" fxLayoutAlign="center center">

                        <button mat-icon-button matTooltip="Print" > 
                            <!-- --(click)="viewgetOPBillReportPdf(element)" -->
                            <mat-icon>print</mat-icon>
                        </button>

                        <button mat-icon-button matTooltip="EMail" > 
                            <!-- //(click)="Onemail(element)" -->
                            <mat-icon>email</mat-icon>
                        </button>

                        <button mat-icon-button matTooltip="Send message On WhatsApp"> 
                            <!-- (click)="getWhatsappshareBill(element)"  -->
                            <img width="100" height="20px" src="assets/images/logos/WhatsApp.png">
                        </button>


                    </div>
                </ng-template>


                <airmid-table [gridConfig]="gridConfig" #grid :ShowFilter="false" :ShowButtons="false">
                    <ng-container filters>
                        <!-- <form [formGroup]="myformSearch">
                        <airmid-datepicker [formGroup]="myformSearch" [isRangePicker]="true"
                            formStartControlName="start" formEndControlName="end"
                            [(fromValue)]="gridConfig.filters[3].fieldValue"
                            [(toValue)]="gridConfig.filters[4].fieldValue">
                        </airmid-datepicker>

                        <mat-form-field appearance="outline">
                            <mat-label>UHID</mat-label>
                            <input matInput placeholder="Search UHID" autocomplete="off" [formGroup]="myformSearch"
                                formControlName="RegNo" (input)="onChangeFirst()" />
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="Clearfilter('RegNo')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="Search First Name" autocomplete="off"
                                [formGroup]="myformSearch" formControlName="FirstName" (input)="onChangeFirst()" />
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="Clearfilter('FirstName')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Search Last Name" autocomplete="off" [formGroup]="myformSearch"
                                formControlName="LastName" (input)="onChangeFirst()" />
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="Clearfilter('LastName')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>

                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div fxFlex fxLayout="row">
                                <mat-radio-group name="Istype" fxLayout="row" [formGroup]="myformSearch"
                                    formControlName="PatientTypeSearch" (change)="onChangeFirst()" style="padding: 6px;"
                                    class="gap-4">
                                    <mat-label>Type:</mat-label>
                                    <div fxLayout="row">
                                        <mat-radio-button value='2'>All</mat-radio-button>
                                        <mat-radio-button value='1'>IP</mat-radio-button>
                                        <mat-radio-button value='0'>OP</mat-radio-button>
                                    </div>
                                </mat-radio-group>
                            </div>

                            <div fxFlex fxLayout="row">
                                <mat-radio-group name="StatusSearch" fxLayout="row" [formGroup]="myformSearch"
                                    formControlName="StatusSearch" (change)="onChangeFirst()" style="padding: 6px;"
                                    class="gap-4">
                                    <mat-label>Status:</mat-label>
                                    <div fxLayout="row">
                                        <mat-radio-button value='0'>Pending</mat-radio-button>
                                        <mat-radio-button value='1'>Completed</mat-radio-button>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </form> -->

                    </ng-container>
                </airmid-table>
            </div>


        </div>
    </div>