<div class="page-layout simple inner-sidebar inner-scroll right-sidebar" style="height: 100%;" fusePerfectScrollbar
    dynamicTableHeight>
    <mat-toolbar class="top-header accent">
        <div fxLayout="row" fxLayoutAlign="start center" class="top-header-info">
            <button mat-icon-button class="sidebar-toggle ">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Radiology Report Entry
            </span> 
        </div>
    </mat-toolbar>
    <div class="layout-body p-2">
        <div class="layout-body-container center">
            <div fxLayout="column">
                <mat-card>
                    <div class="layout-card-container" style="height: 80px;">
                        <form [formGroup]="myformSearch" class="mat-error-fix">

                            <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="start" class="gap-5">

                                <div fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="35%">
                                    <airmid-datepicker [formGroup]="myformSearch" [isRangePicker]="true"
                                        formStartControlName="start" formEndControlName="end"
                                        [(fromValue)]="gridConfig.filters[3].fieldValue"
                                        [(toValue)]="gridConfig.filters[4].fieldValue">
                                    </airmid-datepicker>
                                </div>

                                <div fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="35%">
                                    <airmid-dropdown label="CategoryName" formControlName="CategoryId"
                                        [formGroup]="myformSearch" (selectionChange)="CategoryView($event)"
                                        [(ngModel)]="gridConfig.filters[7].fieldValue"
                                        [mode]="autocompleteModeCategoryId"></airmid-dropdown>
                                </div>
                                <div fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="35%">
                                    <airmid-autocomplete lbl="UHID" [formGroup]="myformSearch"
                                        formControlName="RegNoSearch" placeholderText="IP-UHID/FirstName/LastName"
                                        label="Search UNID / Patient Name / Mobile No"
                                        ApiUrl="Admission/search-patient?Keyword="
                                        (selectionChange)="getSelectedObjIP($event)" ValueField="admissionID"
                                        TextField="formattedText">
                                    </airmid-autocomplete>
                                </div>

                                <div fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="35%">
                                    <mat-radio-group name="PatientTypeSearch" formControlName="PatientTypeSearch"
                                        fxLayout="column" class="gap-1" (change)="onChangeFirst()">
                                        <mat-label><b>Patient Type:</b></mat-label>
                                        <div fxLayout="row">
                                            <mat-radio-button value='2'>All</mat-radio-button>
                                            <mat-radio-button value='1'>IP</mat-radio-button>
                                            <mat-radio-button value='0'>OP</mat-radio-button>
                                        </div>
                                    </mat-radio-group>
                                </div>
                                <div fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="35%">
                                    <mat-radio-group name="StatusSearch" formControlName="StatusSearch"
                                        fxLayout="column" class="gap-4" (change)="onChangeFirst()">
                                        <mat-label><b>Status:</b></mat-label>
                                        <div fxLayout="row">
                                            <mat-radio-button value='0'>Pending</mat-radio-button>
                                            <mat-radio-button value='1'>Completed</mat-radio-button>
                                        </div>
                                    </mat-radio-group>

                                </div>
                                <div class="action-button-container" style="padding-top: 10px;">
                                    <div class="button-row-group">
                                        <button class="btn btn-danger-outline btn-xs" (click)="onClear()">clear</button>
                                        <button class="btn btn-primary btn-with-icon btn-xs" (click)="onChangeFirst()">
                                            <span>Search</span>
                                        </button>

                                    </div>
                                </div>

                                <!-- </div> -->
                            </div>
                        </form>

                    </div>

                    <div class="layout-card-containr">

                        <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

                            <ng-template #actionButtonTemplate let-element>
                                <div fxLayout="row" fxLayoutAlign="center center">

                                    <button mat-icon-button matTooltip="Edit" (click)="onSave(element)">
                                        <mat-icon title="Edit">edit</mat-icon>
                                    </button>

                                    <button mat-icon-button matTooltip="Print"
                                        (click)="viewgetRadioloyTemplateReportPdf(element)">
                                        <mat-icon title="Print">print</mat-icon>
                                    </button>

                                    <button mat-icon-button matTooltip="Mail">
                                        <mat-icon title="Mail">mail</mat-icon>
                                    </button>

                                    <button mat-icon-button matTooltip="Send message On WhatsApp">
                                        <mat-icon title="WhatsApp">chat</mat-icon>
                                    </button>


                                    <button mat-icon-button (click)="onVerify(element)"
                                        *ngIf="!element.isVerified=='True'">
                                        <mat-icon class="disabled-icon" style="color: chartreuse;"
                                            matTooltip="verify Menu">verified_user</mat-icon>
                                    </button>

                                    <!-- *ngIf="element.isRadOutSource== 1" -->

                                    <button title="IsRadOutSource" (click)="Editoutsoucedata(element)"
                                        style="background: none; border: none; padding: 0; cursor: pointer;">
                                        <mat-icon title="Add OutSouce">edit</mat-icon>
                                    </button>

                                    <airmid-fileupload-icon [refId]="element.radReportId" [refType]="pathFiles"
                                        [multiple]="true"
                                        [title]="element.patientName + ' Report'"></airmid-fileupload-icon>


                                </div>
                            </ng-template>

                            <ng-template #actionsIPOP let-element>
                                <div fxLayout="row" fxLayoutAlign="center center">

                                    <mat-icon *ngIf="element.patientType=='IP'" matTooltip="IP"
                                        class="pill green-600 s-16">circle</mat-icon>
                                    <mat-icon *ngIf="element.patientType=='OP'" matTooltip="OP"
                                        class="pill orange s-16">circle</mat-icon>
                                </div>
                            </ng-template>

                            <ng-template #actionsCompleted let-element>
                                <div fxLayout="row" fxLayoutAlign="center center">

                                    <mat-icon matTooltip="Test Completed" *ngIf="element.isCompleted==true"
                                        class="active-icon green-500 s-16">check_circle</mat-icon>
                                    <mat-icon matTooltip="Test Not Completed" *ngIf="element.isCompleted==false"
                                    class="s-20 mr-4" style="color: #f44336;">hourglass_empty</mat-icon>
                                </div>
                            </ng-template>

                            <ng-template #actionsType let-element>
                                <div fxLayout="row" fxLayoutAlign="center center">

                                    <mat-icon *ngIf="element.patientType =='Self'"
                                        matTooltip="Patient Category Self">account_box
                                    </mat-icon>
                                    <mat-icon *ngIf="element.patientType !== 'Self'"
                                        matTooltip="Patient Category Company">business
                                    </mat-icon>
                                </div>
                            </ng-template>

                            <ng-template #actionsverify let-element>
                                <div fxLayout="row" fxLayoutAlign="center center">

                                    <mat-icon *ngIf="element.isVerified" matTooltip="Report Verified" class="w-50">verified</mat-icon>

                                    <mat-icon *ngIf="!element.isVerified" matTooltip="Report Not Verified" class="w-25">schedule</mat-icon>
                                </div>
                            </ng-template>
                            <ng-template #actionsoutSourceStatus let-element>
                                <div fxLayout="row" fxLayoutAlign="center center">

                                    <mat-icon *ngIf="element.outSourceStatus" matTooltip="OutSource Completed"
                                        class="w-30" style="background-color: rgb(232, 127, 52);">business_center</mat-icon>

                                    <mat-icon *ngIf="!element.outSourceStatus" style="color: #f44336;" matTooltip="No OutSource" class="w-40">invert_colors</mat-icon>
                                </div>
                            </ng-template>
                            <airmid-table [gridConfig]="gridConfig" #grid :ShowFilter="false" :ShowButtons="false">


                            </airmid-table>

                        </div>

                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>