.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}
@import "src/@fuse/scss/fuse";

:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;

    .mat-form-field-wrapper {
        padding-bottom: 0.34375em;
    }
    .p-12 {
        padding: 7px !important;
    }
    
    .mat-table {
       height: 280px !important;
        width: 100%;
        background: transparent;
        box-shadow: none;
        height: 400px !important;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
           
            .mat-cell {
                min-width: 0;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                
                &.mat-column-detail-button {
                    flex: 0 1 auto;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
.active-icon {
    border-radius: 50%;
}


.mat-dialog-content {
    display: block;
    margin: 0px 0px;
    // padding: 0px 5px;
    max-height: 95vh;
    overflow: auto;
    padding: 0;
}

.mat-card {
    padding: 5px;
    border-radius: 4px;
}

// .mat-table {
//     height: 400px !important;
// }

.mat-dialog-title{
    margin-bottom: 2px;
}
.error{
    color:red;
}

.main-content {
    display: flex;
    height: 900px;
}


.footer-navigation-container {
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.footer-btn {
    width: 150px;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

app-radiology-order-list{

    .table1{

        height: 650px;
        max-height: 650px;
        min-height: 650px;
button:disabled {
    color: #FFFFFF !important;
    background-color: #CCCCCC !important;
    border-radius: 2px;
    border: 1px solid #CCCCCC;
}

.header-container {
    background-color: #039be5 !important;
    height: 40px;
    padding: 0 15px;
    align-items: center !important;
}
.mat-table {
    height: 280px !important;
     width: 100%;
}

// .mat-header-row {
//     width: 100%;
//     max-width:1690px;
//     min-width:1690px; 
//     min-height: 20px;     
// }

// .mat-row {
//     width: 100%;
//     max-width:1690px;
//     min-width:1690px;   
//     min-height: 20px;  
//     text-align: center;  
        
// }
}
// PatientData
.mat-column-RadDate {
    width:100px;
    max-width:100px;
    min-width:100px;
    text-align:left;
}

.mat-column-RadTime {
    width:100px;
    max-width:100px;
    min-width:100px;
    text-align:left;
}

.mat-column-RegNo {
    width:90px;
    max-width:90px;
    min-width:90px;
    justify-content:left;
    text-align: left;
}
.mat-column-PatientName {
    width:230px;
    max-width:230px;
    min-width:230px;
    text-align: left;
    justify-content:left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-flex;
    display:inline;
    margin-top: 7px;
    margin-right: 10px;   
}

.mat-column-PatientType {
    width:90px;
    max-width:90px;
    min-width:90px;
    justify-content:left;
    text-align: left;
}
 
// .mat-column-TestName {
//     width:250px;
//     max-width:250px;
//     min-width:250px;
//     justify-content:left;
//     text-align: left;
//     justify-content:left;
//     white-space: nowrap; 
//     overflow: hidden;
//     text-overflow: ellipsis; 
//     overflow: hidden !important;
//     display: inline-flex;
//     display:inline;
//     margin-top: 7px;
//     margin-right: 10px;   
// }

.mat-column-ConsultantDoctor {
    width:200px;
    max-width:200px;
    min-width:200px;
    text-align: left;
    justify-content:left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-flex;
    display:inline;
    margin-top: 7px;
}

// .mat-column-CategoryName {
//     width:90px;
//     max-width:90px;
//     min-width:90px;
//     justify-content:center;
// }
.mat-column-AgeDay {
    width:90px;
    max-width:90px;
    min-width:90px;
    justify-content:left;
    text-align: left;
}

.mat-column-AgeMonth {
    width:90px;
    max-width:90px;
    min-width:90px;
    justify-content:left;
    text-align: left;
}
.mat-column-AgeYear {
    width:80px;
    max-width:80px;
    min-width:80px;
    justify-content:left;
    text-align: left;
}
.mat-column-GenderName {
    width:90px;
    max-width:90px;
    min-width:90px;
    justify-content:left;
    text-align: left;
}


.mat-column-PBillNo {
    width:100px;
    max-width:100px;
    min-width:100px;
    justify-content:left;
    text-align: left;
}

.mat-column-action {
    // color: white !important;
    width:95px;
    max-width:95px;
    min-width:95px;
    min-height:40px;     
    text-align:right;
    // justify-content:left;
}
    // Sample

    // .mat-column-VADate {
    //     width:100px;
    //     max-width:100px;
    //     min-width:100px;
    //     justify-content:left;
    // }
  
    // .mat-column-PathTestID {
    //     width: 150px;
    //     max-width:150px;
    //     min-width:150px;
    //     justify-content:left;
    // }

    // .mat-column-ServiceName {
    //     width: 200px;
    //     max-width: 290px;
    //     min-width: 290px;
    //     justify-content:left;
    // }
    

    // .mat-column-IsSampleCollection {
    // width: 200px;
    // max-width:200px;
    // min-width:320px;
    // }

    // .mat-column-SampleCollectionTime {
    //         width: 200px;
    //         max-width: 200px;
    //         min-width: 200px;
    //         justify-content:left;
    //     }
    //     .mat-column-PathReportID {
    //         width: 100px;
    //         max-width:100px;
    //         min-width:100px;
    //         justify-content:left;
    //     }



        .menu-btn .mat-icon-button {
            padding: 0;
            min-width: 0;
            width: 40px;
            height: 20px;
            flex-shrink: 0;
            line-height: 20px;
            border-radius: 50%;
        }
        
        .mat-icon-button {
            padding: 0;
            min-width: 0;
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            line-height: 7px;
            border-radius: 50%;
        }
        
        .mat-column-buttons {
            color: white !important;
            width:70px;
            max-width: 70px;
            min-width: 70px;
            text-align:left;
            justify-content:left;
        }
        
       
.table-actions{
    color: white !important;
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align: right;
    justify-content:right; 
    // background:#039be5 !important; 
}


        .logo {
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
        
        .navbar{
            justify-content: space-between;
        }
        .icon{
            padding-right: 1rem;
        }
        
        .left-icon{
            color:white;
        }
        
        h1, .h1 {
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
        .logo-text {
            margin-right: 10px;
        }
        
        .table-actions{
            color: white;
        }
    }