
<div class="content-card" style="width:100%;height:100%">
    <div class="dialog-content-wrapper">
        <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center " style="height: 40px;width: 100%;">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="space-between center " style="width: 100%;">
                <!-- <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                </mat-icon> -->

                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                    style="font-size: 20px;width: 70%; font-weight: 400;">
                    New CathLab Request
                </span>

                <div fxLayout="column" fxLayout.gt-xs="row">
                    <app-common-date [screenFrom]="screenFromString" (dateTimeEventEmitter)="getDateTime($event)"
                        style="border-color: red;"></app-common-date>
                    <span class="material-icons" style="cursor: pointer; margin-top: 18px; color: #fff;"
                        (click)="onClose()">
                        close
                    </span>
                </div>
            </div>
        <button class="back-btn" id="auto_trigger" (click)="setDropdownObjs1()" style="border-radius: 16px;display:none;">
            Show
         </button>
        </div>


        <div>
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="5px">
                <!-- <form [formGroup]="myRefundBillForm" style="width: 100%;"> -->
                <div fxFlex.gt-sm="100%" fxFlex>
                    <div fxlayout="row" style="background-color: white; padding: 5px 5px 5px 5px;">
                        <!-- ================================ LABEL HEADER  -->
                        <mat-card fxFlex.gt-sm="100%" fxFlex style="padding: 0 9px; height: fit-content;">
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between">
                                <h3 style="font-weight: bold; font-size: 23px; margin: 0 0 0px;">Patient Information
                                </h3>
                            </div>
                            <form [formGroup]="myForm">
                                <div fxFlexFill fxLayout="row" fxLayout.gt-xs="column" fxLayoutAlign="space-between"
                                    style="align-items: baseline;">
                                    <div>
                                    <mat-form-field appearance="outline"
                                        style="width:40%;margin-left:20px; margin-right: 400px;"
                                        disabled="isRegSearchDisabled">
                                        <input type="text" name="RegID" formControlName="RegID"
                                            placeholder="RegNo / First Name / Last Name / Mobile No" matInput
                                            [matAutocomplete]="auto1" (input)="getSearchList()">
                                        <span matSuffix style="display: flex;">
                                            <mat-icon class="mat-icon-close"
                                                (click)="myForm.get('RegID').setValue(''); isRegIdSelected = false;">close</mat-icon>
                                            <mat-icon class="mat-icon-close"
                                                (click)="myForm.get('RegID').setValue(''); isRegIdSelected = false;">search</mat-icon>
                                        </span>
                                        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="getOptionText"
                                            (optionSelected)='getSelectedObj($event.option.value)'>
                                            <mat-option *ngFor="let option of PatientListfilteredOptions"
                                                [value]="option">
                                                {{option.FirstName}} {{option.MiddleName}} {{option.LastName}} |
                                                {{option.RegNo}} |
                                                {{option.MobileNo}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngIf="myForm.get('RegID').hasError('required')">
                                            Required field cannot be left blank
                                        </mat-error>
                                    </mat-form-field>
                                     </div>
        
                                    <div>
        
                                        <span style="margin-left: 30px;font-size: large;color: rgb(4, 32, 122);">Patient
                                            Name :{{PatientName}} <span style="margin-left: 20px;">RegId
                                                :{{RegId}}</span><span style="margin-left: 20px;">Admission Id
                                                :{{vAdmissionID}}</span>
                                            <span style="margin-left: 20px;">Company Name :{{RegId}}</span>
                                            <span style="margin-left: 20px;">Tariif :{{RegId}}</span>
                                        </span>
        
                                    </div>
        
                                   
                                </div>
                            </form>
                          
                        </mat-card>
                        <!-- ================================ LABEL HEADER  -->
                    </div>

                </div>
                <!-- </form> -->
            </div>
        </div>


    </div>

    
    <div style="height: 100%;" fxLayoutGap="5px" style="padding-left: 10px;padding-right: 10px;padding-bottom: 10px;">
        <div >
         

            <form [formGroup]="_OtManagementService.otreservationFormGroup" >

                <ng-template matStepLabel>Personal</ng-template>


                <div  fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px" style="margin-left:20px;margin-right:20px ;margin-bottom: 10px;">
                  
                    
                    <ejs-datetimepicker #ejDateTimePicker formControlName="OPDate"
                    placeholder="Select OPDate" name="datetimepicker" floatLabelType='Auto'
                    style="width:25%;height:60px;margin-bottom:30px ;" [(ngModel)]="Today">
                     </ejs-datetimepicker>
                    <!-- <p-calendar [(ngModel)]="date8" [timeOnly]="true"></p-calendar> -->
                    <!-- <ngb-timepicker [(ngModel)]="time"></ngb-timepicker> -->
                    <!-- <ejs-timepicker locale='en-DE'  [value]='dateValue'></ejs-timepicker> -->
                </div>
                <div  fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px" style="margin-left:20px;margin-right:20px ;">


                    <!-- <mat-form-field appearance="outline"  style="width:60% ;">
                        <mat-label>Surgery Name </mat-label>
                        <mat-select formControlName="SurgeryId" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let m of SurgeryList" [value]="m">
                                {{m.SurgeryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->

                    <mat-form-field appearance="outline" fxFlex="60%" fxFlex.xs="100%">
                        <mat-label>Surgery Name</mat-label>
                        <input matAutocompletePosition="below" type="text" placeholder="Select SurgeryId" matInput
                          (keydown)="onEnterSurgery($event)" formControlName="SurgeryId" [matAutocomplete]="autoSurgeryId" required>
                        <span matSuffix style="display: flex;">
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SurgeryId').setValue(''); isSurgerySelected = false;">close</mat-icon>
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SurgeryId').setValue(''); isSurgerySelected = false;">search</mat-icon>
                        </span>
                        <mat-autocomplete #autoSurgeryId="matAutocomplete" [displayWith]="getOptionTextSurgery">
                          <mat-option *ngFor="let option of filteredOptionSurgery | async" [value]="option">
                            {{option.SurgeryName}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>


                    <mat-form-field appearance="outline" style="width:20% ;">
                        <mat-label>Duration (D)</mat-label>
                        <input name="Duration" formControlName="Duration" placeholder="Duration  (D)" matInput
                            type="number" min="0" #duration (keydown)="onEnterduration($event)" required>
                        <!-- [ngModel]="registerObj.Duration " (ngModelChange)="registerObj.Duration  = $event"
                            
                        <!-- <mat-error *ngIf="personalFormGroup.get('AgeDay').invalid && personalFormGroup.get('AgeDay').touched">
                         Please enter Age Day </mat-error> -->
                    </mat-form-field>



                </div>

               
                <div  fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"
                style="margin-left:20px;margin-right:20px ;">
                  

                    <!-- <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Surgen1 Name</mat-label>
                        <mat-select formControlName="SurgeonId" placeholder="Bank" #singleSelect>
                            <mat-option>
                                <ngx-mat-select-search [formControl]="doctorFilterCtrl"
                                    [placeholderLabel]="'Search'" [noEntriesFoundLabel]="'No matching found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let element of filteredDoctor | async" [value]="element">
                                {{element.DoctorName }}
                               
                            </mat-option>

                        </mat-select>

                    </mat-form-field> -->


                    <mat-form-field appearance="outline" fxFlex="48%" fxFlex.xs="100%" >
                        <mat-label>Surgeon1 Name</mat-label>
                        <input matAutocompletePosition="below" type="text" placeholder="Select SurgeonId" matInput #SurgeonId
                          (keydown)="onEnterSurgen1($event)" formControlName="SurgeonId" [matAutocomplete]="autoSurgeonId" required>
                        <span matSuffix style="display: flex;">
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SurgeonId').setValue(''); isSurgenSelected = false;">close</mat-icon>
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SurgeonId').setValue(''); isSurgenSelected = false;">search</mat-icon>
                        </span>
                        <mat-autocomplete #autoSurgeonId="matAutocomplete" [displayWith]="getOptionTextSurgeon1">
                          <mat-option *ngFor="let option of filteredOptionsSurgen1 | async" [value]="option">
                            {{option.DoctorName}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>



                    <!-- <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Surgen2 Name</mat-label>
                        <mat-select formControlName="SurgeonId1" placeholder="Bank" #singleSelect>
                            <mat-option>
                                <ngx-mat-select-search [formControl]="doctoroneFilterCtrl"
                                    [placeholderLabel]="'Search'" [noEntriesFoundLabel]="'No matching found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let element of filteredDoctorone | async" [value]="element">
                                {{element.DoctorName}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field> -->


                    
                    <mat-form-field appearance="outline" fxFlex="48%" fxFlex.xs="100%" >
                        <mat-label>Surgen1 Name</mat-label>
                        <input matAutocompletePosition="below" type="text" placeholder="Select SurgeonId1" matInput #SurgeonId2
                          (keydown)="onEnterSurgen2($event)" formControlName="SurgeonId1" [matAutocomplete]="autoSurgeonId2">
                        <span matSuffix style="display: flex;">
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SurgeonId1').setValue(''); isSurgen2Selected = false;">close</mat-icon>
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('SurgeonId1').setValue(''); isSurgen2Selected = false;">search</mat-icon>
                        </span>
                        <mat-autocomplete #autoSurgeonId2="matAutocomplete" [displayWith]="getOptionTextSurgeon2">
                          <mat-option *ngFor="let option of filteredOptionsSurgeon2 | async" [value]="option">
                            {{option.DoctorName}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                </div>

                <div  fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px" style="margin-left:20px;margin-right:20px">
                    
                    <!-- <mat-form-field appearance="outline" fxFlex>
                        <mat-label>AnesthestishDoctor Name</mat-label>
                        <mat-select formControlName="AnestheticsDr" placeholder="Bank" #singleSelect>
                            <mat-option>
                                <ngx-mat-select-search [formControl]="AnesthDoctFilterCtrl1"
                                    [placeholderLabel]="'Search'" [noEntriesFoundLabel]="'No matching found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let element of filteredAnesthDoctor1 | async" [value]="element">
                                {{element.DoctorName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    

                    <mat-form-field appearance="outline" fxFlex="48%" fxFlex.xs="100%" >
                        <mat-label>AnesthestishDoctor Name</mat-label>
                        <input matAutocompletePosition="below" type="text" placeholder="Select AnestheticsDr" matInput #AnestheticsDr
                          (keydown)="onEnterAnestheticsDr($event)" formControlName="AnestheticsDr" [matAutocomplete]="autoAnestheticsDr">
                        <span matSuffix style="display: flex;">
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('AnestheticsDr').setValue(''); isAnestheticsDrSelected = false;">close</mat-icon>
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('AnestheticsDr').setValue(''); isAnestheticsDrSelected = false;">search</mat-icon>
                        </span>
                        <mat-autocomplete #autoAnestheticsDr="matAutocomplete" [displayWith]="getOptionTextAnestheticsDr">
                          <mat-option *ngFor="let option of filteredOptionsAnestheticsDr| async" [value]="option">
                            {{option.DoctorName}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="48%" >
                        <mat-label>OTTableId </mat-label>
                        <mat-select formControlName="OTTableId" required #OTTable (keydown)="onEnterOTTable($event)">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let m of OTtableList" [value]="m">
                                {{m.OTTableName}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error
        *ngIf="personalFormGroup.get('GenderId').invalid && personalFormGroup.get('GenderId').touched">
        <span *ngIf="personalFormGroup.get('GenderId').hasError('required')">
          Gender is required</span>
      </mat-error> -->
                    </mat-form-field>


                </div>

                <div  fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px" style="margin-left:20px;margin-right:20px ;">
                    <!-- <mat-form-field appearance="outline" fxFlex>
                        <mat-label>AnesthestishDoctor Name1</mat-label>
                        <mat-select formControlName="AnestheticsDr1" placeholder="Bank" #singleSelect>
                            <mat-option>
                                <ngx-mat-select-search [formControl]="AnesthDoctFilterCtrl2"
                                    [placeholderLabel]="'Search'" [noEntriesFoundLabel]="'No matching found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let element of filteredAnesthDoctor2 | async" [value]="element">
                                {{element.DoctorName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->

                    
                    <mat-form-field appearance="outline" fxFlex="48%" fxFlex.xs="100%" >
                        <mat-label>AnesthestishDoctor Name</mat-label>
                        <input matAutocompletePosition="below" type="text" placeholder="Select AnestheticsDr" matInput #AnestheticsDr1
                          (keydown)="onEnterAnestheticsDr1($event)" formControlName="AnestheticsDr1" [matAutocomplete]="autoAnestheticsDr1">
                        <span matSuffix style="display: flex;">
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('AnestheticsDr1').setValue(''); isAnestheticsDr1Selected = false;">close</mat-icon>
                          <mat-icon class="mat-icon-close"
                            (click)="_OtManagementService.otreservationFormGroup.get('AnestheticsDr1').setValue(''); isAnestheticsDr1Selected = false;">search</mat-icon>
                        </span>
                        <mat-autocomplete #autoAnestheticsDr1="matAutocomplete" [displayWith]="getOptionTextAnestheticsDr1">
                          <mat-option *ngFor="let option of filteredOptionsAnestheticsDr1 | async" [value]="option">
                            {{option.DoctorName}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>


                    <mat-form-field appearance="outline" fxFlex="48%" >
                        <mat-label>AnesthType</mat-label>
                        <input name="AnesthType" formControlName="AnesthType" placeholder="AnesthType" matInput
                        #AnesthType (keydown)="onEnterAnesthType($event)" required>
                      </mat-form-field>
                </div>

                <div  fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px" style="margin-left:20px;margin-right:10px ;">

                    <mat-form-field appearance="outline" fxFlex="96%">
                        <textarea name="Instruction" matInput rows="4" cols="5" placeholder="Enter Instruction"
                            formControlName="Instruction" #Instruction>
                    </textarea>
                    </mat-form-field>

                </div>

                <br/>
              

                <div class="footer-navigation-container">
           
                    <div class="modal-footer-buttons">
                        
                        <button class="btn btn-danger-outline" (click)="onClose()">Clear</button>
                        <button class="btn btn-primary" (click)="onSubmit()" [disabled]="_OtManagementService.otreservationFormGroup.invalid">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

