<div fusePerfectScrollbar
    class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
    dynamicTableHeight>
    <!-- HEADER -->

    <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center ">

        <!-- APP TITLE -->
        <div class="top-header-info">
            <div class="top-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Registration
                </span>
            </div>
        </div>
        <div class="gap-8" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start center">
            <!-- <app-common-date [screenFrom]="screenFromString"
                (dateTimeEventEmitter)="getDateTime($event)"></app-common-date> -->
            <button mat-raised-button>New
                Registration
            </button>
        </div>
    </div>



    <!-- / HEADER -->
    <!-- SELECTED BAR -->
    <app-main class="accent-600" *ngIf="true" [@slideInTop]></app-main>
    <!-- / SELECTED BAR -->
    <!-- CONTENT -->
    <div class="content">
        <!-- SIDEBAR -->
        <airmid-table [gridConfig]="gridConfig" (status)="changeStatus($event)">
            <ng-container filters>
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Gender Name</mat-label>
                    <input matInput placeholder="Search Gender Name" autocomplete="off"
                        [(ngModel)]="gridConfig.filters[0].fieldValue" />
                    <button mat-button matSuffix mat-icon-button aria-label="Clear"
                        (click)="gridConfig.filters[0].fieldValue=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-radio-group name="IsDeletedSearch" formControlName="IsDeletedSearch" value="2"
                    fxLayoutAlign="center center">
                    <mat-radio-button value="2">All</mat-radio-button>
                    <mat-radio-button mat-fab value="1">IsActive</mat-radio-button>
                    <mat-radio-button mat-fab value="0">IsDeactive</mat-radio-button>
                </mat-radio-group></ng-container>
        </airmid-table>
        <!-- / SIDEBAR -->
        <!-- CENTER -->
        <!-- CENTER -->

        <div class="center p-12 pb-56" fxFlexAlign="start center">

            <div class="content-card">


                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="30px">
                    <div fxFlex.gt-sm="100%" fxFlex>

                        <div fxlayout="row">
                            <div style="width: 100%;">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CENTER -->
    </div>
    <!-- / USER -->
    <!-- / CENTER -->
    <!-- / CONTENT-->
</div>


<!-- <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Gender Master
                </span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content-card">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="65%" fxFlex>
                        <airmid-table [gridConfig]="gridConfig" (status)="changeStatus($event)">
                            <ng-container filters>
                                <mat-form-field class="mr-sm-12" fxFlex>
                                    <input matInput placeholder="Search Gender Name" autocomplete="off"
                                        [(ngModel)]="gridConfig.filters[0].fieldValue" />
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                        (click)="gridConfig.filters[0].fieldValue=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>

                                <mat-radio-group name="IsDeletedSearch" formControlName="IsDeletedSearch" value="2"
                                    fxLayoutAlign="center center">
                                    <mat-radio-button value="2">All</mat-radio-button>
                                    <mat-radio-button mat-fab value="1">IsActive</mat-radio-button>
                                    <mat-radio-button mat-fab value="0">IsDeactive</mat-radio-button>
                                </mat-radio-group></ng-container>
                        </airmid-table>
                    </div>
                    <div fxFlex.gt-sm="35%" fxFlex style="background-color: white;">
                        <div class="dialog-content-wrapper">
                            <div mat-dialog-content class="p-24 pb-0 m-0">
                                <form [formGroup]="_GenderService.myform">
                                    <h3>{{_GenderService.myform.controls.genderId.value?"Modify Gender Master":"New
                                        Gender Master"}}
                                    </h3>

                                    <input type="hidden" name="genderId" formControlName="genderId">

                                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                                        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                                            <mat-label>Gender Name</mat-label>
                                            <input name="genderName" formControlName="genderName" matInput required>
                                            <mat-error>Please enter Gender Name only Char </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                                        <mat-radio-group name="isDeleted" formControlName="isDeleted" value='false'>
                                            <mat-radio-button value='true' class="mr-sm-12" fxFlex>IsActive
                                            </mat-radio-button>
                                            <mat-radio-button value='false' class="mr-sm-12" fxFlex>IsDeactive
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </form>
                            </div>
                            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
                                <div class="button-row">
                                    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
                                        [disabled]="_GenderService.myform.invalid">Save</button>
                                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->