.dashboard-container {
  padding: 20px;
  background-color: #ebe9e9;
}
.vertical-line {
    width: 1px;
    height: 40px;
    background-color: gray;
  }
  .first{
    height: 20px;
    width: 200px;
    background: red;
  }
  .second{
    height: 20px;
    width: 200px;
    background: #cdcdd4;
  }
  .mat-progress-bar {
    height: 22px;
    width: 500px;
    background-color: rgb(245, 20, 136);
    color: red;
    transform: scaleX(-1);
  }
  .table1{
    height:340px ;
    min-height: 340px;
    max-height: 340px;
    

    .mat-column-StoreName {
      width: 180px;
      max-width: 180px;
      min-width: 180px;
      text-align: left;
      justify-content: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden !important;
      display: inline-flex;
      display: inline;
      margin-right: 20px;
      margin-top: 20px;
  }
  .mat-column-CollectionAmount {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
      align-items: left;
      justify-content: left;
  }
  .mat-column-RefundAmount {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
      align-items: left;
      justify-content: left;
  }
  .mat-column-NetAmount {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
      align-items: left;
      justify-content: left;
  }
  }
   
 
 
  
 
  @media (max-width: 480px) {
    .MatcardContent{
       font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .Spinner{
      margin-left: 10px;
    }
  }
  
  // @media (min-width: 1025px) {
  //   .dashboard-project { 
  //     font-size: 18px;
  //   }
  // }
  .card-hearder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .chart-card {
    height: 430px;
  }