.vertical-line {
    width: 1px;
    height: 40px;
    background-color: gray;
  }
  .first{
    height: 20px;
    width: 200px;
    background: red;
  }
  .second{
    height: 20px;
    width: 200px;
    background: #cdcdd4;
  }
  .mat-progress-bar {
    height: 25px;
    width: 500px;
    background-color: rgb(245, 20, 136);
    color: red;
    transform: scaleX(-1);
  }
  .table1{
    height:240px ;
    min-height: 240px;
    max-height: 240px;
    width: 500px;
    border: 1px solid lightgray;

    .mat-column-StoreName {
      width: 180px;
      max-width: 180px;
      min-width: 180px;
      text-align: left;
      justify-content: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden !important;
      display: inline-flex;
      display: inline;
      margin-right: 20px;
      margin-top: 20px;
  }
  .mat-column-CollectionAmount {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
      align-items: left;
      justify-content: left;
  }
  .mat-column-RefundAmount {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
      align-items: left;
      justify-content: left;
  }
  .mat-column-NetAmount {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
      align-items: left;
      justify-content: left;
  }
  }
  
  
   