.tat-badge {
  background: #fff3cd;   /* light yellow */
  color: #856404;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
}

.sampletable-datetime-input {
  height: 28px;
  width: 100%;
  font-size: 12px;
  padding: 0 6px;
  box-sizing: border-box;
}

.ellipsis{
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    display: block;    
    max-width: 150px; 
  }