<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <mat-toolbar class="accent" style="height:50px; justify-content: space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{_radiologytestService.myform.controls.TestId.value?"Modify Radiology Test Master":
                "New Radiology Test Master"}}
            </span>
            <!-- <div class="modal-header-left" >
                <div  class="close-icon">
                    <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog"
                     matTooltip="Close">
                        <mat-icon>close</mat-icon>
                    </button>
                </div> 
            </div> -->
            <div class="modal-header-right">
                <div class="close-icon">
                    <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <!-- <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog"
            style="margin-left:900px;">
            <mat-icon>close</mat-icon>
            </button> -->
        </div>
    </mat-toolbar>

    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content-card">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <div fxlayout="row" style=" background-color: white;
                                 padding: 5px 10px 5px 10px;">
                            <form [formGroup]="testForm">
                                <div class="dialog-content-wrapper">
                                    <div fxFlexFill fxLayout="row" fxLayout.gt-xs="column">
                                        <div fxLayout="row">

                                            <input type="hidden" name="TestId" formControlName="TestId">

                                            <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                                                <mat-label>Test Name</mat-label>
                                                    <input name="TestName" formControlName="TestName" placeholder="TestName"
                                                     matInput #Tname (keydown)="onEnterTname($event)" required [(ngModel)]="vTestName">
                                                     <mat-error class="error"
                                                     *ngIf="testForm.get('TestName').invalid && testForm.get('TestName').touched">
                                                     TetsName is required Enter only Alphabets</mat-error>
                                            </mat-form-field>

                                            <!-- <mat-form-field appearance="outline" style="padding-right: 10px;" fxFlex>
                                            <mat-label>CategoryName</mat-label>
                                            <input matAutocompletePosition="below" type="text"
                                                placeholder="Select CategoryName" [(ngModel)]="vCategoryId" required
                                                matInput formControlName="CategoryId"
                                                [matAutocomplete]="autoCategoryId">
                                            <span matSuffix style="display: flex;">
                                                <mat-icon class="mat-icon-close"
                                                    (click)="_radiologytestService.myform.get('CategoryId').setValue(''); iscategorySelected = false;">close</mat-icon>
                                                <mat-icon class="mat-icon-close"
                                                    (click)="_radiologytestService.myform.get('CategoryId').setValue(''); iscategorySelected = false;">search</mat-icon>
                                            </span>
                                            <mat-autocomplete #autoCategoryId="matAutocomplete"
                                                [displayWith]="getOptionTextCategory">
                                                <mat-option *ngFor="let option of filteredOptionsCategory | async"
                                                    [value]="option">
                                                    {{option.CategoryName}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field> -->
                                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                                            <airmid-autocomplete label="CategoryName" formControlName="CategoryId"
                                                [formGroup]="testForm"
                                                [validations]="_radiologytestService.getValidationMessages().CategoryId"
                                                [mode]="autocompleteModeCategory">
                                            </airmid-autocomplete>
                                        </div>

                                        </div>
                                        <div fxLayout="row">
                                            <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                                                <mat-label>PrintTestName</mat-label>
                                                <input name="PrintTestName" formControlName="PrintTestName" placeholder="PrintTestName"
                                                     matInput #printName (keydown)="onEnterprintName($event)" required [(ngModel)]="vPrintName">
                                                     <mat-error class="error"
                                                     *ngIf="testForm.get('PrintTestName').invalid && testForm.get('PrintTestName').touched">
                                                     PrintTestName is required Enter only Alphabets</mat-error>
                                            </mat-form-field>

                                         
                                            <!-- <mat-form-field appearance="outline" style="padding-right: 10px;" fxFlex>
                                                <mat-label>ServiceName</mat-label>
                                                <input matAutocompletePosition="below" type="text"
                                                    placeholder="Select Service Type" [(ngModel)]="ServiceId" required
                                                    matInput formControlName="ServiceId"
                                                    [matAutocomplete]="autoServiceID">
                                                <span matSuffix style="display: flex;">
                                                    <mat-icon class="mat-icon-close"
                                                        (click)="_radiologytestService.myform.get('ServiceId').setValue(''); isserviceSelected = false;">close</mat-icon>
                                                    <mat-icon class="mat-icon-close"
                                                        (click)="_radiologytestService.myform.get('ServiceId').setValue(''); isserviceSelected = false;">search</mat-icon>
                                                </span>
                                                <mat-autocomplete #autoServiceID="matAutocomplete"
                                                    [displayWith]="getOptionTextService">
                                                    <mat-option *ngFor="let option of filteredOptionsService | async"
                                                        [value]="option">
                                                        {{option.ServiceName}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field> -->
                                            <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                                                <airmid-autocomplete label="ServiceName" formControlName="ServiceId"
                                                    [formGroup]="testForm"
                                                    [validations]="_radiologytestService.getValidationMessages().ServiceId"
                                                    [mode]="autocompleteModeService">
                                                </airmid-autocomplete>
                                            </div>

                                        </div>
                                        <mat-divider inset style="margin: 0px;padding: 5px;"></mat-divider>
                                        <div fxLayout="column">
                                            <form [formGroup]="testForm">
                                                <div fxLayout="row">
                                                    <input type="hidden" name="TestId" formControlName="TestId">

                                                    <!-- <mat-form-field appearance="outline" flex>
                                                        <mat-label>Template Name</mat-label>
                                                        <input matAutocompletePosition="below"
                                                            type="text" [(ngModel)]="vTemplateName"
                                                            placeholder="Enter Template Name" matInput
                                                            formControlName="TemplateName"
                                                            [matAutocomplete]="autotemp">
                                                        <span matSuffix style="display: flex;">
                                                            <mat-icon class="mat-icon-close"
                                                                (click)="testForm.get('TemplateName').setValue(''); isTemplateNameSelected = false;">close</mat-icon>
                                                            <mat-icon class="mat-icon-close"
                                                                (click)="testForm.get('TemplateName').setValue(''); isTemplateNameSelected = false;">search</mat-icon>
                                                        </span>
                                                        <mat-autocomplete #autotemp="matAutocomplete"
                                                            [displayWith]="getOptionTextTemplate">
                                                            <mat-option
                                                                *ngFor="let option of filteredOptionsisTemplate | async"
                                                                [value]="option">
                                                                {{option.TemplateName}}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field> -->
                                                    
                                                    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                                                        <airmid-autocomplete label="TemplateName" formControlName="TemplateName"
                                                            [formGroup]="testForm"
                                                            [validations]="_radiologytestService.getValidationMessages().TemplateName"
                                                            [mode]="autocompleteModeTemplate">
                                                        </airmid-autocomplete>
                                                    </div>

                                                    <div matTooltip="Select All Value to enable this button!!">
                                                       
                                                        <button (click)="OnAdd($event)"  [disabled]="testForm.invalid"
                                                        class="btn btn-primary btn-with-icon py-8"
                                                        style="margin-left: 10px;">
                                                        <span class="btn-icon">
                                                            <mat-icon> add </mat-icon>
                                                        </span>
                                                    </button>
                                                    </div>


                                                </div>
                                                <mat-card style="height:300px;width:100%;">
                                                    <mat-table  matSort [dataSource]="DSTestList"
                                                        [@animateStagger]="{value:'50'}"
                                                        style="overflow:auto; width: 100%;">

                                                        <ng-container matColumnDef="ParameterName">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                Template Name
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                                                {{element.TemplateName}}
                                                            </mat-cell>
                                                        </ng-container>


                                                        <ng-container matColumnDef="loading">
                                                            <mat-footer-cell *matFooterCellDef colspan="6">

                                                            </mat-footer-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="noData">
                                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                                no data found...
                                                            </mat-footer-cell>
                                                        </ng-container>

                                                        <mat-header-row class="accent"
                                                            *matHeaderRowDef="displayedColumns1; sticky: true"></mat-header-row>
                                                        <mat-row *matRowDef="let row; columns: displayedColumns1;"
                                                            class="element"
                                                            [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>

                                                        <mat-footer-row *matFooterRowDef="['loading']"
                                                            [ngClass]="{'hide':DSTestList!=null}"></mat-footer-row>
                                                        <mat-footer-row *matFooterRowDef="['noData']"
                                                            [ngClass]="{'hide':!(DSTestList!=null && DSTestList.data.length==0)}"></mat-footer-row>

                                                    </mat-table>
                                                </mat-card>

                                            </form>
                                            <div fxLayoutAlign="end ">

                                                
                                            </div>

                                        </div>

                                    </div>
                                </div>

                             
                                <div class="footer-navigation-container">
                                   
                                  <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="6px" style="margin-right: 10px;">
                                    <!-- <mat-radio-button value='true' name="IsDeleted" [checked]="true"
                                                    formControlName="IsDeleted">IsActive</mat-radio-button> -->

                                        <button class="btn btn-danger-outline" (click)="onClear(false)">Clear</button>
                                        <!-- <button class="btn btn-primary" (click)="onSubmit()"
                                            [disabled]="_radiologytestService.myform.invalid">Save</button> -->
                                            <button class="btn btn-primary" (click)="onSubmit()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>