.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}
@import "src/@fuse/scss/fuse";

.mat-row, .mat-footer-row {
    min-height: 28px;
    height: 35px;
}

:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
  
    
    .mat-table {
       // height: 500px !important;
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }
       

        .mat-row {
            position: relative;
            cursor: pointer;
           
            .mat-cell {
                min-width: 0;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                overflow: hidden !important;
                // display: inline-block;
                min-height: 40px;
                
                &.mat-column-detail-button {
                    flex: 0 1 auto;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
           
        }
    }
}
.active-icon {
    border-radius: 50%;
}


.active-icon {
    border-radius: 50%;
}

app-ot-reservation{

    .table1{
        height: 600px !important;

    }
.mat-header-row {
    width: 2500px;
    max-width: 2500px;
    min-width: 2500px;  
    min-height: 35px;     
}

.mat-row {
    width: 2500px;
    max-width: 2500px;
    min-width: 2500px;
    min-height: 35px;              
}

.mat-column-OTBookingID {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    text-align: center;
}

.mat-column-OP_IP_ID {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    text-align: center;
}

.mat-column-RegNo {
    width: 110px;
    max-width:110px;
    min-width: 110px;
    text-align: left;
}

.mat-column-PatientName {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    // display: inline-block;
}

.mat-column-OPDate {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    text-align: center;
}
.mat-column-OPTime{
    width: 190px;
    max-width: 190px;
    min-width: 190px;
    text-align: center;
}
.mat-column-Duration {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: center;
}

.mat-column-OTTableName {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    text-align: center;
}

.mat-column-SurgeonName {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    // display: inline-block;

}
    .mat-column-AnathesDrName {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        text-align: center;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
        // display: inline-block;
    }

    .mat-column-AnathesDrName1 {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        text-align: center;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
        // display: inline-block;
    }


    .mat-column-Surgeryname {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        text-align: center;
        text-align: center;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
    }

    .mat-column-AnesthType {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }

    .mat-column-UnBooking {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        text-align: center;
    }

    .mat-column-AddedBy {
        width: 170px;
        max-width: 170px;
        min-width:170px;
        text-align: center;
    }

    .mat-column-TranDate {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        text-align: center;
    }

    .mat-column-instruction {
        width: 160px;
        max-width: 160px;
        min-width: 160px;
        text-align: right;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
    }


.menu-btn .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 50%;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 28px;
    height: 21px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 50%;
}

.mat-column-buttons {
    color: white !important;
    width:70px;
    max-width: 70px;
    min-width: 70px;
    text-align:left;
    justify-content:left;
}

.mat-column-action {
    // color: white !important;
    width:50px;
    max-width: 50px;
    min-width: 50px;
    min-height: 25px;     
    text-align:right;
    // justify-content:left;
}
.make-gold {
    background-color:violet;
    
}


}