.airmid-dob-v2-container {
    width: 100%;
    
    ::ng-deep .mat-mdc-form-field {
        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
        
        .mat-mdc-text-field-wrapper {
            padding: 0 10px;
        }
        
        // .mat-mdc-form-field-infix {
        //     padding-top: 10px;
        //     padding-bottom: 10px;
        //     min-height: 40px;
        // }
    }

    .dob-dropdown {
        width: 110px;
        min-width: 110px;
        flex-shrink: 0;
        
        ::ng-deep .mat-mdc-select-value {
            font-size: 14px;
        }
    }

    .age-input {
        width: 153px;
        min-width: 153px;
        flex-shrink: 0;
        
        ::ng-deep input {
            text-align: center;
            font-size: 14px;
        }
    }

    .date-picker {
        width: 250px;
        min-width: 150px;
        flex-shrink: 0;
        
        ::ng-deep input {
            font-size: 14px;
        }
        
        // ::ng-deep .mat-datepicker-toggle {
        //     .mat-mdc-icon-button {
        //         width: 32px;
        //         height: 32px;
        //         padding: 4px;
                
        //         .mat-mdc-button-touch-target {
        //             width: 32px;
        //             height: 32px;
        //         }
        //     }
        // }
    }

    .age-display {
        flex-shrink: 0;
    }

    .age-readonly {
        width: 100px;
        min-width: 100px;
        
        ::ng-deep input {
            text-align: center;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);
        }
        
        ::ng-deep .mat-mdc-form-field-infix {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
