

@import "src/@fuse/scss/fuse";
.mat-form-field-wrapper {
  padding-bottom: 0.34375em;
}
app-phoneappointment{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    
    .mat-table {
       // height: 400px !important;
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        // .mat-column-buttons {
        //     flex: 0 1 80px;
        // }

        .mat-row {
            position: relative;
            cursor: pointer;
           
            .mat-cell {
              min-width: 0;
              white-space: nowrap; 
              overflow: hidden;
              text-overflow: ellipsis; 
              overflow: hidden !important;
             // display: inline-block;
             
              
                
                &.mat-column-detail-button {
                    flex: 0 1 auto;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
.active-icon {
    border-radius: 50%;
}

  
app-phoneappointment {

    
  .table1{
    height: 600px !important;
}
  
  .mat-header-row {
    width: 100%;
    //max-width: 1600px;
    min-width: 1500px;  
    min-height: 30px; 
   
       
  }
  
  .mat-row {
    width: 100%;
    //max-width: 1600px;
    min-width: 1500px;      
    min-height: 30px;  
               
  }
  
  .mat-column-PhoneAppId {
    width:110px;
    max-width:110px;
    min-width:110px;
    text-align: left;
      
  }
  .mat-column-AppDate {
    width: 100px; 
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-PatientName {
    width: 250px;
    max-width:250px;
    min-width:250px;
    text-align: left;
    //  display: inline-block; 
    white-space: nowrap; 
    // overflow: hidden;
    // text-overflow: ellipsis; 
     overflow: hidden !important;  
  
    margin-right: 20px;
  }
  
  .mat-column-Address {
    width: 230px;
    max-width:230px;
    min-width:230px;
    text-align: left;
    white-space: nowrap; 
    margin-right: 20px;
    overflow: hidden; 
     overflow: hidden !important;
    //  display: inline-block; 
        
  }

  .mat-column-MobileNo{
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
    
  }
  .mat-column-DepartmentName {
    width:150px;
    max-width: 150px;
    min-width: 150px;
    text-align: left;
    white-space: nowrap; 
    margin-right: 20px;
    overflow: hidden; 
     overflow: hidden !important;
    //  display: inline-block; 
  
  }
  
  
  .mat-column-PhAppDate {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    text-align: left;
  
  }
  .mat-column-DoctorName {
    width: 250px;
    max-width:250px;
    min-width:250px;
    text-align: left;
    white-space: nowrap; 
    margin-right: 20px;
    overflow: hidden; 
     overflow: hidden !important;
    //  display: inline-block; 
   
  }
  .mat-column-IsCancelled {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: center;
    margin-right: 7px;
   
  }
  .mat-column-action{
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align: center;
    justify-content: center;
    
  }
  
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 50%;
  }
  .mat-column-button {
    color: white !important;
    width:70px;
    max-width: 70px;
    min-width: 70px;
    text-align: center;
    justify-content:center;
    
  }
  .table-actions{
    color: white !important;
    width:112px;
    max-width: 112px;
    min-width: 112px;
    text-align: center;
    justify-content:center; 
    // background:#039be5 !important; 
}





  }