<div fusePerfectScrollbar
    class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
    dynamicTableHeight>
    <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center ">
        <div class="top-header-info">
            <div class="top-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Doctor Share Payout List
                </span>
            </div>
        </div>
        <div class="gap-8" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start center">
            <button mat-raised-button (click)="onAdd()">New Add
            </button>

        </div>
    </div>
    <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
        <ng-template #actionsTemplate let-element>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center" class="status-box">
                    <span [ngClass]="{
                                            'Patienttype-vip': element.op_IP_Type == '0',
                                            'Patienttype-normal' : element.op_IP_Type == '1'
                                        }">
                        {{ element.op_IP_Type == '0' ? 'OP' : 'IP' }}
                    </span>
                </div>
                <mat-icon *ngIf="element.shrTypeSerOrGrp == 1" title="Service">
                    <img width="30px" height="30px" src="assets/images/logos/doctorservice.png">
                </mat-icon>
                <mat-icon *ngIf="element.shrTypeSerOrGrp == 2" title="Group">
                    <img width="30px" height="30px" src="assets/images/logos/doctorpakage.png">
                </mat-icon>
            </div>
        </ng-template>

        <ng-template #PatientTypeColorCode let-element>
            <div fxLayout="column" fxLayoutAlign="center center" class="status-box">
                <span [ngClass]="{
                            'Patienttype-vip': element.docShrTypeS == 'P',
                            'Patienttype-normal' : element.docShrTypeS == 'A'
                        }">
                    {{ element.docShrTypeS == 'P' ? 'P - %'
                    : element.docShrTypeS == 'A' ? 'A - Amount'
                    : element.docShrTypeS }}
                </span>
            </div>
        </ng-template>


        <ng-template #actionButtonTemplate let-element>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-icon-button (click)="onEdit(element)" style="color:black;">
                    <mat-icon title="Edit Menu">edit</mat-icon>
                </button>
                <!-- <button mat-icon-button (click)="onDelete(element)" color="warn">
                    <mat-icon>delete_outline</mat-icon>
                </button> -->

            </div>
        </ng-template>

        <airmid-table [gridConfig]="gridConfig" class="content">
            <ng-container filters>
                <form [formGroup]="SearchForm">
                    <!-- <airmid-dropdown label="Select Doctor Name" formControlName="DoctorName"
                        [formGroup]="_DoctorShareService.DocFormGroup" (selectionChange)="ListView($event)"
                        [mode]="autocompleteModeItem">
                    </airmid-dropdown> -->


                    <airmid-dropdown label="Doctor Name" formControlName="DoctorName" [formGroup]="SearchForm"
                        [(ngModel)]="gridConfig.filters[0].fieldValue" [mode]="autocompleteModeDoctor"
                        (selectionChange)="ListView($event)" (keyup)="ListView($event)">
                    </airmid-dropdown>

                    <mat-radio-group formControlName="Type" name="Type" (change)="onChange()">
                        <mat-radio-button value="1">Service Wise</mat-radio-button>
                        <mat-radio-button value="2">Group Wise</mat-radio-button>
                    </mat-radio-group>


                </form>
            </ng-container>
        </airmid-table>

    </div>
</div>