.disabled-icon {
    opacity: 0.5; /* Reduce opacity to indicate disabled state */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  
  .green {
    background-color: green;
    color: white;
  }