<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll" fusePerfectScrollbar>
  <mat-toolbar class="accent" style="width: 100%;justify-content: space-between;height: 50px;">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
        style="color: white;">account_box
      </mat-icon>
      <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
        New Item Master
      </span>
    </div>
    <div class="close-icon">
      <!-- <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button> -->
      <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog" matTooltip="Close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="content">

    <div class="center p-12 pb-56" fxFlexAlign="start center">

      <div class="content-card" style="border-radius:4px;">

        <div class="nav material2">

          <div fxLayout="column" fxLayoutAlign="start none">

            <form [formGroup]="itemForm" noValidate fxLayout="column" style="padding: 0 10px;">
              <input type="hidden" name="itemId" formControlName="itemId">

              <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px"
                class="top-header accent heading-container h-40 border-radius-4">
                <span style="font-size:15px; font-weight: bolder; color:white;padding:7px;">
                  Item Details
                </span>
              </div>

              <mat-card>
                <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="12px grid" fxLayoutAlign="start center"
                  style="padding: 10px;">


                  <airmid-textbox label="Item Short Name" formControlName="itemShortName" [value]="data?.itemShortName"
                    [formGroup]="itemForm" [validations]="getValidationMessages().itemShortName" [maxLength]="50"
                    fxFlex="25%">
                  </airmid-textbox>

                  <airmid-textbox label="Item Name" formControlName="itemName" [value]="data?.itemName"
                    [formGroup]="itemForm" [validations]="getValidationMessages().itemName" [maxLength]="50"
                    fxFlex="75%">
                  </airmid-textbox>

                  <!-- <airmid-textbox label="Item Name" formControlName="itemName" [value]="registerObj?.itemName"
                    [formGroup]="itemForm" [validations]="getValidationMessages().itemName" [maxLength]="150"
                    fxFlex="25%">
                  </airmid-textbox> -->



                  <!-- <airmid-dropdown label="Item Type Name" formControlName="itemTypeId" [value]="registerObj?.itemTypeId"
                    [formGroup]="itemForm" [validations]="getValidationMessages().itemTypeId"
                    [mode]="autocompleteModeItemType" fxFlex="25%">
                  </airmid-dropdown>  -->

                  <!-- 2nd row -->

                  <!-- <airmid-dropdown label="Item Category Name" formControlName="itemCategaryId"
                    [value]="registerObj?.itemCategaryId" [formGroup]="itemForm"
                    [validations]="getValidationMessages().itemCategaryId" [mode]="autocompleteModeItemCategory"
                    fxFlex="25%">
                  </airmid-dropdown>


                  <airmid-dropdown label="Item Company Name" formControlName="itemCompnayId"
                    [value]="registerObj?.itemCompnayId" [formGroup]="itemForm"
                    [validations]="getValidationMessages().itemCompnayId" [mode]="autocompleteModeItemCompany"
                    fxFlex="25%">
                  </airmid-dropdown>

              
                  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                    <mat-checkbox formControlName="isValidContent" [(ngModel)]="VisValidContent">
                      IsVerifiedContent
                    </mat-checkbox>
                  </div> -->

                </div>
              </mat-card>
            </form>

            <br>


            <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px"
              class="top-header accent heading-container h-40 border-radius-4">
              <span style="font-size:15px; font-weight: bolder; color:white;padding:5px;">
                Rate Details
              </span>
            </div>

            <mat-card>
              <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="5px grid" style="padding: 10px"
                fxLayoutAlign="start center">

                <!-- (onClearSelection)="getchangegstper($event)" -->
                <!-- <airmid-dropdown label="CGST/SGST" formControlName="cgst" fxFlex="25%" [formGroup]="itemForm"
                  [mode]="autocompleteModeGSTTypesValues" (selectionChange)="getchangegstper($event)"
                 > </airmid-dropdown> -->

                <airmid-textbox label="Price" formControlName="price" [value]="data?.price" [formGroup]="itemForm"
                  [validations]="getValidationMessages().price" [maxLength]="4" fxFlex="24%">
                </airmid-textbox>

                <airmid-textbox label="empPrice" formControlName="empPrice" [value]="data?.empPrice"
                  [formGroup]="itemForm" [validations]="getValidationMessages().empPrice" [maxLength]="4" fxFlex="24%">
                </airmid-textbox>
                <airmid-dropdown label="CGST" formControlName="cgst" [formGroup]="itemForm"
                  [value]="data?.cgst" [validations]="getValidationMessages().cgst" fxFlex="24%"
                  [mode]="autocompleteModeGSTTypesValues" >
                </airmid-dropdown>
                <!-- (selectionChange)="getchangeIgstper($event)" -->
                <!-- <airmid-dropdown label="IGST" formControlName="igst" fxFlex="25%" [formGroup]="itemForm"
                  [mode]="autocompleteModeGSTTypesValues1" >
                </airmid-dropdown> -->

                <airmid-dropdown label="SGST" formControlName="sgst" [formGroup]="itemForm" [value]="data?.sgst"
                  [validations]="getValidationMessages().sgst" [mode]="autocompleteModeGSTTypesValues1" fxFlex="24%">
                </airmid-dropdown>
              </div>
            </mat-card>
            <!-- </form> -->

            <br>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="modal-footer-buttons">

    <!-- Left Side: Checkboxes -->
    <div fxLayout="row" fxLayoutAlign="start center" style="padding: 5px;">
      <form [formGroup]="itemForm" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-checkbox aria-label="IsActive" formControlName="isdeleted" [(ngModel)]="vchkactive"
          style="font-weight: bold;">
          IsActive
        </mat-checkbox>

        <mat-checkbox aria-label="IsBatchRequired" formControlName="isBatchRequired" style="font-weight: bold;">
          Is Batch
        </mat-checkbox>
      </form>
    </div>

    <!-- Right Side: Buttons -->
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" style="padding: 5px;">

      <button class="btn btn-danger-outline" (click)="onClear(false)"> Close </button>

      <button class="btn btn-primary " (click)="onSubmit()"> Save </button>
    </div>

  </div>
</div>