#dashboard-project {
    .mat-display-1, .mat-typography .mat-display-1 {
        font: 300 25px/40px Muli, Helvetica Neue, Arial, sans-serif;
        letter-spacing: normal;
        margin: 0 0 64px;
    }

    > .sidebar {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
    }

    > .center {

        > .header {
            height: 80px;
            min-height: 80px;
            max-height: 160px;

            .selected-project {
                background: rgba(0, 0, 0, 0.12);
                color: #FFFFFF;
                padding: 8px 16px;
                height: 40px;
                line-height: 24px;
                font-size: 16px;
                border-radius: 8px 0 0 0;
            }

            .project-selector {
                margin-left: 1px;
                background: rgba(0, 0, 0, 0.12);
                border-radius: 0 8px 0 0;

                mat-icon {
                    color: #FFFFFF;
                }
            }
        }

        > .content {
            flex: 1;
            display: block !important;
            mat-tab-group {
                height: 100%;

                .mat-tab-body-wrapper {
                    flex-grow: 1;
                }
            }

            .mat-tab-label-container {
                padding: 0 24px;
            }
        }
    }

    .widget {

        &.widget5 {

            .gridline-path.gridline-path-horizontal {
                display: none;
            }
        }
    }
    .fuse-widget-front {
        height: fit-content;
        max-height: fit-content;
        min-height: fit-content;
    }
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }

  .bar-chart-container {
    @media (min-width: 100px) and (max-width: 425px) {
        overflow: auto;
      }
  }

  .cards-grid {
    display: grid !important;
    width: 100%;
    @media (min-width: 426px) {
        width: 70%;
        grid-template-columns: auto auto auto !important;
    }
  }
  
  .table-grid {
    width: 100%;
    padding: 12px;
    @media (min-width: 426px) {
        width: 30%;
    }
  }

  .title-class {
      font-size: 50px;
      @media (min-width: 426px) and (max-width: 768px) {
        font-size: 24px;
      }
      @media (min-width: 769px) and (max-width: 1024px) {
        font-size: 28px;
      }

  }

  .mat-column-DischargeCount, .mat-column-value {
    @media (min-width: 100px) and (max-width: 1024px) {
        width: 130px;
        max-width: 130px;
        min-width: 130px;
    }
    @media (min-width: 1024px) and (max-width: 1440px) {
        width: 160px;
        max-width: 160px;
        min-width: 160px;
    }
    
}

.mat-column-TotalCount, .mat-column-name {
    @media (min-width: 100px) and (max-width: 1024px) {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    @media (min-width: 1025px) and (max-width: 1440px) {
        width: 160px;
        max-width: 160px;
        min-width: 160px;
    }
}

.table-main-container {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 16px;
}

.mat-row {
    cursor: pointer !important;
}

app-project-dashboard{

    // .mat-column-Date {
    //     width:140px;
    //     max-width:140px;
    //     min-width:140px;
    // }
    
    // .mat-column-BillAmount {
    //     width:170px;
    //     max-width:170px;
    //     min-width:170px;
    //     text-align: center;
    // }
    
    // .mat-column-PaidAmout {
    //     width:170px;
    //     max-width:170px;
    //     min-width:170px;
    //     text-align: center;
        
    // }
    // .mat-column-BalanceAmount {
    //     width:170px;
    //     max-width:170px;
    //     min-width:170px;
    //     text-align: center;
        
    // }

//new

.table-container{

    .mat-header-row {
        width: 692px;
        max-width: 692px;
        min-width: 692px;
        min-height: 25px; 
        color: white;    
    }
    
    .mat-row {
        width: 692px;
        max-width: 692px;
        min-width: 692px;
        min-height: 25px;             
    }

    .mat-table{
        width: 100%;
        height: 330px !important;
    }
    .mat-column-RoomName {
        width:300px;
        max-width:300px;
        min-width:300px;
        text-align: left;
    }
    
    .mat-column-Total {
        width:110px;
        max-width:110px;
        min-width:110px;
        text-align: center;
    }
    
     .mat-column-Admitted {
        width:110px;
        max-width:110px;
        min-width:110px;
        text-align: center;
        }
        
        .mat-column-AvailableCnt {
            width:110px;
            max-width:110px;
            min-width:110px;
            text-align: center;
        }
        
       
    
        

}

.table-container1{
    .mat-table{
        width: 100%;
        height: 330px !important;
    }
    .mat-header-row {
        width: 692px;
        max-width: 692px;
        min-width: 692px;
        min-height: 25px; 
        color: white;    
    }
    
    .mat-row {
        width: 692px;
        max-width: 692px;
        min-width: 692px;
        min-height: 25px;             
    }

    .mat-column-DoctorName {
        width:330px;
        max-width:330px;
        min-width:330px;
        text-align: left;
        }
        
        .mat-column-TotalCnt {
            width:80px;
            max-width:80px;
            min-width:80px;
            text-align: center;
        }
        .mat-column-WardTotalCnt {
            width:100px;
            max-width:100px;
            min-width:100px;
            text-align: center;
        }
        
        .mat-column-NonWardTotalCnt {
            width:120px;
            max-width:120px;
            min-width:120px;
            text-align: center;
        }
        
        
       
}




.table-container2{
    
    .mat-header-row {
        width: 310px;
        max-width: 310px;
        min-width: 310px;
        min-height: 25px;  
        color: white;    
    }
    
    .mat-row {
        width: 310px;
        max-width: 310px;
        min-width: 310px;
        min-height: 25px;           
    }

    .mat-table{
        width: 100%;
        height: 200px!important
        //height: 330px !important;
    }
    .mat-column-date {
        width:200px;
        max-width:200px;
        min-width:200px;
        text-align: left;
    }
    
    .mat-column-count {
        width:40px;
        max-width:40px;
        min-width:40px;
        text-align: center;
    }
    

}

.table-container3{

    .mat-header-row {
        width: 300px;
        max-width: 300px;
        min-width: 300px;
        min-height: 25px;     
        color: white;    
    }
    
    .mat-row {
        width: 300px;
        max-width: 300px;
        min-width: 300px;
        min-height: 25px;             
    }

    .mat-table{
        width: 100%;
        height: 350px !important;
    }
    .mat-column-date {
        width:200px;
        max-width:200px;
        min-width:200px;
        text-align: left;
    }
    
    .mat-column-count {
        width:40px;
        max-width:40px;
        min-width:40px;
        text-align: center;
    }
    
}



   
}