#dashboard-project {
    .mat-display-1, .mat-typography .mat-display-1 {
        // font: 300 25px/40px Muli, Helvetica Neue, Arial, sans-serif;
        letter-spacing: normal;
        margin: 0 0 64px;
    }

    > .sidebar {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
    }

    > .center {

        > .header {
            // height: 80px;
            // min-height: 80px;
            height: 75px;
            min-height: 75px;
            max-height: 160px;
            .selected-project {
                background: rgba(0, 0, 0, 0.12);
                color: #FFFFFF;
                padding: 8px 16px;
                height: 40px;
                line-height: 24px;
                font-size: 16px;
                border-radius: 8px 0 0 0;
            }

            .project-selector {
                margin-left: 1px;
                background: rgba(0, 0, 0, 0.12);
                border-radius: 0 8px 0 0;

                mat-icon {
                    color: #FFFFFF;
                }
            }
        }

        > .content {
            flex: 1;
            display: block !important;
            mat-tab-group {
                height: 100%;

                .mat-tab-body-wrapper {
                    flex-grow: 1;
                }
            }

            .mat-tab-label-container {
                padding: 0 24px;
            }
        }
    }

    .widget {

        &.widget5 {

            .gridline-path.gridline-path-horizontal {
                display: none;
            }
        }
    }
    .fuse-widget-front {
        height: fit-content;
        max-height: fit-content;
        min-height: fit-content;
    }
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }

  .bar-chart-container {
    @media (min-width: 100px) and (max-width: 425px) {
        overflow: auto;
      }
  }

  .cards-grid {
    display: grid !important;
    width: 100%;
    @media (min-width: 426px) {
        width: 70%;
        grid-template-columns: auto auto auto !important;
    }
  }
  
  .table-grid {
    width: 100%;
    padding: 12px;
    @media (min-width: 426px) {
        width: 30%;
    }
  }

  .title-class {
      font-size: 50px;
      @media (min-width: 426px) and (max-width: 768px) {
        font-size: 24px;
      }
      @media (min-width: 769px) and (max-width: 1024px) {
        font-size: 28px;
      }

  }

  .mat-column-DischargeCount, .mat-column-value {
    @media (min-width: 100px) and (max-width: 1024px) {
        width: 130px;
        max-width: 130px;
        min-width: 130px;
    }
    @media (min-width: 1024px) and (max-width: 1440px) {
        width: 160px;
        max-width: 160px;
        min-width: 160px;
    }
    
}

.mat-column-TotalCount, .mat-column-name {
    @media (min-width: 100px) and (max-width: 1024px) {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    @media (min-width: 1025px) and (max-width: 1440px) {
        width: 160px;
        max-width: 160px;
        min-width: 160px;
    }
}

.table-main-container {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 16px;
}

.mat-row {
    cursor: pointer !important;
}
.dashboard-container {
    padding: 12px;
}
.icon-div {
    padding: 8px;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.labels-div {
    text-align: end;
    font-weight: bold;
    // font-size: 16px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.icon-1 {
    background-color: #9661db;
}
.icon-2 {
    background-color: #e9ac1b;
}
.icon-3 {
    background-color: #28af28;
}
.icon-4 {
    background-color: #70c7bd;
}
