<mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
    <mat-label>{{ label }}</mat-label>
    <input matInput [formControl]="control" [maxlength]="maxLength" (blur)="onTouched()" ngDefaultControl [type]="type"
        [value]="value" [placeholder]="placeholder" />
    <div *ngIf="formGroup.controls[formControlName]?.invalid && control?.touched && validations.length>0">
        <div *ngFor="let item of validations">
            <mat-error *ngIf="formGroup.get(formControlName).hasError(item.name)">
                {{item.Message}}
            </mat-error>
        </div>
    </div>


    <!-- <div *ngIf="control?.invalid && control?.touched" class="error">
        <small *ngIf="control?.errors?.['required']">This field is required.</small>
        <small *ngIf="control?.errors?.['maxlength']">Maximum {{ maxLength }} characters allowed.</small>
    </div> -->
</mat-form-field>