app-company-type-master {
    .mat-header-row {
        width: 800px;
        max-width: 800px;
        min-width: 800px;
        font-weight: bold;
    }

    .mat-row {
        width: 800px;
        max-width: 800px;
        min-width: 800px;
    }

    .mat-column-CompanyTypeId {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
    }

    .mat-column-TypeName {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 16px;
    }

    .mat-column-AddedBy {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
    }

    .mat-column-IsDeleted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        // color: white !important;
        width: 120px;
        max-width: 120px;
        min-width: 70px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
