<div id="contact" class="simple page-layout inner-scroll inner-sidebar right-sidebar" dynamicTableHeight>
    <mat-toolbar style="height: 50px;justify-content: space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
                Customer Bill and Payment Summary
            </span>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">   
            <button mat-raised-button style="background-color: white;color: brown;" (click)="NewCustomerBill()">
                <mat-icon>add</mat-icon> New Bill
            </button> 
        </div>   -->
        <!-- <button mat-icon-button (click)="onClose()" aria-label="Close dialog" style="margin-left: 1010px;color: white;">
            <mat-icon>close</mat-icon>
        </button> -->
    </mat-toolbar>

    <mat-tab-group>
        <mat-tab label="Payment Due List">
            <div class="contact">

                <div class="center p-12 pb-56" fxFlexAlign="start center">

                    <div class="content-card" style="border-radius:4px; ">

                        <div fxFlexFill fxLayout="column" fxLayoutGap="10px">

                            <div fxFlex.gt-sm="100%" fxFlex>
                                <div fxLayout="column" class="gap-12">
                                    <form [formGroup]="_CustomerBill.myform">
                                    <div fxLayout="row" fxLayoutAlign="space-between">

                                        <div fxLayout="row" fxLayoutAlign="start center" style="width: 300px;">

                                            <mat-form-field appearance="outline" fxFlex>
                                                <mat-label>Search Customer Name</mat-label>
                                                <input name="CustomerNameSearch" formControlName="CustomerNameSearch" matInput
                                                    (keyup)="getCustomerPayDueList()">
                                            </mat-form-field>

                                        </div>
                                        <!-- "pill" class is used for rounded border -->
                                        <div fxLayout="row" fxLayoutAlign="start center" class="gap-8" 
                                        style="margin-right: 10px;">
                                            <div style="color: blue;" fxLayout="row" fxLayoutAlign="start center"
                                                class="gap-4">
                                                <mat-icon class="pill blue-600 s-16">circle</mat-icon>
                                                <span class="blue-600-fg">Bill</span>
                                            </div>
                                            <div style="color: green" fxLayout="row" fxLayoutAlign="start center"
                                                class="gap-4">
                                                <mat-icon class="pill green-600 s-16">circle</mat-icon>
                                                <span class="green-600-fg">AMC</span>
                                            </div>

                                        </div>
                                    </div>
                                </form>

                                    <div fxlayout="row">
                                        <div style="width:100%;">
                                            <div matColumnDef="loading" style="height: 400px;"
                                                [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                                class="backgroundBlur">
                                                <div class="spinner-border text-danger"></div>
                                            </div>

                                            <mat-table #table matSort [dataSource]="dsBillPayDueList"
                                                [@animateStagger]="{value:'50'}" style="overflow: auto;">

                                                <ng-container matColumnDef="Type">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="w-50">
                                                        <span class="material-icons" (click)="getCustomerPayDueList()">
                                                            cached
                                                        </span>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-md class="w-50">
                                                        <div class="pill-icon">
                                                            <mat-icon style="border-radius:100% ;"
                                                                *ngIf="contact.lbl == 'Bill'" matTooltip="Bill"
                                                                class="blue s-16">circle
                                                            </mat-icon>

                                                            <mat-icon style="border-radius:100% ;"
                                                                *ngIf="contact.lbl == 'AMC'" matTooltip="AMC"
                                                                class="green-600 s-16">circle
                                                            </mat-icon>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="InvoiceDate">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        InvoiceDate </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.InvDate | date: 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>


                                                <ng-container matColumnDef="InvNumber">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                                        fxShow.gt-sm>
                                                        InvNumber
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.InvNumber}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="CustomerName">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                                        fxShow.gt-sm>
                                                        CustomerName
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.CustomerName}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="ContactPersonMobileNo">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        ContactPersonMobileNo</mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.ContactPersonMobileNo}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Amount">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        Amount</mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.Amount | currency:'INR'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="PaymentAmount">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        PayAmount </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        <button mat-icon-button matTooltip="View"
                                                            (click)="OnView(contact)">
                                                            <mat-icon>remove_red_eye</mat-icon>
                                                        </button>
                                                        {{contact.PaymentAmount | currency:'INR'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="PaymentDue">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        PaymentDue </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm
                                                        [ngClass]="{'positive-balance': contact.PaymentDue > 0 }">
                                                        {{contact.PaymentDue | currency:'INR' }}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="loading">
                                                    <mat-header-cell *matFooterCellDef colspan="6"
                                                        style="display: none;">
                                                    </mat-header-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="noData">
                                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                                        no data found...
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row class="accent"
                                                    *matHeaderRowDef="displayedDueColumns; sticky: true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let contact; columns: displayedDueColumns;"
                                                    class="contact" [@animate]="{value:'*',params:{y:'100%'}}"
                                                    appHighlight></mat-row>
                                                <mat-footer-row *matFooterRowDef="['loading']"
                                                    [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                                </mat-footer-row>
                                                <mat-footer-row *matFooterRowDef="['noData']"
                                                    [ngClass]="{'hide':!(dsBillPayDueList!=null && dsBillPayDueList.data.length==0)}">
                                                </mat-footer-row>
                                            </mat-table>

                                            <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]" [pageSize]="25"
                                                showFirstLastButtons [length]="resultsLength"
                                                (page)="getCustomerPayDueList()">
                                            </mat-paginator>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Bill and AMC Payment List">
            <div class="contact">

                <div class="center p-12 pb-56" fxFlexAlign="start center">

                    <div class="content-card" style="border-radius:4px; ">

                        <div fxFlexFill fxLayout="column" fxLayoutGap="10px">

                            <div fxFlex.gt-sm="100%" fxFlex>

                                <div fxLayout="column" class="gap-12">
                                    <div class="info-badge-top pb-2 border-bottom">
                                        <!-- "pill" class is used for rounded border -->
                                        <div fxLayout="row" fxLayoutAlign="start center" class="gap-8">
                                            <div style="color: blue;" fxLayout="row" fxLayoutAlign="start center"
                                                class="gap-4">
                                                <mat-icon class="pill blue-600 s-16">circle</mat-icon>
                                                <span class="blue-600-fg">Bill</span>
                                            </div>
                                            <div style="color: green" fxLayout="row" fxLayoutAlign="start center"
                                                class="gap-4">
                                                <mat-icon class="pill green-600 s-16">circle</mat-icon>
                                                <span class="green-600-fg">AMC</span>
                                            </div>

                                        </div>
                                    </div>

                                    <div fxlayout="row">
                                        <div style="width:100%;">
                                            <div matColumnDef="loading" style="height: 400px;"
                                                [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                                class="backgroundBlur">
                                                <div class="spinner-border text-danger"></div>
                                            </div>

                                            <mat-table #table matSort [dataSource]="dsAMCPayList"
                                                [@animateStagger]="{value:'50'}" style="overflow: auto;">

                                                <ng-container matColumnDef="Type">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="w-50">
                                                        <span class="material-icons" (click)="getCustomerAMCPayList()">
                                                            cached
                                                        </span>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-md class="w-50">
                                                        <div class="pill-icon">
                                                            <mat-icon style="border-radius:100% ;"
                                                                *ngIf="contact.Lbl == 'Bill'" matTooltip="Bill"
                                                                class="blue s-16">circle
                                                            </mat-icon>

                                                            <mat-icon style="border-radius:100% ;"
                                                                *ngIf="contact.Lbl == 'AMC'" matTooltip="AMC"
                                                                class="green-600 s-16">circle
                                                            </mat-icon>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="CustomerName">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                                        fxShow.gt-sm>
                                                        CustomerName
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.CustomerName}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="ContactPersonName">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                                        fxShow.gt-sm>
                                                        Contact Person Name
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.ContactPersonName}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="ContactPersonMobileNo">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        Mobile No</mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.ContactPersonMobileNo}}
                                                    </mat-cell>
                                                </ng-container>

                                                <!-- <ng-container matColumnDef="AMCPaidDate">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        Paid Date </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.AMCPaidDate | date: 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container> -->

                                                <ng-container matColumnDef="AMCAmount">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        AMC Amount</mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.AMCAmount | currency:'INR'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="PaidAmount">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        Paid Amount</mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.PaidAmount | currency:'INR'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="AMCDeuAmount">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        AMC Amount</mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm
                                                        [ngClass]="{'positive-balance': contact.AMCDueAmount > 0 }">
                                                        {{contact.AMCDueAmount | currency:'INR'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                                        style="color: white;">Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact">
                                                        <button mat-icon-button matTooltip="Payment"
                                                            (click)="OnEdit(contact)">
                                                            <mat-icon>payment</mat-icon>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="loading">
                                                    <mat-header-cell *matFooterCellDef colspan="6"
                                                        style="display: none;">
                                                    </mat-header-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="noData">
                                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                                        no data found...
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row class="accent"
                                                    *matHeaderRowDef="displayedColumns; sticky: true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let contact; columns: displayedColumns;"
                                                    class="contact" [@animate]="{value:'*',params:{y:'100%'}}"
                                                    appHighlight></mat-row>
                                                <mat-footer-row *matFooterRowDef="['loading']"
                                                    [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                                </mat-footer-row>
                                                <mat-footer-row *matFooterRowDef="['noData']"
                                                    [ngClass]="{'hide':!(dsAMCPayList!=null && dsAMCPayList.data.length==0)}">
                                                </mat-footer-row>
                                            </mat-table>

                                            <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50, 100]"
                                                [pageSize]="10" showFirstLastButtons>
                                            </mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Monthly Summary">
            <div class="contact">

                <div class="center p-12 pb-56" fxFlexAlign="start center">

                    <div class="content-card" style="border-radius:4px; ">

                        <div fxFlexFill fxLayout="column" fxLayoutGap="10px">

                            <div fxFlex.gt-sm="100%" fxFlex>
                                <div fxLayout="column" class="gap-12">
                                    <div class="info-badge-top pb-2 border-bottom">
                                        Payment Received Summary
                                    </div>
                                    <div fxlayout="row">
                                        <div style="width:100%;">
                                            <mat-table matSort [dataSource]="dsPayMonthSummary"
                                                [@animateStagger]="{value:'50'}" style="overflow: auto;">

                                                <ng-container matColumnDef="PayMonth">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        PayMonth </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.PayMonth}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Amount">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        Amount</mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.Amount | currency:'INR'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                                        style="color: white;">Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact">
                                                        <button mat-icon-button matTooltip="Payment"
                                                            (click)="OnViewPaymentReceivedList(contact)">
                                                            <mat-icon>remove_red_eye</mat-icon>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="loading">
                                                    <mat-header-cell *matFooterCellDef colspan="6"
                                                        style="display: none;">
                                                    </mat-header-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="noData">
                                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                                        no data found...
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row class="accent"
                                                    *matHeaderRowDef="dcPayMonthSummary; sticky: true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let contact; columns: dcPayMonthSummary;"
                                                    class="contact" [@animate]="{value:'*',params:{y:'100%'}}"
                                                    appHighlight></mat-row>
                                                <mat-footer-row *matFooterRowDef="['loading']"
                                                    [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                                </mat-footer-row>
                                                <mat-footer-row *matFooterRowDef="['noData']"
                                                    [ngClass]="{'hide':!(dsPayMonthSummary!=null && dsPayMonthSummary.data.length==0)}">
                                                </mat-footer-row>
                                            </mat-table>

                                            <!-- <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50, 100]"
                                                [pageSize]="10" showFirstLastButtons>
                                            </mat-paginator> -->
                                        </div>
                                        <div>
                                            <mat-table #table matSort [dataSource]="dsPayReceivedList"
                                                [@animateStagger]="{value:'50'}" style="overflow: auto;">

                                                <ng-container matColumnDef="Type">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        Type </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.TranType}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="PaymentDate">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        PaymentDate </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.PaymentDate | date: 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="CustomerName">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        CustomerName</mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.CustomerName}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Amount">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        Amount</mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.Amount | currency:'INR'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="loading">
                                                    <mat-header-cell *matFooterCellDef colspan="6"
                                                        style="display: none;">
                                                    </mat-header-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="noData">
                                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                                        no data found...
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row class="accent"
                                                    *matHeaderRowDef="dcPayReceivedList; sticky: true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let contact; columns: dcPayReceivedList;"
                                                    class="contact" [@animate]="{value:'*',params:{y:'100%'}}"
                                                    appHighlight></mat-row>
                                                <mat-footer-row *matFooterRowDef="['loading']"
                                                    [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                                </mat-footer-row>
                                                <mat-footer-row *matFooterRowDef="['noData']"
                                                    [ngClass]="{'hide':!(dsPayMonthSummary!=null && dsPayMonthSummary.data.length==0)}">
                                                </mat-footer-row>
                                            </mat-table>
<!-- 
                                            <mat-paginator #paginator [pageSizeOptions]="[100]" [pageSize]="50"
                                                showFirstLastButtons>
                                            </mat-paginator> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Day Wise Payment Summary">
            <div class="contact">
                <div class="center p-12 pb-56" fxFlexAlign="start center">
                    <div class="content-card" style="border-radius:4px; ">
                        <div fxFlexFill fxLayout="column" fxLayoutGap="10px">
                            <div fxFlex.gt-sm="100%" fxFlex>
                                <div fxLayout="column" class="gap-12">

                                    <!-- code by raksha -->
                                    <form [formGroup]="_CustomerBill.myform">
                                        <div fxLayout="row" fxLayoutAlign="space-between">
    
                                            <div fxLayout="row" fxLayoutAlign="start center" class="gap-8">

                                                <mat-form-field appearance="outline" fxFlex>
                                                    <mat-label>Enter a date range</mat-label>
                                                    <mat-date-range-input [rangePicker]="picker">
                                                        <input matStartDate formControlName="start"
                                                            placeholder="Start date">
                                                        <input matEndDate formControlName="end" placeholder="End date"
                                                            (dateChange)="getCustomerPaymentDaySummary()">
                                                    </mat-date-range-input>
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                                </mat-form-field>
    
                                                <mat-form-field appearance="outline" style="width: 300px;">
                                                    <mat-label>Search Customer Name</mat-label>
                                                    <input name="CustomerNameSearch" formControlName="CustomerNameSearch" matInput
                                                        (keyup)="getCustomerPaymentDaySummary()">
                                                </mat-form-field>

                                                <mat-radio-group name="IsAmcOrBill" formControlName="IsAmcOrBill" 
                                                (change)="getCustomerPaymentDaySummary()" (keydown)="getCustomerPaymentDaySummary()" 
                                                    fxLayout="row" value="2" style="padding: 6px;" class="gap-4">
                                                    <mat-label>Type:</mat-label>
                                                    <div fxLayout="row">
                                                        <mat-radio-button value="2">All
                                                        </mat-radio-button>&nbsp;
                                                        <mat-radio-button value="1">BILL
                                                        </mat-radio-button>&nbsp;
                                                        <mat-radio-button value="0">AMC
                                                        </mat-radio-button>
                                                    </div>
                                                </mat-radio-group>
    
                                            </div>
                                            <!-- "pill" class is used for rounded border -->
                                            <div fxLayout="row" fxLayoutAlign="start center" class="gap-8" 
                                            style="margin-right: 10px;">
                                                <div style="color: blue;" fxLayout="row" fxLayoutAlign="start center"
                                                    class="gap-4">
                                                    <mat-icon class="pill blue-600 s-16">circle</mat-icon>
                                                    <span class="blue-600-fg">Bill</span>
                                                </div>
                                                <div style="color: green" fxLayout="row" fxLayoutAlign="start center"
                                                    class="gap-4">
                                                    <mat-icon class="pill green-600 s-16">circle</mat-icon>
                                                    <span class="green-600-fg">AMC</span>
                                                </div>
    
                                            </div>
                                        </div>
                                    </form>
                                    <!-- end -->

                                    <div fxlayout="row">
                                        <div style="width:100%;">
                                            <mat-table matSort [dataSource]="dsPaymentDaySummary"
                                                [@animateStagger]="{value:'50'}" style="overflow: auto;">

                                                <ng-container matColumnDef="Type">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="w-50">
                                                        <span class="material-icons" (click)="getCustomerPaymentDaySummary()">
                                                            cached
                                                        </span>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-md class="w-50">
                                                        <div class="pill-icon">
                                                            <mat-icon style="border-radius:100% ;"
                                                                *ngIf="contact.TranType == 'Bill'" matTooltip="Bill"
                                                                class="blue s-16">circle
                                                            </mat-icon>

                                                            <mat-icon style="border-radius:100% ;"
                                                                *ngIf="contact.TranType == 'AMC'" matTooltip="AMC"
                                                                class="green-600 s-16">circle
                                                            </mat-icon>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="PaymentDate">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        PaymentDate </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.PaymentDate | date: 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>
                                                
                                                <ng-container matColumnDef="ReceiptNumber">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        ReceiptNumber </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.ReceiptNumber}}
                                                    </mat-cell>
                                                </ng-container>
                                                
                                                <ng-container matColumnDef="CustomerName">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        CustomerName </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.CustomerName}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Amount">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        Amount</mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.Amount | currency:'INR'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Comments">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                        Comments </mat-header-cell>
                                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                        {{contact.Comments || '--'}}
                                                    </mat-cell>
                                                </ng-container>
                                                
                                                <ng-container matColumnDef="loading">
                                                    <mat-header-cell *matFooterCellDef colspan="6"
                                                        style="display: none;">
                                                    </mat-header-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="noData">
                                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                                        no data found...
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row class="accent"
                                                    *matHeaderRowDef="dcPaymentDaySummary; sticky: true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let contact; columns: dcPaymentDaySummary;"
                                                    class="contact" [@animate]="{value:'*',params:{y:'100%'}}"
                                                    appHighlight></mat-row>
                                                <mat-footer-row *matFooterRowDef="['loading']"
                                                    [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                                </mat-footer-row>
                                                <mat-footer-row *matFooterRowDef="['noData']"
                                                    [ngClass]="{'hide':!(dsPaymentDaySummary!=null && dsPaymentDaySummary.data.length==0)}">
                                                </mat-footer-row>
                                            </mat-table>

                                            <!-- <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]" [pageSize]="25"
                                            [length]="resultsLength2" showFirstLastButtons
                                            (page)="getCustomerPaymentDaySummary()">
                                        </mat-paginator> -->
                                        <mat-paginator [length]="resultsLength2" [pageSizeOptions]="[25, 50, 75, 100]" [pageSize]="25" (page)="getCustomerPaymentDaySummary()">
                                        </mat-paginator>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>