body.mat-typography {
    margin: 0;
    padding: 0;
    // font-family: $inter;
    font-family: $roboto;
    font-weight: normal;
    line-height: normal;
    @include font-size($font-size-base);
    @include themed {
        color: t($text-color);
        background-color: t($bg-color);
    }
}
div,
input,
span {
    @include box-sizing;
}
[hidden] {
    display: none;
}
[readonly] {
    // user-select: none !important;
    // width: 0;
    // padding: 0;
}
