@mixin shadow-small-color($color) {
  // new box shadow optimized for Tablets and Phones
  box-shadow:
    0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba($color, 0.4);
}

@mixin box-shadow-default($color) {
  -webkit-box-shadow: 0 3px 6px $color;
  box-shadow: 0 3px 6px $color;
}

@mixin box-shadow-card($direction: "bottom") {
  background:
    linear-gradient($primary-25, $primary-25) padding-box,
    linear-gradient(to #{$direction}, $primary-250, $primary-100) border-box;
  border: 1px solid transparent;
  transition: all 0.2s;

  &:hover {
    @include box-shadow-default($primary-100);
  }

  // box-shadow: 0px -1.1px 0px 0px rgba(96, 83, 255, 0.09);
  // border: 1px solid $primary-100;
  // @include box-shadow-default($primary-100);
  // border: 1px solid transparent;
  // border-image: linear-gradient(to bottom, $primary-400, $primary-200);
  // border-image-slice: 1;
}

@mixin box-shadow-navbar() {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

@mixin box-shadow-dropdown($color) {
  -webkit-box-shadow: 0px 0px 10px $color;
  box-shadow: 0px 0px 10px $color;
}

@mixin button-shadow($color) {
  -webkit-box-shadow: 1px 1px 10px -9px rgba($color, 0.4);
  box-shadow: 1px 1px 10px -9px rgba($color, 0.4);
}

@mixin gradient($list, $deg: 0deg) {
  background: -webkit-linear-gradient($deg, $list);
  background: -moz-linear-gradient($deg, $list);
  background: -o-linear-gradient($deg, $list);
  background: linear-gradient($deg, $list);
}

@mixin box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin wrap-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

@mixin nugget-icon($size, $rounded: "") {
  height: $size;
  width: $size;
  display: flex;
  justify-content: center;
  align-items: center;

  @if ($rounded==circle) {
    border-radius: 50%;
  }
}

@mixin line-clamp($clam: 3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $clam;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}
