@import "src/@fuse/scss/fuse";

app-good-receiptnote {
    .table1 {
      height: 280px !important;
      width: 100%;
    }

    .table2 {
      height: 220px !important;
      width: 100%;
    }
    .table3 {
      height: 220px !important;
      width: 100%;
    }
  
    .mat-header-row {
      width:130%;
      //max-width: 1600px;
      min-width: 100%;
      min-height: 30px;
      background-color: blue;
    }

    .mat-row {
    width: 100%;
    min-width: 1500px;  
    min-height: 30px; 
    }
  
    .mat-column-GrnNumber {
      width: 90px;
      max-width: 90px;
      min-width: 90px;
      text-align: left;
    }
  
   .mat-column-GRNDate {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
    }
  
    .mat-column-InvoiceNo {
      width: 130px;
      max-width: 130px;
      min-width: 130px;
      text-align: left;
    }
    
    .mat-column-SupplierName {
      width: 200px;
      max-width: 200px;
      min-width: 200px;
      text-align: left;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
      overflow: hidden !important;
      display: inline-block;
      margin-top: 7px;
      justify-content:left; 
    }
    .mat-column-TotalAmount {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }
    
    .mat-column-TotalDiscAmount {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }
    .mat-column-TotalVATAmount {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }
    
    .mat-column-NetAmount {
      width: 130px;
      max-width: 130px;
      min-width: 130px;
      text-align: left;
    }
    .mat-column-RoundingAmt {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }
    
    .mat-column-DebitNote {
      width: 70px;
      max-width: 70px;
      min-width: 70px;
      text-align: center;
    }
    .mat-column-CreditNote {
      width: 70px;
      max-width: 70px;
      min-width: 70px;
      text-align: center;
    }
    
    .mat-column-InvDate {
      width: 90px;
      max-width: 90px;
      min-width: 90px;
      text-align: left;
    }
    .mat-column-Cash_CreditType {
      width: 120px;
      max-width: 120px;
      min-width: 120px;
      text-align: left;
    }
 
    .mat-column-ReceivedBy {
      width: 90px;
      max-width: 90px;
      min-width: 90px;
      text-align: left;
    }
  
    .mat-column-IsClosed {
      width: 80px;
      max-width: 80px;
      min-width: 80px;
      text-align: left;
    }

    .mat-column-action {
      width: 80px;
      max-width: 80px;
      min-width: 80px;
      text-align: center;
      justify-content: center;
    }
  
    .mat-tab-group {
     margin-bottom: 48px;
   }

   .mat-column-ItemName {
      width: 200px;
      max-width: 200px;
      min-width: 200px;
      text-align: left;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
      overflow: hidden !important;
      display: inline-block;
      margin-top: 7px;
      justify-content:left; 
  }

  .mat-column-UOM {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    text-align: left;
  }
 
 
  .mat-column-BatchNo {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    text-align: left;
  }
 
  .mat-column-BatchExpDate {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    text-align: left;
  }
  .mat-column-ReceiveQty {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-FreeQty {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-MRP {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    text-align: left;
  }
  .mat-column-Rate {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    text-align: left;
  }
  .mat-column-TotalAmount {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-ConversionFactor {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    text-align: left;
  }

    .mat-column-VatPercentage {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }
    .mat-column-DiscPercentage {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }
   .mat-column-LandedRate {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-NetAmount {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-TotalQty {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
   .mat-column-ItemName {
    width: 230px;
    max-width: 230px;
    min-width: 230px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    margin-top: 7px;
    justify-content:left; 
  }
   .mat-column-DiscPercentage {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-HSNCode {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: left;
  }
  .mat-column-BatchNo {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: left;
  }
  .mat-column-ExpDate {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }

  .mat-column-Qty {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    text-align: left;
  }

  .mat-column-FreeQty {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    text-align: left;
  }
  .mat-column-MRP {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-Rate {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }

  .mat-column-TotalAmount {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: left;
  }

  .mat-column-Disc {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    text-align: left;
  }
  .mat-column-DisAmount {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: left;
  }

  .mat-column-CGST {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-CGSTAmount {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-SGST {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-SGSTAmount {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-IGST {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-IGSTAmount {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }
  .mat-column-NetAmount {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: left;
  }
  
}


  