

app-ip-search-list{
 
.mat-header-row {
    width: 1500px;
    max-width: 1500px;
    min-width: 1500px;  
    min-height: 35px;     
}

.mat-row {
    width: 1500px;
    max-width: 1500px;
    min-width: 1500px;
    min-height: 35px;              
}

.mat-column-checkbox {
    width:60px;
    max-width: 60px;
    min-width: 60px;
}

.mat-column-IsBillGenerated {
    width: 60px;
    max-width: 60px;
    min-width: 60px;
    text-align:left;
}
.mat-column-RegNo {
    width: 90px;
    max-width:90px;
    min-width: 90px;
    text-align:left;
}

.mat-column-PatientName {
    width:300px;
    max-width: 300px;
    min-width: 300px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    
    justify-content:left; 
}
.mat-column-PatientType{
    width: 130px;
    max-width: 130px;
    min-width: 130px;
    text-align:center;
}


.mat-column-DOA {
    width:80px;
    max-width: 80px;
    min-width: 80px;
    text-align: center;
}
.mat-column-DOT {
    width:80px;
    max-width:80px;
    min-width:80px;
    text-align: center;
}

.mat-column-IPDNo {
    width:70px;
    max-width:70px;
    min-width:70px;
    text-align: center;
}
.mat-column-PatientType {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: center;
}
.mat-column-IPDNo {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    text-align: center;
}
.mat-column-Doctorname {
    width:200px;
    max-width:200px;
    min-width:200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    margin-top: 7px;
    margin-right: 20px;   
    justify-content:left; 
}
.mat-column-RefDocName {
    width: 200px;
    max-width:200px;
    min-width: 200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    margin-top: 7px;
    margin-right: 20px;   
    justify-content:left; 
}
.mat-column-CompanyName {
    width:200px;
    max-width:200px;
    min-width:200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    margin-top: 7px;
    margin-right: 20px;   
    justify-content:left; 
}

.self-row {
    background-color: lightgreen !important;
}

}