.compact-table {
  .mat-header-row,
  .mat-row {
    height: 25px !important;
    min-height: 25px !important;
  }

  .mat-header-cell,
  .mat-cell {
    padding: 2px 8px !important;
    font-size: 14px !important;
  }
}