  .mat-column-PatientName {
            width: 230px;
            max-width: 230px;
            min-width: 230px;
            text-align: left;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            overflow: hidden !important;
            display: inline-block;
            justify-content: left;
        }