
.mat-column-ItemName {
    width:180px;
    max-width: 180px;
    min-width: 180px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }
  
.mat-column-Remark {
    width:160px;
    max-width: 160px;
    min-width: 160px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }
  
.mat-column-Remark {
    width:200px;
    max-width: 200px;
    min-width: 200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   justify-content:left; 
  }