<form [formGroup]="form" (ngSubmit)="onVerify()" class="otp-form">
    <mat-card class="otp-card">
        <mat-card-content>
            <h2 class="step-title">Enter OTP</h2>

            <div class="info-box">
                {{maskedAadhaarMobile}}
            </div>

            <p style="font-size: 14px;font-weight: 600;">
                Aadhaar Number:
                XXXXXXXX{{ aadhaarNumber | slice:-4 }}
            </p>

            <!-- Mobile -->
            <div class="field-block">
                <label class="field-label">Mobile No:</label>
                <mat-form-field appearance="outline" class="full-width">
                    <input matInput formControlName="mobile" placeholder="Mobile No" autocomplete="off" />
                    <mat-error *ngIf="form.get('mobile')?.errors as e">
                        <span *ngIf="e['required']">Mobile no is required</span>
                        <span *ngIf="e['name']">{{ e['name'] }}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="field-block">
                <label class="field-label">6-digit OTP</label>
                <!-- <mat-form-field appearance="outline" class="full-width">
                    <input matInput type="password" formControlName="aadhaarOtp" placeholder="••••••"
                        inputmode="numeric" maxlength="6" (input)="onOtpInput($event)" autocomplete="one-time-code" />
                    <mat-error *ngIf="form.get('aadhaarOtp')?.errors as e">
                        <span *ngIf="e['required']">OTP is required</span>
                        <span *ngIf="e['otp']">{{ e['otp'] }}</span>
                        <span *ngIf="e['invalid']">{{ e['invalid'] }}</span>
                    </mat-error>
                </mat-form-field> -->

                <div class="otp-wrapper">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput [type]="hideOtp ? 'password' : 'text'" formControlName="aadhaarOtp"
                            placeholder="••••••" inputmode="numeric" maxlength="6" (input)="onOtpInput($event)"
                            autocomplete="one-time-code" />

                        <button mat-icon-button matSuffix type="button" (click)="hideOtp = !hideOtp"
                            [attr.aria-label]="'Toggle OTP visibility'">
                            <mat-icon>{{ hideOtp ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>

                        <mat-error *ngIf="form.get('aadhaarOtp')?.errors as e">
                            <span *ngIf="e['required']">OTP is required</span>
                            <span *ngIf="e['otp']">{{ e['otp'] }}</span>
                            <span *ngIf="e['invalid']">{{ e['invalid'] }}</span>
                        </mat-error>
                    </mat-form-field>

                    <div class="otp-info">

                        <!-- Timer -->
                        <span class="timer" *ngIf="!canResend && !maxAttemptsReached">
                            {{ countdown }}
                        </span>

                        <!-- warning -->
                        <div class="warning-text" *ngIf="!canResend && !maxAttemptsReached && timeLeft > 0 && timeLeft <= 10">
                            OTP will expire in {{ timeLeft }} seconds.
                        </div>

                        <!-- Resend -->
                        <button mat-button color="primary" type="button" *ngIf="canResend && resendAttempts < 2"
                            (click)="resendOtp()">
                            Resend OTP
                            <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                        </button>

                        <small *ngIf="resendAttempts < 2">
                            Attempts left: {{2 - resendAttempts}}/2
                        </small>

                        <small class="text-danger" *ngIf="resendAttempts >=2">
                            Attempts left: 0/2 (No more resend attempts)
                        </small>

                    </div>

                </div>
                <!-- <p class="helper-text">
                    Demo OTP: <span class="mono">{{ demoOtp }}</span>
                </p> -->
            </div>

            <!-- <div class="row-between">
                <span class="resend-info">
                    Resend attempts remaining: <strong>{{ resendAttemptsRemaining }}/2</strong>
                </span>
                <button type="button" mat-button color="primary" (click)="onResend()"
                    [disabled]="resendAttemptsRemaining === 0">
                    <mat-icon>refresh</mat-icon>
                    Resend OTP
                </button>
            </div> -->

            <div class="actions">
                <button type="button" mat-stroked-button (click)="onBack()" class="back-btn">
                    <mat-icon>arrow_back</mat-icon>
                    Back
                </button>
                <button type="submit" mat-raised-button color="primary"
                    [disabled]="loading || form.invalid || (otpExpired && !maxAttemptsReached)" class="action-btn">
                    <ng-container *ngIf="!loading">
                        Verify
                        <mat-icon iconPositionEnd>arrow_forward</mat-icon>
                    </ng-container>
                    <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</form>

<div class="success-overlay" *ngIf="showSuccessPopup">
    <div class="success-popup">
        <h2>Congratulations</h2>
        <p>Welcome to ABHA Page</p>

        <img src="assets/images/logos/success.png" width="100" height="100" alt="Success">

        <h3>Thank You</h3>

        <p>Your OTP verification has been completed successfully!</p>

        <button mat-raised-button color="primary" (click)="closeSuccessPopup()">
            OK
        </button>
    </div>
</div>