app-request-lab {
  .table1 {
    height: 600px !important;
  }

  .mat-header-row {
    width: 200;
    //max-width: 1600px;
    min-width: 1500px;
    min-height: 30px;
    background-color: blue;
  }

  .mat-row {
    width: 100%;
    //max-width: 1600px;
    min-width: 1500px;
    min-height: 30px;

  }

  .mat-column-RegNo {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    text-align: left;

  }

  .mat-column-PatientName {
    width: 270px;
    max-width: 270px;
    min-width: 270px;
    text-align: left;
  }

  .mat-column-Age {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: left;
  }

  .mat-column-AdmDate {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    text-align: left;
  }

  .mat-column-WardName {
    width: 180px;
    max-width: 180px;
    min-width: 180px;
    text-align: left;
  }

  .mat-column-RequestType {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    text-align: left;
  }

  .mat-column-TariffName {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    text-align: left;
  }

  .mat-column-CompanyName {
    width: 100px;
    max-width: 500px;
    min-width: 500px;
    text-align: left;
  }

  .mat-column-ReqDate {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    text-align: left;
  }

  .mat-column-ReqTime {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }

  .mat-column-ServiceName {
    width: 270px;
    max-width: 270px;
    min-width: 270px;
    text-align: left;
  }

  .mat-column-AddedByName {
    width: 2700px;
    max-width: 270px;
    min-width: 270px;
    text-align: left;
  }
  
  .mat-column-AddBillingUser {
    width: 270px;
    max-width: 270px;
    min-width: 270px;
    text-align: left;
  }

  .mat-column-BillDateTime {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    text-align: left;
  }

  .mat-column-IsStatus {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    text-align: left;
  }

  .mat-column-PBillNO {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    text-align: left;
  }

  .mat-column-IsComplete {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
  }

  .mat-column-action {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: center;
    justify-content: center;

  }

}


