<div class="simple page-layout inner-scroll inner-sidebar left-sidebar">
    <mat-toolbar class="accent" style="width: 100%; justify-content: space-between;height: 40px;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
                New Return From Department
            </span>
        </div>
        <span class="material-icons" style="color: #fff;" (click)="onClose()">
            close
        </span>

    </mat-toolbar>
    <div class="content">
        <div class="center p-12 pb-56" fxFlexAlign="start center">

            <div class="content-card" style="border-radius:4px; ">

                <div fxFlexFill fxLayout="column" fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>

                        <div fxLayout="column">

                            <form [formGroup]="_ReturnToDepartmentList.userFormGroup" style="padding-bottom: 10px;" >
                                <div fxLayout="row" fxLayoutAlign="start none" fxLayoutGap="8px">
                                    <mat-card fxFlex="60%" style="padding: 6px 6px 5px 5px;"  fxLayoutGap="4px">
                                        <mat-form-field appearance="outline" fxFlex="28%">
                                            <mat-label>From Store</mat-label>
                                            <mat-select name="StoreId" formControlName="StoreId">
                                                <mat-option *ngFor="let m of StoreList" [value]="m">
                                                    {{m.StoreName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="45%">
                                            <mat-label>To Store</mat-label>
                                            <input matAutocompletePosition="below" type="text"
                                                placeholder="Select Store" matInput formControlName="ToStoreId"
                                                [matAutocomplete]="auto">
                                            <span matSuffix style="display: flex;">
                                                <mat-icon class="mat-icon-close"
                                                    (click)="_ReturnToDepartmentList.userFormGroup.get('ToStoreId').setValue(''); isStoreSelected = false;">close</mat-icon>
                                                <mat-icon class="mat-icon-close"
                                                    (click)="_ReturnToDepartmentList.userFormGroup.get('ToStoreId').setValue(''); isStoreSelected = false;">search</mat-icon>
                                            </span>
                                            <mat-autocomplete #auto="matAutocomplete"
                                                [displayWith]="getOptionTextStoresList">
                                                <mat-option *ngFor="let option of filteredOptionsStore | async"
                                                    [value]="option">
                                                    {{option.StoreName}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>&nbsp;&nbsp;

                                        <app-common-date [screenFrom]="screenFromString"
                                            (dateTimeEventEmitter)="getDateTime($event)" ></app-common-date>

                                    </mat-card>
                                    <mat-card fxFlex="40%" style="padding: 6px 6px 5px 5px;"  fxLayoutGap="4px">
                                        <mat-form-field appearance="outline" style="margin-left:2%;">
                                            <mat-label>Enter a date range</mat-label>
                                            <mat-date-range-input [rangePicker]="picker">
                                                <input matStartDate formControlName="start"
                                                    placeholder="Start date">
                                                <input matEndDate formControlName="end" placeholder="End date"
                                                    (dateChnage)="getNewReturnToDepartmentList()">
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-date-range-picker #picker></mat-date-range-picker>
                                        </mat-form-field>&nbsp;&nbsp;&nbsp;
                                        <button mat-raised-button class="searchButton"
                                            (click)="getNewReturnToDepartmentList()" matTooltip="search">
                                            <mat-icon class="searchiconbutton">search</mat-icon>
                                        </button>
                                    </mat-card>
                                </div>
                            </form>

                            <div style="width: 100%;" fxLayoutGap="10px">
                                <div fxFlex="60%">
                                    <mat-table #table matSort [dataSource]="dsItemList" [@animateStagger]="{value:'50'}"
                                        style="overflow:auto;">

                                        <ng-container matColumnDef="ItemName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                ItemName</mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.ItemName}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="IssueQty">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                IssueQty</mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.IssueQty}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="LandedTotalAmount">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                LandedTotalAmount</mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.LandedTotalAmount}}
                                            </mat-cell>
                                        </ng-container> 

                                        <ng-container matColumnDef="loading">
                                            <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                            </mat-header-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="noData">
                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                no data found...
                                            </mat-footer-cell>
                                        </ng-container>

                                        <mat-header-row class="accent"
                                            *matHeaderRowDef="displayedColumns; sticky: true">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact"
                                            [@animate]="{value:'*',params:{y:'100%'}}" (click)="getItemdetails(contact)"></mat-row>
                                        <mat-footer-row *matFooterRowDef="['loading']"
                                            [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                        </mat-footer-row>
                                        <mat-footer-row *matFooterRowDef="['noData']"
                                            [ngClass]="{'hide':!(dsItemList!=null && dsItemList.data.length==0)}">
                                        </mat-footer-row>
                                    </mat-table>
                                    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                                        showFirstLastButtons>
                                    </mat-paginator>
                                </div>
                                <div fxFlex="40%">
                                    <!-- <form [formGroup]="_ReturnToDepartmentList.userFormGroup">
                                        <div fxLayout="row" fxLayoutAlign="start none">

                                            <mat-form-field appearance="outline" style="margin-left: 2%;">
                                                <mat-label>Enter a date range</mat-label>
                                                <mat-date-range-input [rangePicker]="picker">
                                                    <input matStartDate formControlName="start"
                                                        placeholder="Start date">
                                                    <input matEndDate formControlName="end" placeholder="End date"
                                                        (dateChnage)="getReturnToDepartmentList()">
                                                </mat-date-range-input>
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-date-range-picker #picker></mat-date-range-picker>
                                            </mat-form-field>&nbsp;
                                            <button mat-raised-button class="searchButton"
                                                (click)="getReturnToDepartmentList()" matTooltip="search">
                                                <mat-icon class="searchiconbutton">search</mat-icon>
                                            </button>
                                        </div>
                                    </form> -->
                                    <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                    class="backgroundBlur">
                                    <div class="spinner-border text-danger"></div>
                                    </div>
                                    <mat-table #table matSort [dataSource]="dsIssueList"
                                        [@animateStagger]="{value:'50'}" style="overflow:auto;">



                                        <ng-container matColumnDef="IssueDate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                IssueDate </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.IssueDate | date:'dd/MM/YYYY'}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="IssueId">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                IssueId </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.IssueId}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="IssueNo">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                IssueNo</mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.IssueNo}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="loading">
                                            <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                            </mat-header-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="noData">
                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                no data found...
                                            </mat-footer-cell>
                                        </ng-container>

                                        <mat-header-row class="accent"
                                            *matHeaderRowDef="displayedColumns1; sticky: true">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let contact; columns: displayedColumns1;" class="contact"
                                            [@animate]="{value:'*',params:{y:'100%'}}" (click)="getItemList(contact)"></mat-row>
                                        <mat-footer-row *matFooterRowDef="['loading']"
                                            [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                        </mat-footer-row>
                                        <mat-footer-row *matFooterRowDef="['noData']"
                                            [ngClass]="{'hide':!(dsIssueList!=null && dsIssueList.data.length==0)}">
                                        </mat-footer-row>
                                    </mat-table>
                                    <mat-paginator #secondPaginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                                        showFirstLastButtons>
                                    </mat-paginator>
                                </div>
                            </div>
                            <div>
                            <mat-table #table matSort [dataSource]="dsItemDetailsList" [@animateStagger]="{value:'50'}"
                                style="overflow:auto;">

                                <ng-container matColumnDef="ItemName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        ItemName</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        {{contact.ItemName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="BatchExpDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        BatchExpDate </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        {{contact.BatchExpDate | date:'dd/MM/YYYY'}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="IssueQty">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        IssueQty </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        {{contact.IssueQty}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="PerUnitLandedRate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        PerUnitLandedRate </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        {{contact.PerUnitLandedRate}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="VatPercentage">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        GST % </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        {{contact.VatPercentage}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="LandedTotalAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        LandedTotalAmount </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        {{contact.LandedTotalAmount}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="StkId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        StkId </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        {{contact.StkId}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">Action
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-icon-button matTooltip="print">
                                            <mat-icon>print</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                    </mat-header-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns2; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns2;" class="contact"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dsItemList!=null && dsItemList.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                            <mat-paginator #thirdPaginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                                showFirstLastButtons>
                            </mat-paginator>
                            </div>
                            <div style="margin-top: 10px;">
                                <mat-form-field appearance="outline" fxFlex="30%">
                                    <mat-label>Remark</mat-label>
                                    <input matInput placeholder="Remark"
                                        formControlName="Remark" #Remark>
                                </mat-form-field>&nbsp;

                                <mat-form-field appearance="outline" fxFlex="12%">
                                    <mat-label>TotalAmount</mat-label>
                                    <input matInput placeholder="TotalAmount"
                                        formControlName="TotalAmount">
                                </mat-form-field>&nbsp;

                                <div matTooltip="Select All Value to enable this button!!" style="margin-left: 650px;">
                                    <button class="next-btn" (click)="OnSave()">Save</button>
                                    <button class="footer-btn" (click)="OnReset()">Reset</button>&nbsp;&nbsp;
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>