.mat-typography {
    .mat-icon-button {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 30px;
    }
    .material-icons {
        @include font-size(20px);
    }
}
