.mat-typography {
    .mat-calendar {
        font-family: $font-primary;
        font-size: inherit;
        .mat-calendar-previous-button,.mat-calendar-next-button{
            &::after{
                margin: 12px;
            }
        }
    }
    
}
