.mat-typography {
    .mat-calendar {
        font-family: $font-primary;
        font-size: inherit;
        .mat-calendar-previous-button,
        .mat-calendar-next-button {
            &::after {
                margin: 12px;
            }
        }
    }
    .mat-datepicker-content {
        .mat-calendar {
            .mat-calendar-header {
                .mat-calendar-controls {
                    .mat-calendar-arrow {
                        .border-top-color {
                            color: inherit;
                        }
                    }
                    .mat-calendar-previous-button,
                    .mat-calendar-next-button {
                        color: inherit;
                        &::after {
                            margin: 12px;
                        }
                    }
                }
                .mat-calendar-table-header-divider{
                    &::after{
                        
                    }
                }
            }
            .mat-calendar-content {
                .mat-calendar-table {
                    .mat-calendar-table-header {
                    }
                    .mat-calendar-body {
                        .mat-calendar-body-label{

                        }
                        .mat-calendar-body-cell{
                            .mat-calendar-body-cell-content{
                                &.mat-calendar-body-selected{
                                }
                            }
                        }
                    }
                }
            }
        }
        @include themed() {
            background-color: t($bg-color);
            color: t($text-color);
            @include box-shadow-small();
            .mat-calendar {
                .mat-calendar-header {
                    .mat-calendar-controls {
                        .mat-calendar-arrow {
                            border-top-color:inherit;
                        }
                        .mat-calendar-previous-button,
                        .mat-calendar-next-button {
                            color: inherit;
                            &::after {
                            }
                        }
                    }
                }
                .mat-calendar-content {
                    .mat-calendar-table {
                        .mat-calendar-table-header {
                            color: t($ngt-inverse-dark);
                            .mat-calendar-table-header-divider{
                                &::after{
                                    background:t($ngt-inverse);
                                }
                            }
                        }
                        .mat-calendar-body {
                            .mat-calendar-body-label{
                                color: t($ngt-inverse-dark);
                            }
                            .mat-calendar-body-cell{
                                .mat-calendar-body-cell-content{
                                    color: t($text-color);
                                    &.mat-calendar-body-selected{
                                        background: t($ngt-inverse-dark);
                                        color: t($bg-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
