.mat-tab-group {
    font-family: inherit;
    .mat-tab-header {
        .mat-tab-label-container {
            .mat-tab-labels {
                .mat-tab-label {
                    font-family: inherit;
                    height: 40px;
                    .mat-tab-label-content {
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
                .mat-ink-bar {
                    height: 1px;
                }
            }
        }
    }
}
