.mat-typography {
    &.theme-default,
    .mat-select-panel {
        .mat-option {
            @include font-size(13px);
            &:hover:not(.mat-option-disabled),
            &:focus:not(.mat-option-disabled),
            &.mat-active {
                background-color: $gray-300;
                color: $gray-900;
            }
            &.mat-selected {
                &:not(.mat-option-multiple):not(.mat-option-disabled) {
                    background: $gray-300;
                    color: $gray-900;
                }
            }
        }
    }
    .mat-menu-panel{
        .mat-menu-content{
            .mat-menu-item{
                font-family: inherit;
            }
        }
    }
}
