.mat-expansion-panel {
    .mat-expansion-panel-header {
        font-family: inherit;
        .mat-expansion-panel-header-title {
            @include font-size(14px);
            font-weight: 600;
            letter-spacing: 0.6px;
        }
    }
}
