.mat-tab-group {
    font-family: inherit;
    .mat-tab-header {
        .mat-tab-label-container {
            .mat-tab-labels {
                .mat-tab-label {
                    font-family: inherit;
                    .mat-tab-label-content {
                        @include font-size(13px);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
