     
.mat-row, .mat-footer-row {
  min-height: 28px;
  height: 30px;
}
app-sales {
      .mat-header-row {
      width:200;
      min-width: 1000px;
      height: 10px; 
      background-color: blue;
    }
  
    .mat-row {
      width: 100%;
      //max-width: 1600px;
      min-width: 1000px;
      min-height: 20px;
     
    }
    .mat-column-ItemId {
      width: 200px;
      max-width: 200px;
      min-width: 200px;
      text-align: left;
    }

    .mat-column-ItemName {
      width: 200px;
      max-width: 200px;
      min-width: 200px;
      text-align: left;
      text-align: left;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
      overflow: hidden !important;
      display: inline-block;
      justify-content:left; 
    }
    
    .mat-column-BatchNo {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }
   
    .mat-column-BatchExpDate {
      width: 120px;
      max-width: 120px;
      min-width: 120px;
      text-align: left;
    }

    .mat-column-Qty {
      width: 80px;
      max-width: 80px;
      min-width: 80px;
      text-align: left;
    }

    .mat-column-UnitMRP {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }

    .mat-column-GSTPer {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }

    .mat-column-TotalMRP {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }
    .mat-column-DiscAmt {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      text-align: left;
    }

    .mat-column-NetAmt {
      width: 160px;
      max-width: 160px;
      min-width: 160px;
      text-align: center;
    }

  
    .mat-column-action {
      width: 70px;
      max-width: 70px;
      min-width: 70px;
      text-align: center;
      justify-content: center;
  
    }
    
    .mat-column-buttons {
      width: 70px;
      max-width: 70px;
      min-width: 70px;
      text-align: left;
      justify-content: left;
  
    }
  }

    .mat-header-cell {
      color: white !important;
    }

// .table-row:selected {

//   background-color: rebeccapurple;
// }


button:disabled {
  color: white;
 background-color: #7bd3ff  !important;
 //background-color: #b7e6fd ;
  border-radius: 2px;
 // border: 1px solid #CCCCCC;
 border: 1px solid  #b7e6fd ;
}



