.example-container {
    height: 310px;
    width: 2000px;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 2000px;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 3px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
 
  .table2 {
    height: 150px;
    width: 2030px;
    max-width: 100%;
    overflow: auto;
  }

  .table5 {
    height: 300px;
    width: 2040px;
    max-width: 100%;
    overflow: auto;
  }

  .table4 {
    height: 300px;
    width: 2030px;
    max-width: 100%;
    overflow: auto;
  }

  .table3 {
    height: 200px;
    width: 2000px;
    max-width: 100%;
    overflow: auto;
  }

  .table7 {
    height: 130px;
    width: 2000px;
    max-width: 100%;
    overflow: auto;
  }

  .table8 {
    height: 200px;
    width: 1400px;
    max-width: 100%;
    overflow: auto;
  }

  mat-slider {
    width: 1000px;
  }

  #div-0 { margin: 20px; }

  .img {
     display: flex;
     justify-content: center;
    }

    .patient{
      display: flex;
      justify-content: center;
     }

    .slider {
      display: flex;
      justify-content: center;
     }

    .button
    {
      float: right;
      margin-left: 100px;
      padding: 20px;
    } 

    .button1
    {
      float: right;
    } 

  