 .table1{
  
  .mat-column-No {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    align-items: left;
}
.mat-column-Date {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  align-items: left;
}

.mat-column-TransactionType {
  width: 200px;
    max-width: 200px;
    min-width: 200px;
    align-items: left;
  white-space: nowrap;
  overflow: hidden;
   text-overflow: ellipsis;
   overflow: hidden !important;
  justify-content: left;
  padding-right: 5px;
}

.mat-column-FromStoreName {
    width: 190px;
    max-width: 190px;
    min-width: 190px;
    align-items: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden !important;
    justify-content: left;
}
.mat-column-DocNo {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    align-items: left;
}
.mat-column-ItemName {
   width: 350px;
   max-width: 350px;
   min-width: 350px;
    align-items: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden !important;
    justify-content: left;
}
.mat-column-BatchNO {
  width: 150px;
  max-width: 150px;
  min-width: 100px;
  align-items: left;
}
.mat-column-RQty {
  width: 75px;
  max-width: 75px;
  min-width: 75px;
  align-items: left;
}
.mat-column-IQty {
  width: 75px;
  max-width: 75px;
  min-width: 75px;
  align-items: left;
}
.mat-column-BalQty {
  width: 85px;
  max-width: 85px;
  min-width: 85px;
  align-items: left;
}
  height: 700px;
  max-height: 700px;
  min-height: 700px;

 }