<div class="modal-wrapper grid-container">
    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"> Bank Master</span>
            </div>
            <div class="modal-header-right">
                <div class="close-icon">
                    <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog"
                        matTooltip="Close">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body" fusePerfectScrollbar>
        <form [formGroup]="bankForm">
            <div class="modal-body-container">


                <input type="hidden" name="bankId" formControlName="bankId">

                <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="33%">

                    <!-- <app-airmid-textbox1 label="Bank Name" formControlName="bankName" 
                        [formGroup]="bankForm"   oninput=format
                        [validations]="_BankMasterService.getValidationMessages().bankName" value="9876658688"
                        [maxlength]=maxLength [minlength]="minLength">
                    </app-airmid-textbox1>     -->


                    <app-airmid-textbox1 label="Bank Name" formControlName="bankName" [formGroup]="bankForm"
                        oninput=format1 [validations]="_BankMasterService.getValidationMessages().bankName"
                        value="987665868811" [maxlength]=maxLength [minlength]="minLength">
                    </app-airmid-textbox1>


                </div>

            </div>

            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                <!-- <mat-radio-group name="isActive" formControlName="isActive" value='true'>
                    <mat-radio-button value='true' class="mr-sm-12" fxFlex>IsActive
                    </mat-radio-button>
                    <mat-radio-button value='false' class="mr-sm-12" fxFlex>IsDeactive
                    </mat-radio-button>
                </mat-radio-group> -->
              
                <!-- <app-airmid-slider label="IsActive" formControlName="isActive" [(ngModel)]="value" ></app-airmid-slider> -->
            </div>
            <app-airmid-slider label="IsActive/Deactive" [formGroup]="bankForm" [(ngModel)]="value" ></app-airmid-slider>
        </form>
       
        <div class="new-appointment-actions gap-8 mt-12" fxLayout="row" fxLayoutAlign="end center">

            <button class="btn btn-danger-outline" (click)="onClear(false)">Close</button>
            <button class="btn btn-primary " color="accent" (click)="onSubmit()">
                <span>Save</span>
            </button>
        </div>
    </div>
<!-- </div> -->