<div class="modal-page page-layout inner-scroll">
    <div class="modal-wrapper grid-container">
        <!-- Modal header -->
        <div class="modal-header accent">
            <div class="modal-header-content">
                <div class="modal-header-title">
                    <span [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">Opening Balance</span>
                </div>
                <div class="modal-header-right">
                    <div class="comman-date-container">
                        <app-common-date [screenFrom]="'OP-billing'"
                            (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                        <div class="close-icon">
                            <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog"
                                matTooltip="Close">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal body -->
        <div class="modal-body" fusePerfectScrollbar>
            <div class="modal-body-container">
                <div fxLayout="column" class="h-100-p">
                    <mat-accordion>
                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="panel-title" fxLayout="row" fxLayoutAlign="space-between center">
                                        <span>Opening Balance </span>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="column" fxLayout="row" fxLayoutAlign="start none">
                                <div fxFlexFill fxLayout="row" fxLayoutGap="8px">
                                    <form [formGroup]="StoreForm">
                                        <airmid-dropdown label="Store Name" formControlName="StoreId" [disabled]="true"
                                            (selectionChange)="StoreSelction($event)" [formGroup]="StoreForm" fxFlex
                                            (openedChange)="true" [mode]="autocompletestore">
                                        </airmid-dropdown>

                                    </form>
                                </div>
                            </div>
                            <div fxFlexFill fxLayout="row" fxLayoutGap="8px">
                                <form [formGroup]="OPeningtemForm">

                                    <airmid-autocomplete label="Item Name (enter 2 char)" [formGroup]="OPeningtemForm"
                                        formControlName="ItemName" placeholderText="Item Name (enter 2 char)"
                                        fxFlex="40%" ApiUrl="ItemMaster/GetItemListForGRNOrPO?StoreId=2&ItemName="
                                        (selectionChange)="getSelectedItem($event)" TextField="formattedText"
                                        ValueField="itemId" (onClearSelection)="ItemFromReset()"></airmid-autocomplete>

                                        

                                    <airmid-textbox fxFlex="10%" label="BatchNo" formControlName="BatchNo"
                                        [(ngModel)]="vBatchNo" [formGroup]="OPeningtemForm"
                                        placeholder="BatchNo"></airmid-textbox>

                                    <mat-form-field appearance="outline" fxFlex="10%">
                                        <mat-label>ExpDate</mat-label>
                                        <input matInput #inputField (keyup.enter)="calculateLastDay()"
                                            formControlName="ExpDate" id="ExpDatess" [(ngModel)]="vlastDay" #expdate
                                            autocomplete="off" placeholder="MMYYYY" required>
                                    </mat-form-field>

                                    <airmid-textbox fxFlex="10%" label="Bal Qty" formControlName="BalanceQty"
                                        [(ngModel)]="vBalQty" [formGroup]="OPeningtemForm" type="number"
                                        placeholder="BalanceQty"></airmid-textbox>

                                    <airmid-textbox fxFlex="10%" label="GST %" formControlName="GST" [(ngModel)]="vGST"
                                        type="number" [formGroup]="OPeningtemForm" placeholder="GST %"></airmid-textbox>

                                    <airmid-textbox fxFlex="10%" label="MRP" formControlName="MRP" [(ngModel)]="vMRP"
                                        type="number" [formGroup]="OPeningtemForm" placeholder="MRP"></airmid-textbox>

                                    <airmid-textbox fxFlex="10%" label="Rate PerUnit" formControlName="RatePerUnit"
                                        [(ngModel)]="vRatePerUnit" [formGroup]="OPeningtemForm" type="number"
                                        placeholder="Rate PerUnit" (keyup)="CheckValidation()"
                                        (keypress)="keyPressCharater($event)"></airmid-textbox>

                                    <div style="margin-left: 20px;"
                                        [matTooltip]="!OPeningtemForm.valid ? 'Add All Value to enable this button!!' : ''">
                                        <button type="button" class="btn btn-primary btn-with-icon py-8"
                                            (click)="Onadd()" [disabled]="!OPeningtemForm.valid">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                    <div class="airmid-table-container py-12" fxFlex>
                        <mat-table class="table2" matSort [dataSource]="dsItemNameList" [@animateStagger]="{value:'50'}"
                            style="overflow: auto;">

                            <ng-container matColumnDef="buttons" stickyEnd>
                                <mat-header-cell *matHeaderCellDef style="color: white;"> Action
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button mat-icon-button (click)="deleteTableRow(row)" color="warn">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>

                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="ItemName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm class="w-450">
                                    ItemName
                                </mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-450">
                                    {{contact.ItemName}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="BatchNo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-150">
                                    BatchNo</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                    {{contact.BatchNo}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="ExpDate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-150">
                                    ExpDate</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                    {{contact.ExpDate}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="BalQty">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-150">
                                    BalQty </mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                    {{contact.BalQty}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="PerRate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-150">
                                    UnitPerRate</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                    {{contact.PerRate}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="UnitMRP">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-150">
                                    UnitMRP</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                    {{contact.UnitMRP}}
                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="GST">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-150">
                                    GST%</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                    {{contact.GST}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="loading">
                                <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                </mat-header-cell>
                            </ng-container>

                            <ng-container matColumnDef="noData">
                                <mat-footer-cell *matFooterCellDef colspan="6">
                                    no data found...
                                </mat-footer-cell>
                            </ng-container>

                            <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                            </mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" class="element"
                                [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                            <mat-footer-row *matFooterRowDef="['noData']"
                                [ngClass]="{'hide':!(dsItemNameList!=null && dsItemNameList.data.length==0)}">
                            </mat-footer-row>
                        </mat-table>
                    </div>


                </div>
            </div>
        </div>
        <div>
            <form [formGroup]="OPeningtemForm">
                <div style="margin-left: 20px;">
                    <airmid-textbox fxFlex="60%" label="Remark" formControlName="Remark" [(ngModel)]="vRemark"
                        [formGroup]="OPeningtemForm" placeholder="Remark"></airmid-textbox>


                    <div class="modal-footer">
                        <div class="footer-navigation-container">
                            <div class="modal-footer-buttons" style="margin-left: 600px;">
                                <button class="btn btn-danger-outline" (click)="OnReset()">Reset</button>
                                <button type="button" class="btn btn-primary" [disabled]="false"
                                    (click)="OnSave()">Save</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>