<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll" fusePerfectScrollbar
    dynamicTableHeight>
    <!-- HEADER -->
    <mat-toolbar class="top-header accent ">
        <div fxLayout="row" fxLayoutAlign="start center">

            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Service Master
            </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button color="pine" (click)="onAdd()" fxLayoutAlign="center center">Add
                <mat-icon color="Primary" title=" Add New Store ">add_to_photos</mat-icon>
            </button>

        </div>
    </mat-toolbar>
    <!-- / HEADER -->



    <!-- CONTENT -->
    <div class="content">

        <!-- SIDEBAR -->
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <!-- CONTENT -->
            <div class="content-card">


                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>

                        <div fxlayout="row" style="background-color: white;padding: 5px 10px 5px 10px;"
                            fxLayoutGap="3px">
                            <form [formGroup]="_serviceMasterService.myformSearch">
                                <div class="dialog-content-wrapper">
                                    <mat-form-field class="mr-sm-12" fxFlex>
                                        <input matInput placeholder="Search --> Service Name"  (keyup.enter)="onSearch()" autocomplete="off"
                                            name="ServiceNameSearch" formControlName="ServiceNameSearch" />
                                        <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                            (click)="onSearchClear()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>

                                    <mat-radio-group name="IsDeletedSearch" formControlName="IsDeletedSearch" value="2"
                                        fxLayoutAlign="center center">
                                        <mat-radio-button value="2">All</mat-radio-button>
                                        <mat-radio-button mat-fab value="0">IsActive</mat-radio-button>
                                        <mat-radio-button mat-fab value="1">IsDeactive</mat-radio-button>
                                    </mat-radio-group>

                                    <button mat-raised-button (click)="onSearch()" fxLayoutAlign="center center">
                                        <mat-icon>search</mat-icon>
                                        Search
                                    </button>
                                </div>
                            </form>
                        </div>




                        <div style="width: 100%;">
                            <mat-table #table matSort [dataSource]="DSServiceMasterList"
                                [@animateStagger]="{value:'50'}" style="overflow:auto">

                                <ng-container matColumnDef="ServiceId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Code
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.ServiceId}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="ServiceName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="w-200"> Service Name </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm class="w-200"> {{element.ServiceName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="ServiceShortDesc">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="w-200">ServiceShortDesc
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm class="w-200"> {{element.ServiceShortDesc}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="GroupName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm class="w-200">GroupName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm class="w-200"> {{element.GroupName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="PrintOrder">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>PrintOrder
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.PrintOrder}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Price">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.Price}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="EmgAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> EAmt </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.EmgAmt}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="EmgPer">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Emg% </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.EmgPer}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="DoctorId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>DoctorId</mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.DoctorId}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="IsDocEditable">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>IsDocEditable</mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.IsDocEditable}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="TariffId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>TariffId</mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.TariffId}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="SubGroupId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>SubGroupId</mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.SubGroupId}}
                                    </mat-cell>
                                </ng-container>

                                <!-- <ng-container matColumnDef="AddedByName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.AddedByName}}
                                    </mat-cell>
                                </ng-container> -->


                                <ng-container matColumnDef="IsEditable">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm> IsEditable
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <mat-icon *ngIf="!element.IsEditable"
                                            class="active-icon green-600 s-16">check_circle</mat-icon>
                                        <mat-icon *ngIf="element.IsEditable"
                                            class="active-icon red-500 s-16">close</mat-icon>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="CreditedtoDoctor">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                        CreditedtoDoctor </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <mat-icon *ngIf="!element.CreditedtoDoctor"
                                            class="active-icon green-600 s-16">check_circle</mat-icon>
                                        <mat-icon *ngIf="element.CreditedtoDoctor"
                                            class="active-icon red-500 s-16">close</mat-icon>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="IsPathology">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>IsPathology </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.IsPathology}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="IsRadiology">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>IsRadiology</mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.IsRadiology}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="IsDeleted">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm> IsActive
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <mat-icon *ngIf="!element.IsDeleted"
                                            class="active-icon green-600 s-16">check_circle</mat-icon>
                                        <mat-icon *ngIf="element.IsDeleted"
                                            class="active-icon red-500 s-16">close</mat-icon>
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef class="table-actions" style="color: white;">
                                        Action </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-icon-button (click)="onEdit(row)"><mat-icon
                                                title="Edit Menu">launch</mat-icon></button>
                                        <button mat-icon-button (click)="onDeactive(row.ServiceId)"
                                            color="warn"><mat-icon>delete_outline</mat-icon></button>

                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        loading data...
                                    </mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>



                                <mat-header-row class="accent"
                                    *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>

                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':DSServiceMasterList!=null}"></mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(DSServiceMasterList!=null && DSServiceMasterList.data.length==0)}"></mat-footer-row>

                            </mat-table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[12, 24, 35, 100]" [pageSize]="12" [length]="resultsLength"
                            showFirstLastButtons (page)="getServiceMasterList()">
                        </mat-paginator>

                        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                            showFirstLastButtons></mat-paginator> -->
                    </div>


                </div>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CENTER -->
    </div>
    <!-- / CONTENT-->
</div>