<div fusePerfectScrollbar
    class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
    dynamicTableHeight>
    <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center ">
        <div class="top-header-info">
            <div class="top-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Service Master
                </span>
            </div>
        </div>
        <div class="gap-8" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start center">
            <button mat-raised-button (click)="onSave()">+ New Service
            </button>
        </div>
    </div>
    <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
        <app-airmid-table1 [gridConfig]="gridConfig" class="content">
            <ng-container filters>
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Service Name</mat-label>
                    <input matInput placeholder="Search Service Name" autocomplete="off"
                        [(ngModel)]="gridConfig.filters[0].fieldValue" />
                    <button matSuffix mat-icon-button aria-label="Clear"
                        (click)="gridConfig.filters[0].fieldValue='%'">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <!-- <airmid-dropdown label="Tariff" formControlName="TariffId"
                    [formGroup]="_serviceMasterService.myform"
                    [mode]="autocompleteModetariff"
                    [(ngModel)]="gridConfig.filters[1].fieldValue"
                    (selectDdlObject)="selectChangetariff($event)">
                </airmid-dropdown>  -->

                <!-- [validations]="getValidationtariffMessages.TariffId" -->
                <form [formGroup]="_serviceMasterService.myformSearch">
                    <airmid-dropdown label="Tariff Name" formControlName="TariffId"
                        [formGroup]="_serviceMasterService.myformSearch" [(ngModel)]="gridConfig.filters[1].fieldValue"
                        [mode]="autocompleteModetariff"
                        (selectDdlObject)="selectChangetariff($event)"  >
                    </airmid-dropdown>
                    <!-- [validations]="getValidationgroupMessages.GroupId" -->
                    <airmid-dropdown label="Group Name" formControlName="GroupId"
                        [formGroup]="_serviceMasterService.myformSearch" [(ngModel)]="gridConfig.filters[2].fieldValue"
                       [mode]="autocompleteModegroupName"
                        (selectDdlObject)="selectChangegroup($event)">
                    </airmid-dropdown>
                </form>

                <!-- <airmid-dropdown label="Group Name" formControlName="GroupId"
                    [formGroup]="_serviceMasterService.myform"
                    [(ngModel)]="gridConfig.filters[2].fieldValue"
                    [mode]="autocompleteModegroupName">
                </airmid-dropdown> -->


            </ng-container>
        </app-airmid-table1>
    </div>
</div>