<div fusePerfectScrollbar
    class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
    dynamicTableHeight>
    <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center ">
        <div class="top-header-info">
            <div class="top-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Administration Task
                </span>
            </div>
        </div>
    </div>
    <mat-card style="padding: 8px;">

        <div class="modal-body">
            <div class="modal-body-container">

                <form [formGroup]="myForm">

                    <div fxLayout="column" fxLayoutAlign="start none" style="width: 100%;" fxLayoutGap="6px">

                        <div fxlayout="row" style="padding: 20px;">

                            <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                                <mat-radio-group formControlName="opiptype" (change)="onChangeRadio($event)">
                                    <mat-radio-button value="0">OP</mat-radio-button>
                                    <mat-radio-button value="1">IP</mat-radio-button>
                                </mat-radio-group>

                            </div>


                            <airmid-autocomplete lbl="RegID" *ngIf="opiptype" [formGroup]="myForm"
                                label="Search Reg No / Patient Name / Mobile No(DC)" formControlName="RegID"
                                fxFlex="35%" placeholderText="RegNo / First Name / Last Name / Mobile No(DC)"
                                ApiUrl="Admission/search-patient?Keyword=" (selectionChange)="getSelectedObjDC($event)"
                                TextField="formattedText" ValueField="regId">
                            </airmid-autocomplete>


                            <airmid-autocomplete label="OP-UHID / First Name / Last Name / Mobile No" fxFlex="35%"
                                [formGroup]="myForm" formControlName="RegID" *ngIf="!opiptype"
                                placeholderText="OP-UHID / First Name / Last Name / Mobile No"
                                ApiUrl="VisitDetail/search-patient-1?Keyword="
                                (selectionChange)="getSelectedObj($event)" ValueField="regId"
                                TextField="formattedText"></airmid-autocomplete>


                        </div>


                    </div>
                </form>
                <mat-card style="padding: 15px;">
                    <div fxFlex.gt-sm="100%" fxFlex class="patient-info-container">
                        <div class="patient-info-container">
                            <div class="patient-info-box">
                                <div class="patient-info-title">
                                    <span class="h1">Patient Information</span>
                                </div>
                                <hr>
                                <div class="Ipd-patient-info" fxFlexFill fxLayout="row"
                                    fxLayoutAlign="space-between center" class="patient-info">
                                    <div class="patient-sub">
                                        <div class="patient-info-row patient-info-1-111 pt-8" fxLayout="row"
                                            fxLayoutAlign="space-between">
                                            <div fxLayout="column" fxLayoutGap="10px">
                                                <div class="patient-col">
                                                    <span class="patient-col-key">UHID No
                                                    </span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vRegNo}}</span>
                                                </div>
                                                <div class="patient-col">
                                                    <span class="patient-col-key">Patient Name
                                                    </span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vPatientName}}</span>
                                                </div>
                                                <div class="patient-col">
                                                    <span class="patient-col-key">Doctor Name</span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">Dr.{{vDoctorName}}</span>
                                                </div>
                                                <div class="patient-col">
                                                    <span class="patient-col-key">Department</span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vDepartment}}</span>
                                                </div>
                                            </div>
                                            <div fxLayout="column" fxLayoutGap="10px">

                                                <div class="patient-col">
                                                    <span class="patient-col-key">DOA | Time</span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vAdmissionDate |
                                                        date:'dd/MM/YYYY'}} |
                                                        {{vAdmissionTime | date:'hh:mm a' }}
                                                    </span>
                                                </div>
                                                <div class="patient-col">
                                                    <span class="patient-col-key">IPD No</span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vIPDNo}}</span>
                                                </div>
                                                <div class="patient-col">
                                                    <span class="patient-col-key">Age | Sex
                                                    </span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vAge}}Y|{{vAgeMonth}}M|{{vAgeDay}}
                                                        D |
                                                        {{vGenderName}}</span>
                                                </div>
                                                <div class="patient-col">
                                                    <span class="patient-col-key">Ref-Doctor Name
                                                    </span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vRefDocName}}</span>
                                                </div>

                                            </div>
                                            <div fxLayout="column" fxLayoutGap="10px">
                                                <div class="patient-col">
                                                    <span class="patient-col-key">Ward | Bed Name
                                                    </span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vRoomName}} |
                                                        {{vBedName}}</span>
                                                </div>
                                                <div class="patient-col">
                                                    <span class="patient-col-key">Patient Type
                                                    </span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vPatientType}}</span>
                                                </div>
                                                <div class="patient-col">
                                                    <span class="patient-col-key">Tarrif Name
                                                    </span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vTariffName}}</span>
                                                </div>
                                                <div class="patient-col">
                                                    <span class="patient-col-key">Company Name</span>
                                                    <span>:</span>
                                                    <span class="patient-col-value"
                                                        style="color: orange;">{{vCompanyName}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <!-- Bill list  -->

                <div fxLayout="column" style="padding: 8px 12px 0px 12px;">

                    <div fxFlex.gt-sm="100%" fxFlex>
                        <mat-card style="padding: 5px;">
                            <span style="color: rgb(4, 54, 66);font-size: large;font-weight: bold;">Bill List</span>
                            <mat-table class="table h-225" #table matSort [dataSource]="dataSourceBill"
                                [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">

                                <ng-container matColumnDef="action1">
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                        class="w-70">Status</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" class="w-70">

                                        <div fxLayout="row" fxLayoutAlign="center center">

                                            <mat-icon *ngIf="contact.opD_IPD_Type" matTooltip="OP">account_box
                                            </mat-icon>

                                            <mat-icon *ngIf="!contact.opD_IPD_Type" matTooltip="IP">business
                                            </mat-icon>

                                            <mat-icon *ngIf="contact.isCancelled=='1'" matTooltip="Bill Cancle"
                                                class="pill red-600 s-16">
                                            </mat-icon>

                                            <mat-icon *ngIf="contact.isCancelled=='0'" matTooltip="Bill Not Cancle"
                                                class="pill green-600 s-16">
                                            </mat-icon>

                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="pbillNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md class="w-70">
                                        PBillNo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-70">
                                        {{contact.pbillNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="regNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md class="w-70">
                                        RegNo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-70">
                                        {{contact.regNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="patientName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-300">
                                        PatientName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-300">
                                        {{contact.patientName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="totalAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        Bill Amount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.totalAmt | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="concessionAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        Con. Amount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.concessionAmt | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="netPayableAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        Net Amount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.netPayableAmt | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="balanceAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        Balance Amount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                        [ngClass]="{'positive-balance': contact.BalanceAmt > 0 }" class="w-100">
                                        {{contact.balanceAmt | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="billDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-150">
                                        Bill Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-150">
                                        {{contact.billDate | date:'short'}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">
                                        Action</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">

                                        <button class="btn btn-primary" *ngIf="contact.isCancelled =='0'"
                                            (click)="OnUpdate(contact)" matTooltip="Bill Date Update">
                                            BillDate
                                        </button>&nbsp;
                                        <button class="btn btn-primary" (click)="OnUpdatepayment(contact,1)"
                                            matTooltip="Payment Date Update">
                                            PaymentDate
                                        </button>
                                        <button class="btn btn-danger" *ngIf="contact.isCancelled =='0'"
                                            (click)="BillCancelOP(contact)" matTooltip="Cancle Bill"
                                            style="color: white;"> Bill
                                            Cancel
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                    </mat-header-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns1; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns1;"
                                    [ngClass]="contact.patientType !== 'Self' ? 'self-row' : ''"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':!(sIsLoading == 'loading-data')}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dataSourceBill!=null && dataSourceBill.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                        </mat-card>
                    </div>
                </div>

                <!-- //payment -->
                <div fxLayout="column" style="padding: 8px 12px 0px 12px;">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <mat-card style="padding: 5px;">
                            <span style="color: rgb(4, 54, 66);font-size: large;font-weight: bold;">Payment List</span>
                            <mat-table class="table h-225" #table matSort [dataSource]="dataSourcepayment"
                                [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">


                                <ng-container matColumnDef="paymentDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        Payment Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.paymentDate | date:'short'}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="pBillNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md class="w-70">
                                        PBillNo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-70">
                                        {{contact.pBillNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="regNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md class="w-70">
                                        RegNo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-70">
                                        {{contact.regNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="patientName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-200">
                                        PatientName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-200">
                                        {{contact.patientName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="totalAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        Bill Amt
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.totalAmt | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="paidAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        Paid Amt
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.paidAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="cashPayAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        CashPay Amt
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.cashPayAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="chequePayAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        ChequePay Amt
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.chequePayAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="cardPayAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        CardPay Amt
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                        [ngClass]="{'positive-balance': contact.BalanceAmt > 0 }" class="w-100">
                                        {{contact.cardPayAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="neftPayAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        NeftPay Amt
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.neftPayAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="payTMAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        PayTmPay Amt
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                        [ngClass]="{'positive-balance': contact.BalanceAmt > 0 }" class="w-100">
                                        {{contact.payTMAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>



                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">
                                        Action</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">

                                        <button class="btn btn-primary" (click)="PaymentDate(element,2)"
                                            matTooltip="Payment Date Update">
                                            Date Update
                                        </button>&nbsp;
                                        <button class="btn btn-danger" (click)="onEdit(element)"
                                            matTooltip="Cancle Bill" style="color: white;">
                                            Edit
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                    </mat-header-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns2; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns2;"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':!(sIsLoading == 'loading-data')}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dataSourcepayment!=null && dataSourcepayment.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                        </mat-card>
                    </div>
                </div>
                <!-- //Advance -->
                <div fxLayout="column" style="padding: 8px 12px 0px 12px;">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <mat-card style="padding: 5px;">
                            <span style="color: rgb(4, 54, 66);font-size: large;font-weight: bold;">Advance List</span>
                            <mat-table class="table h-225" #table matSort [dataSource]="dataSourceAdvance"
                                [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">

                                <ng-container matColumnDef="action1">
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                        class="w-70">Status</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" class="w-70">

                                        <div fxLayout="row" fxLayoutAlign="center center">

                                            <!-- <mat-icon *ngIf="contact.PatientTypeId" matTooltip="OP">account_box
                                            </mat-icon>

                                            <mat-icon *ngIf="!contact.PatientTypeId" matTooltip="IP">business
                                            </mat-icon> -->

                                        </div>
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-200">
                                        Advance Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-200">
                                        {{contact.date | date:'short'}}
                                    </mat-cell>
                                </ng-container>



                                <ng-container matColumnDef="advanceNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        AdvanceNo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.advanceNo}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="regNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        RegNo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.regNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="patientName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-300">
                                        PatientName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-300">
                                        {{contact.patientName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="advanceAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-150">
                                        Advance Amount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-150">
                                        {{contact.advanceAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="balanceAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-150">
                                        BalanceAmount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-150">
                                        {{contact.balanceAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <!-- <ng-container matColumnDef="refundAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        Refund Amount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                        [ngClass]="{'positive-balance': contact.BalanceAmt > 0 }" class="w-100">
                                        {{contact.refundAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container> -->



                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">
                                        Action</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">

                                        <button class="btn btn-primary" (click)="OnUpdate(element)"
                                            matTooltip="Bill Date Update">
                                            Date Update
                                        </button>&nbsp;
                                        <button class="btn btn-danger" (click)="CancelAdvance(element)"
                                            matTooltip="Cancle Bill" style="color: white;"> Cancel
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                    </mat-header-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns3; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns3;"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':!(sIsLoading == 'loading-data')}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dataSourceAdvance!=null && dataSourceAdvance.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                        </mat-card>
                    </div>
                </div>

                <!-- //Refund -->
                <div fxLayout="column" style="padding: 8px 12px 0px 12px;">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <mat-card style="padding: 5px;">
                            <span style="color: rgb(4, 54, 66);font-size: large;font-weight: bold;">Advance List</span>
                            <mat-table class="table h-225" #table matSort [dataSource]="dataSourceRefund"
                                [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">

                                <ng-container matColumnDef="action1">
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                        class="w-70">Status</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" class="w-70">

                                        <div fxLayout="row" fxLayoutAlign="center center">

                                            <!-- <mat-icon *ngIf="contact.PatientTypeId" matTooltip="OP">account_box
                                            </mat-icon>

                                            <mat-icon *ngIf="!contact.PatientTypeId" matTooltip="IP">business
                                            </mat-icon> -->

                                        </div>
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="refundTime">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-200">
                                        Refund Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-200">
                                        {{contact.refundTime | date:'short'}}
                                    </mat-cell>
                                </ng-container>



                                <ng-container matColumnDef="paymentTime">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-150">
                                        Payment Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-150">
                                        {{contact.paymentTime | date:'short'}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="regNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        RegNo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.regNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="patientName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-300">
                                        PatientName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-300">
                                        {{contact.patientName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="refundAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-150">
                                        Refund Amount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-150">
                                        {{contact.refundAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="userName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-150">
                                        UserName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-150">
                                        {{contact.userName | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>



                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">
                                        Action</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">

                                        <button class="btn btn-primary" (click)="OnUpdate(element)"
                                            matTooltip="Bill Date Update">
                                            Date Update
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                    </mat-header-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns4; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns4;"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':!(sIsLoading == 'loading-data')}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dataSourceRefund!=null && dataSourceRefund.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>


    </mat-card>
</div>