<ng-template #serviceTable>
    <mat-toolbar class="accent" style="width: 100%;height: 40px;justify-content: space-between;">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
        style="color: white;">account_box
      </mat-icon>
      <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"> Admission Task</span>
    </div>
    <div class="close-icon">
      <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog" matTooltip="Close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>


    <div class="modal-body" fusePerfectScrollbar>
        <div class="modal-body-container">
            <div class="center p-12 pb-56" style="border-radius: 4px;">
                <!-- CONTENT -->
                <div class="content-card">
                    <form [formGroup]="AdmissionTaskForm">

                        <div fxFlexFill fxlayout="row" fxLayout="column" fxLayoutGap="6px">

                          
                            <div fxFlexFill fxlayout="row" fxLayoutGap="8px">

                                <mat-form-field appearance="outline" class="dateField">
                                    <mat-label>{{dateLabel}}</mat-label>
                                    <input matInput [matDatepicker]="picker1" [matDatepickerFilter]="myFilter"
                                        formControlName="AdmissionDate" readonly
                                        (dateChange)="onChangeDate($event.value)">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"
                                        [disabled]="isDatePckrDisabled"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>


                                <mat-form-field appearance="outline" class="timeField">
                                    <mat-label>{{timeLabel}}</mat-label>
                                      <input matTimepicker #t="matTimepicker" mode="12h" formControlName="AdmissionTime"
                                        [readonly]="true" (timeChange)="onChangeTime($event)"
                                        [disableDialogOpenOnClick]="isDatePckrDisabled">

                                    <mat-icon matSuffix
                                        (click)="!isDatePckrDisabled ? t.showDialog() : ''">access_time</mat-icon>
                                </mat-form-field>

                                <airmid-textbox label="New IPDNo" formControlName="NewIpdNo" fxFlex="47%"
                                    [formGroup]="AdmissionTaskForm" [value]="vIPDNo">
                                </airmid-textbox>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" fxLayoutAlign="end">
        <div class="next-div button-row-group" style="padding-right: 20px;">
            <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
            <button class="btn btn-primary" color="accent" (click)="OnAdmDateTimeUpdate()">
                <span>Save</span>
            </button>
        </div>
    </div>

</ng-template>
<!-- //Visitdate -->
<ng-template #visitTable>
    <mat-toolbar class="accent" style="width: 100%;height: 40px;justify-content: space-between;">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
        style="color: white;">account_box
      </mat-icon>
      <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"> VisitDetail Task</span>
    </div>
    <div class="close-icon">
      <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog" matTooltip="Close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>


    <div class="modal-body" fusePerfectScrollbar>
        <div class="modal-body-container">
            <div class="center p-12 pb-56" style="border-radius: 4px;">
                <!-- CONTENT -->
                <div class="content-card">
                    <form [formGroup]="VisitForm">

                        <div fxFlexFill fxlayout="row" fxLayout="column" fxLayoutGap="6px">

                          
                            <div fxFlexFill fxlayout="row" fxLayoutGap="8px">

                                <mat-form-field appearance="outline" class="dateField">
                                    <mat-label>{{dateLabel1}}</mat-label>
                                    <input matInput [matDatepicker]="picker1" [matDatepickerFilter]="myFilter"
                                        formControlName="VisitDate" readonly
                                        (dateChange)="onChangeDate1($event.value)">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"
                                        [disabled]="isDatePckrDisabled"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>


                                <mat-form-field appearance="outline" class="timeField">
                                    <mat-label>{{timeLabel1}}</mat-label>
                                      <input matTimepicker #t="matTimepicker" mode="12h" formControlName="VisitTime"
                                        [readonly]="true" (timeChange)="onChangeTime1($event)"
                                        [disableDialogOpenOnClick]="isDatePckrDisabled">

                                    <mat-icon matSuffix
                                        (click)="!isDatePckrDisabled ? t.showDialog() : ''">access_time</mat-icon>
                                </mat-form-field>

                                <!-- <airmid-textbox label="New IPDNo" formControlName="NewIpdNo" fxFlex="47%"
                                    [formGroup]="AdmissionTaskForm" [value]="vIPDNo">
                                </airmid-textbox> -->
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" fxLayoutAlign="end">
        <div class="next-div button-row-group" style="padding-right: 20px;">
            <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
            <button class="btn btn-primary" color="accent" (click)="OnVisitDateTimeUpdate()">
                <span>Save</span>
            </button>
        </div>
    </div>

</ng-template>
<!-- //Bill Date update -->
<ng-template #Billdate>
    <mat-toolbar class="accent" style="width: 100%;height: 40px;justify-content: space-between;">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
        style="color: white;">account_box
      </mat-icon>
      <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"> BIll Date & Time Update</span>
    </div>
    <div class="close-icon">
      <button mat-icon-button [mat-dialog-close]="true" aria-label="Close dialog" matTooltip="Close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>


    <div class="modal-body" fusePerfectScrollbar>
        <div class="modal-body-container">
            <div class="center p-12 pb-56" style="border-radius: 4px;">
                <!-- CONTENT -->
                <div class="content-card">
                    <!-- <form [formGroup]="VisitForm"> -->

                        <div fxFlexFill fxlayout="row" fxLayout="column" fxLayoutGap="6px">

                          
                            <div fxFlexFill fxlayout="row" fxLayoutGap="8px">

                                <!-- <mat-form-field appearance="outline" class="dateField">
                                    <mat-label>{{dateLabel1}}</mat-label>
                                    <input matInput [matDatepicker]="picker1" [matDatepickerFilter]="myFilter"
                                        formControlName="VisitDate" readonly
                                        (dateChange)="onChangeDate1($event.value)">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"
                                        [disabled]="isDatePckrDisabled"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>


                                <mat-form-field appearance="outline" class="timeField">
                                    <mat-label>{{timeLabel1}}</mat-label>
                                      <input matTimepicker #t="matTimepicker" mode="12h" formControlName="VisitTime"
                                        [readonly]="true" (timeChange)="onChangeTime1($event)"
                                        [disableDialogOpenOnClick]="isDatePckrDisabled">

                                    <mat-icon matSuffix
                                        (click)="!isDatePckrDisabled ? t.showDialog() : ''">access_time</mat-icon>
                                </mat-form-field> -->

                                 <app-common-date [screenFrom]="screenFromString" (dateTimeEventEmitter)="getDateTime($event)"
                                    style="width: 200px;">
                                    </app-common-date> 

                            </div>

                        </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" fxLayoutAlign="end">
        <div class="next-div button-row-group" style="padding-right: 20px;">
            <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
            <button class="btn btn-primary" color="accent" (click)="Billdateupdate1()">
                <span>Save</span>
            </button>
        </div>
    </div>

</ng-template>

<!-- //// -->
<div fusePerfectScrollbar
    class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
    dynamicTableHeight>
    <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center ">
        <div class="top-header-info">
            <div class="top-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Administration Task
                </span>
            </div>
        </div>
    </div>
    <mat-card style="padding: 8px;">

        <div class="modal-body">
            <div class="modal-body-container">

                <form [formGroup]="myForm">

                    <mat-card style="padding: 5px;">
                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" class="gap-8">

                            <div>
                                <mat-radio-group formControlName="opiptype" (change)="onChangeRadio($event)">
                                    <mat-radio-button value="0">OP</mat-radio-button>
                                    <mat-radio-button value="1">IP</mat-radio-button>
                                </mat-radio-group>

                                <!-- <app-airmid-slider label="OP/IP" formControlName="opiptype" [formGroup]="myForm"></app-airmid-slider> -->


                            </div>


                            <airmid-autocomplete class="w-350" label="Search Reg No / Patient Name / Mobile No"
                                [formGroup]="myForm" formControlName="RegID"
                                placeholderText="Search Reg No / Patient Name / Mobile No"
                                ApiUrl="OutPatient/auto-complete?Keyword=" (selectionChange)="getSelectedObj($event)"
                                fxFlex="40%"></airmid-autocomplete>

                        </div>
                    </mat-card>


                </form>
                <mat-card style="padding: 15px;">
                    <div fxFlex.gt-sm="100%" fxFlex class="patient-info-container">
                        <div class="patient-info-container">
                            <div class="patient-info-box">
                                <div class="patient-info-title">
                                    <span class="h1">Patient Information</span>
                                </div>
                                <hr>
                                <div class="Ipd-patient-info" fxFlexFill fxLayout="row"
                                    fxLayoutAlign="space-between center" class="patient-info">
                                    <div class="patient-sub">
                                        <div class="patient-info-row patient-info-1-111 pt-8" fxLayout="row"
                                            fxLayoutAlign="space-between">
                                            <div fxLayout="column" fxLayoutGap="10px">
                                                <div class="patient-col">
                                                    <span class="patient-col-key">UHID No
                                                    </span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vRegNo}}</span>
                                                </div>

                                            </div>
                                            <div fxLayout="column" fxLayoutGap="10px">
                                                <div class="patient-col">
                                                    <span class="patient-col-key">Patient Name
                                                    </span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vPatientName}}</span>
                                                </div>
                                            </div>
                                            <div fxLayout="column" fxLayoutGap="10px">
                                                <div class="patient-col">
                                                    <span class="patient-col-key">Age | Sex
                                                    </span>
                                                    <span>:</span>
                                                    <span class="patient-col-value">{{vAge}}Y|{{vAgeMonth}}M|{{vAgeDay}}
                                                        D |
                                                        {{vGenderName}}</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <!-- //OP?IPPatient  -->
                <div fxLayout="column" style="padding: 8px 12px 0px 12px;">

                    <div fxFlex.gt-sm="100%" fxFlex>
                        <mat-card style="padding: 5px;" *ngIf="!OPIPType">
                            <span style="color: rgb(4, 54, 66);font-size: large;font-weight: bold;">Visit List</span>
                            <mat-table class="table h-200" #table matSort [dataSource]="dataSource"
                                [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">


                                <!-- <ng-container matColumnDef="VisitId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        Visit Id
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.VisitId}}
                                    </mat-cell>
                                </ng-container> -->

                                <ng-container matColumnDef="VisitTime">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        Visit Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.VisitTime | date:'short'}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="OPDNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        OPD No
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.OPDNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="DoctorName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-300">
                                        Doctor Name
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-300">
                                        {{contact.DoctorName}}
                                    </mat-cell>
                                </ng-container>



                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">
                                        Action</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">


                                        <button class="btn btn-danger" (click)="OnopenVisitDateUpdate(contact)"
                                            matTooltip="Edit Visit Date" style="color: white;">
                                            <img width="30px" height="30px" src="assets/images/logos/dischargedate.png">
                                        </button>

                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                    </mat-header-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns;"
                                    [ngClass]="contact.patientType !== 'Self' ? 'self-row' : ''"
                                    [@animate]="{value:'*',params:{y:'100%'}}" (click)="GetBillData(contact)"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':!(sIsLoading == 'loading-data')}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                        </mat-card>
                        <!-- //Admission List -->
                        <mat-card style="padding: 5px;" *ngIf="OPIPType">
                            <span style="color: rgb(4, 54, 66);font-size: large;font-weight: bold;">Admission
                                List</span>
                            <mat-table class="table h-200" #table matSort [dataSource]="dataSource1"
                                [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">


                                <ng-container matColumnDef="IsBillGenerated" sticky>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm class="w-90"
                                        style="color: white;">Status
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" class="w-90">
                                        <mat-icon *ngIf="contact.IsBillGenerated=='1'; else noMLC "
                                            matTooltip="Bill Generated" class="pill green-600 s-16">
                                        </mat-icon>
                                        <ng-template #noMLC>
                                            <span>--</span>
                                        </ng-template>

                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="IsDischarged" sticky>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm class="w-90"
                                        style="color: white;">Discharged
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" class="w-90">
                                        <mat-icon *ngIf="contact.IsDischarged=='1'; else noMLC "
                                            matTooltip="Patient Discharged" class="pill red-600 s-16">
                                        </mat-icon>
                                        <ng-template #noMLC>
                                            <span>--</span>
                                        </ng-template>

                                    </mat-cell>
                                </ng-container>


                                <!-- <ng-container matColumnDef="AdmissionID">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        Admission Id
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.AdmissionID}}
                                    </mat-cell>
                                </ng-container> -->

                                <ng-container matColumnDef="AdmissionTime">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        Admission Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.AdmissionTime | date:'short'}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="RegID">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        UHID
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.RegID}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="IPDNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        IPD No
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.IPDNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="DoctorName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-300">
                                        Doctor Name
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-300">
                                        {{contact.DoctorName}}
                                    </mat-cell>
                                </ng-container>



                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">
                                        Action</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">

                                        <button class="btn btn-primary" (click)="openAdmissiontask(contact)"
                                            matTooltip="IPD NO Update">
                                            <img width="30px" height="30px" src="assets/images/logos/Admission.png">
                                        </button>&nbsp;

                                        <button class="btn btn-danger" (click)="openAdmissiontask(contact)"
                                            matTooltip="Admission Cancle" style="color: white;" *ngIf="IsChargesAmount==0 && IsBillGenerated==0">
                                            <img width="30px" height="30px"
                                                src="assets/images/logos/cancelappointment.png">
                                        </button>

                                        <button class="btn btn-danger" (click)="DischargeCancel(contact)"
                                            *ngIf="IsChargesAmount==0 && IsBillGenerated==0" matTooltip="Discharge Cancle"
                                            style="color: white;">
                                            <img width="30px" height="30px" src="assets/images/logos/discharge.jpeg">
                                        </button>

                                        <button class="btn btn-danger" (click)="Admissiontask(contact)"
                                            matTooltip="Edit Discharge Date" style="color: white;">
                                            <img width="30px" height="30px" src="assets/images/logos/dischargedate.png">
                                        </button>

                                         <button class="btn btn-danger" (click)="refunddata(contact)"
                                            matTooltip="Refund Data" style="color: white;">
                                            <img width="30px" height="30px"
                                                src="assets/images/logos/cancelappointment.png">
                                        </button>

                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                    </mat-header-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns5; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns5;"
                                    [@animate]="{value:'*',params:{y:'100%'}}" (click)="GetBillData(contact)"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':!(sIsLoading == 'loading-data')}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dataSource1!=null && dataSource1.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                        </mat-card>
                    </div>
                </div>
                <!-- Bill list  -->

                <div fxLayout="column" style="padding: 8px 12px 0px 12px;">

                    <div fxFlex.gt-sm="100%" fxFlex>
                        <mat-card style="padding: 5px;">
                            <span style="color: rgb(4, 54, 66);font-size: large;font-weight: bold;">Bill List</span>
                            <mat-table class="table h-200" #table matSort [dataSource]="dataSourceBill"
                                [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">


                                <ng-container matColumnDef="IsCancelled" sticky>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm class="w-90"
                                        style="color: white;">Status
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" class="w-90">
                                        <mat-icon *ngIf="contact.IsCancelled=='1'; else noMLC "
                                            matTooltip="Bill Cancelled" class="pill red-600 s-16">
                                        </mat-icon>
                                        <ng-template #noMLC>
                                            <span>--</span>
                                        </ng-template>

                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="pbillNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        PBill No
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.PBillNo}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="billDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        Bill Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.BillTime | date:'short'}}
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="totalAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        Bill Amount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.TotalAmt | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>



                                <ng-container matColumnDef="netPayableAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        Net Amount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.NetPayableAmt | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">
                                        Action</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">

                                        <button class="btn btn-primary" (click)="openBilldateupdatetask(contact)"
                                            matTooltip="Bill Date Update">
                                            <img width="30px" height="30px" src="assets/images/logos/Billdate.jpg">
                                        </button>&nbsp;
                                        <button class="btn btn-danger" (click)="BillCancle(contact)"
                                            *ngIf="!IsCancelled" matTooltip="Cancle Bill" style="color: white;"> <img
                                                width="30px" height="30px" src="assets/images/logos/Billcancle.jpg">
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                    </mat-header-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns1; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns1;"
                                    (click)="GetPaymentData(contact)"
                                    [ngClass]="contact.patientType !== 'Self' ? 'self-row' : ''"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':!(sIsLoading == 'loading-data')}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dataSourceBill!=null && dataSourceBill.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                        </mat-card>
                    </div>
                </div>

                <!-- //payment -->
                <div fxLayout="column" style="padding: 8px 12px 0px 12px;">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <mat-card style="padding: 5px;">
                            <span style="color: rgb(4, 54, 66);font-size: large;font-weight: bold;">Payment List</span>
                            <mat-table class="table h-200" #table matSort [dataSource]="dataSourcepayment"
                                [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">



                                <ng-container matColumnDef="paymentDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        Payment Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.PaymentTime | date:'short'}}
                                    </mat-cell>
                                </ng-container>

                                                               
                                <ng-container matColumnDef="ReceiptNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        Receipt No
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.ReceiptNo}}
                                    </mat-cell>
                                </ng-container>

                                
                                <ng-container matColumnDef="AdvanceUsedAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        AdvanceUsedAmount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.AdvanceUsedAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>
                                
                                <ng-container matColumnDef="CashPayAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                      CashPayAmount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.CashPayAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>
                                
                                <ng-container matColumnDef="ChequePayAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                       ChequePayAmount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.ChequePayAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>
                                
                                <ng-container matColumnDef="CardPayAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                      CardPayAmount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.CardPayAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>
                                
                                <ng-container matColumnDef="NEFTPayAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                       NEFTPayAmount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.NEFTPayAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                  <ng-container matColumnDef="OnlineAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                      OnlineAmount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.OnlineAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">
                                        Action</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">

                                        <button class="btn btn-primary" (click)="PaymentDate(contact)"
                                            matTooltip="Payment Date Update">
                                            <img width="40px" height="40px" src="assets/images/logos/Paymentdate.jpg">
                                        </button>&nbsp;

                                        <!-- <button class="btn btn-danger" (click)="onEdit(element)"
                                            matTooltip="Edit Payment Mode" style="color: white;">
                                            Edit
                                        </button> -->
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                    </mat-header-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns2; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns2;"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':!(sIsLoading == 'loading-data')}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dataSourcepayment!=null && dataSourcepayment.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                        </mat-card>
                    </div>
                </div>
                <!-- //Advance -->
                <div fxLayout="column" style="padding: 8px 12px 0px 12px;" *ngIf="dataSourceAdvance.data.length">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <mat-card style="padding: 5px;">
                            <span style="color: rgb(4, 54, 66);font-size: large;font-weight: bold;">Advance List</span>
                            <mat-table class="table h-200" #table matSort [dataSource]="dataSourceAdvance"
                                [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">

                                <ng-container matColumnDef="action1">
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                        class="w-70">Status</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" class="w-70">

                                        <div fxLayout="row" fxLayoutAlign="center center">

                                            <!-- <mat-icon *ngIf="contact.PatientTypeId" matTooltip="OP">account_box
                                            </mat-icon>

                                            <mat-icon *ngIf="!contact.PatientTypeId" matTooltip="IP">business
                                            </mat-icon> -->

                                        </div>
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-200">
                                        Advance Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-200">
                                        {{contact.date | date:'short'}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="advanceNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        Advance No
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.advanceNo}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="regNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-100">
                                        UHID
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-100">
                                        {{contact.regNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="patientName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-300">
                                        Patient Name
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-300">
                                        {{contact.patientName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="advanceAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-150">
                                        Advance Amount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-150">
                                        {{contact.advanceAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="balanceAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-150">
                                        Balance Amount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-150">
                                        {{contact.balanceAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                              
                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">
                                        Action</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">

                                        <button class="btn btn-primary" (click)="openBilldateupdatetask(element)"
                                            matTooltip="Advance Date Update">
                                            Date Update
                                        </button>&nbsp;
                                        <button class="btn btn-danger" (click)="CancelAdvance(element)"
                                            matTooltip="Cancle Bill" style="color: white;"> Cancel
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                    </mat-header-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns3; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns3;"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':!(sIsLoading == 'loading-data')}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dataSourceAdvance!=null && dataSourceAdvance.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                        </mat-card>
                    </div>
                </div>

                <!-- //Refund -->
                <div fxLayout="column" style="padding: 8px 12px 0px 12px;" *ngIf="dataSourceRefund.data.length > 0">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <mat-card style="padding: 5px;">
                            <span style="color: rgb(4, 54, 66);font-size: large;font-weight: bold;">Refund List</span>
                            <mat-table class="table h-200" #table matSort [dataSource]="dataSourceRefund"
                                [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">

                                <!-- <ng-container matColumnDef="action1">
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                        class="w-70">Status</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" class="w-70">

                                        <div fxLayout="row" fxLayoutAlign="center center">

                                            <mat-icon *ngIf="contact.PatientTypeId" matTooltip="OP">account_box
                                            </mat-icon>

                                            <mat-icon *ngIf="!contact.PatientTypeId" matTooltip="IP">business
                                            </mat-icon>

                                        </div>
                                    </mat-cell>
                                </ng-container> -->


                                <ng-container matColumnDef="RefundNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-200">
                                        Refund No
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-200">
                                        {{contact.RefundNo}}
                                    </mat-cell>
                                </ng-container>



                                <ng-container matColumnDef="RefundAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-150">
                                       RefundAmount
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-150">
                                        {{contact.RefundAmount}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Remark">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-200">
                                        Remark
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-200">
                                        {{contact.Remark}}
                                    </mat-cell>
                                </ng-container>

                                  <ng-container matColumnDef="RefundDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                        class="w-170">
                                        Refund Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-170">
                                        {{contact.RefundTime | date:'short'}}
                                    </mat-cell>
                                </ng-container>

                                                               

                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">
                                        Action</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">

                                        <button class="btn btn-primary" (click)="openBilldateupdatetask(contact)"
                                            matTooltip="Bill Date Update">
                                            <img width="30px" height="30px" src="assets/images/logos/Billdate.jpg">
                                        </button>&nbsp;
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                    </mat-header-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns4; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns4;"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':!(sIsLoading == 'loading-data')}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dataSourceRefund!=null && dataSourceRefund.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>


    </mat-card>
</div>