<div class="modal-page page-layout inner-scroll">
    <div class="modal-wrapper grid-container">
        <!-- Modal header -->
        <div class="modal-header accent">
            <div class="modal-header-content">
                <div class="modal-header-title">
                    <button mat-icon-button class="sidebar-toggle" style="color: white;">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <button mat-icon-button class="user-icon">
                        <mat-icon class="logo-icon" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                            style="color: white;">account_box
                        </mat-icon>
                    </button>
                    <span [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"> Supplier List For
                        Payment</span>
                </div>
                <button mat-raised-button fxLayoutAlign="center center" class="py-8" (click)="getSupplierPaymentList()">
                    <span>Supplier Payment List</span>
                </button>
            </div>
        </div>

        <!-- Modal body -->
        <div class="modal-body modal-body-light" fusePerfectScrollbar>
            <div class="modal-body-container">
                <div fxLayout="column" class="gap-8 h-100-p">
                    <div class="modal-card-container">
                        <form [formGroup]="_SupplierPaymentStatusService.SearchFormGroup">
                            <div class="patient-search">
                                <div fxLayout="row" fxLayoutAlign="start start" class="gap-8">
                                    <div fxFlexFill fxLayout="column" fxLayout="row" fxLayoutGap="6px">

                                        <mat-form-field appearance="outline" fxFlex="20%">
                                            <mat-label>Enter a date range</mat-label>
                                            <mat-date-range-input [rangePicker]="grnPicker">
                                                <input matStartDate formControlName="start" placeholder="Start date">
                                                <input matEndDate formControlName="end" placeholder="End date"
                                                    (dateChange)="getSupplierPayStatusList()">
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle matSuffix [for]="grnPicker"></mat-datepicker-toggle>
                                            <mat-date-range-picker #grnPicker></mat-date-range-picker>
                                        </mat-form-field>

                                        <airmid-dropdown label="Store Name" formControlName="ToStoreId" fxFlex="20%"
                                            (selectionChange)="getSupplierPayStatusList()"
                                            [formGroup]="_SupplierPaymentStatusService.SearchFormGroup"
                                            [mode]="autocompletestore" [readonly]="true">
                                        </airmid-dropdown>

                                        <airmid-dropdown label="Supplier Name" formControlName="SupplierId" fxFlex="20%"
                                            (selectionChange)="selectChangeSupplier($event)"
                                            [formGroup]="_SupplierPaymentStatusService.SearchFormGroup"
                                            [mode]="autocompleteSupplier">
                                        </airmid-dropdown>

                                        <mat-radio-group name="Status" formControlName="Status" fxLayout="row"
                                            class="gap-4 " value="0" style="padding: 15px;"
                                            (change)="getSupplierPayStatusList()">
                                            <mat-label>Status:</mat-label>&nbsp;
                                            <mat-radio-button value="0" class="mr-sm-12">UnPaid </mat-radio-button>
                                            <mat-radio-button value="1" class="mr-sm-12">Paid </mat-radio-button>&nbsp;
                                        </mat-radio-group>

                                        <div class="action-buttons" style="padding: 10px;">
                                            <button mat-raised-button (click)="onClear()" class="clear-button"
                                                matTooltip="close">
                                                <mat-icon class="cleariconbutton">close</mat-icon>
                                            </button>&nbsp;
                                            <button mat-raised-button class="search-button"
                                                (click)="getSupplierPayStatusList()" matTooltip="search">
                                                <mat-icon class="searchiconbutton">search</mat-icon>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-card-container airmid-table-container overflow-auto" fxFlex>
                        <mat-table matSort [dataSource]="dsSupplierpayList" [@animateStagger]="{ value: '50' }"
                            class="airmid-table">
                            <ng-container matColumnDef="CheckBox">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="w-70">
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let contact" required class="w-70">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="OnSelectSUpplier($event,contact)"
                                        (change)="$event ? selection.toggle(contact) : null"
                                        [checked]="selection.isSelected(contact)" *ngIf="!contact.paidAmount">
                                    </mat-checkbox>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="grnNumber">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-120">
                                    GRN No</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-120">
                                    {{contact.grnNumber}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="grnTime">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-120">
                                    GRN Date</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-120">
                                    {{contact.grnDate}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="supplierName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-270">
                                    SupplierName </mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-270">
                                    {{contact.supplierName}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="invoiceNo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-160">
                                    InvoiceNo</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-160">
                                    {{contact.invoiceNo}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="invDate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-160">
                                    InvDate</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-160">
                                    {{contact.invDate}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="netAmount">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-160">
                                    NetAmount</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-160">
                                    {{contact.netAmount | currency:"INR":"symbol"}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="paidAmount">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-160">
                                    PaidAmount</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-160">
                                    {{contact.paidAmount | currency:"INR":"symbol"}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="balAmount">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-200">
                                    BalAmount</mat-header-cell>
                                <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-200">
                                    {{contact.balAmount | currency:"INR":"symbol"}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="loading">
                                <mat-footer-cell *matFooterCellDef colspan="6">loading data...</mat-footer-cell>
                            </ng-container>

                            <ng-container matColumnDef="noData">
                                <mat-footer-cell *matFooterCellDef colspan="6">
                                    <mat-spinner *ngIf="isLoadingStr == 'loading'" [diameter]="30"></mat-spinner>
                                    <span *ngIf="isLoadingStr == 'no-data'">No data found...</span>
                                </mat-footer-cell>
                            </ng-container>

                            <mat-header-row class="accent min-width-600"
                                *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns" class="element min-width-600"
                                [@animate]="{ value: '*', params: { y: '100%' } }"></mat-row>
                        </mat-table>

                    </div>

                    <mat-paginator #paginator [pageSizeOptions]="[10, 15, 25, 100]" [pageSize]="10"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <form [formGroup]="_SupplierPaymentStatusService.SearchFormGroup">
                <mat-card>
                    <mat-card-content>
                        <div class="net-amt-form input-error-hidden">
                            <div fxLayout="row" class="gap-8" fxLayoutAlign="end center">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>NetAmount</mat-label>
                                    <input name="NetAmount" formControlName="NetAmount" matInput readonly
                                        [(ngModel)]="vNetAmount">
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>PaidAmount</mat-label>
                                    <input name="PaidAmount" formControlName="PaidAmount" matInput
                                        [(ngModel)]="vPaidAmount">
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>BalanceAmount</mat-label>
                                    <input name="BalanceAmount" formControlName="BalanceAmount" matInput readonly
                                        [(ngModel)]="vBalanceAmount">
                                </mat-form-field>
                                <!-- [disabled]="!TotalRefundAmount || dataSource2.data.length==0" -->
                                <div class="footer-navigation-container">
                                    <div class="modal-footer-buttons">
                                        <button class="btn btn-danger-outline" (click)="OnReset()">Reset</button>
                                        <button class="btn btn-primary" (click)="OnSave()">Payment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>
    </div>
</div>