<div fusePerfectScrollbar
    class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
    dynamicTableHeight>
    
    <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center ">

        <div class="top-header-info">
            <div class="top-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Doctor Share 
                </span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end" class="left-icon">
            <button mat-raised-button   (click)="viewDocShareReport()"  fxLayoutAlign="center center" class="py-8">
                <mat-icon>print</mat-icon><span>Doctor Share Report</span>
             </button>&nbsp;
             <button mat-raised-button  (click)="viewDocShareSummaryReport()" fxLayoutAlign="center center" class="py-8">
                 <mat-icon>print</mat-icon> <span> Doctor Share Summary Report</span>
             </button>&nbsp;&nbsp;
            <button mat-raised-button (click)="processDocShare()" fxLayoutAlign="center center" class="py-8">
               <span>Process Doctor Share</span>
            </button>&nbsp;
            <button mat-raised-button (click)="NewDocShare()" fxLayoutAlign="center center" class="py-8">
                <mat-icon>add</mat-icon> <span> Doctor Share</span>
            </button>
        </div>

    </div>

    <div class="content"> 
        <div class="center  pb-56" style="border-radius: 4px;padding: 6px 6px 6px 6px;">
            <div class="content-card">
                <div fxLayout="row" fxLayout="column" fxFlexFill fxLayoutGap="10px">
                    <mat-card style="padding: 5px;">
                        <form [formGroup]="_DoctorShareService.UserFormGroup">
                                <div fxLayout="row wrap" fxLayoutGap="12px grid">
                    
                                
                                <div fxFlex="19%" fxFlex.xs="100%" fxFlex.sm="33%">
                                <div fxLayout="row" style="padding: 10px;">
                                    <mat-radio-group formControlName="OP_IP_Type" name="Radio" (change)="getBillListForDoctorList()">
                                        <mat-radio-button value="2">ALL</mat-radio-button>&nbsp;
                                        <mat-radio-button value="0">OP</mat-radio-button>&nbsp;
                                        <mat-radio-button value="1">IP</mat-radio-button>&nbsp;
                                    </mat-radio-group>
                                </div>
                                </div>

                                <div fxFlex="18%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-datepicker [formGroup]="_DoctorShareService.UserFormGroup" [isRangePicker]="true" formStartControlName="fromDate"
                                            formEndControlName="enddate" [(fromValue)]="gridConfig.filters[3].fieldValue"
                                            [(toValue)]="gridConfig.filters[4].fieldValue">
                                    </airmid-datepicker>
                                </div>

                                <div fxFlex="18%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-dropdown 
                                        label="Select Doctor Name" 
                                        formControlName="patientType"
                                        [value]="data?.patientType"
                                        [formGroup]="_DoctorShareService.UserFormGroup"
                                        [validations]="getValidationMessages().patientType"
                                        (selectDdlObject)="selectChangeItem($event)"
                                        [mode]="autocompleteModeItem">
                                    </airmid-dropdown>
                                </div>

                                <div fxFlex="18%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-dropdown 
                                        label="Select Group Name" 
                                        formControlName="patientType"
                                        [value]="data?.patientType"
                                        [formGroup]="_DoctorShareService.UserFormGroup"
                                        [validations]="getValidationMessages().patientType"
                                        (selectDdlObject)="selectChangeItem($event)"
                                        [mode]="autocompletedepartment">
                                    </airmid-dropdown>
                                </div>

                                <div fxFlex="18%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <airmid-textbox 
                                        label="PbillNo"
                                        formControlName="PbillNo"
                                        [value]="data?.PbillNo"
                                        [formGroup]="_DoctorShareService.UserFormGroup"
                                        [validations]="getValidationMessages().opNo"
                                        matInput (keyup)="getBillListForDoctorList()"
                                        (keypress)="keyPressAlphanumeric($event)"
                                        [maxLength]="50">
                                    </airmid-textbox> 
                                </div>
                                
                                 <div style="padding: 10px;"> 
                                    <button mat-raised-button class="searchButton" matTooltip="search" (click)="getBillListForDoctorList()">
                                        <mat-icon class="searchiconbutton">search</mat-icon>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </mat-card>

                    <mat-card style="padding: 5px;">
                        <mat-tab-group>

                            <!-- 1st table -->
                            <mat-tab label="List">
                                <div fusePerfectScrollbar
                                    class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
                                    dynamicTableHeight>
                                    <airmid-table [gridConfig]="gridConfig" #grid :ShowFilter="false">
                                        <ng-container filters>

                                        </ng-container>
                                    </airmid-table>
                                </div>
                            </mat-tab>

                            <!-- 2nd table -->
                            <mat-tab label="Additional Amount Pay">
                                <div fusePerfectScrollbar
                                    class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
                                    dynamicTableHeight>
                                    <airmid-table [gridConfig]="gridConfig1" #grid :ShowFilter="false">
                                        <ng-container filters>

                                        </ng-container>
                                    </airmid-table>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>