<div class=" simple page-layout inner-scroll inner-sidebar left-sidebar">
    <mat-toolbar class="accent" style="width: 100%;justify-content: space-between;height: 50px;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
               Emergency
            </span>
        </div>
        <app-common-date [screenFrom]="screenFromString" (dateTimeEventEmitter)="getDateTime($event)"
            style="margin-left: 480px;"></app-common-date>
        <div class="close-icon">
            <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div class="content">

        <div class="center p-12 pb-56" fxFlexAlign="start center">

            <div class="content-card" style="border-radius:4px;">
                <div class="nav material2">

                    <div fxLayout="column" fxLayoutAlign="start none">

                        <form [formGroup]="_EmergencyListService.MyForm" style="overflow:hidden;">
                        
                            <div fxFlexFill fxLayout="row" fxLayout.gt-xs="column">
                        
                                <div fxLayout="row" fxLayoutGap="4px">
                        
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Prefix</mat-label>
                                        <input matAutocompletePosition="below" type="text"
                                            placeholder="Select Prefix" matInput (keydown)="onEnterprefix($event)"
                                            formControlName="PrefixID" [matAutocomplete]="autoPrefix" required>
                                        <span matSuffix style="display: flex;">
                                            <mat-icon class="mat-icon-close"
                                                (click)="_EmergencyListService.MyForm.get('PrefixID').setValue(''); isPrefixSelected = false;">close</mat-icon>
                                            <mat-icon class="mat-icon-close"
                                                (click)="_EmergencyListService.MyForm.get('PrefixID').setValue(''); isPrefixSelected = false;">search</mat-icon>
                                        </span>
                                        <mat-autocomplete #autoPrefix="matAutocomplete"
                                            [displayWith]="getOptionTextPrefix">
                                            <mat-option *ngFor="let option of filteredOptionsPrefix | async"
                                                [value]="option" (onSelectionChange)="onChangeGenderList(option)">
                                                {{option.PrefixName}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                        
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Gender</mat-label>
                                        <mat-select formControlName="GenderId">
                                            <mat-option></mat-option>
                                            <mat-option *ngFor="let m of GendercmbList" [value]="m">
                                                {{m.GenderName}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="_EmergencyListService.MyForm.get('GenderId').invalid && _EmergencyListService.MyForm.get('GenderId').touched">
                                            <span
                                                *ngIf="_EmergencyListService.MyForm.get('GenderId').hasError('required')">
                                                Gender is required</span>
                                        </mat-error>
                                    </mat-form-field>
                        
                        
                                </div>
                        
                                <div fxLayout="row" fxLayoutGap="4px">
                        
                                    <mat-form-field appearance="outline">
                                        <mat-label>First Name</mat-label>
                                        <input name="FirstName" formControlName="FirstName"
                                            placeholder="First Name" matInput required type="text"
                                            [(ngModel)]="registerObj.FirstName" #fname
                                            (keydown)="onEnterfname($event)">
                                        <mat-error
                                            *ngIf="_EmergencyListService.MyForm.get('FirstName').invalid && _EmergencyListService.MyForm.get('FirstName').touched">
                                            First Name is required Enter only
                                            Alphabets</mat-error>
                                    </mat-form-field>
    
                                    <mat-form-field appearance="outline">
                                        <mat-label>Middle Name</mat-label>
                                        <input name="MiddleName" formControlName="MiddleName" placeholder="Middle Name" 
                                            matInput [(ngModel)]="registerObj.MiddleName" type="text"
                                            #mname (keydown)="onEntermname($event)">
                                        <mat-error class="error"
                                            *ngIf="_EmergencyListService.MyForm.get('MiddleName').invalid && _EmergencyListService.MyForm.get('MiddleName').touched">
                                            Middle Name is required
                                            Enter
                                            only Alphabets</mat-error>
                                    </mat-form-field>
    
                                    <mat-form-field appearance="outline">
                                        <mat-label>Last Name</mat-label>
                                        <input name="LastName" formControlName="LastName" placeholder="Last Name" 
                                            matInput required [(ngModel)]="registerObj.LastName"
                                            type="text" #lname (keydown)="onEnterlname($event)">
                                        <mat-error class="error"
                                            *ngIf="_EmergencyListService.MyForm.get('LastName').invalid && _EmergencyListService.MyForm.get('LastName').touched">Last
                                            Name is required Enter
                                            only
                                            Alphabets</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="15%">
                                        <mat-label>Age (Y)</mat-label>
                                        <input name="AgeYear" formControlName="AgeYear" placeholder="Age (Year)" matInput
                                            min="0"  #agey
                                            (keyup)="ageyearcheck(registerObj.AgeYear)"
                                            (keydown)="onEnteragey($event,registerObj.AgeYear)" minlength="1" maxlength="4"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1').slice(0,3);">
                                        <mat-error
                                            *ngIf="_EmergencyListService.MyForm.get('AgeYear').invalid && _EmergencyListService.MyForm.get('AgeYear').touched">Please
                                            enter Age Year </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="15%">
                                        <mat-label>Age (M)</mat-label>
                                        <input name="AgeYear" formControlName="AgeMonth" placeholder="Age (Month)" matInput
                                            min="0"  #agey
                                            (keyup)="agemonthcheck(registerObj.AgeMonth)"
                                            (keydown)="onEnteragem($event,registerObj.AgeMonth)" minlength="1" maxlength="4"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1').slice(0,3);">
                                        <mat-error
                                            *ngIf="_EmergencyListService.MyForm.get('AgeMonth').invalid && _EmergencyListService.MyForm.get('AgeMonth').touched">Please
                                            enter Age Year </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="15%">
                                        <mat-label>Age (D)</mat-label>
                                        <input name="AgeDay" formControlName="AgeDay" placeholder="Age (Day)" matInput
                                            min="0"  #agey
                                            (keyup)="agedaycheck(registerObj.AgeDay)"
                                            (keydown)="onEnteragey($event,registerObj.AgeDay)" minlength="1" maxlength="4"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1').slice(0,3);">
                                        <mat-error
                                            *ngIf="_EmergencyListService.MyForm.get('AgeDay').invalid && _EmergencyListService.MyForm.get('AgeDay').touched">Please
                                            enter Age Year </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutGap="4px">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Address</mat-label>
                                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                                    <textarea matInput rows="1" name="Address" formControlName="Address" placeholder="Write......" id="Address"
                                        type="text" required [(ngModel)]="vAddress"></textarea>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Pin No</mat-label>
                                    <mat-icon matSuffix class="secondary-text">add_location</mat-icon>
                                    <input matInput name="PinNo" formControlName="PinNo" placeholder="PinNo" id="PinNo" type="text" required
                                        [(ngModel)]="vPinNo">
                                </mat-form-field>
                    
                                </div>
                                <div fxLayout="row" fxLayoutGap="4px">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>City</mat-label>
                                    <input matAutocompletePosition="below" type="text" placeholder="Select City"
                                        matInput #city (keydown)="onEntercity($event)"
                                        formControlName="CityId" [(ngModel)]="vCityId" [matAutocomplete]="autoCity"
                                        required>
                                    <span matSuffix style="display: flex;">
                                        <mat-icon class="mat-icon-close"
                                            (click)="_EmergencyListService.MyForm.get('CityId').setValue(''); isCitySelected = false;">close</mat-icon>
                                        <mat-icon class="mat-icon-close"
                                            (click)="_EmergencyListService.MyForm.get('CityId').setValue(''); isCitySelected = false;">search</mat-icon>
                                    </span>
                                    <mat-autocomplete #autoCity="matAutocomplete" [displayWith]="getOptionTextCity1">
                                        <mat-option *ngFor="let option of filteredOptionsCity | async" [value]="option"
                                            (onSelectionChange)="onChangeCityList(option)">
                                            {{option.CityName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>State Name</mat-label>
                                    <mat-select formControlName="StateId" name="StateId"
                                        (selectionChange)="onChangeCountryList($event.value)">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let m of stateList" [value]="m">
                                            {{m.StateName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Country Name</mat-label>
                                    <mat-select formControlName="CountryId">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let g of countryList" [value]="g">
                                            {{g.CountryName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        
                                <div fxLayout="row" fxLayoutGap="4px">
                        
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Mobile Number</mat-label>
                                        <mat-icon matSuffix class="secondary-text">mobile</mat-icon>
                                        <input name="MobileNo" formControlName="MobileNo"
                                            placeholder="Mobile Number" matInput required #mobile
                                            (keydown)="onEntermobile($event)"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1').slice(0, 10);"
                                            required="required" value="9876658688">
                                        <mat-error class="error"
                                            *ngIf="_EmergencyListService.MyForm.get('MobileNo').invalid && _EmergencyListService.MyForm.get('MobileNo').touched">10
                                            digits Mobile number is
                                            required</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Phone Number</mat-label>
                                        <mat-icon matSuffix class="secondary-text">mobile</mat-icon>
                                        <input name="PhoneNo" formControlName="PhoneNo"
                                            placeholder="Phone Number" matInput required #mobile
                                            (keydown)="onEnterphone($event)"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1').slice(0, 10);"
                                            required="required" value="9876658688">
                                        <mat-error class="error"
                                            *ngIf="_EmergencyListService.MyForm.get('PhoneNo').invalid && _EmergencyListService.MyForm.get('PhoneNo').touched">10
                                            digits Mobile number is
                                            required</mat-error>
                                    </mat-form-field>
                                  
                                </div>
                        
                        
                                <div fxLayout="row" fxLayoutGap="4px">
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Department</mat-label>
                                        <input matAutocompletePosition="below" type="text" placeholder="Select Department"
                                            [(ngModel)]="vDepartmentid" matInput #dept
                                            (keydown)="onEnterdept($event,vDepartmentid.Departmentid)"
                                            formControlName="Departmentid" [matAutocomplete]="autoDep" required>
                                        <span matSuffix style="display: flex;">
                                            <mat-icon class="mat-icon-close"
                                                (click)="_EmergencyListService.MyForm.get('Departmentid').setValue(''); isDepartmentSelected = false;">close</mat-icon>
                                            <mat-icon class="mat-icon-close"
                                                (click)="_EmergencyListService.MyForm.get('Departmentid').setValue(''); isDepartmentSelected = false;">search</mat-icon>
                                        </span>
                                        <mat-autocomplete #autoDep="matAutocomplete" [displayWith]="getOptionTextDep">
                                            <mat-option *ngFor="let option of filteredOptionsDep | async" [value]="option"
                                                (onSelectionChange)="OnChangeDoctorList(option)">
                                                {{option.departmentName}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
    
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Doctor Name</mat-label>
                                       <input matAutocompletePosition="below" type="text" placeholder="Select Doctor Name"
                                            matInput #deptdoc (keydown)="onEnterdeptdoc($event)" formControlName="DoctorId"
                                            [(ngModel)]="vDoctorId" [matAutocomplete]="autoDoctor" required>
                                        <span matSuffix style="display: flex;">
                                            <mat-icon class="mat-icon-close"
                                                (click)="_EmergencyListService.MyForm.get('DoctorId').setValue(''); isDoctorSelected = false;">close</mat-icon>
                                            <mat-icon class="mat-icon-close"
                                                (click)="_EmergencyListService.MyForm.get('DoctorId').setValue(''); isDoctorSelected = false;">search</mat-icon>
                                        </span>
    
                                        <mat-autocomplete #autoDoctor="matAutocomplete" [displayWith]="getOptionTextDoc">
                                            <mat-option *ngFor="let option of filteredOptionsDoc | async" [value]="option"
                                                (onSelectionChange)="isDoctorSelected = true;">
                                                {{option.Doctorname }} <b>|</b> {{option.DepartmentName }} <b>|</b>
                                                {{option.DoctorId}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                        
                        
                        
                            </div>
                        </form>
                        <div class="modal-footer-buttons gap-8" fxLayout="row" fxLayoutAlign="end"> 
                            <button class="btn btn-danger-outline" (click)="OnReset()">Reset</button>
                            <button class="btn btn-primary " (click)="onSubmit()" [disabled]="Savebtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>