<div class="page-layout simple inner-sidebar inner-scroll right-sidebar" fusePerfectScrollbar dynamicTableHeight>




    <ng-template #actionButtonTemplate let-element>
        <div fxLayout="row" fxLayoutAlign="center center">

            <button mat-icon-button matTooltip="Print" (click)="OnPrint(element)">
                <mat-icon>print</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Edit" (click)="OnEdit(element)">
                <mat-icon>edit</mat-icon>
            </button>


        </div>
    </ng-template>
    <div fusePerfectScrollbar
        class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
        dynamicTableHeight>
        <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center ">
            <div class="top-header-info">
                <div class="top-header-title">
                    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Work Order List
                    </span>
                </div>
            </div>

        </div>
        <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
            <airmid-table [gridConfig]="gridConfig" class="content" #opBillGrid>
                <ng-container filters>
                    <form [formGroup]="myform">
                        <airmid-datepicker [formGroup]="myform" [isRangePicker]="true" formStartControlName="fromDate"
                            formEndControlName="enddate" [(fromValue)]="gridConfig.filters[2].fieldValue"
                            [(toValue)]="gridConfig.filters[3].fieldValue"></airmid-datepicker>

                        <airmid-dropdown label="Store Name" formControlName="ToStoreId"
                            (selectionChange)="ListView($event)" [formGroup]="myform" [mode]="autocompletestore">
                        </airmid-dropdown>

                        <airmid-dropdown label="Supplier Name" formControlName="SupplierId"
                            (selectionChange)="ListView($event)" [formGroup]="myform" [mode]="autocompleteSupplier">
                        </airmid-dropdown>

                    </form>
                </ng-container>
            </airmid-table>
        </div>
    </div>


</div>