@import "src/@fuse/scss/fuse";

app-sample-detail {
    display: flex;
    flex: 1 1 auto;
    width: 80%;
    
    .mat-table {
        height: 200px !important;
        width: 80%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
           
            .mat-cell {
                min-width: 0;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
               // overflow: hidden !important;
               // display: inline-block;
                
                &.mat-column-detail-button {
                    flex: 0 1 auto;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
.active-icon {
    border-radius: 50%;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #3C9CE5;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

app-sample-detail {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    min-width: 600px !important ;
    height: 100%;
     min-height: 300px;
    
    .active-icon {
        border-radius: 50%;
    }
    
    .mat-header-row {
        width: 100%;
        // max-width: 1200px;
        // min-width: 1200px;  
        min-height: 20px;     
    }
    
    .mat-row {
        width: 100%;
        // max-width: 1200px;
        // min-width: 1200px;    
        min-height: 20px;           
    }

    .mat-column-checkbox {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align: left;
    }
    .mat-column-VADate {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
    }
    .mat-column-PathTestID {
        width:150px;
        max-width:150px;
        min-width:150px;
        text-align: left;
       
    }
    .mat-column-ServiceName {
        // width:300px;
        // max-width:300px;
        // min-width:300px;
        text-align: left;
        justify-content:left;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
        display: inline-block;
        margin-top: 7px;
        margin-right: 10px;   
    }
    .mat-column-IsSampleCollection {
        width:150px;
        max-width: 150px;
        min-width: 150px;
        text-align: left;
    }
    .mat-column-SampleCollectionTime {
        // width: 380px;
        // max-width: 380px;
        // min-width: 380px;
        //text-align: right;
       // justify-content:center;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow: hidden !important;
        display: inline-block;
        margin-top: 7px;
        
    }
    .mat-column-PathReportID {
        width: 190px;
        max-width: 190px;
        min-width: 190px;
        text-align: left;
    }
    .mat-column-Action {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align:right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
    
    .mat-column-buttons {
        color: white !important;
        width:70px;
        max-width: 70px;
        min-width: 70px;
        text-align: center;
        justify-content:center;
    }

    .mat-form-field-appearance-outline .mat-form-field-wrapper{
        margin-bottom: opx;
    }
    .mat-form-field-wrapper {
        padding-bottom: 2px;
    }
    .mat-table-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
   

}