@import "src/@fuse/scss/fuse";

app-ip-browse-refundof-advance {
    
.active-icon {
    border-radius: 50%;
}
.mat-header-row {
    width: 1700px;
    max-width: 1700px;
    min-width: 1700px;  
    // min-height: 30px;     
}

.mat-row {
    width: 1700px;
    max-width: 1700px;
    min-width: 1700px;           
}

.mat-column-RegNo {
    width:90px;
    max-width: 90px;
    min-width: 90px;
}

.mat-column-RefundDate {
    width:90px;
    max-width: 90px;
    min-width: 90px;
    justify-content:left;
}

.mat-column-PatientName {
    width:250px;
    max-width: 250px;
    min-width: 250px;
    justify-content:left;
}
.mat-column-AdvanceAmount {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    justify-content:center;
}
.mat-column-AdvanceUsedAmount {
    width: 130px;
    max-width: 130px;
    min-width: 130px;
     justify-content:center;
}

.mat-column-BalanceAmount {
    width:100px;
    max-width: 100px;
    min-width: 100px;
    justify-content:center;
}


.mat-column-RefundAmount {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
     justify-content:center;
}



.mat-column-PaymentDate{
    width:90px;
    max-width: 90px;
    min-width: 90px;
}
.mat-column-CashPayAmount{
    width: 90px;
    max-width:90px;
    min-width:90px;
    // text-align: center;
    justify-content:center;
}
.mat-column-ChequePayAmount{
    width: 90px;
    max-width:90px;
    min-width:90px;
    // text-align: center;
    justify-content:center;
}
.mat-column-CardPayAmount{
    width: 90px;
    max-width:90px;
    min-width:90px;
    justify-content:center;
}
.mat-column-Remark {
    width:250px;
    max-width: 250px;
    min-width: 250px;
    justify-content:center;
}
.mat-column-UserName {
    width:110px;
    max-width: 110px;
    min-width: 110px;
}

.mat-column-buttons {
    width:120px;
    max-width: 120px;
    min-width: 120px;
    text-align: center;
    justify-content:center;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 50%;
}

}