<div class="page-layout simple inner-sidebar inner-scroll right-sidebar" style="height: 100%;" fusePerfectScrollbar
    dynamicTableHeight>
    <mat-toolbar class="top-header accent">
        <div fxLayout="row" fxLayoutAlign="start center" class="top-header-info">
            <button mat-icon-button class="sidebar-toggle ">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Sample Request List
            </span>
        </div>

    </mat-toolbar>

    <div fusePerfectScrollbar
        class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
        dynamicTableHeight>

        <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

            <ng-template #isTestCompletedmasterIcon let-element>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon *ngIf="element.isTestCompted == true" matTooltip="Lab Report Ready">remove_red_eye
                    </mat-icon>

                    <mat-icon *ngIf="element.isTestCompted == false" matTooltip="Result Entry Not Completed"
                        class="active-icon red-500 s-16">
                        hourglass_empty
                    </mat-icon>
                </div>
            </ng-template>
            <ng-template #isOnFileTestIcon let-element>
                <div fxLayout="row" fxLayoutAlign="center center">

                    <mat-icon *ngIf="element.isOnFileTest =='false'" matTooltip="Is File ON">flip_to_front
                    </mat-icon>

                    <mat-icon *ngIf="element.isOnFileTest !== 'false'" matTooltip="Is File Off">markunread_mailbox
                    </mat-icon>

                </div>
            </ng-template>


            <airmid-table [gridConfig]="gridConfig" class="content" (onSelectRow)="GetDetails1($event)" #grid>


                <ng-container filters>
                    <form [formGroup]="myformSearch">
                        <airmid-datepicker [formGroup]="myformSearch" [isRangePicker]="true"
                            formStartControlName="start" formEndControlName="end"
                            [(fromValue)]="gridConfig.filters[0].fieldValue"
                            [(toValue)]="gridConfig.filters[1].fieldValue">
                        </airmid-datepicker>

                        <mat-form-field appearance="outline">
                            <mat-label>UHID</mat-label>
                            <input matInput placeholder="Search UHID" autocomplete="off" [formGroup]="myformSearch"
                                formControlName="RegNo" (input)="onChangeFirst()" />
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="Clearfilter('RegNo')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <!-- [(ngModel)]="gridConfig.filters[4].fieldValue" -->
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <!-- <div fxFlex fxLayout="row">
                                <mat-radio-group name="Istype" formControlName="Istype" fxLayout="row" value="1" 
                                style="padding: 6px;" class="gap-4" (change)="onChangeFirst()">
                                    <mat-label>Type:</mat-label>
                                    <div fxLayout="row">
                                        <mat-radio-button value='1'>IP</mat-radio-button>
                                        <mat-radio-button value='0'>OP</mat-radio-button>
                                    </div>
                                </mat-radio-group>
                            </div> -->
                            <!-- [(ngModel)]="gridConfig.filters[3].fieldValue" -->

                            <mat-radio-group name="IsPathOrRad" formControlName="IsPathOrRad"
                                (change)="onChangeFirst()">
                                <mat-radio-button (click)="toggle(0)" value="3">All</mat-radio-button>
                                <mat-radio-button mat-fab value="1" (click)="toggle(1)">IsPathology</mat-radio-button>
                                <!-- <mat-radio-button (click)="toggle(2)" value="2">IsRadiology</mat-radio-button> -->
                            </mat-radio-group>

                            <div fxFlex fxLayout="row">
                                <mat-radio-group name="StatusSearch" formControlName="IsCompleted" fxLayout="row"
                                    value="0" style="padding: 6px;" class="gap-4" (change)="onChangeFirst()">
                                    <mat-label>Status:</mat-label>
                                    <div fxLayout="row">
                                        <mat-radio-button value='0'>Pending</mat-radio-button>
                                        <mat-radio-button value='1'>Completed</mat-radio-button>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </form>

                </ng-container>
            </airmid-table>
        </div>

        <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll" *ngIf="isShowDetailTable">
         
            <ng-template #statuspath let-element>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon *ngIf="element.isPathology==1" matTooltip="IsPatholgy">
                        <img width="25px" height="9px" src="assets/images/logos/pathology.png" />
                    </mat-icon>
                </div>
            </ng-template>

            <ng-template #statusradio let-element>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon *ngIf="element.isRadiology==1" matTooltip="IsRadiology">
                        <img width="25px" height="9px" src="assets/images/logos/radiology.png" />
                    </mat-icon>
                </div>
            </ng-template>

            <ng-template #statusTemplate let-element>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon *ngIf="element.isTestCompted==1" matTooltip="IsTestCompted">
                        <img width="25px" height="9px" src="assets/images/logos/testcompleted.jpg" />
                    </mat-icon>
                </div>
            </ng-template>

              <airmid-table [gridConfig]="gridConfig1" class="content" #grid1 :ShowFilter="false">
            </airmid-table>
        </div>

        <!-- <div class="layout-card-container" style="padding: 10px;" *ngIf="isShowDetailTable">
            <mat-card>
                <div fxLayout="row wrap" fxLayoutAlign="start start" class="gap-8" style="padding: 10px;">
                    <span class="font-weight-600"> Help : </span>
                    <span fxLayout="row" fxLayoutGap="4px">
                        <mat-icon class="pill green-600 s-16">circle</mat-icon>
                        <span>IsPathology / IsRadiology / IsTestCompleted</span>
                    </span>
                    <span fxLayout="row" fxLayoutGap="4px">
                        <mat-icon class="pill orange-600 s-16">circle</mat-icon>
                        <span>
                            IsNotPathology / IsNotRadiology / IsNotTestCompleted
                        </span>
                    </span>
                </div>
            </mat-card>
        </div> -->
    </div>
</div>