  
.p-sm-24 {
    padding: 10px !important;
}

app-radiology-test-master{
    .mat-header-row {
        width: 1160px;
        max-width: 1160px;
        min-width: 1160px;   
        font-weight: bold;      
    }
    
    .mat-row {
        width: 1160px;
        max-width: 1160px;
        min-width: 1160px;            
    }
    
    .mat-column-TestId {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
    }
    
    .mat-column-TestName {
        width:250px;
        max-width: 250px;
        min-width: 250px;
    }
    .mat-column-PrintTestName {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
    }
    
    .mat-column-CategoryName {
        width:250px;
        max-width: 250px;
        min-width: 250px;
    }
    .mat-column-ServiceId {
        width:120px;
        max-width: 120px;
        min-width: 120px;
    }

       
    .mat-column-AddedByName {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    
    .mat-column-IsDeleted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content:center;
    }
    
    .mat-column-action {
        // color: white !important;
        width:70px;
        max-width: 70px;
        min-width: 70px;
        text-align: right;
        justify-content:right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}

    // .button-row button{
    //     margin: 5px;
    // }
    // .mat-radio-group{
    //     margin: 7px;
    //     margin-bottom: 10px;
    // }
    
  
