app-sub-group-master {
    .mat-header-row {
        width: 900px;
        max-width: 900px;
        min-width: 900px;
        font-weight: bold;
    }

    .mat-row {
        width: 900px;
        max-width: 900px;
        min-width: 900px;
    }

    .mat-column-SubGroupId {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }

    .mat-column-SubGroupName {
        width: 450px;
        max-width: 450px;
        min-width: 450px;
    }

    .mat-column-GroupName {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-AddedByName {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-IsDeleted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        // color: white !important;
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
