<div class="page-layout simple inner-scroll inner-sidebar right-sidebar" fxFlex.xs="100%" fxFlex.sm="50%">
    <mat-toolbar style="height: 50px; justify-content:space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                style="color: white;">
                <mat-icon>account_box</mat-icon>
            </button>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                New OTSiteDescription
            </span>
        </div>
        <div fxLayout="row" fxLayoutALign="end start">
            <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content-card">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <div fxlayout="row">
                            <form [formGroup]="_otSiteDescMasterService.myform">
                                <div class="dialog-content-wrapper">
                                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="column" fxLayoutGap="4px">

                                        <input type="hidden" name="SiteDescId" formControlName="SiteDescId"
                                            [(ngModel)]="vSiteDescId">

                                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field appearance="outline" fxFlex>
                                                <mat-label>SiteDescription Name</mat-label>
                                                <input name="SiteDescriptionName" formControlName="SiteDescriptionName" required
                                                    placeholder="SiteDescription Name" matInput type="text"
                                                    oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '');"
                                                    [(ngModel)]="vSiteDescriptionName ">
                                                <mat-error
                                                    *ngIf="_otSiteDescMasterService.myform.get('SiteDescriptionName').invalid && _otSiteDescMasterService.myform.get('SiteDescriptionName').touched">
                                                    SiteDescription Name is required Enter only
                                                    Alphabets</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field appearance="outline" fxFlex>
                                                <mat-label>Surgery Category</mat-label>
                                                <input matAutocompletePosition="below" type="text"
                                                    placeholder="Select Surgery Category" matInput formControlName="SurgeryCategoryID" required
                                                    required [(ngModel)]="vSurgeryCategoryID" [matAutocomplete]="autoSurgeryCategory">
                                                <span matSuffix style="display: flex;">
                                                    <mat-icon class="mat-icon-close"
                                                        (click)="_otSiteDescMasterService.myform.get('SurgeryCategoryID').setValue(''); isSurgeryCategorySelected = false;">close</mat-icon>
                                                    <mat-icon class="mat-icon-close"
                                                        (click)="_otSiteDescMasterService.myform.get('SurgeryCategoryID').setValue(''); isSurgeryCategorySelected = false;">search</mat-icon>
                                                </span>

                                                <mat-autocomplete #autoSurgeryCategory="matAutocomplete" [displayWith]="getOptionTextautoSurgeryCategory">
                                                    <mat-option *ngFor="let option of filteredOptionsSurgeryCategory | async" [value]="option">
                                                        {{option.SurgeryCategoryName}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>

                                <div class="footer-navigation-container">

                                    <mat-checkbox aria-label="IsDeleted" formControlName="IsDeleted"
                                        (checked)=true>IsActive
                                    </mat-checkbox>

                                    <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="6px">
                                        <button class="btn btn-danger-outline" (click)="onClose()">Clear</button>
                                        <button class="btn btn-primary" (click)="onSave()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>