.calendar-scroll-container {
  max-height: 500px; /* or whatever fits your modal */
  overflow-y: auto;
  padding: 8px;
}
// .cal-day-columns .custom-segment{
//     visibility: hidden !important;
// }