@import "src/@fuse/scss/fuse";

.mat-dialog-container {
    display: block;
    padding: 5px;
}

.mat-toolbar-multiple-rows {
    min-height: 35px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 40px;
}

.toolbar-bottom {
    height: auto;
}
.contact-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 80%;
    }

    .mat-dialog-container {

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }
        .mat-toolbar-row, .mat-toolbar-single-row {
            height: 40px;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;
        li {
            margin-bottom: 0.5em;
        }
      }
}
