@import "src/@fuse/scss/fuse";

.mat-dialog-container {
    display: block;
    padding: 5px;
}

.mat-toolbar-multiple-rows {
    min-height: 35px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 45px;
}

.toolbar-bottom {
    height: auto;
}
.contact-form-dialog {
    .mat-dialog-container {
        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }
        .mat-toolbar-row,
        .mat-toolbar-single-row {
            height: 40px;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;
        li {
            margin-bottom: 0.5em;
        }
    }
}

.button-row button {
    margin: 5px;
}
.mat-radio-group {
    margin: 7px;
    margin-bottom: 10px;
}

// Radio button SCSS // Subhash
.mat-radio-button {
    font-size: 12px;
    padding: 2px;
}
.mat-radio-label-content {
    padding-left: 5px;
}

// Editor CSS
::ng-deep .NgxEditor {
    height: 350px !important;
    overflow: scroll !important;
}

.editor {
    width: 100%;
}
.mat-label {
    font-weight: bold;
}

.mat-column-ClassId {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
}

.mat-column-ClassName {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}
.mat-column-Rate {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}
.table2{
    height: 290px;
    min-height: 290px;
    max-height: 290px;

    .mat-column-ClassId{
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        align-items: left;
        justify-content:left; 
      }
      .mat-column-ClassName{
        width: 180px;
        max-width: 180px;
        min-width: 180px;
        align-items: left;
        justify-content:left; 
      }
      .mat-column-ClassRate{
      
        width: 130px;
        max-width: 130px;
        min-width: 130px;
        align-items: left;
        justify-content:left; 
      }
}

