<div class="page-layout simple inner-sidebar inner-scroll right-sidebar" style="height: 100%;" fusePerfectScrollbar 
    dynamicTableHeight>

    <!-- <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll right-sidebar" style="height: 100%;"></div> -->

    <!-- HEADER -->

    <!-- Start Sider  -->

    <mat-toolbar class="top-header accent">
        <div fxLayout="row" fxLayoutAlign="start center" class="top-header-info">
            <mat-icon class="logo-icon" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                OT Request List
            </span>
        </div>


        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="left-icon">

            <button mat-raised-button (click)="NewTestRequest()"
                style="background-color: aliceblue;color: brown;margin-left:10% !important">
                <mat-icon title="Request New Test">how_to_reg</mat-icon>
                New OT Request
            </button>
        </div>


    </mat-toolbar>
    <!-- / HEADER -->

    <!-- SELECTED BAR -->
    <app-main class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></app-main>
    <!-- / SELECTED BAR -->

    <!-- CONTENT -->

    <div class="content">

        <!-- SIDEBAR -->        

        <fuse-sidebar name="app-main" position="left" lockedOpen="gt-sm" class="fuse-search-sidebar">
            <!-- SIDEBAR HEADER -->
            <div class="sidebar-content">

                <div class="accent sidebar-header" fxLayout="row" fxLayoutAlign="start center">
                    <span class="search-title">Search Facility</span>
                    <!-- / USER -->
                </div>
                <!-- / SIDEBAR HEADER -->
                <!-- SIDEBAR CONTENT -->
                <div class="nav material2">
                    <form [formGroup]="searchFormGroup" fusePerfectScrollbar>
                        <div fxLayout="column" fxLayoutAlign="start none">
                      
                            <mat-form-field appearance="outline">
                                <mat-label>Enter a date range</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate formControlName="start" placeholder="Start date">
                                    <input matEndDate formControlName="end" placeholder="End date"
                                    (dateChange)="getRequestList()">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>

                            <!-- <mat-form-field appearance="outline">
                                <mat-label>Search RegNo</mat-label>
                                <input name="Reg_No" formControlName="Reg_No" matInput>
                                <span class="error" *ngIf="f.Reg_No.invalid && f.Reg_No.touched">Reg_No
                                    required</span>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Search First Name</mat-label>
                                <input name="F_Name" formControlName="F_Name" matInput>
                                <span class="error" *ngIf="f.F_Name.invalid && f.F_Name.touched">First
                                    Name is required Enter only Alphabets</span>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Search Last Name</mat-label>
                                <input name="L_Name" formControlName="L_Name" matInput>
                                <span class="error" *ngIf="f.L_Name.invalid && f.L_Name.touched">Last
                                    Name is required Enter only Alphabets</span>
                            </mat-form-field> -->

                          
                            <div style="margin-top: 10px;">
                                <button mat-raised-button (click)="onClear()" class="clearbutton"
                                    matTooltip="close">
                                    <mat-icon class="cleariconbutton">close</mat-icon>
                                </button>&nbsp;
                                <button mat-raised-button class="searchButton" (click)="getRequestList()"
                                    matTooltip="search">
                                    <mat-icon class="searchiconbutton">search</mat-icon>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </fuse-sidebar>


        <div class="center p-12 pb-56" fxFlexAlign="height: fit-content;">

            <div class="content-card" style="border-radius:4px;">

                <div fxlayout="row">
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="30px">
                        <div fxFlex.gt-sm="100%" fxFlex>

                            <div fxlayout="row">
                                <div style="width: 100%;">

                                    <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                        class="backgroundBlur">
                                        <div class="spinner-border text-danger"></div>
                                    </div>
                                    <!-- sppinner -->

                                    <mat-table #table class="table1" matSort [dataSource]="dataSource"
                                    [@animateStagger]="{value:'50'}" style="overflow:auto;">                                        
                                        

                                        <ng-container matColumnDef="IsCancelled" sticky>
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-md class="w-60">
                                            
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" class="w-60">
                                                <mat-icon
                                                    *ngIf="contact.IsCancelled=='1'" matTooltip="IsCancelled"
                                                    class=" pill red-600 s-16 ">circle</mat-icon>
                                                <mat-icon
                                                    *ngIf="contact.IsCancelled!='1'" matTooltip="IsNotCancelled"
                                                    class="pill green-600 s-16 ">circle</mat-icon>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- <ng-container matColumnDef="OTBookingId" sticky>
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Code
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.OTBookingId}}
                                            </mat-cell>
                                        </ng-container> -->
<!-- 
                                        <ng-container matColumnDef="PatientName" sticky>
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                PatientName
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.PatientName}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="GenderName" sticky>
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                Gender
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.GenderName}}
                                            </mat-cell>
                                        </ng-container> -->

                                        <ng-container matColumnDef="OTbookingDate" sticky>
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-120">
                                                OTbookingDate
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-120">
                                                <!-- {{contact.OTbookingDate}} -->
                                                {{ contact.OTbookingDate | date: 'yyyy-MM-dd' }}
                                            </mat-cell>
                                        </ng-container>


                                        <ng-container matColumnDef="OTbookingTime" sticky>
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-120">
                                                OTbookingTime
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-120">
                                                <!-- {{contact.OTbookingTime}} -->
                                                {{ contact.OTbookingTime | date: 'hh:mm a' }}
                                            </mat-cell>
                                        </ng-container>

                                        <!-- <ng-container matColumnDef="RoomName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                                RoomName
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                                {{contact.RoomName}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="BedName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                                BedName
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                                {{contact.BedName}}
                                            </mat-cell>
                                        </ng-container> -->

                                        <!-- <ng-container matColumnDef="AdmittingDoctor" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                AdmittingDoctor
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.AdmittingDoctor}}
                                            </mat-cell>
                                        </ng-container> -->

                                        <ng-container matColumnDef="SurgeonName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                                SurgeonName
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                                {{contact.SurgeonName}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="SurgeryCategoryName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                                CategoryName
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                                {{contact.SurgeryCategoryName}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="SurgeryType">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                                SurgeryType
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                                {{contact.SurgeryType}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="DepartmentName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                                DepartmentName
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                                {{contact.DepartmentName}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="AddedBy">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                                AddedBy
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                                {{contact.AddedBy}}
                                            </mat-cell>
                                        </ng-container>

                                        <!-- <ng-container matColumnDef="IsCancelledBy">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                                IsCancelledBy
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                                {{contact.IsCancelledBy}}
                                            </mat-cell>
                                        </ng-container> -->

                                        

                                        <ng-container matColumnDef="action" stickyEnd>
                                            <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;" class="w-170">Action
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" class="w-170">
                                                <button mat-icon-button (click)="getPrint(contact)" matTooltip="print">
                                                    <mat-icon style="color: black;">print</mat-icon>
                                                </button>

                                                  <button mat-icon-button matTooltip="Edit" (click)="OnEdit(contact)">
                                                    <mat-icon style="color: black;">edit</mat-icon>
                                                </button>

                                                <!-- <button mat-icon-button (click)="CancleOTBooking(contact)" matTooltip="Cancle" *ngIf="contact.IsCancelled=='0'">
                                                    <mat-icon title="Edit Menu" *ngIf="contact.IsCancelled==1"
                                                        [disabled]="contact.disabled" class="disabled-icon">
                                                        cancel</mat-icon>
                                                    <mat-icon title="Edit Menu" *ngIf="contact.IsCancelled==0" (click)="CancleOTBooking(contact)">
                                                        cancel</mat-icon>
                                                </button> -->

                                                <button mat-icon-button (click)="CancleOTBooking(contact)" matTooltip="Cancel" 
                                                    *ngIf="contact.IsCancelled!= 1">
                                                    <mat-icon title="Cancel Menu" style="color: black;">
                                                        cancel
                                                    </mat-icon>
                                                </button>


                                                <!-- <button mat-icon-button (click)="CancleOTBooking(contact)" 
                                                *ngIf="contact.IsCancelled==0" matTooltip="Cancle">
                                                    <mat-icon style="color: black;"> cancel</mat-icon>
                                                </button> -->
                                               
                                            </mat-cell>
                                            
                                        </ng-container>

                                        <ng-container matColumnDef="loading">
                                            <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                            </mat-header-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="noData">
                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                no data found...
                                            </mat-footer-cell>
                                        </ng-container>

                                        <mat-header-row class="accent min-width-1500"
                                            *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                        <mat-row *matRowDef="let contact; columns: displayedColumns;" class="min-width-1500"
                                            [@animate]="{value:'*',params:{y:'100%'}}" >
                                        </mat-row>
                                        <mat-footer-row *matFooterRowDef="['loading']"
                                            [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                        </mat-footer-row>
                                        <mat-footer-row *matFooterRowDef="['noData']"
                                            [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                        </mat-footer-row>
                                    </mat-table>
                                    
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="16"
                                        showFirstLastButtons>
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CENTER -->
    </div>
    <!-- / USER -->
    <!-- / CENTER -->
    <!-- / CONTENT-->
</div>

<!--  --> 