<div class="dialog-content-wrapper modal-wrapper grid-container" fusePerfectScrollbar>
    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">OT Request List</span>
            </div>
            <div class="modal-header-right">

                <div class="close-icon">
                    <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog"
                        matTooltip="Close">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="modal-body-container">
            <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="start" class="gap-8">
                <div fxLayout="row wrap" fxFlex fxLayoutGap="14px 0px grid" class="p-12">

                    <div fxFlex="17%" fxFlex.xs="100%" fxFlex.sm="35%">
                        <airmid-datepicker [formGroup]="_otreservationService.myformSearch" [isRangePicker]="true"
                            formStartControlName="start" formEndControlName="end"
                            [(fromValue)]="gridConfig.filters[3].fieldValue"
                            [(toValue)]="gridConfig.filters[4].fieldValue">
                        </airmid-datepicker>
                    </div>

                    <div>
                        <button class="btn btn-primary" color="accent" (click)="getfilterdata()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
            <ng-template #actionsTemplate let-element>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon *ngIf="element.opIpType=='1'" matTooltip="IP"
                        class="pill green-600 s-16">circle</mat-icon>

                    <mat-icon *ngIf="element.opIpType=='0'" matTooltip="OP"
                        class="pill orange-600 s-16">circle</mat-icon>
                </div>
            </ng-template>
            <ng-template #actionsTemplate1 let-element>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon *ngIf="element.surgeryTypeId=='2'" matTooltip="Emergency"
                        class="pill red-600 s-16">circle</mat-icon>

                    <mat-icon *ngIf="element.surgeryTypeId=='1'" matTooltip="Normal"
                        class="pill blue-600 s-16">circle</mat-icon>
                </div>
            </ng-template>
            <div dynamicTableHeight>
                <airmid-table [gridConfig]="gridConfig" class="content" #grid :ShowFilter="false" :ShowButtons="false"
                    (onSelectRow)="GetRecord($event)">

                </airmid-table>
            </div>
        </div>
    </div>