<!-- <div class="dialog-content" style="padding: 20px; min-width: 600px;">
  <form [formGroup]="myFilterForm">
    <div style="display: flex; gap: 10px; align-items: center;">
      <div>
        <label>From Date</label><br />
        <input type="date" formControlName="fromDate" />
      </div>

      <div>
        <label>To Date</label><br />
        <input type="date" formControlName="toDate" />
      </div>

      <button type="button" (click)="getOTRequests()">Search</button>
    </div>
  </form>
 <airmid-table [gridConfig]="gridConfig" class="content" >

 </airmid-table>
 
</div> -->
<airmid-table [gridConfig]="gridConfig" class="content" >

 </airmid-table>