 .table1 {
    height: 650px;
    min-height: 650px;
    max-height: 650px;
    width: 100%;
    max-width: 1420px;
    min-width: 1420px;

     .mat-column-action {
         width: 100px;
         max-width: 100px;
         min-width: 100px;
         align-items: left;
         justify-content: left;
     }

     .mat-column-ToStoreName {
         width: 160px;
         max-width: 160px;
         min-width: 160px;
         align-items: left;
         justify-content: left;
     }

     .mat-column-ItemName {
         width: 260px;
         max-width: 260px;
         min-width: 260px;
         text-align: left;
         justify-content: left;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         overflow: hidden !important;
         display: inline-flex;
         display: inline;
         margin-right: 20px;
         margin-top: 20px;
     }

     .mat-column-GenericName {
         width: 350px;
         max-width: 350px;
         min-width: 350px;
         text-align: left;
         justify-content: left;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         overflow: hidden !important;
         display: inline-flex;
         display: inline;
         margin-right: 20px;
         margin-top: 20px;
     }

     .mat-column-BalanceQty {
         width: 110px;
         max-width: 110px;
         min-width: 110px;
         align-items: left;
         justify-content: left;
     }

     .mat-column-IssueQty {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
         align-items: left;
         justify-content: left;
     }

     .mat-column-ReceivedQty {
         width: 120px;
         max-width: 120px;
         min-width: 120px;
         align-items: left;
         justify-content: left;
     }

   
 }
 .table2 {
    height: 650px;
    min-height: 650px;
    max-height: 650px;
    width: 100%;
    max-width: 1420px;
    min-width: 1420px;

     .mat-column-action {
         width: 100px;
         max-width: 100px;
         min-width: 100px;
         align-items: left;
         justify-content: left;
     }

     .mat-column-ToStoreName {
         width: 160px;
         max-width: 160px;
         min-width: 160px;
         align-items: left;
         justify-content: left;
     }

     .mat-column-ItemName {
         width: 250px;
         max-width: 250px;
         min-width: 250px;
         text-align: left;
         justify-content: left;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         overflow: hidden !important;
         display: inline-flex;
         display: inline;
         margin-right: 20px;
         margin-top: 20px;
     }

    //  .mat-column-GenericName {
    //      width: 350px;
    //      max-width: 350px;
    //      min-width: 350px;
    //      text-align: left;
    //      justify-content: left;
    //      white-space: nowrap;
    //      overflow: hidden;
    //      text-overflow: ellipsis;
    //      overflow: hidden !important;
    //      display: inline-flex;
    //      display: inline;
    //      margin-right: 20px;
    //      margin-top: 20px;
    //  }

     .mat-column-BalanceQty {
         width: 110px;
         max-width: 110px;
         min-width: 110px;
         align-items: left;
         justify-content: left;
     }

     .mat-column-IssueQty {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
         align-items: left;
         justify-content: left;
     }

     .mat-column-ReceivedQty {
         width: 120px;
         max-width: 120px;
         min-width: 120px;
         align-items: left;
         justify-content: left;
     }
     .mat-column-BatchNo {
        width: 150px;
       max-width: 150px;
       min-width: 150px;
        align-items: left;
        justify-content: left;
    }

    .mat-column-BatchExpDate {
       width: 150px;
       max-width: 150px;
       min-width: 150px;
        align-items: left;
        justify-content: left;
    }

    .mat-column-LedgerDate {
        width: 130px;
        max-width: 130px;
        min-width: 130px;
        align-items: left;
        justify-content: left;
    }
    .mat-column-UnitMRP {
        width: 130px;
        max-width: 130px;
        min-width: 130px;
         align-items: left;
         justify-content: left;
     }

   
 }
 .table3 {
    height: 650px;
    min-height: 650px;
    max-height: 650px;
    width: 100%;
    // max-width: 1450px;
    // min-width: 1450px;

      .mat-column-Action {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
        justify-content: left;
    } 
     
     .mat-column-ItemName {
         width: 240px;
         max-width: 240px;
         min-width: 240px;
         text-align: left;
         justify-content: left;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         overflow: hidden !important;
         display: inline-flex;
         display: inline;
         margin-right: 20px;
         margin-top: 20px;
     }
     .mat-column-ConversionFactor {
         width: 160px;
         max-width: 160px;
         min-width: 160px;
         align-items: left;
         justify-content: left;
     }
     .mat-column-Current_BalQty {
        width: 140px;
        max-width: 140px;
        min-width: 140px;
         align-items: left;
         justify-content: left;
     }
     .mat-column-Received_Qty {
         width: 130px;
         max-width: 130px;
         min-width: 130px;
         align-items: left;
         justify-content: left;
     }
     .mat-column-Sales_Qty {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
        justify-content: left;
    }

   
 }