app-tariff-master {
    .mat-header-row {
        width: 900px;
        max-width: 900px;
        min-width: 900px;
        font-weight: bold;
    }

    .mat-row {
        width: 900px;
        max-width: 900px;
        min-width: 900px;
    }

    .mat-column-TariffId {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-TariffName {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }

    .mat-column-AddedByName {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-IsDeleted {
        width: 70px;
        max-width: 70px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        //color: white !important;
        width: 140px;
        max-width: 140px;
        min-width: 70px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
