app-airmid-slider{
.mat-slide-toggle .mat-slide-toggle-thumb {
    width: 13px!important;
    height: 13px!important;
    background-color: #a87aed !important;
    box-shadow: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -57%);
    border-radius: 3px
    }

    :host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: #49c5b6 ;
    }
}