@import "src/@fuse/scss/fuse";



app-opd-search-list {
    
.mat-header-row {
    width: 100%;
    max-width: 1520px;
    min-width: 1520px;    
    min-height: 25px;     
}

.mat-row {
    width: 100%;
    max-width: 1520px;
    min-width: 1520px;     
    min-height: 25px;            
}

.mat-column-checkbox {
    width:60px;
    max-width: 60px;
    min-width: 60px;
}
.mat-column-PatientOldNew {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: left;
     justify-content:left; 
}
.mat-column-MPbillNo {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    text-align: left;
   
     justify-content:left; 
}
.mat-column-RegNoWithPrefix {
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align:left;
}
.mat-column-PatientName {
    width:250px;
    max-width: 250px;
    min-width: 250px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   
    justify-content:left; 
    
}
.mat-column-DVisitDate {
    width:100px;
    max-width:100px;
    min-width: 100px;
    text-align:center;
    justify-content:center;
}
.mat-column-VisitTime {
    width:90px;
    max-width: 90px;
    min-width: 90px;
    text-align:center;
    justify-content:center;

}

.mat-column-PatientType {
    width:105px;
    max-width: 105px;
    min-width: 105px;
    text-align:center;
    justify-content:center;
}
.mat-column-OPDNo {
    width:90px;
    max-width:90px;
    min-width: 90px;
    text-align:left;
    justify-content:left;
}
    

.mat-column-Doctorname {
    width: 220px;
    max-width: 220px;
    min-width: 220px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   
    // margin-right: 10px;   
    justify-content:left; 
    
}
.mat-column-RefDocName {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   
    // margin-right: 10px;   
    justify-content:left; 
    
}

.mat-column-HospitalName {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
   
    justify-content:left; 
    
}

.highlight{
    background: #42A948; /* green */
  }

  .mat-row {
     
    &.selected {
        background: #c21d1d;
    }
 }

}