@import "src/@fuse/scss/fuse";

app-opd-search-list {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    
    .mat-table {
       height: 500px !important;
      
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
           
            .mat-cell {
                min-width: 0;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                overflow: hidden !important;
                //display: inline-block;
                
                &.mat-column-detail-button {
                    flex: 0 1 auto;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
.active-icon {
    border-radius: 50%;
}

app-opd-search-list {
.mat-header-row {
    width: 100%;
    max-width: 1610px;
    min-width: 1610px;    
    min-height: 25px;     
}

.mat-row {
    width: 100%;
    max-width: 1610px;
    min-width: 1610px;     
    min-height: 25px;            
}

.mat-column-checkbox {
    width:60px;
    max-width: 60px;
    min-width: 60px;
}
.mat-column-PatientOldNew {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    text-align: left;
     justify-content:left; 
}
.mat-column-MPbillNo {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    text-align: left;
   
     justify-content:left; 
}
.mat-column-RegNoWithPrefix {
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align:left;
}
.mat-column-PatientName {
    width:230px;
    max-width: 230px;
    min-width: 230px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    margin-right: 7px;   
    justify-content:left; 
}
.mat-column-DVisitDate {
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align:center;
    justify-content:center;
}
.mat-column-VisitTime {
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align:center;
    justify-content:center;

}

.mat-column-PatientType {
    width:100px;
    max-width: 100px;
    min-width: 100px;
    text-align:center;
    justify-content:center;
}
.mat-column-OPDNo {
    width:90px;
    max-width:90px;
    min-width: 90px;
    text-align:left;
    justify-content:left;
}
    

.mat-column-Doctorname {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    margin-right: 10px;   
    justify-content:left; 
}
.mat-column-RefDocName {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    margin-right: 10px;   
    justify-content:left; 
}

.mat-column-HospitalName {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow: hidden !important;
    display: inline-block;
    margin-right: 7px;   
    justify-content:left; 
}
.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 50%;
}

.mat-column-buttons {
    color: white !important;
    width:70px;
    max-width: 70px;
    min-width: 70px;
    text-align: left;
    justify-content:left;
}

.backgroundBlur{
    text-align: center;
    background-color: #818181;
    position: absolute;
    z-index: 1000;
    height: 380px;
    opacity: 0.5;
     width: 100%;  
    
}
}