<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->

    <div class="header">
        <div>
            <span> Patient Search </span>
        </div>
        <div class="close">
            <span class="material-icons" style="cursor: pointer;" (click)="onClose()">
                close
            </span>
        </div>
    </div>



    <div class="search-body">
        <div fxlayout="row" style="background-color: white; padding: 15px;">
            <form [formGroup]="_SearchdialogService.myFilterform">
                <div class="dialog-content-wrapper" fxFlex fxLayoutAlign="space-between-center">

                    <mat-form-field appearance="outline" style="margin-left:30px;padding-right: 10px;">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker" [disabled]="Range">
                            <input matStartDate formControlName="start" placeholder="Start date">
                            <input matEndDate formControlName="end" placeholder="End date" (dateChange)="getOPIPPatientList()">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    &nbsp;
                    <mat-form-field appearance="outline"  style="width:170px;padding-right: 10px;">
                        <mat-label>Reg No</mat-label>
                        <input name="RegNo" formControlName="RegNo" placeholder="Reg No" matInput (keyup)="getOPIPPatientList()">
                    </mat-form-field> &nbsp;

                    <mat-form-field appearance="outline" style="width:170px;padding-right: 10px;">
                        <mat-label>First Name</mat-label>
                        <input name="FirstName" formControlName="FirstName" placeholder="Enter First Name" matInput (keyup)="getOPIPPatientList()">
                    </mat-form-field> &nbsp;

                    <mat-form-field appearance="outline" style="width:170px;padding-right: 10px;">
                        <mat-label>Last Name</mat-label>
                        <input name="LastName" formControlName="LastName" placeholder="Enter Last Name" matInput (keyup)="getOPIPPatientList()">
                    </mat-form-field> &nbsp;

                    <!-- <mat-form-field appearance="outline" style="width:170px;padding-right: 10px;">
                        <mat-label>OPDNo </mat-label>
                        <input name="OPDNo" formControlName="OPDNo" placeholder="EnterOPDNo" matInput>
                    </mat-form-field> &nbsp;
                    -->

                    <!-- <mat-radio-group aria-label="Select an option" style="width:15%;padding-left:10px;padding:10px;"
                        formControlName="PatientType" (change)="getOPIPPatientList()">PatientType
                        <mat-radio-button value="1" [checked]="true"> IP </mat-radio-button>
                        <mat-radio-button value="0" > OP</mat-radio-button>
                    </mat-radio-group>

                    
                    <mat-radio-group aria-label="Select an option" style="width:20%;padding-left:10px;padding-top: 10px;"
                        formControlName="patientstatus" (change)="getOPIPPatientList()">patientstatus
                        <mat-radio-button value="1" [checked]="true"> Admitted </mat-radio-button>
                        <mat-radio-button value="0" > Dischared</mat-radio-button>
                    </mat-radio-group> -->
                    
                    <button Class="search-btn " mat-raised-button
                        style="border-radius: 16px; background-color:#039be5 ;color: white;margin-top: 3px;"
                        (click)="getOPIPPatientList()">Show
                        <mat-icon>search</mat-icon>
                    </button>&nbsp;
                    <button class="footer-btn" (click)="onClear()" style="margin-top: 4px;">clear</button>&nbsp;&nbsp;

        </div>
            </form>
        </div>

        <!-- <div class="no-content" *ngIf="isLoading=='no-data'" style="width: fit-content; margin: auto;">
            <mat-spinner [diameter]='30'></mat-spinner>
        </div> -->
    </div>

    <div fxlayout="row" fusePerfectScrollbar>
        <!-- style="width: 100%;" -->
        <div fxFlex.gt-sm="100%" fxFlex>
            <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}" class="backgroundBlur">
                <div class="spinner-border text-danger"></div>

            </div>
            <mat-table #table matSort [dataSource]="dataSource" [@animateStagger]="{value:'50'}" style="overflow:auto">

              

                <ng-container matColumnDef="RegNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> RegNo </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.RegNo}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="PatientName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> PatientName </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.PatientName}}
                    </mat-cell>
                </ng-container>



                <ng-container matColumnDef="AgeYear">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> AgeYear </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.AgeYear}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="GenderName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> GenderName </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.GenderName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="PhoneNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> PhoneNo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.PhoneNo}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="MobileNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> MobileNo </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.MobileNo}}
                    </mat-cell>
                </ng-container>

             
             
                <ng-container matColumnDef="action" stickyEnd>
                    <mat-header-cell *matHeaderCellDef class="table-actions" style="color: white;"> Select
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxShow.gt-sm>
                        <button mat-icon-button (click)="onEdit(row)">
                            <mat-icon title="Edit Menu">launch</mat-icon>
                        </button>
                        <!-- <button mat-icon-button (click)="onDeactive(row.RegId)" color="warn"><mat-icon>delete_outline</mat-icon></button>       -->
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        no data found...
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                    </mat-header-cell>
                </ng-container>
                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact"
                    [@animate]="{value:'*',params:{y:'100%'}}" (click)="onEdit(contact)"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                </mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
    </div>
   
    <!-- / CONTENT-->
</div>