.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree-node {
    display: block;
    padding-left: 40px;
}

.example-section {
    margin: 12px 0;
}

.example-margin {
    margin: 0 12px;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

.role-permission {
    .role-permission-body {
    }
    .tree-container {
        display: flex;
        .label-section {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .checkbox-section {
            flex: 2;
        }
    }
    .example-tree-invisible {
        display: none;
    }

    .example-tree ul,
    .example-tree li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }
    .example-tree-node {
        display: block;
    }

    .example-tree-node .example-tree-node {
        padding-left: 40px;
    }
}
