.demo1 {
  position: fixed;
  bottom: 0;
  left: -3;
  width: 98%;
  z-index: 1000;
  padding: 8px 16px;
}

.table-scroll {
  max-height: calc(100vh - 400px);
  overflow-y: auto;        /* make table content scrollable */
}

.demo2 {
  width: 100%;
   display: block;      /* optional, for wide tables */
}


