<div class="page-layout simple inner-sidebar inner-scroll right-sidebar" fusePerfectScrollbar dynamicTableHeight>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label=" OP Patient Settlement">
            <div fusePerfectScrollbar
                class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
                dynamicTableHeight>
                <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
                    fxLayoutAlign.gt-xs="space-between center ">
                    <div class="top-header-info">
                        <div class="top-header-title">
                            <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                                OP Patient Settlement
                            </span>
                        </div>
                    </div>
                </div>
                <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
                    <div class="modal-body-container">
                        <mat-card style="padding: 5px;">
                            <form [formGroup]="searchFormGroup" fxLayoutAlign="space-between start">
                                <div fxLayout="column" fxLayoutAlign="start none" style="width: 100%;">
                                    <div class="redio-container" style="padding: 10px;">
                                        <airmid-autocomplete class="w-350"
                                            label="Search Reg No / Patient Name / Mobile No"
                                            [formGroup]="searchFormGroup" formControlName="RegId"
                                            placeholderText="Search Reg No / Patient Name / Mobile No"
                                            ApiUrl="OutPatient/auto-complete?Keyword="
                                            (selectionChange)="getSelectedObj($event)"
                                            fxFlex="40%"></airmid-autocomplete>
                                    </div>
                                </div>
                            </form>
                        </mat-card>

                        <div fxlayout="row" style="padding: 0px 5px 0px 5px">
                            <div fxFlex.gt-sm="100%" fxFlex class="patient-info-container">
                                <mat-card style="padding: 5px;">
                                    <div class="patient-info-container">
                                        <div class="patient-info-box">
                                            <div class="patient-info-title border-bottom pb-2">
                                                <span class="h1">Patient Information</span>
                                            </div>
                                            <div class="patient-info-box my-8">
                                                <div class="patient-info-row ">
                                                    <div class="patient-col">
                                                        <span class="patient-col-key">UHID No</span>
                                                        <span>:</span>
                                                        <span class="patient-col-value">{{registerObj.regNo}}</span>
                                                    </div>
                                                    <div class="patient-col">
                                                        <span class="patient-col-key ">Patient Name</span>
                                                        <span>:</span>
                                                        <span
                                                            class="patient-col-value">{{registerObj.patientName}}</span>
                                                    </div>
                                                    <div class="patient-col">
                                                        <span class="patient-col-key">Age | Gender</span>
                                                        <span>:</span>
                                                        <span class="patient-col-value">{{registerObj.ageYear}}Y
                                                            {{registerObj.genderId}}</span>
                                                    </div>
                                                    <div class="patient-col">
                                                        <span class="patient-col-key">Mobile No</span>
                                                        <span>:</span>
                                                        <span class="patient-col-value">{{registerObj.mobileNo}}</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>

                    <ng-template #actionsTemplate let-element>
                        <div>
                            <mat-icon *ngIf="element.companyId=='0'" matTooltip="Patient Category Self">account_box
                            </mat-icon>

                            <mat-icon *ngIf="element.companyId!='0'" matTooltip="Patient Category Company">business
                            </mat-icon>
                        </div>
                    </ng-template>



                    <ng-template #actionButtonTemplate let-element>
                        <div fxLayout="row" fxLayoutAlign="center center">

                            <button mat-icon-button class="material-icons" *ngIf="element.balanceAmt !=0 "
                                matTooltip="Final Discount" (click)="getFinalDisc(element)">
                                <mat-icon> money </mat-icon>
                            </button>

                            <button mat-icon-button (click)="openPaymentpopup(element)" matTooltip="Settlement"
                                *ngIf="element.balanceAmt!='0'">
                                <mat-icon title="Settlement">receipt</mat-icon>
                            </button>
                        </div>
                    </ng-template>


                    <airmid-table [gridConfig]="gridConfig" #grid :ShowFilter="false">
                    </airmid-table>
                </div>
            </div>
        </mat-tab>
        <!-- <mat-tab label="Multiple Settlement"> 
            <div fusePerfectScrollbar
                class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto"
                dynamicTableHeight>
                <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
                    fxLayoutAlign.gt-xs="space-between center ">
                    <div class="top-header-info">
                        <div class="top-header-title">
                            <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                                Op Multiple Settlement
                            </span>
                        </div>
                    </div>

                </div>
                <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
                    <airmid-table [gridConfig]="gridConfig1" class="content" #opMultiple>
                        <ng-container filters>
                            <form [formGroup]="OPMultipleSettlForm">
                                <airmid-datepicker [formGroup]="OPMultipleSettlForm" [isRangePicker]="true"
                                    formStartControlName="fromDate" formEndControlName="enddate" ></airmid-datepicker>

                                <mat-form-field appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input matInput placeholder="Search First Name" autocomplete="off"
                                        [formGroup]="OPMultipleSettlForm" formControlName="FirstName"
                                        (input)="onChangeOPBill()" />
                                    <button matSuffix mat-icon-button aria-label="Clear"
                                        (click)=" ClearfilterOPbill('FirstName')">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput placeholder="Search Last Name" autocomplete="off"
                                        [formGroup]="OPMultipleSettlForm" formControlName="LastName"
                                        (input)="onChangeOPBill()" />
                                    <button matSuffix mat-icon-button aria-label="Clear"
                                        (click)=" ClearfilterOPbill('LastName')">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>                          

                                <mat-form-field appearance="outline">
                                    <mat-label>PBillNo</mat-label>
                                    <input matInput placeholder="Search PBillNo" autocomplete="off"
                                        [formGroup]="OPMultipleSettlForm" formControlName="PBillNo" (keypress)="keyPressAlphanumeric($event)"
                                        (input)="onChangeOPBill()" />
                                    <button matSuffix mat-icon-button aria-label="Clear"
                                        (click)=" ClearfilterOPbill('PBillNo')">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                           
                                <mat-form-field appearance="outline">
                                    <mat-label>UHID</mat-label>
                                    <input matInput placeholder="Search UHID" autocomplete="off"
                                        [formGroup]="OPMultipleSettlForm" formControlName="RegNo" (keypress)="keyPressAlphanumeric($event)"
                                        (input)="onChangeOPBill()" />
                                    <button matSuffix mat-icon-button aria-label="Clear"
                                        (click)=" ClearfilterOPbill('RegNo')">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>

                                <airmid-dropdown label="Company Name" formControlName="CompanyId" [formGroup]="OPMultipleSettlForm"
                                    (selectionChange)="ListView($event)" [mode]="autocompleteModecompany"></airmid-dropdown>
                            </form>
                        </ng-container>
                    </airmid-table>
                </div>
            </div> 
        </mat-tab> -->

        <mat-tab label="Multiple Settlement">
            <div class="modal-page page-layout inner-scroll">
                <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
                    fxLayoutAlign.gt-xs="space-between center ">
                    <div class="top-header-info">
                        <div class="top-header-title">
                            <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                                Multiple Settlement
                            </span>
                        </div>
                    </div>
                </div>

                <div class="modal-body modal-body-light" fusePerfectScrollbar>
                    <div class="modal-body-container">
                        <div fxLayout="column" class="gap-8 h-100-p">
                            <div class="modal-body-container">
                                <mat-card style="padding: 5px;">
                                    <form [formGroup]="OPMultipleSettlForm" fxLayoutAlign="space-between start">
                                        <div fxFlexFill fxLayout="column" fxLayout="row" fxLayoutGap="6px">

                                            <mat-form-field appearance="outline" fxFlex="20%">
                                                <mat-label>Enter a date range</mat-label>
                                                <mat-date-range-input [rangePicker]="multiplePayment">
                                                    <input matStartDate formControlName="fromDate"
                                                        placeholder="Start date">
                                                    <input matEndDate formControlName="enddate" placeholder="End date"
                                                        (dateChange)="getmultiplePaymentList()">
                                                </mat-date-range-input>
                                                <mat-datepicker-toggle matSuffix
                                                    [for]="multiplePayment"></mat-datepicker-toggle>
                                                <mat-date-range-picker #multiplePayment></mat-date-range-picker>
                                            </mat-form-field>

                                            <airmid-autocomplete class="w-350"
                                                label="Search Reg No / Patient Name / Mobile No"
                                                [formGroup]="OPMultipleSettlForm" formControlName="RegId"
                                                placeholderText="Search Reg No / Patient Name / Mobile No"
                                                ApiUrl="OutPatient/auto-complete?Keyword="
                                                (onClearSelection)="opMulSettFormReset()"
                                                (selectionChange)="getSelectedObj($event)"
                                                fxFlex="40%"></airmid-autocomplete>

                                            <airmid-dropdown label="Company Name" formControlName="CompanyId"
                                                [formGroup]="OPMultipleSettlForm" (selectionChange)="ListView($event)"
                                                [mode]="autocompleteModecompany"></airmid-dropdown>

                                            <div class="action-buttons" style="padding: 10px;">
                                                <button mat-raised-button (click)="onClear()" class="clear-button"
                                                    matTooltip="close">
                                                    <mat-icon class="cleariconbutton">close</mat-icon>
                                                </button>&nbsp;
                                                <button mat-raised-button class="search-button"
                                                    (click)="getmultiplePaymentList()" matTooltip="search">
                                                    <mat-icon class="searchiconbutton">search</mat-icon>
                                                </button>
                                            </div>

                                        </div>
                                    </form>
                                </mat-card>

                            </div>

                            <mat-table matSort [dataSource]="dsMultiplepayList" [@animateStagger]="{ value: '50' }"
                                class="airmid-table h-500">
                                <ng-container matColumnDef="CheckBox">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="w-150">
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" required class="w-150">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="OnSelectPayment($event,contact)"
                                            (change)="$event ? selection.toggle(contact) : null"
                                            [checked]="selection.isSelected(contact)">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="BillDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-180">
                                        BillDate</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-180">
                                        {{contact.billDate}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="PBillNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-150">
                                        PBillNo</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                        {{contact.pBillNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="uhid">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-150">
                                        UHID</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-150">
                                        {{contact.regNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="patientName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-250">
                                        PatientName</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-250">
                                        {{contact.patientName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="BillAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-180">
                                        Bill Amount </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-180">
                                        {{contact.billAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="ConsessionAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-180">
                                        Consession Amt</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-180">
                                        {{contact.concessionAmt | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="NetAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-180">
                                        Net Amount</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-180">
                                        {{contact.netPayableAmt | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="PaidAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-180">
                                        Paid Amount</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-180">
                                        {{contact.paidAmount | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="balAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-180">
                                        Balance Amount</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-180">
                                        {{contact.balanceAmt | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="companyName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-200">
                                        Company Name</mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm class="w-200">
                                        {{contact.companyName | currency:"INR":"symbol"}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm class="w-200">
                                        Action
                                    </mat-header-cell>

                                    <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="center center">
                                        <button mat-icon-button class="material-icons" *ngIf="element.balanceAmt != 0"
                                            matTooltip="Final Discount" (click)="getFinalDisc(element)">
                                            <mat-icon>money</mat-icon>
                                        </button>

                                        <button mat-icon-button (click)="openPaymentpopup(element)"
                                            matTooltip="Settlement" *ngIf="element.balanceAmt != 0">
                                            <mat-icon title="Settlement">receipt</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-footer-cell *matFooterCellDef colspan="6">loading data...</mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        <mat-spinner *ngIf="isLoadingStr == 'loading'" [diameter]="30"></mat-spinner>
                                        <span *ngIf="isLoadingStr == 'no-data'">No data found...</span>
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent min-width-1800"
                                    *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns" class="element min-width-1800"
                                    [@animate]="{ value: '*', params: { y: '100%' } }"></mat-row>
                            </mat-table>

                            <mat-paginator #paginator [pageSizeOptions]="[10, 15, 25, 100]" [pageSize]="10"
                                showFirstLastButtons>
                            </mat-paginator>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <form [formGroup]="OPMultipleSettlForm">
                        <mat-card>
                            <mat-card-content>
                                <div class="net-amt-form input-error-hidden">
                                    <div fxLayout="row" class="gap-8" fxLayoutAlign="end center">
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>NetAmount</mat-label>
                                            <input name="NetAmount" formControlName="NetAmount" matInput readonly
                                                [(ngModel)]="vNetAmount">
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>PaidAmount</mat-label>
                                            <input name="PaidAmount" formControlName="PaidAmount" matInput
                                                [(ngModel)]="vPaidAmount">
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>BalanceAmount</mat-label>
                                            <input name="BalanceAmount" formControlName="BalanceAmount" matInput
                                                readonly [(ngModel)]="vBalanceAmount">
                                        </mat-form-field>
                                        <!-- [disabled]="!TotalRefundAmount || dataSource2.data.length==0" -->
                                        <div class="footer-navigation-container">
                                            <div class="modal-footer-buttons">
                                                <button class="btn btn-danger-outline"
                                                    (click)="OnReset()">Reset</button>
                                                <button class="btn btn-primary" (click)="OnSave()">Payment</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </form>
                </div>

            </div>
        </mat-tab>
    </mat-tab-group>
</div>