.p-sm-24 {
    padding: 10px !important;
}

app-group-master {
    .mat-header-row {
        width: 720px;
        max-width: 720px;
        min-width: 720px;
        font-weight: bold;
    }

    .mat-row {
        width: 720px;
        max-width: 720px;
        min-width: 720px;
    }

    .mat-column-GroupId {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
    }
    .mat-column-GroupName {
        width: 140px;
        max-width: 140px;
        min-width: 140px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }

    .mat-column-Isconsolidated {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
    }
    .mat-column-IsConsolidatedDR {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
    }

    .mat-column-IsActive {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
        justify-content: left;
    }

    .mat-column-action {
        // color: white !important;
        width: 120px;
        max-width: 120px;
        min-width: 70px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}

// .button-row button{
//     margin: 5px;
// }
// .mat-radio-group{
//     margin: 7px;
//     margin-bottom: 10px;
// }
