<!-- New -->
<div class="modal-wrapper grid-container">
    <!-- Modal header -->
    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">New User Details</span>
            </div>
            <div class="modal-header-right">
                <div class="close-icon">
                    <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog"
                        matTooltip="Close">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body" fusePerfectScrollbar>
        <div class="modal-body-container">
            <form [formGroup]="myuserform">
                <input type="hidden" name="userId" formControlName="userId">
                <div>
                    <div fxLayout="row wrap" fxLayoutGap="12px 0px grid">
                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                            <airmid-dropdown label="UnitName" formControlName="roomId" [formGroup]="myuserform"
                                [validations]="getValidationMessages().roomId" [mode]="autocompleteModeUnitName"
                                (selectionChange)="selectChangeUnitName($event)">
                            </airmid-dropdown>
                        </div>

                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                            <airmid-textbox label="MobileNo" formControlName="mobileNo" [formGroup]="myuserform"
                                [validations]="getValidationMessages().mobileNo" [maxLength]="10">
                                <!-- [value]="data.mobileNo"  -->
                            </airmid-textbox>
                        </div>
                    </div>

                    <div fxLayout="row wrap" fxLayoutGap="12px 0px grid">
                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                            <airmid-textbox label="FirstName" formControlName="firstName" [formGroup]="myuserform"
                                [validations]="getValidationMessages().firstName" [maxLength]="30">
                            </airmid-textbox>
                        </div>

                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                            <airmid-textbox label="LastName" formControlName="lastName" [formGroup]="myuserform"
                                [validations]="getValidationMessages().lastName" [maxLength]="30">
                            </airmid-textbox>
                        </div>
                    </div>

                    <div fxLayout="row wrap" fxLayoutGap="12px 0px grid">
                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                            <airmid-textbox label="UserName" formControlName="userName" [formGroup]="myuserform"
                                [validations]="getValidationMessages().userName" [maxLength]="30">
                            </airmid-textbox>
                        </div>

                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                            <airmid-textbox label="PassWord" formControlName="password" [formGroup]="myuserform"
                                [validations]="getValidationMessages().password" [maxLength]="30" type="password">
                            </airmid-textbox>

                        </div>
                    </div>

                    <div fxLayout="row wrap" fxLayoutGap="12px 0px grid">
                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                            <airmid-textbox label="MailID" formControlName="mailId" [formGroup]="myuserform"
                                [validations]="getValidationMessages().mailId" [maxLength]="30">
                            </airmid-textbox>
                        </div>

                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                            <airmid-dropdown label="RoleName" formControlName="roleId" [formGroup]="myuserform"
                                [validations]="getValidationMessages().roleId" [mode]="autocompleteModeRoleName"
                                (selectionChange)="selectChangeRoleName($event)">
                            </airmid-dropdown>
                        </div>
                    </div>

                    <div fxLayout="row wrap" fxLayoutGap="12px 0px grid">
                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                            <airmid-dropdown label="StoreName" formControlName="storeId" [formGroup]="myuserform"
                                [validations]="getValidationMessages().storeId" [mode]="autocompleteModeStoreName"
                                (selectionChange)="selectChangeStoreName($event)">
                            </airmid-dropdown>
                        </div>

                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                            <airmid-dropdown label="WebRoleName" formControlName="webRoleId" [formGroup]="myuserform"
                                [validations]="getValidationMessages().webRoleId" [mode]="autocompleteModeWebRoleName"
                                (selectionChange)="selectChangeWebRoleName($event)">
                            </airmid-dropdown>
                        </div>
                    </div>

                    <div fxLayout="row wrap" fxLayoutGap="12px 0px grid">
                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                            <mat-checkbox formControlName="isDoctorType" (change)="chkdoctor($event)"
                                style="padding: 10px;">IsDoctor
                            </mat-checkbox>&nbsp;

                            <airmid-dropdown label="Doctor Name" formControlName="doctorId" fxFlex="35%"
                                [formGroup]="myuserform" [validations]="getValidationMessages().doctorId"
                                [mode]="autocompleteModedoctor" *ngIf="docflag">
                                <!-- [value]="vdoctorID"  -->
                            </airmid-dropdown>
                        </div>

                        <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="40%">
                            <mat-checkbox formControlName="IsDicslimit" (change)="chkDiscLimit($event)"
                                style="padding: 10px;">IsDiscountLimit
                            </mat-checkbox>&nbsp;

                            <mat-form-field appearance="outline" fxFlex *ngIf="DisclimitFlag">
                                <mat-label>Discount %</mat-label>
                                <input matAutocompletePosition="below" type="text" matInput
                                    formControlName="DiscLimitPer">
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>
                    <div class="user-form-col py-12" fxLayout="column">
                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                            <!-- [checked] -->
                            <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100-p gap-8">
                                <mat-checkbox formControlName="isGrnverify" [(ngModel)]="visGRNVerify">
                                    GRN Verify</mat-checkbox>
                                <mat-checkbox formControlName="isPoverify" [(ngModel)]="visPOVerify">
                                    PO Verify</mat-checkbox>
                                <mat-checkbox formControlName="isPoinchargeVerify" [(ngModel)]="visGRNVerify">
                                    Incharge PO Verify</mat-checkbox>
                                <mat-checkbox formControlName="isIndentVerify" [(ngModel)]="visIndentVerify">
                                    Indent Verify</mat-checkbox>
                                <mat-checkbox formControlName="isInchIndVfy" [(ngModel)]="visInchIndVfy">
                                    Incharge Indent Verify</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="user-form-col py-12" fxLayout="column">
                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                            <!-- [checked] -->
                            <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100-p gap-8"
                                fxFlex="50%">
                                <mat-checkbox formControlName="pharExtOpt" [(ngModel)]="vpharExtOpt">
                                    PharmacyExternalopt
                                </mat-checkbox>
                                <mat-checkbox formControlName="pharIpopt" [(ngModel)]="vpharIPOpt">
                                    PharmacyIPDopt
                                </mat-checkbox>
                                <mat-checkbox formControlName="pharOpopt" [(ngModel)]="vpharOPOpt">
                                    PharmacyOPDopt
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="user-form-col py-12" fxLayout="column">
                        <div class="user-form-col-content">
                            <div class="icon-info-title mb-3">
                                <mat-label class="h4 mb-2"> Icon Info.</mat-label>
                            </div>
                            <div class="icon-info-row" fxLayout="column" fxLayout.gt-xs="row">
                                <!-- <div fxLayout="row wrap" fxLayoutGap="12px 0px grid"> -->
                                <div class="icon-info-col " fxLayout="row wrap" style="row-gap: 4px;">
                                    <div fxFlex="33%" fxFlex.xs="50%" fxFlex.sm="50%">
                                        <mat-checkbox formControlName="isCollection" [(ngModel)]="visCollection">
                                            Daily Dashboard</mat-checkbox>
                                    </div>
                                    <div fxFlex="33%" fxFlex.xs="50%" fxFlex.sm="50%">
                                        <mat-checkbox formControlName="isPatientInfo" [(ngModel)]="visPatientInfo">
                                            PatientInformation</mat-checkbox>
                                    </div>
                                    <div fxFlex="33%" fxFlex.xs="50%" fxFlex.sm="50%">
                                        <mat-checkbox formControlName="isBedStatus" [(ngModel)]="visBedStatus">
                                            Bed Occupaincy Dashboard</mat-checkbox>
                                    </div>
                                    <div fxFlex="33%" fxFlex.xs="50%" fxFlex.sm="50%">
                                        <mat-checkbox formControlName="IsPharmacyBalClearnace">
                                            Is Pharmacy Bal Clearnace
                                        </mat-checkbox>
                                    </div>
                                    <div fxFlex="33%" fxFlex.xs="50%" fxFlex.sm="50%">
                                        <mat-checkbox formControlName="isCurrentStk" [(ngModel)]="visCurrentStk">
                                            Pharmacy Dashboard
                                        </mat-checkbox>
                                    </div>
                                    <div fxFlex="33%" fxFlex.xs="50%" fxFlex.sm="50%">
                                        <mat-checkbox formControlName="addChargeIsDelete"
                                            [(ngModel)]="vaddChargeIsDelete">
                                            IsAddChargeDelete
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div class="icon-info-col" fxLayoutGap="50px">
                                    <airmid-textbox label="BrowseDays" formControlName="browseDay"
                                        [formGroup]="myuserform" [validations]="getValidationMessages().mobileNo"
                                        [maxLength]="30">
                                    </airmid-textbox>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="footer-navigation-container" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="modal-footer-actins">
                            <app-airmid-slider label="IsActive/Deactive" formControlName="isActive"
                                [formGroup]="myuserform" [(ngModel)]="isActive"></app-airmid-slider>
                        </div>
                        <div class="modal-footer-buttons">
                            <button class="btn btn-danger-outline" (click)="onClear(false)">Close</button>
                            <button class="btn btn-primary " color="accent" (click)="onSubmit()">
                                <span>Save</span>
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>