.p-sm-24 {
    padding: 10px !important;
}


app-doctornote{

    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}

.mt-16 {
    margin-top: 16px !important;
}

.full-height-content {
    height: 100%;
    min-height: 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}