// .table1{
//     height: 370px;
//     max-height: 400px;
//     min-height: 400px;

// }
// .table2{
    
//     height: 330px;
//     max-height: 330px;
//     min-height: 280px;

// }
.footer-navigation-container {
    text-align: right;
    display: flex;
    justify-content: space-between;
    float: right;
}
.footer-btn {
    width: 80px;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px;
    color:  rgb(247, 97, 97);
    border-radius: 16px;
    background-color:white;
    border: 1px solid rgb(247, 97, 97);
    cursor: pointer;
}
.footer-btn:hover{
    background-color: rgb(247, 97, 97);
    color: white;
   
    
}

app-new-prescription{
    .table1{
    .mat-header-row {
        width: 100%;
        max-width:700px;
        min-width: 700px;    
        min-height: 25px;     
    }
    
    
    .mat-row {
        width: 100%;
        max-width:700px;
        min-width:700px; 
        min-height: 25px;            
    }
    
    // PatientData
    .mat-column-ItemName {
        width:350px;
        max-width:350px;
        min-width:350px;
        text-align:left;
        justify-content: left;
        white-space: nowrap; 
        text-overflow: ellipsis; 
        overflow: hidden !important;
    }
    
    .mat-column-Qty {
        width:90px;
        max-width:90px;
        min-width:90px;
        text-align: right;
    }
    
    .mat-column-Remark {
        width:150px;
        max-width:150px;
        min-width:150px;
        text-align:left;
        white-space: nowrap; 
        text-overflow: ellipsis; 
        overflow: hidden !important;
    
    }
    .mat-column-buttons {
        // color: white !important;
        width:70px;
        max-width:70px;
        min-width:70px;
       
        text-align: left;
        justify-content:left; 
        
    }
}
.table2{
    .mat-header-row {
        width: 100%;
        max-width:190px;
        min-width: 190px;    
        min-height: 25px;     
    }
    
    
    .mat-row {
        width: 100%;
        max-width:190px;
        min-width:190px; 
        min-height: 25px;            
    }
    
    // PatientData
    .mat-column-Date {
        width:90px;
        max-width:90px;
        min-width:90px;
        text-align:left;
        justify-content: left;
    }
    
    .mat-column-Time {
        width:90px;
        max-width:90px;
        min-width:90px;
        text-align: left;
    }
    
}

.add-btn {
    background-color: blue !important;
    color: white !important;
    font-size: 16px;
  }

  button:disabled {
    color: white;
    background-color: #7bd3ff  !important;
     //background-color: #b7e6fd ;
     border-radius: 16px;
    //  border-radius: 16px;
     // border: 1px solid #CCCCCC;
     border: 1px solid  #b7e6fd ;
     
    }
}



