<div class="dialog-content-wrapper modal-wrapper grid-container" resize-form-fields padding-fix>
    <!-- Modal Header -->
    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">New Prescription </span>
            </div>
            <div class="modal-header-right">
                <div class="comman-date-container">
                    <div class="comman-date resize-form-fields">
                        <app-common-date [screenFrom]="screenFromString"
                            (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                    </div>
                    <div class="close-icon">
                        <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Body -->
    <div class="modal-body" fusePerfectScrollbar>
        <div class="modal-body-container">
            <form [formGroup]="myForm">
                <div fxLayout="column" class="gap-0">
                    <!-- Patient Search Section -->
                    <div class="modal-card-container mb-0 resize-form-fields">
                        <div fxLayout="row" fxLayout.sm="column" class="gap-16" fxLayoutAlign="start center">
                            <div class="radio-container">
                                <mat-radio-group formControlName="Op_ip_id" fxFlex="5%">
                                    <mat-radio-button value="1">IP</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="input-container gap-8" fxFlex="50%">
                                <airmid-autocomplete lbl="RegId" [formGroup]="myForm" formControlName="RegID"
                                    placeholderText="RegNo/Patient Name/Mobile No"
                                    label="Search Reg No / Patient Name / Mobile No"
                                    ApiUrl="Admission/search-patient?Keyword="
                                    (selectionChange)="getSelectedObjIP($event)" ValueField="admissionID"
                                    TextField="formattedText">
                                </airmid-autocomplete>
                            </div>
                        </div>
                    </div>

                    <!-- Patient Info Section -->
                    <div class="modal-card-container mt-0" style="margin-top: -4px;">
                        <div fxFlex.gt-sm="100%" fxFlex>
                            <mat-card fxFlex.gt-sm="100%" fxFlex style="padding: 2px 10px;">
                                <div class="patient-info-sales">
                                    <div class="patient-info-title border-bottom pb-1 mb-1">
                                        <span class="h1 m-0" style="line-height: normal;">Patient Information</span>
                                    </div>
                                    <div class="Ipd-patient-info w-100-p">
                                        <app-patient-information [uhidNo]="registerObj?.regNo"
                                            [patientName]="vPatientName" [doctorName]="registerObj?.doctorName"
                                            [departmentName]="registerObj?.departmentName" [doa]="vDOA"
                                            [ipdNo]="registerObj?.ipdNo || registerObj?.ipdno"
                                            [ageString]="(registerObj?.age !== undefined ? registerObj?.age + 'Y|' + registerObj?.ageMonth + 'M|' + registerObj?.ageDay + 'D | ' + registerObj?.genderName : '')"
                                            [refDocName]="vRefDocName"
                                            [wardBedName]="(vRoomName && vBedName) ? (vRoomName + ' | ' + vBedName) : ''"
                                            [patientType]="vPatientType" [tariffName]="vTariffName"
                                            [companyName]="vCompanyName"></app-patient-information>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>

                    <!-- Store and Ward Dropdown -->
                    <div class="modal-card-container mt-2" style="padding:1px 2px 5px 0px ;">
                        <mat-card style="padding: 5px;">
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" class="gap-8 resize-form-fields"
                                fxLayoutAlign="start start">
                                <airmid-dropdown label="Store Name" formControlName="StoreId" [formGroup]="myForm"
                                    [validations]="getValidationMessages().StoreId" [value]="vstoreId" fxFlex="50%"
                                    [mode]="autocompletestore" (selectionChange)="selectChangeStore($event)">
                                </airmid-dropdown>
                                <airmid-dropdown label="Ward Name" formControlName="WardName" [formGroup]="myForm"
                                    [validations]="getValidationMessages().WardName" [value]="data?.wardId" fxFlex="50%"
                                    [mode]="autocompleteward">
                                </airmid-dropdown>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </form>

            <!-- Item Entry and Table Section -->
            <div class="modal-card-container mt-2">
                <div fxLayout="column" fxLayout.gt-xs="row" class="gap-8">
                    <mat-card fxFlex="70%" fxFlex.sm="65%" fxFlex.xs="100%" class="table-left">
                        <form [formGroup]="ItemForm">
                            <div fxLayout="column" fxLayout.gt-xs="row" class="gap-8 resize-form-fields"
                                fxLayoutAlign="start start">
                                <airmid-autocomplete label="Enter Item Name" [formGroup]="ItemForm" required
                                    #itemAutocomplete formControlName="ItemId" placeholderText="Enter Item Name" fxFlex
                                    (onClearSelection)="ItemFromReset()"
                                    [ApiUrl]="'ItemMaster/GetItemListForPrescriptionSearch?StoreId=' + vstoreId + '&ItemName='"
                                    (selectionChange)="selectChangeItem($event)" TextField="formattedText"
                                    name="ItemName" ValueField="ItemId" [validations]="getValidationMessages().ItemId">
                                </airmid-autocomplete>

                                <airmid-textbox label="Qty" formControlName="Qty" [formGroup]="ItemForm"
                                    [(ngModel)]="vQty" [validations]="getValidationMessages().Qty" #qtyTextboxRef
                                    (keypress)="keyPressAlphanumeric($event)" fxFlex="10%">
                                </airmid-textbox>

                                <airmid-textbox label="Instruction" formControlName="Instruction" [maxLength]="200"
                                    [formGroup]="ItemForm" [(ngModel)]="vInstruction" fxFlex="30%">
                                </airmid-textbox>

                                <div class="input-add-button">
                                    <div matTooltip="Select name to enable this button!!"
                                        [matTooltipDisabled]="!ItemForm.invalid" [matTooltipPosition]="'above'">
                                        <button #addbutton class="btn btn-primary btn-with-icon" (click)="onAdd()">
                                            <span class="btn-icon">
                                                <mat-icon> add </mat-icon>
                                            </span>
                                            <span>Add</span>
                                        </button>
                                    </div>
                                </div>
                                <button mat-raised-button (click)="SaveTemplate()">
                                    <mat-icon>save</mat-icon>
                                    Save Template</button>

                                <!-- <mat-divider [vertical]="true"></mat-divider>&nbsp;
                        
                                                    <button mat-raised-button (click)="SaveTemplate()">
                                                        <mat-icon>save</mat-icon>
                                                        Save Template</button>
                        
                                                    <airmid-dropdown label="Template List" formControlName="TemplateId" [formGroup]="ItemForm"
                                                        [mode]="autocompleteModetemplate" (selectionChange)="selectChangeTemplateName($event)"
                                                        *ngIf="showTemplateRefresh" ValueField="presId" TextField="presTemplateName"
                                                        ApiUrl="OPDPrescriptionMedical/GetTemplatePrescriptionList?TemplateCategory=PrescriptionTemplate">
                                                    </airmid-dropdown>
                        
                                                    <div class="input-add-button">
                                                        <div matTooltip="Select Drug to enable this button!!" [matTooltipPosition]="'above'">
                                                            <button #addbutton class="btn btn-primary btn-with-icon" (click)="onTemplDetAdd()">
                                                                <span class="btn-icon">
                                                                    <mat-icon> add </mat-icon>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div> -->
                            </div>
                        </form>
                        <!-- Item Table Section -->
                        <div class="modal-card-container table-container" dynamicTableHeight>
                            <div class="table-row gap-12" fxLayout="column" fxLayout.gt-md="row">
                                <div class="airmid-table-container" fxFlex fxFlex.xs="100%" fxFlex.sm="70%">
                                    <mat-card>
                                        <mat-table class="h-280" matSort [dataSource]="dsItemList"
                                            [@animateStagger]="{value:'50'}" class="airmid-table">

                                            <ng-container matColumnDef="itemMolecule">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header class="w-70">
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" class="w-70">
                                                    <mat-icon style="cursor: pointer; color: #1976d2;"
                                                        matTooltip="View molecule details"
                                                        (click)="Oncheckitemmolecule(contact)">
                                                        local_offer
                                                    </mat-icon>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="ItemName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                                    ItemName
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                                    <span> {{element.ItemName}}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="Qty">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                                    Qty
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                                    <!-- <span> {{element.Qty}}</span> -->
                                                    <mat-form-field appearance="fill">
                                                        <input matInput [(ngModel)]="element.Qty" type="number" />
                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="Remark">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                                    Instruction
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                                    <span> {{element.Remark}}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="Action" stickyEnd>
                                                <mat-header-cell *matHeaderCellDef class="table-actions">Action
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact">
                                                    <ng-container class="actions">
                                                        <mat-icon (click)="deleteTableRow($event ,contact)"
                                                            color="warn">
                                                            delete
                                                        </mat-icon>
                                                    </ng-container>
                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row class="accent"
                                                *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;" class="element"
                                                [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                        </mat-table>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card fxFlex="30%" fxFlex.sm="35%" fxFlex.xs="100%" class="table-left">
                        <form [formGroup]="ItemForm">
                            <div fxLayout="column" fxLayout.gt-xs="row" class="gap-8 resize-form-fields"
                                fxLayoutAlign="start start">

                                <airmid-dropdown label="Template List" formControlName="TemplateId"
                                    [formGroup]="ItemForm" fxFlex [mode]="autocompleteModetemplate"
                                    (selectionChange)="selectChangeTemplateName($event)" *ngIf="showTemplateRefresh"
                                    ValueField="presId" TextField="presTemplateName"
                                    ApiUrl="OPDPrescriptionMedical/GetTemplatePrescriptionList?TemplateCategory=PrescriptionTemplate">
                                </airmid-dropdown>

                                <!-- <div class="input-add-button">
                                                                                    <div matTooltip="Select Drug to enable this button!!" [matTooltipPosition]="'above'">
                                                                                        <button #addbutton class="btn btn-primary btn-with-icon" (click)="onTemplDetAdd(true)">
                                                                                            <span class="btn-icon">
                                                                                                <mat-icon> add </mat-icon>
                                                                                            </span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div> -->
                                <div class="input-add-button">
                                    <div matTooltip="Select Drug to enable this button!!"
                                        [matTooltipPosition]="'above'">
                                        <button #addbutton class="btn btn-primary btn-with-icon"
                                            (click)="onTemplDetAdd(true)">
                                            <span class="btn-icon">Add All
                                                <mat-icon> add </mat-icon>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="modal-card-container table-container" dynamicTableHeight>
                            <div class="table-row gap-12" fxLayout="column" fxLayout.gt-md="row">
                                <div class="airmid-table-container" fxFlex fxFlex.xs="100%" fxFlex.sm="70%">
                                    <mat-card>
                                        <mat-table class="h-280" matSort [dataSource]="dsTemplateItemList"
                                            [@animateStagger]="{value:'50'}" class="airmid-table">

                                            <ng-container matColumnDef="Action">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header class="w-70">
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" class="w-70">
                                                    <button mat-icon-button matTooltip="Add Service"
                                                        (click)="AddList(contact)">
                                                        <mat-icon color="warn">add</mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="ItemName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                                                    ItemName
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                                    <span> {{element.ItemName}}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row class="accent"
                                                *matHeaderRowDef="TempdisplayedColumns; sticky: true"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: TempdisplayedColumns;"
                                                class="element" [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                        </mat-table>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </mat-card>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer" style="margin-top: 10px;">
        <div class="footer-navigation-container">
            <div class="modal-footer-buttons">
                <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
                <button class="btn btn-primary" (click)="OnSavePrescription()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>