<!-- <mat-form-field class="example-full-width" appearance="outline" style="width: 300px;padding: 10px;">
  <mat-label>{{label}}</mat-label>
  <input matInput [matAutocomplete]="auto" [formControl]="control" value="value" placeholder="Search..."
    matAutocompletePosition="below" />
  <span matSuffix style="display: flex;">
    <mat-icon class="mat-icon-close"
      (click)="formGroup.controls[formControlName].setValue('');  isSelected = false;">close</mat-icon>
    <mat-icon class="mat-icon-close"
      (click)="formGroup.controls[formControlName].setValue('');  isSelected = false;">search</mat-icon>
  </span>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
    <mat-option *ngFor="let option of filteredDdls | async" [value]="option">
      {{ option.text }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->

<mat-form-field appearance="outline" *ngIf="!IsMultiPle" style="width: 300px;padding: 10px;color: rgb(227, 202, 250);">
  <mat-label>{{label}}</mat-label>
  <input matInput [matAutocomplete]="auto" [formControl]="control" placeholder="Search..." aria-label="{{ValueField}}"
    matAutocompletePosition="below" />
  <span matSuffix style="display: flex;">
    <mat-icon class="mat-icon-close" (click)=clear()>close</mat-icon>
    <mat-icon class="mat-icon-close" (click)="clear()">search</mat-icon>
  </span>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
    <mat-option *ngFor="let ddl of filteredOptionsDoc | async" [value]="ddl" (onSelectionChange)="onDdlChange($event)">
      {{ddl[TextField]}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>