.page-layout {
    .center {
        .header {
            height: 60px;
            .welcome-message {
                @include font-size(18px);
            }
            .header-row {
                width: 100%;
            }
        }
        .content-card {
            position: relative;
        }
    }
    .top-header {
        height: auto;
        min-height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        .top-header-info{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 8px;
            .top-header-title{
                @include font-size(16px);
            }
        }
        .date-time-container {
            .mat-form-field {
                .mat-form-field-wrapper {
                    margin: 0;
                    padding: 0;
                    .mat-form-field-flex {
                        .mat-form-field-infix {
                            padding: 0.7em 0;
                        }
                    }
                }
                svg {
                    path {
                        fill: $gray-200;
                    }
                }
                .material-icons{
                    color: $gray-200;
                }
            }
            &.padding-div{
                padding: 0;
            }
        }
        .mat-icon{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .logo-text{
            @include font-size(16px);
        }
    }
}
