.p-sm-24 {
    padding: 10px !important;
}

app-doctor-master {
    .mat-header-row {
        width: 3000px;
        max-width: 3000px;
        min-width: 3000px;
        font-weight: bold;
    }
    .mat-row {
        width: 3000px;
        max-width: 3000px;
        min-width: 3000px;
    }

    .mat-column-DoctorId {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        align-items: left;
    }

    .mat-column-PrefixName {
        width: 50px;
        max-width: 50px;
        min-width: 50px;
        align-items: left;
    }

    .mat-column-FirstName {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
    }
    .mat-column-MiddleName {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
    }
    .mat-column-LastName {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        align-items: left;
    }
    .mat-column-DateofBirth {
        width: 130px;
        max-width: 130px;
        min-width: 130px;
        align-items: left;
    }
    .mat-column-Address {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 16px;
    }
    .mat-column-City {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
    }
    .mat-column-Pin {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
    }
    .mat-column-Phone {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
        margin-right: 15px;
    }
    .mat-column-Mobile {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
        margin-right: 15px;
    }
    .mat-column-Education {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 16px;
    }

    .mat-column-IsConsultant {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
    }

    .mat-column-IsRefDoc {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
    }

    .mat-column-RefDocHospitalName {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
        text-align: left;
    }

    .mat-column-DoctorType {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
        text-align: left;
    }

    .mat-column-PassportNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
    }
    .mat-column-ESINO {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        text-align: left;
    }

    .mat-column-RegNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
    }

    .mat-column-RegDate {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align: left;
    }

    .mat-column-MahRegNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
    }

    .mat-column-MahRegDate {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align: left;
    }

    .mat-column-AddedBy {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
    }

    .mat-column-IsDeleted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        // color: white !important;
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}

//sidebar
#toggle,
#container .e-btn.e-info:hover,
#toggle:focus {
    /* csslint allow: adjoining-classes*/
    background: #00695c;
    box-shadow: none;
    border-radius: 0;
    height: 39px;
    width: 100px;
}

#close,
#close:hover,
#close:active,
#close:focus {
    /* csslint allow: adjoining-classes*/
    background: #fafafa;
    color: black;
}

#toggle,
#container .e-btn.e-info:hover,
#toggle:focus {
    /* csslint allow: adjoining-classes*/
    background: #00695c;
    box-shadow: none;
    border-radius: 0;
    height: 39px;
    width: 100px;
}

#close,
#close:hover,
#close:active,
#close:focus {
    /* csslint allow: adjoining-classes*/
    background: #fafafa;
    color: black;
}
