.p-sm-24 {
    padding: 10px !important;
}

app-doctor-master {
    .mat-header-row {
        width: 3100px;
        max-width: 3100px;
        min-width: 3100px;
        font-weight: bold;
    }
    .mat-row {
        width: 3100px;
        max-width: 3100px;
        min-width: 3100px;
    }

    .mat-column-DoctorId {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }

    .mat-column-PrefixName {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }

    .mat-column-DoctorName {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
    }
    .mat-column-AgeYear {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }
    .mat-column-Address {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
    }
    .mat-column-City {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-Pin {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-Phone {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-Mobile {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-Education {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-IsConsultant {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
    }

    .mat-column-IsRefDoc {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
    }

    .mat-column-RefDocHospitalName {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-DoctorType {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-PassportNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-ESINO {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-RegNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-RegDate {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
    }

    .mat-column-MahRegNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-MahRegDate {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
    }

    .mat-column-AddedByName {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-IsDeleted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        // color: white !important;
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}

//sidebar
#toggle,
#container .e-btn.e-info:hover,
#toggle:focus {
    /* csslint allow: adjoining-classes*/
    background: #00695c;
    box-shadow: none;
    border-radius: 0;
    height: 39px;
    width: 100px;
}

#close,
#close:hover,
#close:active,
#close:focus {
    /* csslint allow: adjoining-classes*/
    background: #fafafa;
    color: black;
}

#toggle,
#container .e-btn.e-info:hover,
#toggle:focus {
    /* csslint allow: adjoining-classes*/
    background: #00695c;
    box-shadow: none;
    border-radius: 0;
    height: 39px;
    width: 100px;
}

#close,
#close:hover,
#close:active,
#close:focus {
    /* csslint allow: adjoining-classes*/
    background: #fafafa;
    color: black;
}
