<div class="modal-wrapper grid-container">
    <!-- Modal header -->
    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">Education Detail</span>
            </div>
            <div class="modal-header-right">
                <div class="comman-date-container">
                    <div class="close-icon">
                        <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog" matTooltip="Close" (click)="onClose()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal body -->
    <div class="modal-body" fusePerfectScrollbar>
        <div class="modal-body-container">
            <div fxLayout="column" class="gap-12">
                <div class="modal-card-container">
                    <mat-accordion multi>
                        <mat-expansion-panel expanded class="mt-12">
                            <mat-expansion-panel-header class="accent">
                                <mat-panel-title>Education Information</mat-panel-title>
                            </mat-expansion-panel-header>
                            <form [formGroup]="EducationForm" class="pt-12">
                                <div fxLayout="row wrap" fxLayoutGap="8px 0px grid">
                                    <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="33">
                                        <airmid-dropdown
                                            label="Qualification"
                                            formControlName="qualificationId"
                                            (selectionChange)="getSelectedqualifiObj($event)"
                                            [formGroup]="EducationForm"
                                            [(value)]="registerObj.qualificationId"
                                            [mode]="autocompleteModeQualifiy"
                                        ></airmid-dropdown>
                                    </div>
                                    <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="33">
                                        <mat-form-field appearance="fill" fxFlex>
                                            <mat-label>Choose Year</mat-label>
                                            <input matInput [matDatepicker]="picker" [readonly]="true" [ngModel]="selectedYear" formControlName="passingYear" />
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event, picker)" panelClass="year-picker"></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="33">
                                        <airmid-dropdown
                                            label="InstitutionName"
                                            formControlName="institutionNameId"
                                            (selectionChange)="getSelectedInstitueObj($event)"
                                            [formGroup]="EducationForm"
                                            [(value)]="registerObj.institutionNameId"
                                            [mode]="autocompleteModeInstitute"
                                        ></airmid-dropdown>
                                    </div>

                                    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="33">
                                        <airmid-dropdown
                                            label="City"
                                            formControlName="cityId"
                                            [formGroup]="EducationForm"
                                            [(value)]="registerObj.cityId"
                                            (selectionChange)="getSelectedcityObj($event)"
                                            [validations]="getValidationMessages().City"
                                            [mode]="autocompleteModecity"
                                        ></airmid-dropdown>
                                    </div>

                                    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="33">
                                        <airmid-dropdown
                                            label="Country"
                                            formControlName="countryId"
                                            (selectionChange)="getSelectedcountryObj($event)"
                                            [value]="registerObj?.countryId"
                                            [formGroup]="EducationForm"
                                            [validations]="getValidationMessages().countryId"
                                            [mode]="autocompleteModecountry"
                                        ></airmid-dropdown>
                                    </div>
                                </div>
                            </form>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="footer-navigation-container">
            <div class="modal-footer-buttons">
                <button class="btn btn-danger-outline" (click)="onClear()">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Add</button>
            </div>
        </div>
    </div>
</div>
