.bed-occupancy-section {
    .ward-dashboard {
        .ward-main-conatiner {
            .ward-container {
                font-weight: normal;
                font-weight: 600;
            }
            .ward-details-container {
                background-color: $primary-25;
                transition: 0.2s;
                &:hover,
                &.active {
                    background-color: $primary-50;
                }
                .detail-div {
                    .ward-value-class {
                        font-weight: normal;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    @include themed() {
        .ward-dashboard {
            .ward-main-conatiner {
                .ward-container {
                    background: t($ngt-inverse-dark);
                    color:  t($bg-color);
                }
                .ward-details-container {
                    background-color: t($ngt-inverse);
                    &:hover,
                    &.active {
                        background: $gray-400;
                    }
                    .detail-div {
                        .labels {
                        }
                        .ward-value-class {
                        }
                    }
                }
            }
        }
    }
}
