 
    // .mat-header-row {
    //     width: 1500px;
    //     max-width: 1500px;
    //     min-width: 1500px;
    //     font-weight: bold;
    // }

    // .mat-row {
    //     width: 1500px;
    //     max-width: 1500px;
    //     min-width: 1500px;
    // }

.table{

    width: 100%;

    .mat-column-ParameterID {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }
    .mat-column-ParameterName {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }
    .mat-column-ParameterShortName {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }

    .mat-column-PrintParameterName {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }
    .mat-column-UnitName {
        width: 130px;
        max-width: 130px;
        min-width: 130px;
    }
    .mat-column-IsNumeric {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-MethodName {
        width: 130px;
        max-width: 130px;
        min-width: 130px;
    }
    .mat-column-ParaMultipleRange {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
        text-align: left;
    }
    .mat-column-IsPrintDisSummary {
        width: 160px;
        max-width: 160px;
        min-width: 160px;
    }

    .mat-column-AddedBy {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-IsDeleted {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        // color: white !important;
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
