<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll" fusePerfectScrollbar
dynamicTableHeight>
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                    style="color: white;">account_box
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Parameter Master
                </span>
                <button mat-raised-button color="pine" style="margin-left: 1080px;" (click)="onAdd()">Add
                    <mat-icon>add_to_photos</mat-icon>

                </button>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content-card">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>

                        <div fxlayout="row" style="background-color: white; padding: 5px 10px 5px 10px; ">
                            <form [formGroup]="_ParameterService.myformSearch">
                                <div class="dialog-content-wrapper">
                                    <mat-form-field class="mr-sm-12" fxFlex>
                                        <input matInput placeholder="Search --> Parameter Name" autocomplete="off"
                                            name="ParameterNameSearch" formControlName="ParameterNameSearch" />
                                        <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                            (click)="onSearchClear()" (keyup)=" onSearch()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>

                                    <mat-radio-group name="IsDeletedSearch" formControlName="IsDeletedSearch" value="2"
                                        fxLayoutAlign="center center">
                                        <mat-radio-button value="2">All</mat-radio-button>
                                        <mat-radio-button mat-fab value="0">IsActive</mat-radio-button>
                                        <mat-radio-button mat-fab value="1">IsDeactive</mat-radio-button>
                                    </mat-radio-group>

                                    <button mat-raised-button (click)="onSearch()" fxLayoutAlign="center center">
                                        <mat-icon>search</mat-icon>
                                        Search
                                    </button>
                                </div>
                            </form>
                        </div>


                        <div fxlayout="row">
                            <div style="width: 100%;">
                                <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                    class="backgroundBlur">
                                    <div class="spinner-border text-danger" style="margin-left: 100px;"></div>
                                </div>

                                <mat-table class="table1" matSort [dataSource]="DSParameterList"
                                    [@animateStagger]="{value:'50'}" style="overflow:auto">

                                    <ng-container matColumnDef="ParameterID">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-sm>ParameterID
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.ParameterID}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="ParameterName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> ParameterName
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.ParameterName}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="ParameterShortName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>ShortName </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.ParameterShortName}}
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="PrintParameterName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-sm>PrintParameterName </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                            {{element.PrintParameterName}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="UnitName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> UnitName </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.UnitName}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="IsNumeric">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> IsNumeric </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.IsNumericParameter}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="IsPrintDisSummary">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> IsPrintDisSummary
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.IsPrintDisSummary}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="AddedBy">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> AddedBy</mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.AddedBy}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="IsDeleted">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm> IsActive
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                            <mat-icon *ngIf="!element.IsDeleted"
                                                class="active-icon green-600 s-16">check_circle</mat-icon>
                                            <mat-icon *ngIf="element.IsDeleted"
                                                class="active-icon red-500 s-16">close</mat-icon>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef class="table-actions"> Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <button mat-icon-button (click)="onEdit(row)"><mat-icon
                                                    title="Edit Menu">launch</mat-icon></button>
                                            <button mat-icon-button (click)="onDeactive(row.ParameterID)"
                                                color="warn"><mat-icon>delete_outline</mat-icon></button>

                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>

                                    <mat-header-row class="accent"
                                        *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element"
                                        [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>

                                </mat-table>

                                <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]" [pageSize]="10"
                                    showFirstLastButtons></mat-paginator>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>