<div class="modal-wrapper grid-container discharge-summary-section">
    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">New Template</span>
            </div>
            <div class="modal-header-right">
                <div class="comman-date-container">
                   
                    <div class="close-icon">
                        <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-body" fusePerfectScrollbar>
        <div class="modal-body-container">

            <div fxLayout="column" class="gap-12">
               
                    <form [formGroup]="templateForm">
                    <div class="modal-card-container">
                       
                            <div fxLayout="row" style="padding: 10px;">

                                <airmid-textbox label="Template Name" formControlName="templateName" [value]="vTemplateName" [formGroup]="templateForm" 
                                (keyUp)="add()"  fxFlex="50%">
                                </airmid-textbox>

                              
                            </div>
                            <div fxLayoutGap="5px">

                                <airmid-editor label="Template Details" formControlName="templateDesc"
                                    [(value)]="vTemplateDesc" [formGroup]="templateForm"></airmid-editor>

                            </div>

                    </div>
                </form>
                <div class="modal-card-container">
                    <!-- <form [formGroup]="templateForm">
                        <mat-card>
                            <div fxLayout="row" style="margin-left: 1200px;">
                                <mat-radio-button value='true' [checked]="true" name="IsDeleted" formControlName="IsDeleted">IsActive</mat-radio-button>
                            </div>

                        </mat-card>
                    </form> -->
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="footer-navigation-container">
            <div class="modal-footer-buttons">
                <button type="button" class="btn btn-primary" (click)="onSubmit()"> Save </button>
                <button type="button" class="btn btn-danger-outline" (click)="onClose()">Close</button>

            </div>
        </div>
    </div>
</div>