<div class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <mat-toolbar class="accent" style="height:50px; justify-content: space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
               Patietn Clearance Option
            </span>
        </div>

        <div fxLayout="row" fxLayoutALign="end start">
            <button mat-icon-button tabIndex="-1" (click)="onClose()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="content">

        <div class="center p-12 pb-56" fxFlexAlign="start center">

            <div class="content-card" style="border-radius:4px;">
                <div fxLayout="column" fxFlexFill fxLayoutGap="10px">

                    <!-- <mat-card style="padding: 5px;"> -->

                        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between"> 
                            <mat-form-field appearance="outline" fxFlex="60%">
                                <mat-label>Patient Name</mat-label>
                                <input name="PatientName" matInput [(ngModel)]="registerObj.PatientName" readonly>
                            </mat-form-field> 

                            <span style="margin-right: 40px;">
                                <app-common-date [screenFrom]="screenFromString"
                                    (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                            </span>
                        </div> 

                        
                    <!-- </mat-card> -->

                    <mat-card style="padding: 5px;">
                        <div fxFlex="100%">
                            <mat-table #table1 matSort [dataSource]="dsApprovedlist" [@animateStagger]="{value:'50'}"
                                style="height:200px !important;overflow: auto;">

                                <ng-container matColumnDef="DepartmentName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        DepartmentName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        <span> {{contact.DepartmentName}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="IsApproved">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        IsApproved
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        <span> {{contact.IsApproved}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="ApprovedBy">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        ApprovedBy
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        <span> {{contact.ApprovedBy || '-'}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="ApprovedBYDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        ApprovedDateTime
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        <span> {{contact.ApprovedDatetime | date:'dd/MM/YYYY'}}-{{contact.ApprovedDatetime | date:'hh:mm'}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="IsNoDues">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        IsNoDues
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        <span> {{contact.IsNoDues || '-'}}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Comments">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                        Comments
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                        <span> {{contact.Comments || '-'}}</span>
                                    </mat-cell>
                                </ng-container> 

                                <ng-container matColumnDef="loading">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        loading data...
                                    </mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        <span>No Data Found</span>
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                                </mat-header-row>
                                <mat-row *matRowDef="let contact; columns: displayedColumns;"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':dsApprovedlist!=null}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dsApprovedlist!=null && dsApprovedlist.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15, 20]" [pageSize]="10"
                                showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </mat-card>

                    
                      
                            <form [formGroup]="myForm"> 
                                <div fxLayout="row"  fxLayoutGap="10px">
                                    <div class="slide-toggle mb-2" style="margin-top: 20px;">
                                        <mat-slide-toggle name="NoDues" (change)="onChangeDues()" formControlName="NoDues" >
                                          No Dues
                                        </mat-slide-toggle>
                                    </div>
        
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Comment</mat-label>
                                        <input name="Comment" matInput  type="text"
                                        formControlName="Comment" >
                                    </mat-form-field> 
                                </div> 
                            </form>  
                 
                        <div fxLayput="row" fxLayoutAlign="end" fxLayoutGap="6px">
                            <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
                            <button class="btn btn-primary" (click)="onSave()">Save</button>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>