<div class="page-layout modal-wrapper grid-container">
    <div class="modal-header accent">
        <div class="modal-header-content" fxLayout="row" style="height:50px; justify-content: space-between;width: 100%;">
            <div class="modal-header-title" fxLayout="row" fxLayoutAlign="start center"> 
                <!-- <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                    style="color: white;">account_box
                </mat-icon> -->
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
                 Credit Reason Master
                </span>
            </div> 
        </div> 
    </div>
    <div class="modal-body"> 
        <!-- <form [formGroup]="_CreditReasonMasterService.CreditReasonForm" class="p-12">  -->
            <div fxLayout="column" fxLayoutGap="10px" fxFlexFill>

               

                <div fxLayout="column" fxLayoutGap="8px">
                    

                   
                </div>
            </div> 
        <!-- </form> -->
    </div> 
</div>
