<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <mat-toolbar class="accent" style="height:50px; justify-content: space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Test Master
            </span>

        </div>

        <div fxLayout="row" fxLayoutAlign="start end">
            <button mat-raised-button color="pine" (click)="onAdd()" fxLayoutAlign="center center">
                Add &nbsp;<mat-icon color="Primary" title=" Add New Template ">add_to_photos</mat-icon>
            </button>
        </div>

    </mat-toolbar>
    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content-card">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>
                        <div fxlayout="row" style=" background-color: white;
                             padding: 5px 10px 5px 10px;">
                            <form [formGroup]="_TestService.myformSearch">
                                <div class="dialog-content-wrapper">
                                    <mat-form-field class="mr-sm-12" fxFlex>
                                        <input matInput placeholder="Search --> Test Name" autocomplete="off"
                                            name="TestNameSearch" formControlName="TestNameSearch" />
                                        <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                            (click)="onSearchClear()" (keyup)="onSearch()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>

                                    <mat-radio-group name="IsDeletedSearch" formControlName="IsDeletedSearch" value="2"
                                        fxLayoutAlign="center center">
                                        <mat-radio-button value="2">All</mat-radio-button>
                                        <mat-radio-button mat-fab value="0">IsActive</mat-radio-button>
                                        <mat-radio-button mat-fab value="1">IsDeactive</mat-radio-button>
                                    </mat-radio-group>

                                    <button mat-raised-button (click)="onSearch()" fxLayoutAlign="center center">
                                        <mat-icon>search</mat-icon>
                                        Search
                                    </button>
                                </div>
                                <div style="padding: 5px;">
                                    <section class="example-section">
                                        <mat-checkbox class="example-margin" formControlName="IsSubTest" value="true"
                                             name="IsSubTest" (change)="getSubTestMasterList()" >IsSub Test</mat-checkbox>
                                    </section>
                                </div>
                            </form>
                        </div>
                        <div style="width: 100%;">
                            <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                class="backgroundBlur">
                                <div class="spinner-border text-danger" style="margin-left: 150px;"></div>
                            </div>
                            <mat-table #table class="table" matSort [dataSource]="DSTestMasterList"
                                [@animateStagger]="{value:'50'}" style="overflow:auto; width: 100%;">

                                <ng-container matColumnDef="TestId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Code
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.TestId}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="TestName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> TestName </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.TestName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="PrintTestName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> PrintTestName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.PrintTestName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="CategoryName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Categoryname
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        {{element.CategoryName}} </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="TechniqueName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> TechniqueName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.TechniqueName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="MachineName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>MachineName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.MachineName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="SuggestionNote">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> SuggestionNote
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.SuggestionNote}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="FootNote">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> FootNote </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.FootNote}}
                                    </mat-cell>
                                </ng-container>

                                <!-- <ng-container matColumnDef="ServiceName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                    fxShow.gt-sm>ServiceName </mat-header-cell>
                                <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.ServiceName}}
                                </mat-cell>
                            </ng-container> -->

                                <ng-container matColumnDef="AddedBy">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>AddedBy</mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.AddedBy}}
                                    </mat-cell>
                                </ng-container>



                                <ng-container matColumnDef="IsTemplateTest">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> IsTemplateTest
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.IsTemplateTest}}
                                    </mat-cell>
                                </ng-container>

                                <!-- <ng-container matColumnDef="IsCategoryPrint">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> IsCategoryPrint
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.IsCategoryPrint}}
                                </mat-cell>
                            </ng-container> -->

                                <!-- <ng-container matColumnDef="IsPrintTestName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> IsPrintTestName
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.IsPrintTestName}}
                                </mat-cell>
                            </ng-container> -->



                                <ng-container matColumnDef="IsDeleted">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm> IsActive
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <mat-icon *ngIf="!element.IsDeleted"
                                            class="active-icon green-600 s-16">check_circle</mat-icon>
                                        <mat-icon *ngIf="element.IsDeleted"
                                            class="active-icon red-500 s-16">close</mat-icon>
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef class="table-actions"> Action
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-icon-button (click)="onEdit(row)"><mat-icon
                                                title="Edit Menu">edit</mat-icon></button>
                                        <button mat-icon-button (click)="onDeactive(row.TestId)"
                                            color="warn"><mat-icon>delete_outline</mat-icon></button>

                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-footer-cell *matFooterCellDef colspan="6">

                                    </mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent"
                                    *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>

                                <mat-footer-row *matFooterRowDef="['loading']"
                                    [ngClass]="{'hide':DSTestMasterList!=null}"></mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(DSTestMasterList!=null && DSTestMasterList.data.length==0)}"></mat-footer-row>

                            </mat-table>
                            <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]" [pageSize]="12" showFirstLastButtons>
                            </mat-paginator>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>