app-testmaster {
    .mat-header-row {
        width: 1740px;
        max-width: 1740px;
        min-width: 1740px;
        font-weight: bold;
    }
    .mat-row {
        width: 1740px;
        max-width: 1740px;
        min-width: 1740px;
        height: 50px;
    }
.table{
    width: 100%;
    height: 550px;
    min-height: 550px;
    max-height: 550px;
    .mat-column-TestId {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
    }
    .mat-column-TestName {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }
    .mat-column-PrintTestName {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }
    .mat-column-CategoryName {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }
    .mat-column-IsSubTest {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }
    .mat-column-TechniqueName {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 16px;
    }
    .mat-column-MachineName {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 16px;
    }
    .mat-column-SuggestionNote {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 16px;
    }

    .mat-column-FootNote {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 10px;
        margin-top: 16px;
    }
    .mat-column-ServiceName {
        width: 170px;
        max-width: 170px;
        min-width: 170px;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 20px;
    }
    .mat-column-IsTemplateTest {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
    }

    .mat-column-IsCategoryPrint {
        width: 140px;
        max-width: 140px;
        min-width: 140px;
    }
    .mat-column-IsPrintTestName {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .mat-column-AddedBy {
        width:90px;
        max-width: 90px;
        min-width: 90px;
    }
    .mat-column-IsDeleted {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        text-align: left;
        justify-content: left;
    }
    .mat-column-action {
        // color: white !important;
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align:  center;
        justify-content: center;
    }
}
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}

//sidebar
#toggle,
#container .e-btn.e-info:hover,
#toggle:focus {
    /* csslint allow: adjoining-classes*/
    background: #00695c;
    box-shadow: none;
    border-radius: 0;
    height: 39px;
    width: 100px;
}

#close,
#close:hover,
#close:active,
#close:focus {
    /* csslint allow: adjoining-classes*/
    background: #fafafa;
    color: black;
}

#toggle,
#container .e-btn.e-info:hover,
#toggle:focus {
    /* csslint allow: adjoining-classes*/
    background: #00695c;
    box-shadow: none;
    border-radius: 0;
    height: 39px;
    width: 100px;
}

#close,
#close:hover,
#close:active,
#close:focus {
    /* csslint allow: adjoining-classes*/
    background: #fafafa;
    color: black;
}
