<div fusePerfectScrollbar
    class="page-layout simple left-sidebar inner-sidebar inner-scroll update-grn mat-form-field-auto resize-form-fields"
    dynamicTableHeight>
    <div class="top-header header accent p-16" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center ">
        <div class="top-header-info">
            <div class="top-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Daily Expenses
                </span>
            </div>
        </div>
        <div class="gap-8" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start center">
            <button mat-raised-button (click)="addNewExpenses()">Add Expenses
            </button>
        </div>
    </div>

    <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

        <!-- <ng-template #ColorCode let-element>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon *ngIf="element.expType == '0'" matTooltip="Cash" class="pill green-600 s-16">circle</mat-icon>
                <mat-icon *ngIf="element.expType == '1'" matTooltip="Cheque"
                    class="pill orange-600 s-16">circle</mat-icon>
                <mat-icon *ngIf="element.expType == '2'" matTooltip="Online"
                    class="pill blue-600 s-16">circle</mat-icon>
            </div>
        </ng-template> -->

        <ng-template #ColorCode let-element>
            <div fxLayout="row" fxLayoutAlign="center center" class="symbol-wrapper">
                <span *ngIf="element.expType == '0'" matTooltip="Cash" class="symbol large-symbol">💵</span>
                <span *ngIf="element.expType == '1'" matTooltip="Cheque" class="symbol large-symbol">🧾</span>
                <span *ngIf="element.expType == '2'" matTooltip="Online" class="symbol large-symbol">💳</span>
            </div>
        </ng-template>


        <ng-template #actionButtonTemplate let-element>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-icon-button matTooltip="Edit" (click)="addNewExpenses(element)"
                    [disabled]="element.isCancelled==true && element.isApproval==true">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Cancel" (click)="OnCancel(element)"
                    [disabled]="element.isCancelled==true || element.isApproval==true">
                    <mat-icon>cancel</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Print" (click)="OnPrint(element)">
                    <mat-icon>print</mat-icon>
                </button>
            </div>
        </ng-template>

        <airmid-table [gridConfig]="gridConfig" class="content">
            <ng-container filters>
                <form [formGroup]="myFilterform">

                    <div fxLayout="column" fxLayoutAlign="start none">

                        <airmid-datepicker [formGroup]="myFilterform" [isRangePicker]="true"
                            formStartControlName="fromDate" formEndControlName="enddate"
                            [(fromValue)]="gridConfig.filters[0].fieldValue"
                            [(toValue)]="gridConfig.filters[1].fieldValue"></airmid-datepicker>

                        <airmid-dropdown label="Expenses Name" formControlName="ExpensenId"
                            [(ngModel)]="gridConfig.filters[2].fieldValue" [formGroup]="myFilterform"
                            [mode]="autocompleteExpensen" (selectionChange)="ListView1($event)">
                        </airmid-dropdown>

                        <airmid-dropdown label="Expenses Category" formControlName="expCategoryId"
                            [formGroup]="myFilterform" [mode]="autocompleteExpensenCategory"
                            [(ngModel)]="gridConfig.filters[4].fieldValue" (selectionChange)="ListView2($event)">
                        </airmid-dropdown>

                        <mat-radio-group formControlName="expType" name="expType" fxLayout="column"
                            (change)="onChangeFirst()" style="padding: 8px;">

                            <div fxLayout="row" fxLayoutAlign="start center" style="gap: 8px;">
                                <mat-icon class="pill">circle</mat-icon>
                                <mat-radio-button value="3">ALL</mat-radio-button>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" style="gap: 8px;">
                                <mat-icon class="pill green-600 s-16">circle</mat-icon>
                                <mat-radio-button value="0">Cash</mat-radio-button>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" style="gap: 8px;">
                                <mat-icon class="pill orange-600 s-16">circle</mat-icon>
                                <mat-radio-button value="1">Cheque</mat-radio-button>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" style="gap: 8px;">
                                <mat-icon class="pill blue-600 s-16">circle</mat-icon>
                                <mat-radio-button value="2">Online</mat-radio-button>
                            </div>
                        </mat-radio-group>

                    </div>

                </form>
            </ng-container>
        </airmid-table>

    </div>

</div>