<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->


    <div class="header accent p-10 p-sm-20" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center ">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;background-color: #67bcd3;">
            <!-- <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
        </mat-icon> -->

            <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                style="font-size: 20px;width: 82%; font-weight: 400;">
                Schduled All Appointment
            </span>

            <button mat-icon-button [mat-dialog-close]="true" tabIndex="-1" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>

    </div>


    <app-main class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></app-main>
    <!-- / SELECTED BAR -->

    <!-- CONTENT -->
    <div class="content" style="border: blue;">

        <div class="content-card">
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="5px">
                <!-- <form [formGroup]="_opappointmentService.myShowDischargeSummaryForm" style="width: 100%;"> -->
                <div fxFlex.gt-sm="100%" fxFlex>
                    <div fxlayout="row" style="background-color: white; padding: 5px 5px 5px 5px;">
                        <!-- ================================ LABEL HEADER  -->
                        <mat-card fxFlex.gt-sm="100%" fxFlex style="padding: 0 9px; height: fit-content;">
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between">
                                <h3 style="font-weight: bold; font-size: 13px; margin: 0 0 0px;">Patient Information
                                </h3>
                            </div>
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between"
                                style="align-items: baseline;">

                                <span class="label">Reg No :</span>
                                <!-- <span class="data_input">{{selectedAdvanceObj.RegNo}}</span> -->

                                <span class="label"> Patient Name : </span>
                                <span class="data_input">
                                    <!-- {{selectedAdvanceObj.PatientName}}</span> -->

                                <span class="label">Doctor Name : </span>
                                <!-- <span class="data_input">{{selectedAdvanceObj.Doctorname}}</span> -->

                                <span class="label">Age(Y) :</span>
                                <!-- <span class="data_input">{{selectedAdvanceObj.AgeYear}} -->
                                </span>

                                <!-- <span class="label">Tariff Name : </span>
                                        <span class="data_input">{{selectedAdvanceObj.TariffName}}
                                       </span> -->


                                <app-common-date [screenFrom]="screenFromString"
                                    (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                            </div>
                        </mat-card>
                        <!-- ================================ LABEL HEADER  -->
                    </div>

                </div>
                <!-- </form> -->
            </div>
        </div>


      

      
        <div class="center " style="background-color:#ffffff;">

            <form [formGroup]="personalFormGroup">
                <div layout="row" layout-xs="column" fxLayout="column" fxFlex="100" style="margin-top: 7px; ">
                    <div>

                        <div flex class="container" style="border-radius:4px;  width:98%;border: rgba(0,0,0,0.12) 1px solid; padding: 7px;  border-radius: 5px;
               position: relative;">
                            <div class="header-container" style="padding: 5px;" fxLayout="column" fxLayout.gt-xs="row"
                                fxLayoutGap="4px" fxLayoutAlign="space-between">
                                <span style="font-size: 22px; font-weight: 500; color: #10c7c7;">Personal Details</span>

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <app-common-date [screenFrom]="screenFromString"
                                    (dateTimeEventEmitter)="getDateTime($event)">
                                </app-common-date>

                            </div>

                            <br />
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">

                             

                                <mat-form-field appearance="outline" fxFlex="29%">
                                    <input matInput [matDatepicker]="picker" [min]="minDate"
                                        placeholder="Choose a AppointmentDate" name="AppointmentDate"
                                        formControlName="AppointmentDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="23%">
                                    <mat-label> First Name</mat-label>
                                    <input name="FirstName" formControlName="FirstName" matInput
                                        [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }">
                                    <span class="error" *ngIf="f.FirstName.invalid && f.FirstName.touched">First Name is
                                        required Enter only Alphabets</span>
                                </mat-form-field>


                                <mat-form-field appearance="outline" fxFlex="23%">
                                    <mat-label>Middle Name</mat-label>
                                    <input name="MiddleName" formControlName="MiddleName" matInput
                                        [ngClass]="{ 'is-invalid': submitted && f.MiddleName.errors }">
                                    <span class="error" *ngIf="f.MiddleName.invalid && f.MiddleName.touched">Middle Name
                                        is required Enter only Alphabets</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="23%"
                                    [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }">
                                    <mat-label>Last Name</mat-label>
                                    <input name="LastName" formControlName="LastName" matInput>
                                    <span class="error" *ngIf="f.LastName.invalid && f.LastName.touched">LastName Name
                                        is required Enter only Alphabets</span>
                                </mat-form-field>


                            </div>


                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">

                                <mat-form-field appearance="outline" fxFlex
                                    [ngClass]="{ 'is-invalid': submitted && f.Address.errors }">
                                    <mat-label>Address</mat-label>
                                    <input name="Address" formControlName="Address" placeholder="Address" matInput>
                                    <!-- <mat-error>Please enter Address </mat-error> -->
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex
                                    [ngClass]="{ 'is-invalid': submitted && f.MobileNo.errors }">
                                    <mat-label>MobileNo</mat-label>
                                    <input name="MobileNo" formControlName="MobileNo" matInput type="number">
                                    <mat-error class="error"
                                        *ngIf="personalFormGroup.get('MobileNo').invalid && personalFormGroup.get('MobileNo').touched">10
                                        digits Mobile number is
                                        required</mat-error>
                                </mat-form-field>


                            </div>

                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Department</mat-label>
                                    <mat-select formControlName="Departmentid" placeholder="Bank" #singleSelect required
                                        (selectionChange)="OnChangeDoctorList($event.value)">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="departmentFilterCtrl"
                                                [placeholderLabel]="'Search'"
                                                [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let element of filteredDepartment | async"
                                            [value]="element">
                                            {{element.departmentName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Doctor Name</mat-label>
                                    <mat-select formControlName="DoctorId" placeholder="Bank" #singleSelect>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="doctorFilterCtrl"
                                                [placeholderLabel]="'Search'"
                                                [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let element of filteredDoctor | async" [value]="element">
                                            {{element.Doctorname}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                            </div>
                            <br /><br />
                        </div>

                        <br />
                        <div style="float: right;">

                            <button class="next-btn" (click)="OnSubmit()" [disabled]="personalFormGroup.invalid"
                                style=" padding: 10px;border-radius:16px; ">Save
                            </button>&nbsp;


                            <button class="footer-btn" (click)="onClose()"
                                style="font-size: 14px;padding: 10px; border-radius: 16px;">Cancel</button>


                        </div><br />


                    </div>


                </div>

            </form>

        </div>


     

    </div>
    <form [formGroup]="personalFormGroup">
        <mat-card>
    <div class="center " style="background-color:#ffffff;">
     <label>All Appointment Dates</label>
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>All Appointment Dates </mat-label>
            <mat-select formControlName="App1" name="App1" (selectionChange)="onChangeAppointmentList($event.value,$event.row)">
        
              <mat-option></mat-option>
              <mat-option *ngFor="let m of DateList" [value]="m">
                {{m}}
              </mat-option>
            </mat-select>
          </mat-form-field>

    </div>
</mat-card>
    </form>
</div>

