.approved-step .mat-step-header {
    background-color: green !important; /* Change background color to green */
    color: white !important; /* Change text color to white for better contrast */
  }
  
  .approved-step .mat-step-icon {
    background-color: green !important; /* Change icon background color to green */
    color: white !important; /* Change icon color to white */
  }
  
  .approved-step .mat-step-label {
    color: green !important; /* Change label color to green */
  }