// .approved-step .mat-step-header {
//     background-color: green !important; /* Change background color to green */
//     color: white !important; /* Change text color to white for better contrast */
//   }
  
//   .approved-step .mat-step-icon {
//     background-color: green !important; /* Change icon background color to green */
//     color: white !important; /* Change icon color to white */
//   }
  
//   .approved-step .mat-step-label {
//     color: green !important; /* Change label color to green */
//   }

//   .approved-step {
//     background-color: green; /* Change to your desired color */
//     color: white; /* Change text color if needed */
// }

// .mat-step-header.completed {
//     background-color: green; /* Change completed step color */
// }

.red-row {
	background-color: green !important; /* Use !important to override default styles */
	//color: white; /* Optional: Change text color for better visibility */
  }



.approved-step {
  background-color: rgb(58, 0, 128); /* Change to your desired color */
  color: rgb(202, 75, 75); /* Change text color if needed */
}

.mat-step-header.approved-step {
  background-color: rgb(209, 28, 194); /* Change completed step color */
}

.mat-vertical-stepper .mat-step-header {
  transition: background-color 0.3s ease;
}

.mat-step-header.approved-step .mat-step-icon {
  color: white; /* Change icon color for approved steps */
}

.mat-vertical-stepper .mat-step-header.approved-step {
  border-left: 4px solid green; /* Change the line color for approved steps */
}



 