<div id="contacts" class="page-layout simple inner-scroll inner-sidebar right-sidebar" dynamicTableHeight
    fusePerfectScrollbar>

    <mat-toolbar style="width: 100%;height: 40px;justify-content: space-between;">
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="top-header-title">
                <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: white;">
                    Lab Sample Detail Collection
                </span>
            </div>

        </div>
        <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog" matTooltip="Close">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>

    <!-- Modal body -->
    <div class="content">

        <div class="center p-12 pb-56" fxFlexAlign="start center">

            <div class="content-card" style="border-radius:4px;" fxLayout="column" class="gap-4">

                <mat-card style="padding: 6px;">
                    <div class="patient-info-title border-bottom pb-2">
                        <span class="h1">Patient Information</span>
                    </div>
                    <div class="Ipd-patient-info" fxFlexFill fxLayout="row" fxLayoutAlign="space-between center"
                        class="patient-info">
                        <div class="patient-sub">
                            <div class="patient-info-row patient-info-1-111 pt-8" fxLayout="row"
                                fxLayoutAlign="space-between">
                                <div fxLayout="column" fxLayoutGap="6px">
                                    <div class="patient-col">
                                        <span class="patient-col-key">UHID No
                                        </span>
                                        <span>:</span>
                                        <span class="patient-col-value">{{regObj.labRequestNo}}</span>
                                    </div>
                                    <div class="patient-col">
                                        <span class="patient-col-key">Patient Name
                                        </span>
                                        <span>:</span>
                                        <span class="patient-col-value">{{regObj.patientName}}</span>
                                    </div>
                                    <div class="patient-col">
                                        <span class="patient-col-key">RefDoctor Name</span>
                                        <span>:</span>
                                        <span class="patient-col-value">{{regObj.refDoctorName}}</span>
                                    </div>
                                    <!-- <div class="patient-col">
                                        <span class="patient-col-key">Department</span>
                                        <span>:</span>
                                        <span class="patient-col-value">{{regObj.departmentName}}</span>
                                    </div> -->
                                </div>
                                <div fxLayout="column" fxLayoutGap="6px">

                                    <div class="patient-col">
                                        <span class="patient-col-key">DOA | Time</span>
                                        <span>:</span>
                                        <span class="patient-col-value">{{regObj.pathDate}}</span>
                                    </div>
                                    <!-- <div class="patient-col">
                                        <span class="patient-col-key">OPD/IPD No</span>
                                        <span>:</span>
                                        <span class="patient-col-value">{{regObj.oP_IP_No}}</span>
                                    </div> -->
                                    <div class="patient-col">
                                        <span class="patient-col-key">Age | Sex
                                        </span>
                                        <span>:</span>
                                        <span
                                            class="patient-col-value">{{regObj.ageYear}}Y|{{regObj.ageMonth}}M|{{regObj.ageDay}}
                                            D
                                            | {{regObj.GenderName}}</span>
                                    </div>

                                </div>
                                <div fxLayout="column" fxLayoutGap="6px">
                                    <!-- <div class="patient-col">
                                        <span class="patient-col-key">Ward | Bed Name
                                        </span>
                                        <span>:</span>
                                        <span class="patient-col-value">{{regObj.wardName}}</span>
                                    </div> -->
                                    <div class="patient-col">
                                        <span class="patient-col-key">Patient Type
                                        </span>
                                        <span>:</span>
                                        <span class="patient-col-value">{{regObj.patientType}}</span>
                                    </div>

                                    <div class="patient-col">
                                        <span class="patient-col-key">Company Name</span>
                                        <span>:</span>
                                        <span class="patient-col-value"
                                            style="color: orange;">{{regObj.companyName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="patient-info-bar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px">

                        <span class="info-item">
                            <mat-icon>badge</mat-icon>{{ regObj.regNo }}
                        </span>

                        <span class="info-item">
                            <mat-icon>person</mat-icon>{{ regObj.patientName }}
                        </span>

                        <span class="info-item">
                            <mat-icon>medical_services</mat-icon>{{ regObj.doctorName }}
                        </span>

                        <span class="info-item">
                            <mat-icon>apartment</mat-icon>{{ regObj.departmentName }}
                        </span>

                        <span class="info-item">
                            <mat-icon>event</mat-icon>{{ regObj.doa }} | {{ regObj.dot }}
                        </span>

                        <span class="info-item">
                            <mat-icon>confirmation_number</mat-icon>{{ regObj.oP_IP_No }}
                        </span>

                        <span class="info-item">
                            <mat-icon>wc</mat-icon>
                            {{ regObj.ageYear }}Y {{ regObj.ageMonth }}M {{ regObj.ageDay }}D | {{ regObj.GenderName }}
                        </span>

                        <span class="info-item">
                            <mat-icon>hotel</mat-icon>{{ regObj.wardName }}
                        </span>

                        <span class="info-item">
                            <mat-icon>{{ regObj.patientType === 'Company' ? 'business' : 'person' }}</mat-icon>
                            {{ regObj.patientType }}
                        </span>

                        <span class="info-item company">
                            <mat-icon>business_center</mat-icon>{{ regObj.companyName }}
                        </span>

                    </div> -->

                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" fxFlexFill fxLayoutAlign="end">

                    <!-- <button mat-stroked-button color="primary">
                        <mat-icon>photo_camera</mat-icon>
                        Camera
                    </button>

                    <mat-form-field appearance="outline" fxFlex>
                        <input matInput placeholder="Search" autocomplete="off">

                        <button matSuffix mat-button type="button">
                            Browse
                        </button>
                    </mat-form-field> -->

                    <!-- Action Buttons -->
                    <!-- <button style="color: black;border-radius: 5px;border: 2px solid gray;">
                        All Barcode
                    </button>

                    <button style="color: black;border-radius: 5px;border: 2px solid gray;">
                        Phlebotomy Error
                    </button>

                    <button style="color: black;border-radius: 5px;border: 2px solid gray;">
                        PSN
                    </button>

                    <button class="btn btn-primary">Job Card</button> -->

                </div>

                <div fxLayout="row">
                    <form [formGroup]="testSettingForm" fxLayoutGap="4px">
                        <mat-card *ngFor="let sample of sampleList" fxFlex="50%" appearance="outlined">

                            <!-- <div fxLayout="row wrap">
                            <div style="border: 1px solid red;" fxFlex="10%" class="p-4">
                                <button mat-icon-button matTooltip="SMS Send" (click)="viewgetSms(element)">
                                    <img style="width:30px;height:30px;" src="assets/images/logos/testtube.png">
                                </button>
                            </div> -->
                            <div style="padding: 4px;" fxFlex>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div fxLayout="row" class="gap-8">
                                        <button mat-icon-button>
                                            <div style=" width:32px; height:32px; border-radius:50%; display:flex; align-items:center;
                                            justify-content:center; background-color: yellow;">
                                                <img style="width:30px;height:30px;"
                                                    src="assets/images/logos/testtube.png">
                                            </div>
                                            <!-- <img [src]="getTubeIcon(element.specimenType)" style="width:30px;height:30px;"> -->
                                        </button>

                                        <!-- <button mat-icon-button matTooltip="Specimen" (click)="viewgetSms(element)">

                                        <div style=" width:32px; height:32px; border-radius:50%; display:flex; align-items:center;
                                            justify-content:center; " [style.backgroundColor]="element.specimenColor">
                                            <img src="assets/images/logos/testtube.png" style="width:18px;height:18px;">
                                        </div>

                                    </button> -->

                                        <!-- <mat-form-field appearance="outline" fxFlex="250px">
                                        <mat-label>TestType</mat-label>
                                        <mat-select>
                                            <mat-option>Serum</mat-option>
                                            <mat-option>EDTA Blood</mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                        <airmid-dropdown label="Specimen Type" formControlName="specimenTypeId"
                                            [value]="data?.specimenTypeId" [formGroup]="testSettingForm"
                                            [mode]="autocompleteModeSpecimen">
                                        </airmid-dropdown>

                                        <span class="info-item">
                                            {{ sample.sampleNo }} <mat-icon>refresh</mat-icon>
                                        </span>
                                    </div>

                                    <div fxLayout="row" class="gap-8">

                                        <div style="height: 50px; width: 50px;">
                                            <button style="color: black;border-radius: 5px;border: 2px solid gray;">
                                                <mat-icon>question_answer</mat-icon>
                                            </button>
                                        </div>

                                        <div style="height: 50px; width: 50px;">
                                            <button style="color: black;border-radius: 5px;border: 2px solid gray;">
                                                <mat-icon>warning</mat-icon>
                                            </button>
                                        </div>

                                        <mat-form-field appearance="outline" fxFlex="150px">
                                            <button mat-icon-button matPrefix color="primary" (click)="decrease()"
                                                [disabled]="count === 0">
                                                <mat-icon>remove</mat-icon>
                                            </button>

                                            <input matInput type="number" [value]="count" readonly
                                                style="text-align:center;">

                                            <button mat-icon-button matSuffix color="primary" (click)="increase()">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                        </mat-form-field>


                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutGap="4px">
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Status</mat-label>
                                        <mat-select [(value)]="sample.isSampleCollection">
                                            <mat-option [value]="true">Collected</mat-option>
                                            <mat-option [value]="false">Pending</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <airmid-textbox label="Name" fxFlex>
                                    </airmid-textbox>

                                    <!-- call collection date & time field lile home coll -->
                                    <mat-form-field appearance="outline" fxFlex="180px">
                                        <mat-label>Collection Date</mat-label>
                                        <input matInput [matDatepicker]="picker1" [min]="minDate"
                                            formControlName="collectionDate" (dateChange)="onChangeDate($event.value)">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="180px">
                                        <mat-label>Collection Time</mat-label>
                                        <input matInput type="time" formControlName="collectionTime"
                                            (change)="onChangeTime($event)">
                                    </mat-form-field>
                                    <!-- <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Date & Time</mat-label>
                                    <input matInput
                                        [value]="sample.doa + ' ' + (sample.sampleCollectionTime || sample.dot)"
                                        readonly>
                                </mat-form-field> -->

                                    <!-- <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Site</mat-label>
                                    <mat-select [(value)]="sample.isSampleCollection">
                                        <mat-option [value]="true">Collected</mat-option>
                                        <mat-option [value]="false">Pending</mat-option>
                                        <mat-option [value]="false">Received</mat-option>
                                        <mat-option [value]="false">Will Not Receive</mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                </div>

                                <div fxLayout="row" fxLayoutGap="4px">
                                    <mat-chip-list>
                                        <mat-chip color="primary" selected>
                                            {{ sample.serviceName }}
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>

                            </div>
                            <!-- </div> -->

                        </mat-card>

                        <!-- <mat-card *ngFor="let sample of sampleList" fxFlex="48%" appearance="outlined">

                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <strong>{{ sample.serviceName }}</strong>
                            <span>Bill No: {{ sample.billNo }}</span>
                        </div>

                        <mat-divider></mat-divider>

                        <div fxLayout="row" fxLayoutGap="8px">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Status</mat-label>
                                <mat-select [(value)]="sample.isSampleCollection">
                                    <mat-option [value]="true">Collected</mat-option>
                                    <mat-option [value]="false">Pending</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Collected By</mat-label>
                                <input matInput [(ngModel)]="sample.userName">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutGap="8px">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Date</mat-label>
                                <input matInput [value]="sample.doa" readonly>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Time</mat-label>
                                <input matInput [value]="sample.sampleCollectionTime || sample.dot" readonly>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutGap="8px">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>OPD/IPD No</mat-label>
                                <input matInput [value]="sample.oP_IP_No" readonly>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Patient Type</mat-label>
                                <input matInput [value]="sample.patientType" readonly>
                            </mat-form-field>
                        </div>

                    </mat-card> -->
                    </form>
                </div>

                <div class="modal-footer-buttons gap-8" fxLayoutAlign="end" style="margin-top: 10px;">

                    <button class="btn btn-primary">Select All</button>
                    <button class="btn btn-primary">Service Mark as Urgent</button>
                    <button class="btn btn-primary">Consumption</button>
                    <button class="btn btn-primary " (click)="onSubmit()">Save</button>
                    <button class="btn btn-danger-outline" (click)="OnReset()">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>