@use '@angular/material' as mat;
@import "src/@fuse/scss/fuse";

.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}
.p-12 {
    padding: 7px !important;
}

h1, .h1 {
    font-size: 13px;
}
.mat-form-field{
    width: 200px;
}
.page-layout.simple.inner-sidebar > .header {
    height: 60px;
    min-height: 35px;
    max-height: 50px;
}

.mat-label{
    font-size: 20px;
}
.hover-width {
    width: fit-content;
    // height: 20px;
    // overflow: hidden;
}

.logo {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.perm-identity {
    font-size: 30px;
}

.perm-identity .mat-badge-content{
    background: #cc583d !important;
}

.airline_seat_flat .mat-badge-content{
    background: #e89b4c !important;
}

.business .mat-badge-content{
    background: #e84cdc !important;
}

.airline_seat_flat_angled .mat-badge-content{
    background: #64d635 !important;
}


.hover-width {
    width: fit-content;
    // height: 20px;
    // overflow: hidden;
}

.logo {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    justify-content: space-between;
}
.icon{
    padding-right: 1rem;
}

.left-icon{
    color:white;
}

h1, .h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.logo-text {
    margin-right: 10px;
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    
    .mat-form-field {
        margin-right: 12px;
      }

    .sidebar-content {
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: white;    
            
        @include media-breakpoint(gt-sm) {
            //prasad
            // padding: 24px 4px 24px 24px;
            padding: 12px 0 12px 12px;
        }

        .card {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
            padding: 0;
            border-radius: 8px;

            @include media-breakpoint(gt-sm) {
                @include mat.elevation(1);
            }

            > .header {
                flex: 0 1 auto;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }

            > .content {
                flex: 0 1 auto;
            }

            // .mat-form-field-wrapper {
            //     padding-bottom: 0.34375em;
            // }
        }

       


    }
}




.footer-btn {
    width: 100px;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px;
    color:  rgb(247, 97, 97);
    border-radius: 16px;
    background-color:white;
    border-color: rgb(247, 97, 97);
    cursor: pointer;
    
}
.footer-btn:hover{
    background-color: rgb(247, 97, 97);
    color: white;
   
}

.next-btn {
    width: 100px;
    font-size: 16px;
    font-weight: 700px;
   // padding: 10px;
    margin-right: 5px;
    color: #039be5 ;
    border-radius: 16px;
     border: 1px solid #039be5 ;
      background-color: white;
    cursor: pointer;
    height: 40px;
 
}
.next-btn:hover{
    background-color: #039be5 ;
    color:  white;
   
}

// button:disabled {
//     color: white;
//    background-color: #7bd3ff  !important;
//     border-radius: 2px;
//    border: 1px solid  #b7e6fd ;
// }



