.zoom-slider {
    width: 100%;
    max-width: 500px;
}

.mat-button.dnet-button-wizard-next {
    background-color: #fa804f;
    color: #ffffff;
    border-radius: 0;
}

.mat-button.dnet-button-wizard-back {
    background-color: #f5f5f5;
    color: #5f6368;
    border-radius: 0;
}
image-cropper{
    width:350px;
    height: 400px;
}