
app-reg-admission{
    .mat-dialog-content{
        //height: 100%;
      //  max-height:600px !important;
        max-height:945px !important;
        display: block;
       // margin: 0px 0px;
    }
    .dob{
        width: 20px;
    }
    
    .mat-card {
        padding: 5px;
        border-radius: 4px;
    }
    
    .mat-h1, .mat-headline, .mat-typography h1 {
        margin: 0 0 5px;
    }
    
    .mat-dialog-title{
        margin-bottom: 2px;
    }
   
    .error{
        color:red;
    }
    
    .main-content {
        display: flex;
       
       
     // max-height:650px !important;
      max-height:730px !important;
    
       
       
    }
    
    .profile-section {
        width: 20%;
        //height: 900px;
       
        height: 910px;
       overflow: auto;
        background-color: #2d323e;
        text-align: center;
       // height:700px !important;
    }
    
    .form-section {
        width: 100%;
        // padding: 20px;
        // height: 500px;
    }
    
    .profile-picture {
        border: 1px solid #7c7b71;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin: auto;
        background-color: #7c7b71;
        cursor: pointer;
    }
    
    .captured-picture {
        border: 1px solid grey;
        border-radius: 50%;
        width: 120px;
        height: 190px;
        margin: auto;
        cursor: pointer;   
    }
    
    .captured-picture img {
        width: fit-content;
        //height: 100%;
    }
    
    .upload-picture-btn {
        background: #7c7b71 !important;
        border-radius: 34px;
        border: 1px solid #7c7b71;
        color: #ffffff !important;
        height: 42px;
        font-size: 15px;
    }
    
    .form-section .mat-form-field .mat-form-field-subscript-wrapper {
        position: relative !important;
    }
    
    .register-container {
        padding: 0 0 0 24px;
        align-items: center;
    }
    
    .footer-navigation-container {
        text-align: right;
        display: flex;
        justify-content: space-between;
    }
        
    .next-btn {
        width: 80px;
        font-size: 16px;
        font-weight: 700px;
        padding: 10px;
        margin-right: 5px;
        border-radius: 16px;
         border: 1px solid #039be5 ;
          background-color: white;
       // background-color: hsl(204, 92%, 38%);
        //border:2px solid #0430c2;
    }
 
    .next-btn:hover{
        background-color: #039be5 ;
       // border: 1px solid rgb(247, 97, 97);
        color:  white;
       
    }
    
 
    .header-container {
        height: 40px;
        padding: 0 15px;
        align-items: center !important;
    }
    
    .search-btn{
        text-align: center; 
        color: blue;
        border-radius: 16px;
        border: 1px solid #039be5 ;
        background-color: white;
      }
    
     .search-btn:disabled {
       color: white;
       background-color: blue;
       border-radius: 2px;
       border: 1px solid  #b7e6fd ;
      }
    }

    app-reg-admission{
        .table1{
            height:500px !important;
        }
        .mat-header-row {
            width: 100%;
            max-width: 800px;
            min-width: 800px;   
            font-weight: bold;   
            min-height: 25px;        
        }
        
        .mat-row {
            width: 100%;
            max-width: 800px;
            min-width: 800px;   
            min-height: 25px;                 
        }    
        
    
        .mat-column-RegNo {
            width: 90px;
            max-width: 90px;
            min-width: 90px;
        }
        .mat-column-RegId {
            width: 62px;
            max-width: 62px;
            min-width: 62px;
        }
    
        .mat-column-PatientName {
            width: 300px;
            max-width: 300px;
            min-width: 300px;
           
            text-align: left;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
            overflow: hidden !important;
            justify-content:left; 
        }
        
          
        .mat-column-AgeYear {
            width: 60px;
            max-width: 60px;
            min-width: 60px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
            overflow: hidden !important;
            justify-content:left; 
        }
    
        .mat-column-GenderName {
            width: 70px;
            max-width: 70px;
            min-width: 70px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
            overflow: hidden !important;
            justify-content:left; 
        }
       
        .mat-column-PhoneNo {
            width: 110px;
            max-width: 110px;
            min-width: 110px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
            overflow: hidden !important;
            justify-content:left; 
           
        }
    
        .mat-column-MobileNo {
            width: 100px;
            max-width: 100px;
            min-width: 100px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
            overflow: hidden !important;
                  }
    
              
      
        .header-container {
            background-color: #039be5 !important;
            height: 40px;
            padding: 0 15px;
            align-items: center !important;
          
        }
    
    
        .footer-btn {
            width: 70px;
            height: 40px;
            font-size: 16px;
            font-weight: 700px;
            padding: 10px;
            color:  rgb(247, 97, 97);
            border-radius: 16px;
            background-color:white;
            border-color: rgb(247, 97, 97);
            cursor: pointer;
        }
        .footer-btn:hover{
            background-color: rgb(247, 97, 97);
            color: white;
           
        }
        .search-btn{
            text-align: center; 
            color:white ;
            border-radius: 16px;
            border: 1px solid #039be5 ;
            background-color: blue;
          }
      
         .search-btn:disabled {
           color: white;
           background-color: #c5c5e3 !important;
           border-radius: 2px;
           border: 1px solid  #b7e6fd ;
          }
      
      
          .search-btn:hover{
           background-color:#039be5 ;
          color: white;
           }
           
        .header {
            display: flex;
            justify-content: space-between;
            // background-color: #3C9CE5;
            align-items: center;
            padding: 10px 20px;
            color: white;
            font-size: 20px;
            background: linear-gradient(to right ,rgb(30, 40, 223), rgb(238, 69, 233));
        }
    
        .backgroundBlur{
            text-align: center;
            background-color: #818181;
            position: absolute;
            z-index: 1000;
            height: 470px;
            opacity: 0.5;
             width: 100%;  
        }
        
        .spinner-border {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            vertical-align: -.125em;
            border: .25em solid currentColor;
            border-right-color: transparent;
            border-radius: 50%;
             -webkit-animation: .75s linear infinite spinner-border;
             animation: .75s linear infinite spinner-border;
        
          
        
        //spinner width
            color:blue;
            border-width:10px; 
            margin: auto; 
            width: 80px;
            height: 80px; 
            margin-top: 140px;
            text-align: center;
            margin-right: 280px;
        }
        
        .spinner-border-sm {
            width: 1rem;
            height: 1rem;
            border-width: .2em
        }
        
        @-webkit-keyframes spinner-grow {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }
        
            50% {
                opacity: 1;
                -webkit-transform: none;
                transform: none
            }
        }
        
        @keyframes spinner-grow {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }
        
            50% {
                opacity: 1;
                -webkit-transform: none;
                transform: none
            }
        }
        
        
        .spinner-grow {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            vertical-align: -.125em;
            background-color: currentColor;
            border-radius: 50%;
            opacity: 0;
           // -webkit-animation: .75s linear infinite spinner-grow;
            //animation: .75s linear infinite spinner-grow
            -webkit-animation: 0.5s linear infinite spinner-grow;
            animation: loading 0.5s linear infinite;
        }
        
        .spinner-grow-sm {
            width: 1rem;
            height: 1rem
        }
        
        @media (prefers-reduced-motion:reduce) {
            .spinner-border, .spinner-grow {
                -webkit-animation-duration: 0.2s;
                //animation-duration: 1.5s
                animation-duration: 0.2s;
            }
        }
        
        
        
        @-webkit-keyframes spinner-border {
            to {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
            }
        }
        
        @keyframes spinner-border {
            to {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
            }
        }
        
    }
    