<div class="modal-wrapper grid-container">
    <div class="modal-header accent">
        <div class="modal-header-content">
            <div class="modal-header-title">
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Mode Of Payment Master</span>
            </div>
            <div class="modal-header-right">
                <div class="close-icon">
                    <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog"
                        matTooltip="Close">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body" fusePerfectScrollbar>
        <div class="modal-body-container">
            <form [formGroup]="modeofpayForm">
                <input type="hidden" name="id" formControlName="id">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="33%">
                        <airmid-textbox 
                            label="Mode Of Payment"
                            formControlName="modeOfPayment"
                            [value]=""
                            [formGroup]="modeofpayForm"
                            [validations]="_ModeOfPaymentMasterService.getValidationMessages().modeOfPayment"
                            [maxLength]="300">
                        </airmid-textbox> 
                    </div>
                </div>
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                    <mat-radio-group name="isActive" formControlName="isActive" value='false'>
                        <mat-radio-button value='true' class="mr-sm-12" fxFlex>IsActive
                        </mat-radio-button>
                        <mat-radio-button value='false' class="mr-sm-12" fxFlex>IsDeactive
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </form>
        </div>
        <div class="new-appointment-actions gap-8 mt-12" fxLayout="row" fxLayoutAlign="end center">

            <button class="btn btn-danger-outline" (click)="onClear(false)">Close</button>
            <button class="btn btn-primary " color="accent" (click)="onSubmit()">
                <span>Save</span>
            </button>
        </div>
    </div>
</div>