

.create-user-section {
    .mat-table {
        height: calc(100vh - 180px);
        .mat-header-row,
        .mat-row {
            min-width: 1200px;
            @include media-breakpoint("lt-lg") {
                min-width: 600px;
            }
        }
    }
}
