<div class="modal-wrapper grid-container">
  <!-- Modal header -->
  <div class="modal-header accent">
    <div class="modal-header-content">
      <div class="modal-header-title">
        <span [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"> MRD IN File Entry</span>
      </div>
      <div class="modal-header-right">
        <div class="comman-date-container">

          <div class="close-icon">
            <button mat-icon-button tabIndex="-1" [mat-dialog-close]="true" aria-label="Close dialog"
              matTooltip="Close">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal body -->
  <div class="modal-body" fusePerfectScrollbar>
    <div fxFlexFill fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="10px">

      <mat-card style="padding: 5px;">
        <div class="patient-info-sales my-8">
          <div class="sales-patient-info-title">
            <span style="font-weight: 700;">
              Patient Information
            </span>
          </div>
          <hr>
          <div class="Ipd-patient-info" fxFlexFill fxLayout="row" fxLayoutAlign="space-between center"
            class="patient-info">
            <div class="patient-sub">
              <div class="patient-info-row patient-info-1-111 pt-8" fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="column" fxLayoutGap="6px">
                  <div class="patient-col">
                    <span class="patient-col-key">UHID No
                    </span>
                    <span>:</span>
                    <span class="patient-col-value">{{registerObj.regNo}}</span>
                  </div>
                  <div class="patient-col">
                    <span class="patient-col-key">Patient Name
                    </span>
                    <span>:</span>
                    <span class="patient-col-value">{{registerObj.patientName}}</span>
                  </div>
                  <div class="patient-col">
                    <span class="patient-col-key">Doctor Name</span>
                    <span>:</span>
                    <span class="patient-col-value">{{registerObj.doctorname}}</span>
                  </div>
                  <div class="patient-col">
                    <span class="patient-col-key">Department</span>
                    <span>:</span>
                    <span class="patient-col-value">{{registerObj.departmentName}}</span>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutGap="6px">

                  <div class="patient-col">
                    <span class="patient-col-key">DOA | Time</span>
                    <span>:</span>
                    <span class="patient-col-value">{{registerObj.admissionTime}}</span>
                  </div>
                  <div class="patient-col">
                    <span class="patient-col-key">IPD No</span>
                    <span>:</span>
                    <span class="patient-col-value">{{registerObj.ipdno}}</span>
                  </div>
                  <div class="patient-col">
                    <span class="patient-col-key">Age | Sex
                    </span>
                    <span>:</span>
                    <span
                      class="patient-col-value">{{registerObj.ageYear}}Y|{{registerObj.ageMonth}}M|{{registerObj.ageDay}}
                      D | {{registerObj.genderName}}</span>
                  </div>
                  <!-- <div class="patient-col">
                    <span class="patient-col-key">Ref-Doctor Name
                    </span>
                    <span>:</span>
                    <span class="patient-col-value">{{registerObj.refDocName}}</span>
                  </div> -->

                </div>
                <div fxLayout="column" fxLayoutGap="6px">
                  <div class="patient-col">
                    <span class="patient-col-key">Ward | Bed Name
                    </span>
                    <span>:</span>
                    <span class="patient-col-value">{{registerObj.RoomName}}
                      | {{registerObj.bedName}}</span>
                  </div>
                  <div class="patient-col">
                    <span class="patient-col-key">Patient Type
                    </span>
                    <span>:</span>
                    <span class="patient-col-value">{{registerObj.patientType}}</span>
                  </div>
                  <div class="patient-col">
                    <span class="patient-col-key">Tarrif Name
                    </span>
                    <span>:</span>
                    <span class="patient-col-value">{{registerObj.tariffName}}</span>
                  </div>
                  <!-- <div class="patient-col">
                    <span class="patient-col-key">Company Name</span>
                    <span>:</span>
                    <span class="patient-col-value" style="color: orange;">{{registerObj.companyName}}</span>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>

      <div class="modal-body-container">
        <div fxLayout="column">

          <form [formGroup]="NewInMrdForm" style="border: blue">
            
            <div fxLayout="row" fxLayoutAlign="start stretch">
              <div fxFlex="50">
                 <input type="hidden" name="opipid" formControlName="opipid"
                                            [(ngModel)]="opipid">
                <mat-card style="padding: 5px;">

                  <div fxLayout="row wrap" fxLayoutGap="2px 0px grid">

                    <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="33">
                      <div style="font-size: large; font-weight: bold; color: rgb(3, 51, 101); padding:10px;">
                        OUT File Data
                      </div>

                      <div style="padding: 15px; font-size: large; color: rgb(2, 36, 69);">
                        Mrd File OUT Number : -{{this.data.outFileId}}
                      </div>

                      <div style="padding: 15px; font-size: large; color: rgb(2, 36, 69);">
                        Mrd File OUT Date : -{{this.data.outDate}}
                      </div>

                      <div style="padding: 15px; font-size: large; color: rgb(2, 36, 69);">
                        Mrd File OUT Person Name : -{{this.data.personName}}
                      </div>

                      <div style="padding: 15px; font-size: large; color: rgb(2, 36, 69);">
                        Mrd File OUT Reason : -{{this.data.outReason}}
                      </div>
                    </div>
                  </div>
                  <!-- <div fxLayout="row wrap" fxLayoutGap="8px 8px grid"> -->

                    <!-- <div fxFlex="49" fxFlex.xs="100" fxFlex.sm="33">
                          <airmid-textbox label="opipid" formControlName="opipid" [formGroup]="NewInMrdForm"
                            [validations]="getValidationMessages().opipid" [maxLength]="15"></airmid-textbox>
                        </div> -->

                    <!-- <div fxFlex="49" fxFlex.xs="100" fxFlex.sm="33">
                      <airmid-textbox label="outNo" formControlName="outNo" [formGroup]="NewInMrdForm"
                        [validations]="getValidationMessages().outNo" [maxLength]="15"></airmid-textbox>
                    </div> -->

                    <!-- <div fxFlex="98" fxFlex.xs="100" fxFlex.sm="33">
                      <airmid-textbox label="personName" formControlName="personName" [formGroup]="NewInMrdForm"
                        [validations]="getValidationMessages().personName" [maxLength]="15"></airmid-textbox>
                    </div> -->


                  <!-- </div> -->
                  <!-- <div fxLayout="row wrap" fxLayoutGap="8px 8px grid">

                    <div fxFlex="98" fxFlex.xs="100" fxFlex.sm="33">
                      <airmid-textbox label="Return Reason" formControlName="outReason" [formGroup]="NewInMrdForm"
                        [validations]="getValidationMessages().outReason" [maxLength]="15"></airmid-textbox>
                    </div>
                  </div> -->
                </mat-card>
              </div>
              <div fxFlex="50">
                <mat-card style="padding: 5px;">

                  <div fxLayout="row wrap" fxLayoutGap="2px 0px grid">


                    <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="33">
                      <span style="font-size: large;font-weight: bold;color: rgb(4, 4, 62);padding: 10px;">In
                        File Data</span>


                      <mat-form-field appearance="outline">
                        <mat-label>In Date / Time</mat-label>
                        <input matInput type="datetime-local" placeholder="date" [value]="date" [(ngModel)]="date"
                          (change)="date=$event.target.value" formControlName="inTime" />

                      </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row wrap" fxLayoutGap="8px 0px grid">

                    <!-- <div fxFlex="49" fxFlex.xs="100" fxFlex.sm="33">
                      <airmid-textbox label="InNo" formControlName="inNo" [formGroup]="NewInMrdForm"
                        [validations]="getValidationMessages().inNo" [maxLength]="15"></airmid-textbox>
                    </div> -->

                    <div fxFlex="49" fxFlex.xs="100" fxFlex.sm="33">
                      <airmid-textbox label="Return PersonName" formControlName="returnPersonName"
                        [formGroup]="NewInMrdForm" [validations]="getValidationMessages().returnPersonName"
                        [maxLength]="15"></airmid-textbox>
                    </div>

                  </div>

                  <div fxLayout="row wrap" fxLayoutGap="8px 8px grid">
                    <div fxFlex="98" fxFlex.xs="100" fxFlex.sm="33">
                      <airmid-textbox label="InReason" formControlName="inReason" [formGroup]="NewInMrdForm"
                        [validations]="getValidationMessages().inReason" [maxLength]="15"></airmid-textbox>
                    </div>


                  </div>
                </mat-card>
              </div>
            </div>
          </form>
        </div>


      </div>
      <div class="modal-footer">
        <div class="footer-navigation-container">
          <div class="modal-footer-buttons">
            <button class="btn btn-danger-outline" (click)="onClose()">Close</button>
            <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>