.payment-content {
    height: 100%;
    padding: 10%;
    text-align: center;
}

.payment-content h1 {
    color: rebeccapurple;
}

.payment-content h2 {
    color: #e34d4d;
    font-size: 22px;
}

.loading-spinner {
    font-size: 50px;
    color: #319fc0;
}